
<div>

<div class="panel panel-default">
	<div class="panel-heading">
		<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy">
		</ui-breadcrumbs>
	</div>
	<div class="panel-body">
	<form name = "contactUsForm" class = "container-fluid	"> 

   <div class = "form-group col-md-12">
      <div class = "col-md-6">
      		<input type="text" placeholder = "Name" class="form-control col-md-6" maxlength = 25 
      		name="name" ng-model="contactUs.name" required/>
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <div class = "col-md-6">
      		<input type="text" placeholder = "Mobile" class="form-control col-md-6" maxlength = 25 
      		name="name" ng-model="contactUs.mobile" required/>
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <div class = "col-md-6">
      		<input type="email" placeholder = "Email" class="form-control col-md-6" maxlength = 25 
      		name="name" ng-model="contactUs.email" required/>
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
     
      <div class = "col-md-6">
      		<textarea placeholder = "Comment" class="form-control col-md-8" maxlength = 160 
      		name="name" ng-model="contactUs.comment" required ></textarea>
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>

   
  <input type="hidden" ng-model="notice.id" />
  <input type="button" class = "btn btn-orange" value=" Submit " ng-disabled="contactUsForm.$invalid"/>
</form>
</div>
</div>
</div>
    	