
<div>
 <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> 

<div class="panel panel-default" ng-cloak>
<div class="panel-heading">
{{academicYearHeaderValue}}
</div>
<div class="panel-body">

<form name = "addAcademicYear" ng-controller="validateAcademicForm" class = "container-fluid	">
<font color = 'RED'>
		<h4 ng-show = "status == 'fail' || status == 'success' ">
			{{message}}
		</h4>
	</font>
	<div class = "form-group col-md-12" ng-show = "roleId == 1">
      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "instituteId" ng-model = "academicyear.instituteId" 
     	 		ng-selected = "academicyear.instituteId" ng-change="changeBranchList()" title = "Please select institute"
     	 		ng-options="institute.id as institute.name for institute in instituteList" autofocus>
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
    </div>

	<div class = "form-group col-md-12">
      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
      	<div class="col-md-6">
	      	<select class="form-control" name = "branchId" ng-model = "academicyear.branchId" ng-change = 'changeStandardList()'
	      		ng-selected = "academicyear.branchId" title = "Please select branch"
	      		ng-options="branch.id as branch.name for branch in branchList" required>
	      	</select>
	      	<p class="errorMessage" ng-show="addAcademicYear.branch.$invalid && !addAcademicYear.branch.$pristine">
	      		Please select branch
	      	</p>
	  	</div>
	   	<div class = "col-md-4"></div>	
   	</div>
 
   	<div class = "form-group col-md-12">
      	<label class = "col-md-2">From Date (DD/MM/YYYY) <span style = "color:red">*</span></label>
      	<div class="col-md-6">
   			<p class="input-group">
              	<input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy" title = "Please select from date"
	               	ng-model="academicyear.fromDate" ng-required="true"  is-open = "isOpenStartDate"
	              	id = "fromDate" name = "fromDate" ng-focus="isOpenStartDate = true" close-text="Close"/>
              	<span class="input-group-btn">
                	<button type="button" class="btn btn-default" ng-click="isOpenStartDate = true"  title = "Please select from date"><i class="fa fa-calendar"></i></button>
              	</span>
            </p>
      	</div>
      	<div class = "col-md-4"></div>
   	</div>

   	<div class = "form-group col-md-12">
      	<label class = "col-md-2">To Date (DD/MM/YYYY) <span style = "color:red">*</span></label>
      	<div class="col-md-6">
      		<p class="input-group">
              	<input type="text" valid-date class="form-control" ng-readonly="!academicyear.fromDate" ng-focus="isOpenEndDate = academicyear.fromDate ? true : false"
	               uib-datepicker-popup="dd/MM/yyyy" ng-model="academicyear.toDate" ng-required="true"
	               title = "Please select to date"
	               id = "toDate" name = "toDate"  is-open = "isOpenEndDate" close-text="Close"/>
	            <span class="input-group-btn">
	                <button type="button" class="btn btn-default"  ng-disabled ="!academicyear.fromDate" ng-click="isOpenEndDate = true" title = "Please select to date"><i class="fa fa-calendar"></i></button>
	        	</span>
        	</p>
	        <p>
	      		<span class="errorMessage" ng-show="addAcademicYear.fromDate.$error.endBeforeStart">To date must be on or after start date.</span>
	      	</p>
      	</div>
      	<div class = "col-md-4"></div>
   	</div>
   	<span ng-show="form.fromDate.$error.invalidDate || form.toDate.$error.invalidDate">Check dates for validity</span>
    <span ng-show="form.fromDate.$error.required || form.toDate.$error.required">A required date is missing</span>


  	<div class = "form-group col-md-12">
  	<label class = "col-md-2"></label>
  		<div class="col-md-6">
  			<div class="checkbox">
	     		  <label>
	         	<input type="checkbox" name="isCurrentActiveYear" id="isCurrentActiveYear" 
		      	ng-model="academicyear.isCurrentActiveYear" >Current Academic Year
		      	</label>
	      	</div>
	      </div>
  	   </div>
	
  <input type="hidden" name = 'id' ng-model="academicyear.id" />
  <div class = "form-group col-md-12">
 	<label class = "col-md-2"></label>
 	<div class="col-md-8">
	  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()" ng-disabled="addAcademicYear.$invalid"/>
	  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
  </div>
 </div>
</form>
</div>
</div>
</div>