
<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
<div class="panel panel-default">
	<div class="panel-heading">
	Academic Year List
	</div>
	<div class="panel-body" ng-cloak>
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
		      		<div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" title = "Please select institute"
				     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
				     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
				     	 </select>
		      		</div>
			   <div class = "col-md-4"></div>	
		    </div>
	
			<div class = "form-group col-md-12" ng-show = '!isSingleBranch'>
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" title = "Please select branch"
		     	 		ng-selected = "branchId" 
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
			<div class="form-group col-md-12">
		    	<label class = "col-md-2"></label>
				<div class = "col-md-8">
					<a class = "btn btn-orange" ui-sref="academicyear.add" ng-click ="setSelectedData(instituteId, branchId)" 
						title = "Add New Academic Year.">Add Academic Year</a>
					
				<!-- 	<a class = "btn btn-default" ng-disabled = "!branchId" 
						data-trigger="hover" title = "{{!branchId ? 'Please select Branch First !' : 'Upload Fees CSV.'}}"
						ng-click = "branchId ? openUploadFeesDialog() : ''">
						
						Upload Fees
					</a> -->
					
					<a class = "btn btn-default" ng-click = "branchId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!branchId" ng-show = "isSingleBranch != true"
						title = "{{!branchId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
						
						Search
					</a>
				</div>
			</div>
		</div>
	</div>
		<font color = 'RED'>
			<h4 ng-show = "!activeYearFound && isAllLoaded"> This branch does not have active academic year. System functionality will not function as expected.</h4>
			<h4 ng-show = "message">
				{{message}}
			</h4>
		</font>

	<div>	
	<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
	class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-2">From Date</th>
				<th class = "col-md-1">To Date</th>
				<th class = "col-md-1">Status</th>
				<th class = "col-md-1">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="academicYear in academicYearList">
				<td class = "col-md-2">{{ academicYear.fromDate | date : 'dd/MM/yyyy'  }}</td>
				<td class = "col-md-1">{{ academicYear.toDate | date : 'dd/MM/yyyy' }}</td>
				<td class = "col-md-1">{{ academicYear.isCurrentActiveYear == "Y" ? "Active" : "Inactive" }}</td>
				<td class = "col-md-2"><a href = "#" class="btn btn-xs btn-default" title="Edit"ui-sref="academicyear.edit({id :academicYear.id})"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="academicyear.list" ng-click="deleteData(academicYear.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>
