
<div>
	<ui-breadcrumbs ng-show="roleId != 4"
		displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
	<div>
		<h3 ng-show="isError == true">
				Service Unavailable
		</h3>
		<iframe ng-src="{{url}}" ng-show="isError == false" width="100%" height="600px">
		</iframe>
	</div>
</div>