
<div>
	<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> -->
	<div class="panel panel-default">
		<div class="panel-heading">Forum List</div>
		<div class="panel-body">

			<div class="well">
				<div class="row">
				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="instituteId" ng-selected="instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList"
							required>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-hide = "roleId == 4">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId" ng-model="branchId"
							ng-selected="branchId" ng-change="changeYearList()"
							ng-options="branch.id as branch.name for branch in branchList"
							required>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class = "form-group col-md-12" ng-hide = "roleId == 4">
		      		<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
		      		<div class="col-md-6">
		     	 		<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
			     	 		ng-init="academicYearId = academicYearList[0]['id']"
			     	 		ng-selected = "academicYearId" ng-disabled = true
			     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
			     	 		required>
		     	 		</select>
		      		</div>
			   		<div class = "col-md-4"></div>	
		    	</div>

		    	<div class = "form-group col-md-12">
		      		<label class = "col-md-2"></label>
		      		<div class="col-md-6">

						<a class="btn btn-orange" ui-sref="forum.add"  ng-click ="setSelectedData(instituteId, branchId)"
						 title="Add New Forum.">Add
							Forum
						</a> 

						<a class="btn btn-default"
							ng-click="academicYearId ? filterTableByBranch() : ''"
							data-trigger="hover" ng-disabled="!academicYearId"
							title="{{!academicYearId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">

							Search 
						</a> 
						<a class="btn btn-orange" ui-sref="forum.view"
							title="View Forum."> View Forum </a>
						
					</div>
				</div>
					
			  </div>
			</div>

			<h4 ng-if = "roleId == 4">My Forums</h4>
			<font color='RED' ng-show="message">
				<h4 ng-show="message">{{message}}</h4>
			</font> 

			<div>
				<table datatable="ng" dt-options="dtOptions"
					class="table table-striped table-condensed table-bordered table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th class="col-md-2">Title</th>
							<th class="col-md-2">Description</th>
							<th class="col-md-2">Group</th>
							<!-- <th class="col-md-1">Status</th> -->
							<th class="col-md-1">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="forum in forums track by $index">
							<td class="col-md-2">{{ forum.title }}</td>
							<td class="col-md-2">{{ forum.description }}</td>
							<td class="col-md-2">{{ forum.groupName }}</td>
							<!-- <td class="col-md-1">{{ forum.active == "Y" ? "Active" :
								"Inactive"}}</td> -->
							<td class="col-md-1"><a href="#" class="btn btn-xs btn-default" title="Edit"
								ui-sref="forum.edit({id :forum.id})"><i class="fa fa-pencil"></i></a>  <a href="#" class="btn btn-xs btn-default" title="Delete"
								ui-sref="forum.list" ng-click="deleteData(forum.id)"><i class="fa fa-trash"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

