<form name="form" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Upload Teacher Details</h3>
	</div>
	<div class="modal-body">
		Select File : <input type="file" name="file" ngf-select
			ng-model="file" />
	</div>
	<div class="modal-footer">
		<button class = "btn btn-orange"  ng-click="upload(file)">Upload</button>
		<button class = "btn btn-default"  ng-click="cancel()">Cancel</button>
	</div>
</form>
