
<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
	<div class="panel panel-default">
		<div class="panel-heading">{{forumHeaderValue}}</div>
		<div class="panel-body">

			<form name="addForum" ng-controller="validateForumForm"
				class="container-fluid" enctype="multipart/form-data">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' ">
						{{message}}</h4>
				</font>

				<div class="form-group col-md-12" ng-if="roleId == 1 ">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="forum.instituteId" ng-selected="forum.instituteId"
							ng-change="changeBranchList()" ng-disabled="forum.id ? true : false"
							ng-options="institute.id as institute.name for institute in instituteList" autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-hide = "roleId == 4">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="forum.branchId" ng-change="changeYearList()"
							ng-selected="forum.branchId" ng-disabled="forum.id ? true : false"
							ng-options="branch.id as branch.name for branch in branchList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addForum.branchId.$invalid && !addForum.branchId.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12" ng-hide = "roleId == 4">
					<label class="col-md-2">Current Academic Year <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							ng-model="forum.academicYearId" ng-disabled="true"
							ng-selected="forum.academicYearId" ng-change="changeGroupList()"
							ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addForum.academicYearId.$invalid && !addForum.academicYearId.$pristine">
							Please select year</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Group <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="groupId"
							ng-model="forum.groupId" ng-selected="forum.groupId"
							ng-options="group.id as group.name for group in groupList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addForum.groupId.$invalid && !addForum.groupId.$pristine">
							Please select Group</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Title <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=100
							ng-pattern="regExTitle" name="title" ng-model="forum.title"
							required ng-disabled="forum.id ? true : false"/>
						<p class="errorMessage"
							ng-show="addForum.title.$invalid && !addForum.title.$pristine">
							Please enter title</p>
					</div>

					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Description <span style="color: red">*</span></label>
					<div class="col-md-6">
						<textarea class="form-control col-md-6" maxlength=255
							ng-pattern="regExName" name="description" ng-disabled="forum.id ? true : false"
							ng-model="forum.description" required></textarea>
						<p class="errorMessage"
							ng-show="addForum.description.$invalid && !addForum.description.$pristine">
							Please enter valid description</p>
					</div>

					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">One-way</label>
					<div class="col-md-6">
						<input type="checkbox" name="canOneWay" id="canOneWay"
							ng-model="forum.canOneWay" ng-disabled="forum.id ? true : false">
					</div>

					<div class="col-md-4"></div>
				</div>

				<!-- <div class="form-group col-md-12">
					<label class="col-md-2">Status<span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="status" ng-model="forum.active"
							required>
							<option value="Y">Active</option>
							<option value="N">Inactive</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div> -->
				<div class = "form-group col-md-12">
			      	<label class = "col-md-2"></label>
			      	<div class="col-md-6">
						<input type="hidden" name='id' ng-model="forum.id" /> <input
						type="button" class="btn btn-orange" value="Save" ng-click="save()"
						ng-disabled="addForum.$invalid" /> <input type="button"
						class="btn btn-default" value="Cancel" ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>