<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> -->
	<div class="well">
		<div class = "form-group col-md-12" ng-show = "roleId == 1">
      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
      		<div class="col-md-6">
		     	<select class="form-control" name = "instituteId" ng-model = "instituteId" 
	     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
	     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
		     	</select>
      		</div>
		   <div class = "col-md-4"></div>	
	    </div>

		<div class = "form-group col-md-12" ng-show = '!isSingleBranch'>
	      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
	     	 		ng-selected = "branchId" ng-change = "changeGraph()"
	     	 		ng-options="branch.id as branch.name for branch in branchList" required>
	     	 	</select>
	      	</div>
		   	<div class = "col-md-4"></div>	
	    </div>
	    
	    <p ng-show = 'isSingleBranch == true'>
	      	<label ><h4 ng-show = 'isSingleBranch == true'>Branch : {{branchName}}</h4></label>
	    </p>
	<!-- <div class = "form-group col-md-12">
      <label class = "col-md-2">Fee Category<span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "headId" ng-model = "dashboard.headId"
     	 	 ng-selected = "dashboard.headId" ng-options="head.id as head.name for head in headList" required>
      	 </select>
     	
	  </div>
   	   	  <div class = "col-md-4"></div>
   </div> -->
		
		<a class = "btn btn-default" ng-click = "branchId ? filterTableByBranch() : ''"
			data-trigger="hover" ng-disabled = "!branchId" ng-show = "isSingleBranch != true"
			title = "{{!branchId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
			
			Search
		</a>
	</div>
<div class="panel panel-default">
	<div class="panel-heading">
	Dashboard
	</div>
	<div class="panel-body">
        <div class="panel panel-primary">
    	    <div style = "width:700px; height:330px; border : 1px solid">
               <canvas id="bar" class="chart chart-bar"
			   		chart-data="data" chart-labels='head' chart-series="statDesc">
	  		   </canvas>
        	</div> 
        </div>
     </div>
     
    
</div>

