
<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
<div class="panel panel-default">
	<div class="panel-heading">
		Update Profile 
	</div>
	<div class="panel-body">

<form name = "addProfile" ng-controller="validateProfileForm" class = "container-fluid"  enctype="multipart/form-data"> 
	<font color = 'RED'>
		<h4 ng-show = "status == 'fail' || status == 'success' ">
			{{message}}
		</h4>
	</font>


   <div class = "form-group col-md-12">
      <label class = "col-md-2">Upload Photo</label>
      <div class="col-md-6">
      		 
     		 <input class="form-control" type="file" ngf-select ng-model="profile.photo" />
      </div>
	   <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">E-Mail Address<span style = "color:red">*</span></label>
      <div class="col-md-6">
    	  <input class="form-control" type="email" ng-pattern="regExEmail" maxlength = 45 name="email" 
    		  ng-model="profile.email" required/>
	      
	      <p class="errorMessage" ng-show="addProfile.email.$invalid && !addProfile.email.$pristine">
	      		Please enter email address
	      </p>
      </div>
	   <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Mobile<span style = "color:red">*</span></label>
      <div class="col-md-6">
     		 <input class="form-control" type="text" ng-pattern="regExMobile" maxlength = 10 name="mobile" ng-model="profile.mobile" required/>
     <p class="errorMessage" ng-show="addProfile.mobile.$invalid && !addProfile.mobile.$pristine">
      Please enter 10 digit mobile number</p>
      </div>
	   <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Address<span style = "color:red">*</span></label>
      <div class="col-md-6">
      	 <input class="form-control" type="text" name="address" maxlength = 45 ng-model="profile.address" required/>
	     <p class="errorMessage" ng-show="addProfile.address.$invalid && !addProfile.address.$pristine">
	      	Please enter address
	     </p>	     
      </div>
      <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Area <span style = "color:red">*</span></label>
      <div class="col-md-6">
      		<input class="form-control" type="text" ng-pattern="regExArea" maxlength = 45 name="area" ng-model="profile.area" required/>
      <p class="errorMessage" ng-show="addProfile.area.$invalid && !addProfile.area.$pristine">
      Please enter area</p>
      </div>
      <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">City<span style = "color:red">*</span></label>
      <div class="col-md-6">
     	<input class="form-control" type="text" ng-pattern="regExCity" maxlength = 45 name="city" ng-model="profile.city" required/>
	<p class="errorMessage" ng-show="addProfile.city.$invalid && !addProfile.city.$pristine">
      Please enter city</p>
	  </div>
	   <div class = "col-md-4"></div>	
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Pincode<span style = "color:red">*</span></label>
      <div class="col-md-6">
      		<input class="form-control" type="text" ng-pattern="regExPinCode" maxlength = 6 name="pinCode" ng-model="profile.pinCode"  required/>
    <p class="errorMessage" ng-show="addProfile.pinCode.$invalid && !addProfile.pinCode.$pristine">
      Please enter 6 digit pincode</p>
      </div>
	   <div class = "col-md-4"></div>
   </div>
 
  <input type="hidden" ng-model="profile.id" />
  <input type="hidden" ng-model="profile.userId" />
  <div class = "form-group col-md-12">
      <label class = "col-md-2"></label>
      <div class="col-md-6">
		  <input type="button" class = "btn btn-primary" value="Save" ng-click="save()" ng-disabled="addProfile.$invalid"/>
		  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
	  </div>
  </div>
</form>

</div>
</div>

</div>
