
<div>
	<h4></h4>
	<div class="col-md-offset-2 col-md-5">
		<div class="panel panel-primary">
			<div class="panel-heading login-heading">
				<center>Add/Update Profile</center>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<form name="teacherProfile" class="container-fluid" action="#"
							ng-controller="validateProfileFirstTimeLogin">
							<p>
								<font color='RED'>
									<h5>{{message}}</h5>
								</font>
							</p>

							<div class="form-group">
								<label for="userId">User Id</label> <input type="text"
									class="form-control" name="username" ng-model="username" ng-readonly=true
									placeholder="username" ng-required="true" autofocus  />
							</div>

							<div class="form-group">
								<label for="idfirstname" class="control-label"> First
									Name </label> <input type="text" name="firstname" class="form-control" id="idfirstname"
									ng-model="profile.firstname" placeholder="First Name" ng-required="true">
									
									<p class="errorMessage"
									ng-show="teacherProfile.firstname.$invalid && !teacherProfile.firstname.$pristine && teacherProfile.firstname.$error.required">please enter first name</p>

							</div>

							<div class="form-group">
								<label for="idLastName" class="control-label"> Last Name

								</label> <input type="text" name="lastname" class="form-control" id="idLastName"
									ng-model="profile.lastname" placeholder="Last Name" ng-required="true">
									
									<p class="errorMessage"
									ng-show="teacherProfile.lastname.$invalid && !teacherProfile.lastname.$pristine && teacherProfile.lastname.$error.required">please enter Last name</p>

							</div>

							<div class="form-group">
								<label for="idEmail" class="control-label"> E-mail
									Address <span><font color="red"> * </font></span>
								</label> <input type="text" name="email" class="form-control" id="idEmail"
									ng-pattern="regExEmail" ng-model="profile.email" placeholder="Email" ng-required="true">
								<p class="errorMessage"
									ng-show="teacherProfile.email.$invalid && !teacherProfile.email.$pristine && teacherProfile.email.$error.required">Please enter
									email address</p>

							</div>

							<div class="form-group">
								<label for="idPrimaryContact" class="control-label">
									Primary Mobile <span><font color="red"> * </font></span>
								</label> <input type="text" name="mobile" class="form-control" id="idPrimaryContact"
									ng-pattern="regExMobile" maxlength=10 ng-model="profile.primaryContact"
									placeholder="Primary Mobile" ng-required="true">

								<p class="errorMessage"
									ng-show="teacherProfile.mobile.$invalid && !teacherProfile.mobile.$pristine &&  teacherProfile.mobile.$error.required">Please enter
									valid mobile no</p>

							</div>



							<div class="form-group">
								<label for="idDob" class="control-label"> Date Of Birth
									(DD/MM/YYYY) </label> <input type="text" valid-date
									uib-datepicker-popup="dd/MM/yyyy" class="form-control"
									id="idDob" name="dob" ng-focus="isopendob = true"
									is-open="isopendob" close-text="Close" ng-model="profile.dob"
									 max-date="maxDate"/>
									 <span class="input-group-btn">
			              		<button type="button" class="btn btn-default" ng-disabled = "isView" 
			              			ng-click="isOpen = true">
			              			<i class="fa fa-calendar"></i>
			              		</button>
			              	</span>
							<p class="errorMessage"
									ng-show="teacherProfile.dob.$invalid && !teacherProfile.dob.$pristine">Not a Valid Date Of Birth</p>
								<!-- <input type="date" class="form-control" id="idDob"
									ng-pattern="regExAmount" ng-model="profile.user.dob"> -->

							</div>

							<div class="form-group>
								<label class="control-label">
								Gender <span style="color: red">*</span></label> <label
									class="radio-inline"> <input type="radio"
									name="optionsRadios1" ng-disabled="isView" id="optionsRadios1"
									value="M" ng-model="profile.gender" ng-required="!teacherDetail.gender"
									checked> &nbsp;Male
								</label> <label class="radio-inline"> <input type="radio"
									name="optionsRadios1" ng-disabled="isView" id="optionsRadios2"
									value="F" ng-required="!teacherDetail.gender" ng-model="profile.gender">
									Female
								</label>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p class="submit">
										<input type="button" class="btn btn-orange pull-left"
											name="commit" ng-click="save()"
											ng-disabled="teacherProfile.$invalid"
											value="Submit & Continue">
									</p>
								</div>

							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>