
<div class="modal-header">
	<font color="red"><h3 class="modal-title">{{validationErrMsg}}</h3></font>
</div>
<div class="modal-body">
	<table
		class="table table-striped table-condensed table-hover table-bordered">
		<thead>
			<tr>
				<th class="col-md-8">Errors</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="error in validationErrors track by $index">
				<td class="col-md-8">{{error}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Ok</button>
</div>
