
<div>
	<!-- <h4>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
</h4> -->

	<div class="panel panel-default">
		<div class="panel-heading">Export Data</div>
		<div class="panel-body">
			<div class="well">
				<div class="row">
					<div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId"
								ng-change="changeBranchList()" title="Select institute"
								autofocus="autofocus"
								ng-options="institute.id as institute.name for institute in instituteList"
								required>
								<option ng-selected="true" value="">Select Institute</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Branch <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId" ng-model="branchId"
								ng-init="branchId = branchList[0]['id']"
								ng-change = "changeStandardList()"
								title="{{instituteId ? 'Select branch.' : 'Please select institute first'}}"
								ng-options="branch.id as branch.name for branch in branchList"
								required>

								<option ng-selected="true" value="">Select Branch</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>
					

					<div class="form-group col-md-12">
						<label class="col-md-2">Standard </label>
						<div class="col-md-6">
							<select class="form-control" name="standard"
								ng-change="changeDivisionList()" ng-selected='standardId'
								ng-model="standardId"
								title="{{branchId ? 'Select standard.' : 'Please select branch first'}}"
								ng-options="standard.id as standard.displayName for standard in standardList">
								<option ng-selected="true" value="">All</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Division </label>
						<div class="col-md-6">
							<select class="form-control" name="divisionId"
								ng-model="divisionId" ng-selected='divisionId'
								title="{{standardId ? 'Select division.' : 'Please select standard first'}}"
								ng-options="division.id as division.displayName for division in divisionList">
								<option ng-selected="true" value="">All</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2"> </label>
						<div class="col-md-6">
							<a class="btn btn-default"
							ng-click="branchId ? exportStudentData() : ''"
								data-trigger="hover" ng-disabled="!branchId"
								title="{{!branchId ? 'Please select Branch First !' : 'Export this table to Excel.'}}">
							    Export Student Data </a> 
							    <a class="btn btn-default"
								ng-click="branchId ? exportParentData() : ''"
								data-trigger="hover" ng-disabled="!branchId"
								title="{{!branchId ? 'Please select Branch First !' : 'Export this table to Excel.'}}">Export Parent Data </a> 
								<a class="btn btn-default"
								ng-click="branchId ? exportTeacherData() : ''"
								data-trigger="hover" ng-disabled="!branchId"
								title="{{!branchId ? 'Please select Branch First !' : 'Export this table to Excel.'}}">Export Teacher Data </a> 
						</div>
					</div>
				</div>
			</div>
			<div>

					
					
				