
<div>
	<!--   -->
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<!-- <div>
<h3 ng-show = "student.id == null">Student / Add Student</h3>
<h3 ng-show = "student.id != null">Student / Edit Student</h3>
</div> -->

	<div class="panel panel-default" ng-cloak>
		<div class="panel-heading">{{displayHeadHeaderValue}}</div>
		<div class="panel-body">

			 <form name="adddisplayLayouForm" 
				class="container-fluid" autocomplete="off">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' ">{{message}}</h4>
				</font> <br>
 
				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="displayHead.instituteId" ng-selected="displayHead.instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList"
							title="Select Institute" autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				 <div class = "form-group col-md-12">
				      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
				      <div class="col-md-6">
					      <select class="form-control" name = "branchId" ng-model = "displayHead.branchId" 
					      		ng-selected = "displayHead.branchId" ng-change = "changeYearList()"
					      		ng-options="branch.id as branch.name for branch in branchList" required>
					      </select>
					      <p class="errorMessage" 
					      		ng-show="addDivision.branch.$invalid && !addDivision.branch.$pristine">
				      			Please select branch
				      	  </p>
					  </div>
					  <div class = "col-md-4"></div>	
			    </div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Name<span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control" name="descriptionLine"
							maxlength=65 ng-model="displayHead.name" title="Enter Display Head Name"
							required>
						<p class="errorMessage"
							ng-show="addBranchForm.addressLine.$invalid && !addBranchForm.addressLine.$pristine">
							Please enter display head name</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<!-- <div class="form-group col-md-12">
					<label class="col-md-2">Fees Amount <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control" maxlength=45 name="amount"
							ng-model="displayHead.feeAmount" title="Please enter FeesAmount" required />
						<p class="errorMessage"
							ng-show="addBranchForm.area.$invalid && !addBranchForm.area.$pristine">
							Please enter FeesAmount</p>
					</div>
					<div class="col-md-4"></div>
				</div> -->
				<div class="form-group col-md-12">
					<label class="col-md-2">Description </label>
					<div class="col-md-6">
						<textarea class="form-control" rows="3" name = "otherDescription" maxlength = 255
      						title = "Please Enter Other Description" ng-model="displayHead.description">
      					</textarea>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Status<span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="status"
							ng-change="showPopupWhenInactive()" ng-model="displayHead.active"
							title="Please select status" required>
							<option value="Y" selected>Active</option>
							<option value="N">Inactive</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

                <input type="button" class="btn btn-primary" value="Save"
							ng-click="save()"
							ng-disabled="addBranchForm.$invalid && !isSaveDisabled" /> <input
							type="button" class="btn btn-default" value="Cancel"
							ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>