<div style = "width:900px;" ng-if = "!showLogView" class="col-xs-12">
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="modal-title"></h3>
		</div>
		<div class="panel-body" ng-cloak ng-if="entityType =='students' ">
			<div class="col-md-6">
				<font color='RED'>
					<h4>Updated Value </h4>
				</font>
				<div class="col-md-12">
				
					<div class="row">
						<div class="col-md-12" >
						
							<label class="col-md-4 exiting_label" for="inputLarge" >First Name:</label>{{newData.firstname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Last Name: </label> {{newData.surname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >UserId: </label> {{newData.studentUserId}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Email : </label> {{newData.emailAddress}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mobile Number: </label> {{newData.mobile}}
						</div>
						
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<font color='RED'>
					<h4>Old Value </h4>
				</font>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12" >
						
						<label class="col-md-4 exiting_label" for="inputLarge" >First Name:</label>{{oldData.firstname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Last Name: </label> {{oldData.surname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >UserId: </label> {{oldData.studentUserId}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Email : </label> {{oldData.emailAddress}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mobile Number: </label> {{oldData.mobile}}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Fees Report -->
		<div class="panel-body" ng-cloak ng-if="entityType =='fees' ">
			<div class="col-md-6">
				<font color='RED'>
					<h4>Updated Value </h4>
				</font>
				<div class="col-md-12">
				
					<div class="row">
						<div class="col-md-12" >
						
							<label class="col-md-4 exiting_label" for="inputLarge" >Head:</label>{{newData.head}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Amount: </label> {{newData.amount}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Branch : </label> {{newData.branch}}
						</div>
						
						
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<font color='RED'>
					<h4>Old Value </h4>
				</font>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12" >
						
						<label class="col-md-4 exiting_label" for="inputLarge" >Head:</label>{{oldData.head}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Amount: </label> {{oldData.amount}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Branch : </label> {{oldData.branch}}
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="col-md-6">
			<div class="panel-body" ng-cloak>
				
			</div>
		</div>
	</div>
</div>

