<style>
.vl {
  border-left: 1px solid;
    height: 353px;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 42px;
}
.tableData {
    border: 1px solid black;
    border-collapse: collapse;
}
.tableData{
    padding: 3px;
    text-align: left;    
}
</style>
<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
<div class="panel panel-default">
<div class="panel-heading">Dashboard</div>
<div class="panel-body" ng-cloak>
	<div class="row">
		<div class = "form-group col-md-12" >
			<div class="col-md-6" ng-show="roleId == 1">
	      		<label class = "col-md-3" style="margin-left: -13px;">Institute <span style = "color:red">*</span></label>
		      	<select class="form-control" name = "instituteId"  ng-model = "instituteId" 
		     	 		ng-selected = "instituteId"  ng-change = "changeBranchList(instituteId)"
		     	 		title ="Select institute name" 
		     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
		     	 </select>
			</div>
		    
		    <div class="col-md-6" ng-show="roleId == 1" >
		      	<label class = "col-md-3" style="margin-left: -13px;">Branch <span style = "color:red">*</span></label>
		      		<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId" title ="Select branch name"
		     	 		ng-change = "showList(branchId)"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		    </div>
		     <div class="col-md-6" ng-show="roleId != 1" style="margin-left: 240px;">
		      	<label class = "col-md-3" style="margin-left: -13px;">Branch <span style = "color:red">*</span></label>
		      		<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId" title ="Select branch name"
		     	 		ng-change = "showList(branchId)"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		    </div>
		   
		</div>
		<!-- <div class = "form-group col-md-12">
				<div class="col-md-6">
		      		<label class = "col-md-6" style="margin-left: -13px;">Start Date (DD/MM/YYYY) <span style = "color:red">*</span></label>
		      		<p class=" input-group">
			      		<input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy" min-date = "acadmicStartDate"
			      			id = "startDate" name = "startDate" max-date = "acadmicEndDate" title = "Please select start date"
			      			ng-focus="isOpenStartDate = true" is-open = "isOpenStartDate" close-text="Close" 
			      			ng-model="startDate"  ng-required="true"/>
			
			              <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="isOpenStartDate = true"><i class="fa fa-calendar"></i></button>
			              </span>
					</p>
					
					<p class="errorMessage" ng-show="addEventForm.startDate.$error.startDateRequired == 'true'">
						Start date is mandatory.</p>
					<p class="errorMessage" ng-show="addEventForm.startDate.$error.beforeAcadmicYearStart == 'true'">
						Start date must be in between acadmic year</p>
					<p class="errorMessage" ng-show="addEventForm.startDate.$error.beforeToday == 'true'">
						Start date must be in future</p>
					
		      </div>
		      <div class="col-md-6" style="margin-top:10px;">
		      	<div class="col-md-8">
					<input type="button" class = "btn btn-orange" value="Done" ng-click="save()"  title="Add event"/>
				</div>
		      </div>
		  </div>
		   
		  <div >
		  	  <div class="col-md-6" style="margin-left: 9px;">
	      	   <label class = "col-md-6" style="margin-left: -13px;">End Date (DD/MM/YYYY) <span style = "color:red">*</span></label>
			   	  <p class="input-group">
			      		<input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open = "isOpenEndDate" 
			      			id = "endDate" name = "endDate" ng-change = "isEndDateChanged = true" title = "Please select end date"
			      			ng-focus=" " ng-readonly="" min-date = "startDate" 
			      			max-date = "" ng-required = "!reccuring" close-text="Close" ng-model="endDate" />
						<span class="input-group-btn">
			                <button type="button"  class="btn btn-default" ng-click="isOpenEndDate = true"><i class="fa fa-calendar"></i></button>
			           </span>
			      </p>
			      <p>
			      	<span class="errorMessage" ng-show="addEventForm.endDate.$error.endBeforeStart">End date must be on or after start date.</span>
			      </p>
			   </div>
			  
		  </div> -->
   		</div>
		<div class="col-md-12">
			<h3 style="padding-bottom: 16px;margin-left: 331px;">Student Fees Status</h3>
				<div class="col-md-5" style="margin-left:16px;" ng-if="feesStatusData.length > 0">
					<canvas id="pie" class="chart chart-pie"
					  chart-data="pieData" chart-labels="pieLabels" chart-options="pieOption" chart-dataset-override="piedatasetOverride">
					</canvas> 
				</div>
				<div class="col-md-12"  ng-if="feesStatusData.length == 0">
					<label style="margin-left:340px;margin-top:20px;">{{noDataInFeesStatus}}</label>
				</div>
				<div class="col-md-6" style="margin-top:14px;padding-top:5px!important;margin-left:70px;" ng-if="feesStatusData.length > 0">
					<table border = "2" style="width:100%"  >
					  	  <tr>
                            <th class="tableData">Total Projected Collection</th>
                            <td class="tableData"> &#8377; {{projectedCollection}}</td>
                         </tr>
                         <tr>
                            <th class="tableData" >Fees Paid</th>
                            <td class="tableData"> &#8377; {{feesPaid}}</td>
                         </tr>
                         <tr>
                              <th class="tableData">Paid With Late Fees</th>
                            <td class="tableData"> &#8377; {{feesPaidWithLate}} </td>
                         </tr>
                         <tr>
                             <th class="tableData">Fees Unpaid</th>
                            <td class="tableData"> &#8377; {{feesUnpaid}} </td>
                         </tr>
					 </table>
				
				</div>
		</div>
	
		<div class="col-md-12">
			<br>
			<div ng-if="feesStatusData.length > 0">
				<table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" dt-column-defs="dtColumnDefs" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
					<thead>
						<tr>
							<th class = "col-md-1">Fees Head Type</th>
							<th class = "col-md-1">Fees Paid</th>
							<th class = "col-md-1">Fees UnPaid</th>
							<th class = "col-md-1">Paid With Late Fees</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in feesStatusTableData"> 
							<td class = "col-md-2">	{{ data.feeHeadType }}
							</td>
							<td class = "col-md-2"> &#8377; {{data.paidAmount.toLocaleString('en-IN')}}</td>
							<td class = "col-md-2"> &#8377; {{data.unpaidAmount.toLocaleString('en-IN')}}</td>
							<td class = "col-md-2"> &#8377; {{data.paidAmountWithLateFees.toLocaleString('en-IN')}}</td>
						</tr>
					</tbody>
				</table>
 			</div>
		</div>
	
		<!-- <div class="vl"></div> -->
		<div class="col-md-12" style="margin-top: 25px;">
			<h3 style="margin-left: 331px;padding-bottom: 16px;">Total Collected Fees</h3>
			<div  class="well" ng-cloak >
			 	<div style="margin-left:230px;]">
				 	<a class = "btn btn-orange btn-small" ng-click = "selectDays(1)" >1 Days</a>&nbsp;&nbsp;&nbsp;
					<a class = "btn btn-orange btn-small" ng-click = "selectDays(7)">7 Days</a>&nbsp;&nbsp;&nbsp;
				 	<a class = "btn btn-orange btn-small" ng-click = "selectDays(30)">1 Month</a>&nbsp;&nbsp;&nbsp;
				 	<a class = "btn btn-orange btn-small" ng-click = "selectDays(90)" >3 Month</a>&nbsp;&nbsp;&nbsp;
				 	<a class = "btn btn-orange btn-small" ng-click = "selectDays(180)" >6 Month</a>&nbsp;&nbsp;&nbsp;
				 	<a class = "btn btn-orange btn-small" ng-click = "selectDays(365)" >1 Year</a>&nbsp;&nbsp;&nbsp;
				</div>
			</div>
			<div class="col-md-12" >
				<label style="margin-left:270px;"><b>{{graphMessage}}</b></label>
				
			</div>
			
			<div class="col-md-6" style="margin-left:12px;" ng-if="collectFeesData.length > 0">
				<br/>
				<canvas id="line" class="chart chart-line" chart-data="lineData"
				chart-labels="lineLabels" chart-series="lineSeries" chart-colors="lineColors" chart-options="lineOption"
				chart-dataset-override="linedatasetOverride" chart-click="onClick">
				</canvas>
			</div>
			<div class="col-md-12"  ng-if="collectFeesData.length == 0">
			<br/>
				<label style="margin-left:340px;">{{noDataInCollectedFees}}</label>
			</div>
			
			 <div class="col-md-5" style="margin-top:10px;padding-top:17px;margin-left:55px;" ng-if="collectFeesData.length > 0">
					<div ng-if="feesStatusData.length > 0">
					 <table border = "2" style="width:100%"  >
					  	<tr>
				            <th class="tableData"></th>
				            <th class="tableData">Transaction Date</th>
				            <th class="tableData">Transaction Sum</th>
				           	<th class="tableData">Transaction Count</th>
				         </tr>
						 <tr>
				            <th class="tableData">First Transaction</th>
				            <td class="tableData">{{(collectFeesData[0].transactionDate | date : 'dd MMM yyyy') || 0}}</td>
				            <td class="tableData"> &#8377; {{(collectFeesData[0].transactionSum) || 0}}</td>
				            <td class="tableData">{{(collectFeesData[0].transactionCount) || 0}}</td>
				         	
				         </tr>
				         <tr>
				            <th class="tableData">Last Transaction</th>
				            <td class="tableData">{{(collectFeesData[collectFeesData.length-1].transactionDate | date : 'dd MMM yyyy') || 0}}</td>
				            <td class="tableData"> &#8377; {{(collectFeesData[collectFeesData.length-1].transactionSum) || 0}}</td>
				            <td class="tableData">{{(collectFeesData[collectFeesData.length-1].transactionCount) || 0}}</td>
				         </tr>
				        <!--  <tr>
				         	<th class="tableData">Unpaid</th>
				            <td class="tableData">{{feesStatusData[1].studentCount || 0}}</td>
				         </tr>
				         <tr>
				          	<th class="tableData">Partial Paid</th>
				            <td class="tableData">{{feesStatusData[2].studentCount || 0}}</td>
				         </tr> -->
				         
				      </table>
				      </div>
				</div> 
			
		</div>
	</div>
</div>
</div>
</div>