<style>
	h4.addStudent, h2.addBranchAdmin {
	    font-size: 1.2em;
	    padding: 10px;
	    background: #f5f5f5;
	}
	.focused{
		background-color : #286090;
		    border-color: #122b40;
	}
</style>
<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
	<div class="panel panel-default">
		<div class="panel-heading">{{lateFeesDetailHeaderValue}}</div>
		<div class="panel-body">

			<form name="addLateFeeForm" ng-controller="validatelateFeeForm"
				class="container-fluid" autocomplete="off"
				enctype="multipart/form-data">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' ">
						{{message}}</h4>
				</font>

				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="lateFeesDetail.instituteId"
							ng-selected="lateFeesDetail.instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList"
							title="Select Institute" autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12" ng-hide="roleId == 4">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="lateFeesDetail.branchId"
							ng-selected="lateFeesDetail.branchId"
							ng-change="changeYearList()" title="Please select branch"
							ng-options="branch.id as branch.name for branch in branchList"
							ng-required="roleId != 4 ? true : false">
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>
				<div class="form-group col-md-12">
					<label class="col-md-2">Description <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=45
							title="Please enter description" name="description"
							ng-model="lateFeesDetail.description" required />

					</div>
					<div class="col-md-4"></div>
				</div>
				<div class="form-group col-md-12">
					<label class="col-md-2">Type</label>
					<div class="col-md-6">
						<select class="form-control" name="type"
							ng-model="lateFeesDetail.type" ng-selected="late payment charges"
							ng-required="true">
							<option ng-selected="true" value="">Select Fees Type</option>
							<option value="RECURRING">Recurring</option>
							<option value="ONE TIME">One Time</option>
							<option value="COMBINATION">Combination</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'RECURRING'">
					<label class="col-md-2">Reccuring For</label>
					<div class="col-sm-9">
						<div class="btn-group" data-toggle="buttons-checkbox">
<!-- 							<button type="button" class="btn btn-primary {{!lateFeesDetail.frequency ? 'focused' : ''}}"
								ng-model="lateFeesDetail.frequency" btn-radio="">None</button>
 -->
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'DAILY' ? 'focused' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'DAILY'">Daily</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'WEEKLY' ? 'focused' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'WEEKLY'">Weekly</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'MONTHLY' ? 'focused' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'MONTHLY'">Monthly</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'QUARTERLY' ? 'focused' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'QUARTERLY'">Quarterly</button>

						</div>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'RECURRING' && lateFeesDetail.frequency == 'DAILY'">
					<label class="col-md-2">Late Fees Details Days</label>
					<div class="col-sm-9">
						<div class="btn-group" data-toggle="buttons-checkbox">
							<label ng-repeat="day in dayArray"> <input
								type="checkbox" ng-model="lateFeesDetail.weekDays[day.value]"
								ng-checked="lateFeesDetail.weekDays[day.value] == 'true'"
								ng-required="lateFeesDetail.type == 'RECURRING' && lateFeesDetail.frequency == 'DAILY' && !isDaySelected(lateFeesDetail.weekDays)"
								name="Monday" value="{{day.value}}" /> {{day.label}}
							</label>
						</div>
					</div>
				</div>

				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'RECURRING' && lateFeesDetail.frequency == 'MONTHLY'">
					<label class="col-md-2">Select Day <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							title="Please select monthly day for recurring"
							ng-model="lateFeesDetail.byDate"
							ng-selected="lateFeesDetail.byDate"
							ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
							ng-required="lateFeesDetail.type == 'RECURRING' && lateFeesDetail.frequency == 'MONTHLY' ">
							<!-- <option value = "" ng-selected = "true">Select Day of Month</option> -->
						</select>
						<p class="errorMessage" ng-show="!lateFeesDetail.byDate">
							Select Day when monthly</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Base Amount </label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=12 title="Please enter amount"
							name="description" ng-model="lateFeesDetail.baseAmount" />
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12" ng-if = "lateFeesDetail.type != 'COMBINATION'">
					<label class="col-md-2">Amount</label>
					<div class="col-md-6">
						<input type="number" class="form-control col-md-6" maxlength=10
							title="Please enter maximum late fees"
							name="dyas" ng-model="lateFeesDetail.amount" />
						<p class="errorMessage" ng-show="amountErrorMessage">
							{{amountErrorMessage}}</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Maximum Late Fees </label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=12
							ng-pattern="regExName" title="Please enter maximum late fees"
							name="description" ng-model="lateFeesDetail.maximumAmount" />

					</div>
					<div class="col-md-4"></div>
				</div>

<!-- COMBINATION STARTS HERE -->

				<div class="row" ng-if = "lateFeesDetail.type == 'COMBINATION'">
					<div class="col-md-12">
						<h4 class="addStudent">
							Add Tier of Combination
						</h4>
					</div>
				</div>

				<div ng-if = "lateFeesDetail.type == 'COMBINATION'">
					<div ng-repeat = "combination in combinationArr track by $index">
						<div class="form-group col-md-12" >
							<i ng-show = "$index != 0"class="fa fa-times-circle-o" style = "float: right; font-size: 20px; margin-top: 2px; margin-right: 70px;" 
								ng-click = "removeFromArr(combinationArr, $index)" aria-hidden="true"></i>
						</div>
						<div class="form-group col-md-12" >
							<label class="col-md-2">Reccuring For</label>
							<div class="col-sm-9">
								<div class="btn-group" data-toggle="buttons-checkbox">
									<button type="button" class="btn btn-primary {{!combination.frequency ? 'focused' : ''}}"
										ng-disabled = "$index < combinationArr.length -1" ng-model="combination.frequency" btn-radio="">None</button>

									<button type="button" class="btn btn-primary {{combination.frequency == 'DAILY' ? 'focused' : ''}}"
										ng-disabled = "$index < combinationArr.length -1" ng-model="combination.frequency" btn-radio="'DAILY'">Daily</button>

									<button type="button" class="btn btn-primary {{combination.frequency == 'WEEKLY' ? 'focused' : ''}}"
										ng-disabled = "$index < combinationArr.length -1" ng-model="combination.frequency" btn-radio="'WEEKLY'">Weekly</button>

									<button type="button" class="btn btn-primary {{combination.frequency == 'MONTHLY' ? 'focused' : ''}}"
										ng-disabled = "$index < combinationArr.length -1" ng-model="combination.frequency" btn-radio="'MONTHLY'">Monthly</button>

									<button type="button" class="btn btn-primary {{combination.frequency == 'QUARTERLY' ? 'focused' : ''}}"
										ng-disabled = "$index < combinationArr.length -1" ng-model="combination.frequency" btn-radio="'QUARTERLY'">Quarterly</button>
								</div>
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group col-md-12"
							ng-show="combination.frequency == 'DAILY'">
							<label class="col-md-2">Select Days</label>
							<div class="col-sm-9">
								<div class="btn-group" data-toggle="buttons-checkbox">
									<label ng-repeat="day in dayArray"> 
										<input type="checkbox" ng-model="combination.weekDays[day.value]"
											ng-checked="combination.weekDays[day.value] == true"
											ng-required="combination.frequency == 'DAILY' && !isDaySelected(combination.weekDays)"
											name="Monday" value="{{day.value}}" /> {{day.label}}
									</label>
								</div>
								<p class="errorMessage" ng-show="combination.daysErrMsg">
									{{combination.daysErrMsg}}</p>
							</div>
						</div>

						<div class="form-group col-md-12" ng-show="combination.frequency == 'MONTHLY'">
							<label class="col-md-2">Select Day <span style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control" name="academicYearId"
									title="Please select monthly day for recurring"
									ng-model="combination.byDate"
									ng-selected="combination.byDate"
									ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
									ng-required="combination.frequency == 'MONTHLY' ">
									<option value = "" ng-selected = "true">Select Day of Month</option>
								</select>
								<p class="errorMessage" ng-show="!combination.byDate">
									Select Day when Monthly</p>
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group col-md-12">
							<label class="col-md-4">Start Of {{combination.frequency == 'DAILY' ? 'Days' : (combination.frequency == 'MONTHLY' ? 'Months' : 
								(combination.frequency == 'WEEKLY' ? 'Weeks' : (!combination.frequency ? 'Tier' : 'Quarters'))) }}</label>

							<label class="col-md-4">End Of {{combination.frequency == 'DAILY' ? 'Days' : (combination.frequency == 'MONTHLY' ? 'Months' : 
								(combination.frequency == 'WEEKLY' ? 'Weeks' : (!combination.frequency ? 'Tier' : 'Quarters'))) }}</label>
							<label class="col-md-4">Amount</label>
						</div>

						<div class="form-group col-md-12">
							<div class="col-md-4">
								<input type="number" class="form-control col-md-4" maxlength=4
									title="Please enter Start of tier" ng-disabled = "$index < combinationArr.length -1"
									name="dyas" ng-model="combination.start" />
								<p class="errorMessage" ng-show="combination.startDayErrMsg">
									{{combination.startDayErrMsg}}</p>
							</div>

							<div class="col-md-4">
								<input type="number" class="form-control col-md-4" maxlength=4
									title="Please enter End of tier" ng-disabled = "$index < combinationArr.length -1"
									name="dyas" ng-model="combination.end" />
								<span style = "font-style: italic;font-size: 11px;">Add <strong>` 9999 `</strong> for infinite time.</span>
								<p class="errorMessage" ng-show="combination.endDayErrMsg">
									{{combination.endDayErrMsg}}</p>
							</div>

							<div class="col-md-4">
								<input type="number" class="form-control col-md-4" maxlength=10
									title="Please enter maximum late fees" ng-disabled = "$index < combinationArr.length -1"
									name="dyas" ng-model="combination.amount" />

								<p class="errorMessage" ng-show="combination.amountErrMsg">
									{{combination.amountErrMsg}}</p>
								<div class = "col-md-4"></div>
							</div>
						</div>
						<!-- <div class="form-group col-md-12">
							<label class="col-md-2">Amount</label>
							<div class="col-md-6">
								<input type="number" class="form-control col-md-6" maxlength=10
									title="Please enter maximum late fees"
									name="dyas" ng-model="combination.amount" />
								<p class="errorMessage" ng-show="combination.amountErrMsg">
									{{combination.amountErrMsg}}</p>
								<div class = "col-md-4"></div>
							</div>
						</div> -->

						<i ng-show = "$index == combinationArr.length -1" style = "font-size: 20px; margin-left : 33px;" 
							ng-click = "addCombination($index)" class="fa fa-plus-circle" aria-hidden="true"></i>
							<hr class = "col-md-12" style ="height:3px;">
					</div>
				</div>

<!-- 
				<div class="form-group col-md-12" style="margin-top: 10px;" ng-if = "lateFeesDetail.type == 'COMBINATION'">
					<div class="col-md-6">
						<input type="button" class="btn btn-primary" value="Add"
							ng-click="addTier()" 
							ng-disabled="!lateFeesDetail.combination.amount || !lateFeesDetail.combination.days" />
					</div>
				</div>

				<table ng-if = "lateFeesDetail.type == 'COMBINATION'" class="table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
					<thead>
						<tr>
							<th>Days</th>
							<th>Amount</th>
							<th>Action</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="combination in combinationList">
							<td> {{($index ==0 ? 'First ' : 'Next ') + combination.days}} Days</td>
							<td> {{combination.amount}} </td>
							<td><a class="btn btn-xs btn-default"
								title="Delete" ng-click="removeFromArr(combinationList, $index)"><i class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
 -->
				<div class="form-group col-md-12">
					<input type="button" class="btn btn-primary" value="Save"
						ng-click="save()" ng-disabled="addLateFeeForm.$invalid" /> <input
						type="button" class="btn btn-default" value="Cancel"
						ng-click="cancel()" />
				</div>
			</form>
		</div>
	</div>
</div>