<div>
	<div class="panel panel-default">
		<div class="panel-heading">
		Late Fees List
		</div>
		<div class="panel-body" ng-cloak>
			<div  class="well">
				<div class="row">
					<div class = "form-group col-md-12" ng-show = "roleId == 1">
			      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
				      		<div class="col-md-6">
						     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
						     	 		ng-selected = "instituteId" ng-change="changeBranchList()"
						     	 		ng-options="institute.id as institute.name for institute in instituteList" title="Select Institute" required>
						     	 </select>
				      		</div>
					   <div class = "col-md-4"></div>	
				    </div>
				    <div class = "form-group col-md-12">
      			<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
     		 	<div class="col-md-6">
     	 			<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-change = "branchChanged()"
		     	 		title = "{{instituteId ? 'Select branch.' : 'Please select institute first'}}" 
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>

						<option ng-selected="true" value="">Select Branch</option>
     	 			</select>
      			</div>
	   			<div class = "col-md-4"></div>	
   			</div>

				    <div class="form-group col-md-12">
				    	<label class = "col-md-2"></label>
						<div class = "col-md-8">
							<a class = "btn btn-orange btn-small" ui-sref="lateFeesDetail.add" ng-click ="setSelectedData(instituteId, branchId)"
								title = "Add New lateFeesDetail.">Add late Fees</a>
								
							<a class = "btn btn-default" ng-click = "instituteId ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled = "!instituteId" ng-click="'Filter Table By Branch'"
								title = "{{!instituteId ? 'Please select Institute First !' : 'Filter Table By Institute.'}}">

								Search
							</a>
						</div>
					</div>
				</div>
			</div>
	<br>
	<font color = 'RED'><h4 ng-show = "status == 'fail' || status == 'success' ">{{message}}</h4></font>
	<br>
	<div>
	<table class = "table table-striped table-condensed table-bordered table-hover responsive" datatable="ng" dt-options="dtOptions" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-2">Title</th>
				<th class = "col-md-2">Type</th>
				<th class = "col-md-2">Frequency</th>
				<th class = "col-md-2">Base Amount</th>
				<th class = "col-md-2">Amount</th>
				<th class = "col-md-2">Maximum Late Fees</th>
				<th class = "col-md-2" ng-show="!isUploadFailed">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="lateFeesDetail in lateFeesDetailList track by $index">
				<td class = "col-md-2">{{ lateFeesDetail.description }}</td>
				<td class = "col-md-2">{{ lateFeesDetail.type }}</td>
				<td class = "col-md-2">{{ lateFeesDetail.frequency }}</td>
				<td class = "col-md-2">{{ lateFeesDetail.baseAmount }}</td>
				<td class = "col-md-2">{{ lateFeesDetail.amount }}</td>
				<td class = "col-md-2">{{ lateFeesDetail.maximumAmount }}</td>
				<!-- <td class = "col-md-2">{{ lateFeesDetail.baseAmount }}</td> -->
				

				<td class = "col-md-2" ng-show="!isUploadFailed">
				<a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="lateFeesDetail.edit({id :lateFeesDetail.id })"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="lateFeesDetail.list" ng-click="deleteData(lateFeesDetail.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>