
<div>
	<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> -->
	<div class="panel panel-default">
		<div class="panel-heading">Vendor Report / List</div>
		<div class="panel-body" ng-cloak>
			<!-- <div class="well" ng-hide = "roleId == 6">
		<a class = "btn btn-orange" ui-sref="vendorreport.add" title = "Add New Vendor.">Add Vendor</a>
		<a class = "btn btn-default" ng-click = "uploadVendors()" title = "Upload Vendor CSV.">Upload Vendors</a>
	</div> -->
			<div class="well">
				<div class="row">
					<div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId"
								ng-change="changeBranchList()"
								ng-options="institute.id as institute.name for institute in instituteList"
								required autofocus>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12" ng-show='!isSingleBranch'>
						<label class="col-md-2">Branch <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId" ng-model="branchId"
								ng-selected="branchId"
								ng-options="branch.id as branch.name for branch in branchList"
								required>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>
	
					<p ng-show='isSingleBranch == true'>
						<label><h4 ng-show='isSingleBranch == true'>Branch :
								{{branchName}}</h4></label>
					</p>
	
					<div class="form-group col-md-12">
						<label class="col-md-2">From Date <span style="color: red">*</span></label>
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" valid-date class="form-control"
									uib-datepicker-popup="dd/MM/yyyy" ng-model="fromDate"
									ng-required="true" max-date="maxDate"
									is-open="isOpenStartDate" id="fromDate" name="fromDate" 
									ng-focus="isOpenStartDate = true" close-text="Close" /> 
								
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="isOpenStartDate = true">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</p>
							<!-- <input type="date" name="startDate" ng-model="fees.startDate" required/> -->
						</div>
						<div class="col-md-4"></div>
					</div>
	
					<div class="form-group col-md-12">
						<label class="col-md-2">To Date <span style="color: red">*</span></label>
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" valid-date class="form-control"
									ng-readonly="!fromDate" ng-focus="isOpenEndDate = fromDate ? true : false"
									uib-datepicker-popup="dd/MM/yyyy" ng-model="toDate"
									ng-required="true" id="toDate" name="toDate" max-date="maxDate"
									ax-date="acadmicEndDate" is-open="isOpenEndDate"
									close-text="Close" /> 
	
								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-disabled="!fromDate" ng-click="isOpenEndDate = true">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</p>
							<p></p>
						</div>
						<div class="col-md-4"></div>
					</div>
					
					<div class="form-group col-md-12">
						<label class="col-md-2"></label>
						<div class="col-md-6">
							<a class="btn btn-default"
								ng-click="branchId ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled="!branchId"
								title="{{!branchId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
			
								Search </a>
						</div>
					</div>
				</div>
			</div>
			<br> <font color='RED'>
				<h4 ng-show="message">{{message}}</h4>
			</font> <br>

			<div>
				<table datatable="ng" dt-options="dtOptions"
					class="table table-striped table-condensed table-bordered table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th class="col-md-3">Vendor Name</th>
							<th class="col-md-3">Amount</th>
							<!-- <th class="col-md-1">Actions</th> -->
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="vendorreport in vendorReportList track by $index">
							<td class="col-md-3">{{ vendorreport.companyName }}</td>
							<td class="col-md-3">{{ vendorreport.amount}}</td>
							<!-- <td ng-show = "roleId == 1" class = "col-md-1"><a href = "#" ui-sref="vendorreport.edit({id :vendorreport.id})">Edit</a> | 
				<a href = "#" ui-sref="vendorreport.list" ng-click="deleteData(vendorreport.id)">Delete</a></td> -->

							<!-- <td class="col-md-1"><a href="#"
								ng-show="vendorreport.vendorreportExist == false"
								ng-click="attachVendor(vendorreport)">Attach</a> <a href="#"
								ng-show="vendorreport.vendorreportExist == true"
								ui-sref="vendorreport.list" ng-click="removeData(vendorreport)">Detach</a></td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>