
<div>
	<!--   -->
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<!-- <div>
<h3 ng-show = "student.id == null">Student / Add Student</h3>
<h3 ng-show = "student.id != null">Student / Edit Student</h3>
</div> -->

	<div class="panel panel-default" ng-cloak>
		<div class="panel-heading">{{branchHeaderValue}}</div>
		<div class="panel-body">

			<form name="addBranchForm" ng-controller="validateBranchForm"
				class="container-fluid" autocomplete="off">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' ">{{message}}</h4>
				</font> <br>

				<!-- <div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="branch.instituteId" ng-selected="branch.instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList"
							title="Select Institute" autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>
 -->

				<div class="form-group col-md-12">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6"> 
						<ui-select ng-model="branch.instituteId" theme="selectize"
							on-select="changeBranchList()"> 
							
							<ui-select-match
								placeholder="Select institute for the branch"> 
								<span>{{$select.selected.name}}</span> 
							</ui-select-match>
							<ui-select-choices
								repeat="institute.id as institute in (instituteList | filter: $select.search) track by institute.id">
								
								<span ng-bind-html="institute.name"></span>
							</ui-select-choices> <!-- <option>Please select</option> -->
						</ui-select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6"
							ng-pattern="regExBranch" maxlength=100 name="branch"
							ng-model="branch.name" required />
						<p class="errorMessage"
							ng-show="addBranchForm.branch.$invalid && !addBranchForm.branch.$pristine"
							title="Enter Branch name">Please enter branch name</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
						<label class="col-md-2">Institute Type <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="InstitutetypeId"
								ng-model="branch.instituteType" ng-required="true"
								ng-change="instituteTypeChanged()">
								<option value="COLLEGE" selected>College</option>
								<option value="SCHOOL" >School</option>
							</select>
						</div>
						<div class="col-md-4"></div>
				</div>

				 <div class="form-group col-md-12">
				 	<label class="col-md-2" ng-show="showBoardAffilation">Board Affiliation
				 	 <span style="color: red">*</span></label>
				 	 <label class="col-md-2" ng-show="showUniversity">University
				 	 <span style="color: red">*</span></label>
					<div class="col-md-6">
						<ui-select ng-model="branch.boardUniversityId" theme="selectize" 
								on-select="getSelectedBoardUniversityDetails(branch.boardUniversityId)"   ng-disabled="disabled" reset-search-input="false" spinner-enabled="true" spinner-class="ui-select-spin" ng-required="true">
							<ui-select-match placeholder="Start typing... ">
        						<label ng-show="showUniversity">{{$select.selected.name}}</label>
        						<label ng-show="showBoardAffilation">{{$select.selected.board}}</label>
    						</ui-select-match>
    						<ui-select-choices repeat="board.id as board in (boardList | filter: $select.search | limitTo: 80) track by board.id">
    							<span ng-show="showUniversity" ng-bind-html="board.name | highlight: $select.search"></span>
    							<span ng-show="showBoardAffilation" ng-bind-html="board.board | highlight: $select.search"></span>
    						</ui-select-choices>
    					</ui-select>
					</div>
					<div class="col-md-4"></div>
				</div>
					
				<div class="form-group col-md-12">
					<label class="col-md-2">Address Line 1<span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control" name="addressLine"
							maxlength=255 ng-model="branch.addressLine" title="Enter Address"
							required>
						<p class="errorMessage"
							ng-show="addBranchForm.addressLine.$invalid && !addBranchForm.addressLine.$pristine">
							Please enter address</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Address Line 2</label>
					<div class="col-md-6">
						<input type="text" class="form-control" maxlength=45 name="area"
							ng-model="branch.area" title="Address Line 2"/>
						<p class="errorMessage"
							ng-show="addBranchForm.area.$invalid && !addBranchForm.area.$pristine">
							Please enter area</p>
					</div>
					<div class="col-md-4"></div>
				</div>
				
				<div class="form-group col-md-12">
					<label class="col-md-2">Address Line 3</label>
					<div class="col-md-6">
						<input class="form-control" type="text" ng-pattern="regExCity"
							maxlength=45 name="city" ng-model="branch.city"
							title="Address Line 3"/>
						<p class="errorMessage"
							ng-show="addBranchForm.city.$invalid && !addBranchForm.city.$pristine">
							Please enter city</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">State <span style="color: red">*</span></label>
					<div class="col-md-6">
		
						<ui-select ng-model="branch.stateId" theme="selectize" 
								on-select="getTalukaByState()" spinner-enabled="true" spinner-class="ui-select-spin">
							
							<ui-select-match placeholder="Select the state of the branch">
        						{{$select.selected.name}}
    						</ui-select-match>
    						
    						<ui-select-choices repeat="state.id as state in (stateList | filter: $select.search) track by state.id">
    						
        						<span ng-bind-html="state.name"></span>
    						</ui-select-choices>
    						
							<!-- <option>Please select</option> -->
						</ui-select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<!-- <div class="form-group col-md-12">
					<label class="col-md-2">District <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="districtId"
							ng-model="branch.districtId" title="Select District"
							ng-selected="branch.districtId" ng-change="changeTalukaList()"
							ng-options="district.id as district.name for district in districtList"
							required>

						</select>
					</div>
					<div class="col-md-4"></div>
				</div>
 -->
				<div class="form-group col-md-12">
					<label class="col-md-2">District/Taluka/City<span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<!-- <select class="form-control" name="talukaId"
							ng-model="branch.talukaId" title="Select Taluka"
							ng-selected="branch.talukaId"
							ng-options="taluka.id as taluka.name for taluka in talukaList"
							required>
						</select> -->
						
						<ui-select ng-model="branch.talukaId" theme="selectize" disbled="!branch.talukaId" spinner-enabled="true">
							
							<ui-select-match placeholder="Select the taluka/city of the branch">
        						<span ng-bind="$select.selected.name"></span>
    						</ui-select-match>
    						
    						<ui-select-choices repeat="taluka.id as taluka in (talukaList | filter: $select.search) track by taluka.id">
        						<span ng-bind="taluka.name"></span>
    						</ui-select-choices>
    						
							<!-- <option>Please select</option> -->
						</ui-select>
					</div>
					<div class="col-md-4"></div>
				</div>
<!-- 
				<div class="form-group col-md-12">
					<label class="col-md-2">Town/Village <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<input class="form-control" type="text" ng-pattern="regExCity"
							maxlength=45 name="city" ng-model="branch.city"
							title="Enter City" required />
						<p class="errorMessage"
							ng-show="addBranchForm.city.$invalid && !addBranchForm.city.$pristine">
							Please enter city</p>
					</div>
					<div class="col-md-4"></div>
				</div> -->

				<div class="form-group col-md-12">
					<label class="col-md-2">Pin Code <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input class="form-control" type="text" ng-pattern="regExPinCode"
							maxlength=6 name="pinCode" ng-model="branch.pinCode"
							title="Enter Pin-code" required />
						<p class="errorMessage"
							ng-show="addBranchForm.pinCode.$invalid && !addBranchForm.pinCode.$pristine">
							Please enter 6 digit pincode</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Contact Number <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<input class="form-control" type="text" name="phone1" maxlength=10
							ng-model="branch.contactNumber" ng-pattern='regExContact'
							title="Enter Contact Number" required />
						<p class="errorMessage"
							ng-show="addBranchForm.phone1.$invalid && !addBranchForm.phone1.$pristine">
							Contact number must be of 10 digits.</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">E-Mail <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input class="form-control" type="email" ng-pattern="regExEmail"
							maxlength=64 name="email" ng-model="branch.contactEmail"
							title="Enter E-Mail Address" required />
						<p class="errorMessage"
							ng-show="addBranchForm.email.$invalid && !addBranchForm.email.$pristine">
							Please enter email</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Website </label>
					<div class="col-md-6">
						<input class="form-control" type="text" name="website"
							maxlength=45 ng-pattern="regExUrl" title="Please enter website"
							ng-model="branch.websiteUrl" />
						<p class="errorMessage"
							ng-show="addBranchForm.website.$invalid && !addBranchForm.website.$pristine">
							Please enter website</p>
					</div>
					<div class="col-md-4"></div>
				</div>
				<div class="form-group col-md-12">
					<label class="col-md-2">Principal Name <span
						style="color: red"></span></label>
					<div class="col-md-6">
						<input type="text" class="form-control" name="adminname"
							maxlength=255 ng-model="branch.principalName"
							title="Enter Principal Name">
						<p class="errorMessage"
							ng-show="addBranchForm.addressLine.$invalid && !addBranchForm.addressLine.$pristine">
							Please enter Principal Name</p>
					</div>
					<div class="col-md-4"></div>
				</div>
				<div class="form-group col-md-12">
					<label class="col-md-2">Principal Gender <span
						style="color: red"></span></label>
					<div class="col-md-6">
						<div class="col-md-3">
							<input type="radio" name="optionsRadios1" id="optionsRadios1"
								value="M" ng-model="branch.principalGender"
								title="Please select gender" checked> Male
						</div>
						<div class="col-md-3">
							<input class="col-md-3" type="radio" name="optionsRadios1"
								id="optionsRadios2" value="F" title="Please select gender"
								ng-model="branch.principalGender">Female
						</div>
						<p class="errorMessage"
							ng-show="addBranch.optionsRadios1.$invalid && !addBranch.optionsRadios1.$pristine">
							Please select gender</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2"> Principal E-Mail <span
						style="color: red"></span></label>
					<div class="col-md-6">
						<input class="form-control" type="email" ng-pattern="regExEmail"
							maxlength=64 name="email" ng-model="branch.principalEmailId"
							title="Enter E-Mail Address" />
						<p class="errorMessage"
							ng-show="addBranchForm.email.$invalid && !addBranchForm.email.$pristine">
							Please enter email</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Status<span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="status"
							ng-change="showPopupWhenInactive()" ng-model="branch.active"
							title="Please select status" required>
							<option value="Y">Active</option>
							<option value="N">Inactive</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2" for="idOfflinePaymentsEnabled">Enable
						Offline Payments </label>
					<div class="col-md-6">
						<div class="col-md-3">
							<input type="checkbox" name="offlinePaymentsEnabled"
								id="idOfflinePaymentsEnabled"
								ng-model="branch.offlinePaymentsEnabled"
								title="Check if you want to enable offline payments.">
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2" for="isPayDirectEnabled">Pay Direct
						Enabled </label>
					<div class="col-md-6">
						<div class="col-md-3">
							<input type="checkbox" name="PayDirectEnabled"
								id="idPayDirectEnabled" ng-model="branch.isPayDirectEnabled"
								title="Check if you want to enable pay direct.">
						</div>
					</div>
					<div class="col-md-4"></div>
					<div ng-show = "branch.isPayDirectEnabled">
					<div class="form-group col-md-12">
						<label class="col-md-2"> Unique Identifier <span
							style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId"
								ng-change="onChangeUniqueIdentifier()"
								ng-model="branch.uniqueIdentifier" required
								ng-options="identifier.value as identifier.name for identifier in uniqueIdentifiers">
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2">Unique Identifier Display Name</label>
						<div class="col-md-6">

							<input type="text" class="form-control" ng-pattern="regExAmount"
								maxlength=45 name="uniqueidentifierdisplayname"
								ng-model="branch.uniqueidentifierdisplayname"
								placeholder="Enter the label you wanna display" />

							<p class="errorMessage"
								ng-show="addFees.latePaymentCharges.$invalid && !addFees.latePaymentCharges.$pristine">
								Please enter unique identifier display name</p>

						</div>
						<div class="col-md-4"></div>
					</div>
					</div>
				</div>

				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2" for="isOtpEnabled">Is OTP Enabled
						For Branch </label>
					<div class="col-md-6">
						<div class="col-md-3">
							<input type="checkbox" name="OtpEnabled" id="idOtpEnabled"
								ng-model="branch.isOtpEnabled"
								title="Check if you want to enable otp.">
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
		</div>

		<div class="form-group col-md-12">
			<label class="col-md-2 inst-logo">Logo </label>
			<div class="col-md-6">
				<input type="file" name="file" ngf-select ngf-accept="'image/*'"
					ngf-pattern="'image/*'" title="Please select logo for an branch"
					ng-model="branch.logoUrl" /> <img height="60"
					ngf-src="branch.logoUrl" class="thumb" />
			</div>
			<div class="col-md-4"></div>
		</div>

		<div class="form-group col-md-12" ng-show="roleId == 1">
			<label class="col-md-2" for="showLogoOnParentPortal">Show
				Logo On Parent Portal </label>
			<div class="col-md-6">
				<div class="col-md-3">
					<input type="checkbox" name="showLogoOnParentPortal"
						id="idShowLogoOnParentPortal"
						ng-model="branch.showLogoOnParentPortal"
						title="Check if you want to show logo on parent portal.">
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2 class="addBranchAdmin">Branch Admin Details</h2>
			</div>
		</div>

		<div class="form-group col-md-12" ng-hide="isView">
			<label class="col-md-2">Manage Branch Admin</label>
			<div class=col-md-6>
				<a class="btn btn-orange" name="addAdminBranch" ng-click="popup()">Add
					New Branch Admin</a>
			</div>
			<div class="col-md-4"></div>
		</div>

		<div class="form-group col-md-12">
			<div class="col-md-10" ng-show=' branchAdminList.length > 0'>
				<table
					class="table table-striped table-condensed table-hover table-bordered"
					id="dataTables-example">
					<thead>
						<tr>
							<th>Name</th>
							<th>email</th>
							<th>Mobile</th>
							<th ng-hide="isView">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="branchAdmin in branchAdminList track by $index">
							<td>{{ branchAdmin.firstName }} {{ branchAdmin.lastName }}</td>
							<td>{{ branchAdmin.email }}</td>
							<td>{{ branchAdmin.primaryContact }}</td>
							<td ng-hide="isView">
								<button href="#" class="fa fa-pencil" title="Edit"
									ng-click="editbranchAdmin(branchAdmin)"></button>
								<button href="#" class="fa fa-trash" title="Delete"
									ng-click="removeBranchAdmin(branchAdmin.email)"></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<input type="hidden" ng-model="branch.id" />
			<div class="form-group col-md-12">
				<label class="col-md-2"></label>
				<div class="col-md-8">
					<input type="button" class="btn btn-primary" value="Save"
						ng-click="save()"
						ng-disabled="addBranchForm.$invalid && !isSaveDisabled" /> <input
						type="button" class="btn btn-default" value="Cancel"
						ng-click="cancel()" />
				</div>
			</div>
			</form>
	</div>
</div>
</div>