<form name="branchAdminProfileForum" ng-controller="validateBranchForm">

	<div class="modal-header">
		<h3 class="modal-title">{{headerName}} Branch Admin</h3>
	</div>

	<div class="form-group col-md-12">
		<label for="idFirstName" class="control-label"> First Name <span><font
				color="red"> * </font></span>
		</label> <input type="text" class="form-control" id="idFirstName"
			name="firstName" ng-model="branchAdmin.firstName"
			placeholder="First Name" required>
		<p class="errorMessage"
			ng-show="branchAdminProfileForum.firstName.$invalid && !branchAdminProfileForum.firstName.$pristine">
			Please enter first name</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idLastName" class="control-label"> Last Name <span
			style="color: red">*</span>
		</label> <input type="text" class="form-control" id="idLastName"
			ng-model="branchAdmin.lastName" name="lastName"
			placeholder="Last Name" required>
		<p class="errorMessage"
			ng-show="branchAdminProfileForum.middleName.$invalid && !branchAdminProfileForum.middleName.$pristine">
			Please enter last name</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idParentDob" class="control-label"> Date Of Birth
			(DD/MM/YYYY) <span></span>
		</label> <input type="text" class="form-control" name="dob" valid-date
			uib-datepicker-popup="dd/MM/yyyy" max-date="maxDate"
			title="Please enter birth date." ng-model="branchAdmin.dateOfBirth"
			is-open="isopenBranchAdmindob" close-text="Close"  /> <span
			class="input-group-btn">
			<button type="button" class="btn btn-default" ng-disabled="isView"
				ng-click="isopenBranchAdmindob = true">
				<i class="fa fa-calendar"></i>
			</button>
		</span>

		<p class="errorMessage"
			ng-show="branchAdminProfileForum.dob.$invalid && !branchAdminProfileForum.dob.$pristine">
			Please enter valid birthdate.</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idGender" class="control-label">Gender <span
			style="color: red">*</span>
		</label> <select id="idGender" ng-model="branchAdmin.gender" name="gender"
			class="form-control" ng-readonly="isGenderReadOnly" required 
			ng-options="gender.value as gender.text for gender in genders">
		</select>
		<p class="errorMessage"
			ng-show="branchAdminProfileForum.gender.$invalid && !branchAdminProfileForum.gender.$pristine">
			Please enter gender.</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idEmail" class="control-label"> E-mail Address <span><font
				color="red"> * </font></span>
		</label> <input type="text" class="form-control" id="idEmail"
			ng-pattern="regExEmail" name="emailAddress"
			ng-model="branchAdmin.email" placeholder="Email"  required>
		<p class="errorMessage"
			ng-show="branchAdminProfileForum.emailAddress.$invalid && !branchAdminProfileForum.emailAddress.$pristine">
			Please enter email address</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idPrimaryContact" class="control-label"> Primary
			Mobile <span><font color="red"> * </font></span>
		</label> <input type="text" class="form-control" id="idPrimaryContact"
			ng-pattern="regExMobile" maxlength=10 name="primaryContact"
			ng-model="branchAdmin.primaryContact" placeholder="Primary Mobile"  required>

		<p class="errorMessage"
			ng-show="branchAdminProfileForum.primaryContact.$invalid && !branchAdminProfileForum.primaryContact.$pristine">
			Please enter 10 digit mobile number</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idCity" class="control-label"> City </label> <input type="text" class="form-control"
			id="idCity" name="city" ng-pattern="regExCity" ng-model="branchAdmin.city" placeholder="City"  >
		<p class="errorMessage"
			ng-show="branchAdminProfileForum.city.$invalid && !branchAdminProfileForum.city.$pristine">
			Please enter Town/Village</p>

	</div>

	<div class="form-group col-md-12">
		<label for="idPinCode" class="control-label"> Pin Code </label> <input type="text" class="form-control"
			id="idPinCode" name="pincode" ng-pattern="regExPinCode" 
			ng-model="branchAdmin.pincode" maxlength=6 placeholder="Pin Code"  >
		<p class="errorMessage"
			ng-show="branchAdminProfileForum.pincode.$invalid && !branchAdminProfileForum.pincode.$pristine">
			Please enter pincode</p>
	</div>

	<div class="form-group col-md-12">
		<label class="control-label">Status <span><font
					color="red"> * </font></span></label> <select
			class="form-control" name="status"
			ng-model="branchAdmin.status"
			title="Please select to active or inactive." required>

			<option value="" selected>Please Select Status </option>
			<option value="Y">Active</option>
			<option value="N">Inactive</option>
		</select>
	</div>
	<p class = "errorMessage">
		{{selectionErrorMessage}}
	</p>
	<div class="form-group col-md-12" ng-hide="isShowDetails">
		<div class="col-md-12">
			<button type="submit" ng-click="addBranchAdmin()"
				ng-disabled="branchAdminProfileForum.$invalid"
				class="btn btn-orange btn-small">Save</button>
			<button class="btn btn-default btn-small" ng-click="cancelPopup()">Cancel</button>
		</div>
	</div>

</form>

<div class="modal-footer">
	<br>
</div>