<div>
	<div class="panel panel-default">
		<div class="panel-heading">Branch List</div>
		<div class="panel-body" ng-cloak>
			<div class="well">
				<div class="row">
					<!-- <div class = "form-group col-md-12" ng-show = "roleId == 1 || roleId == 8">
			      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
				      		<div class="col-md-6">
						     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
						     	 		ng-selected = "instituteId" 
						     	 		ng-options="institute.id as institute.name for institute in instituteList" title="Select Institute" required>
						     	 </select>
				      		</div>
					   <div class = "col-md-4"></div>	
				    </div> -->
					<div class="form-group col-md-12"
						ng-show="roleId == 1 || roleId == 8">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">

							<ui-select ng-model="instituteId.id" theme="selectize"
								on-select="changeBranchList(instituteId.id)">
								 <ui-select-match
								placeholder="Select institute for the branch">
									<span ng-bind="$select.selected.name"></span> 
								</ui-select-match> <ui-select-choices
								repeat="institute.id as institute in (instituteList | filter: $select.search) track by institute.id">
									<span ng-bind="institute.name"></span> 
							</ui-select-choices> <!-- <option>Please select</option> -->
							</ui-select>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2"></label>
						<div class="col-md-8">
							<a class="btn btn-orange btn-small" ui-sref="branch.add"
								ng-click="setSelectedData(instituteId, branchId)"
								title="Add New Branch." ng-hide="roleId ==8">Add Branch</a> <a
								class="btn btn-default btn-small" ng-disabled='!instituteId'
								data-trigger="hover"
								ng-click="instituteId ? uploadBranches() : ''"
								title="{{!instituteId ? 'Please select Institute First !' : 'Upload .xlsx file'}}"
								ng-hide="roleId ==8"> Upload Branches </a> <a
								class="btn btn-default btn-small"
								href="template/download?excelFileName=eduqfix-upload-branch-template.xlsx"
								title="Download template XLSX for uploading multiple branches"
								ng-hide="roleId==8">Download Template</a> <a
								class="btn btn-default"
								ng-click="instituteId.id ? changeBranchList() : ''"
								data-trigger="hover" ng-disabled="!instituteId"
								ng-show="roleId == 1 || roleId == 8"
								title="{{!instituteId ? 'Please select Institute First !' : 'Filter Table By Institute.'}}">

								Search </a>
						</div>
					</div>
				</div>
			</div>
			<br> <font color='RED'><h4
					ng-show="status == 'fail' || status == 'success' ">{{message}}</h4></font>
			<br>
			<div>
				<table
					class="table table-striped table-condensed table-bordered table-hover responsive"
					datatable="ng" dt-options="dtOptions" id="dataTables-example">
					<thead>
						<tr>
							<th class="col-md-2">Branch Name</th>
							<th class="col-md-2">Contact Number</th>
							<th class="col-md-2">Email</th>
							<th class="col-md-2">Website</th>
							<th class="col-md-2">Address</th>
							<th class="col-md-2">Area</th>
							<th class="col-md-2">State</th>
							<th class="col-md-2">District</th>
							<th class="col-md-2">Taluka/City</th>
							<th class="col-md-2">Town/Village</th>
							<th class="col-md-2">Pin Code</th>
							<th class="col-md-2">Status</th>
							<th class="col-md-2" ng-show="roleId ==1 && !isUploadFailed">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="branch in branchList track by $index">
							<td class="col-md-2">{{ branch.name }}</td>
							<td class="col-md-2">{{ branch.contactNumber }}</td>
							<td class="col-md-2">{{ branch.contactEmail }}</td>
							<td class="col-md-2">{{ branch.websiteUrl }}</td>
							<td class="col-md-2">{{ branch.addressLine }}</td>
							<td class="col-md-2">{{ branch.area }}</td>
							<td class="col-md-2">{{ branch.state }}</td>
							<td class="col-md-2">{{ branch.district }}</td>
							<td class="col-md-2">{{ branch.taluka }}</td>
							<td class="col-md-2">{{ branch.city }}</td>
							<td class="col-md-2">{{ branch.pinCode }}</td>
							<td class="col-md-2">{{ branch.active == 'Y' ? 'Active' :
								'Inactive'}}</td>
							<td class="col-md-2" ng-show="roleId ==1 && !isUploadFailed">
								<a href="#" class="btn btn-xs btn-default" title="Edit"
								ui-sref="branch.edit({id :branch.id })"> <i
									class="fa fa-pencil"></i></a> <a href="#"
								class="btn btn-xs btn-default" title="Delete"
								ui-sref="branch.list" ng-click="deleteData(branch.id)"><i
									class="fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>