
<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">{{refundConfigHeaderValue}}</div>
		<div class="panel-body" ng-cloak>
			<form name="addDivision" ng-controller="validateDivisionForm"
				class="container-fluid	">
				<font color='RED'>
					<h4 ng-show="message">
						{{message}}</h4>
				</font>

				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="refundConfig.instituteId"
							ng-selected="refundConfig.instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList"
							autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="refundConfig.branchId"
							ng-selected="refundConfig.branchId" ng-change="getBranchRepeatConfiguration()"
							ng-options="branch.id as branch.name for branch in branchList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addDivision.branch.$invalid && !addDivision.branch.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h2 class="addStudent">
							Select to allow refund options 
						</h2>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowCreditCardRefund" id="allowCreditCardRefund"
								ng-model="refundConfig.allowCreditCardRefund" ng-check = "refundConfig.allowCreditCardRefund == 'Y'">
								Allow Credit Card Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowCreditCardPartialRefund"
								ng-check = "refundConfig.allowCreditCardPartialRefund == 'Y'"
								id="allowCreditCardPartialRefund" ng-model="refundConfig.allowCreditCardPartialRefund"> Allow Credit Card Partial Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowDebitCardRefund"
								ng-check = "refundConfig.allowDebitCardRefund == 'Y'"
								id="allowDebitCardRefund" ng-model="refundConfig.allowDebitCardRefund">Allow Debit Card Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowDebitCardPartialRefund" ng-check = "refundConfig.allowDebitCardPartialRefund == 'Y'"
								id="allowDebitCardPartialRefund" ng-model="refundConfig.allowDebitCardPartialRefund">Allow Debit Card Partial Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowNetBankingRefund" id="allowNetBankingRefund"
								ng-check = "refundConfig.allowNetBankingRefund == 'Y'"
								ng-model="refundConfig.allowNetBankingRefund">Allow Net Banking Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowNetBankingPartialRefund"
								ng-check = "refundConfig.allowNetBankingPartialRefund == 'Y'"
								id="allowNetBankingPartialRefund" ng-model="refundConfig.allowNetBankingPartialRefund">Allow Net Banking Partial Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowNeftRtgsRefund" id="allowNeftRtgsRefund"
								ng-check = "refundConfig.allowNeftRtgsPartialRefund == 'Y'"
								ng-model="refundConfig.allowNeftRtgsRefund">Allow Neft/Rtgs Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowNeftRtgsPartialRefund" id="allowNeftRtgsPartialRefund"
								ng-check = "refundConfig.allowNeftRtgsPartialRefund == 'Y'"
								ng-model="refundConfig.allowNeftRtgsPartialRefund">Allow Neft/Rtgs Partial Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowChequeDDRefund" id="allowChequeDDRefund"
										ng-check = "refundConfig.allowChequeDDRefund == 'Y'"
										ng-model="refundConfig.allowChequeDDRefund">Allow Cheque/DD Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> 
								<input type="checkbox" name="allowChequeDDPartialRefund" id="allowChequeDDPartialRefund"
									ng-check = "refundConfig.allowChequeDDPartialRefund == 'Y'"
									ng-model="refundConfig.allowChequeDDPartialRefund">Allow Cheque/DD Partial Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowCashRefund" id="allowCashRefund"
								ng-check = "refundConfig.allowCashRefund == 'Y'"
								ng-model="refundConfig.allowCashRefund">Allow Cash Refund
							</label>
						</div>
					</div>

					<div class="form-group col-md-4">
						<div class="checkbox">
							<label> <input type="checkbox" name="allowCashPartialRefund" id="allowCashPartialRefund"
								ng-check = "refundConfig.allowCashPartialRefund == 'Y'"
								ng-model="refundConfig.allowCashPartialRefund">Allow Cash Partial Refund
							</label>
						</div>
					</div>

				</div>
				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-8">
						<input type="button" class="btn btn-orange" value="Save"
							ng-click="save()" ng-disabled="addDivision.$invalid" /> <input
							type="button" class="btn btn-default" value="Cancel"
							ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>