<form name="searchForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Search Groups And Communities</h3>
	</div>

		<div class = "form-group col-md-12">
		<br>
			<label class = "col-md-2">Name </label>
      		<div class="col-md-6">
      			<input type="text" class="form-control" name = "name" 
      				ng-model="searchData.name" ng-required = "true">
      		</div>
      		<div class = "col-md-4"></div>	
		</div>
	
		<div class = "form-group col-md-12">
			<label class = "col-md-2"> </label>
			<div class="col-md-8">
				<button class = "btn btn-orange ng-binding"  ng-enter="searchGroup()" ng-click="searchGroup()" 
					ng-disabled="searchForm.$invalid" title = "{{searchData.name ? 'Search the group name' : 'Please enter group name'}}">
					
					Search
				</button>
				<button type="button" data-dismiss="modal" class = "btn btn-default" ng-enter="cancelPopup()"  ng-click="cancelPopup()" title=" Exit window">Cancel</button>
			</div>
		</div>
	
	</form>

	<font color = "red"><h5 class = "form-group col-md-12" ng-show = 'clickedForGroupSearch && !hasGroupSearchRecords'>No records found for this search.</h5></font>
	<div class = "form-group col-md-12" ng-show = "hasGroupSearchRecords">
		<br>
		<div id = 'popupSearchDiv' class = "form-group col-md-12">
			<table class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
				<thead>
					<tr>
						<th class = "col-xs-1">Select</th>
						<th class = "col-xs-11">Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="searchGroup in searchedGroups track by searchGroup.id">
						<td class = "col-xs-1"><input type="checkbox" ng-model="searchGroup.isSelected"></td>
						<td class = "col-xs-11">{{ searchGroup.name }}</td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
		<button class = "btn btn-default"  ng-click="addGroups()">Add</button>
	</div>
	
<div class="modal-footer"><br></div>	


	

