<div class="panel panel-default">
	<div class="panel-heading">
		Event List
	</div>

	<div class="panel-body" >
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
		      		<div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
				     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()" title ="Please select institute" 
				     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
				     	 </select>
		      		</div>
			   <div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" ng-show = '!isSingleBranch'  ng-hide = "roleId == 4">
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		title ="Please select branch"
		     	 		ng-selected = "branchId" ng-change = "changeYearList()"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
		    
		    <div class = "form-group col-md-12"  ng-hide = "roleId == 4">
		      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
		     	 		ng-init="academicYearId = academicYearList[0]['id']" title ="Please select academic year"
		     	 		ng-selected = "academicYearId" ng-disabled = true
		     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
		     	 		required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
	
		    <p ng-show = 'isSingleBranch == true'>
		      	<label ><h4 ng-show = 'isSingleBranch == true'>Branch : {{branchName}}</h4></label>
		    </p>
		    <div class = "form-group col-md-12">
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-8">
					<a class = "btn btn-orange" ui-sref="event.add" ng-click ="setSelectedData(instituteId, branchId)"
					 title = "Add New Event.">Add Event</a>
					
					<a title=" Show all events" class = "btn btn-orange btn-small" ng-show = "roleId == 4" 
						 ng-click = "showAllEvents()">
						Sent Events
					</a>

					<a title="Show my events" class = "btn btn-orange btn-small" ng-show = "roleId == 4" 
						ng-click = "showMyEvents()">
						Received Events
					</a>

					<a class = "btn btn-default" ng-disabled = "!branchId" ng-hide= "roleId == 4"
						data-trigger="hover" title = "{{!academicYearId ? 'Please select Institute and branch' : 'Upload xlsx file'}}"
						ng-click = "academicYearId ? uploadEvents() : ''">
			
						Upload Events
					</a>

					<a class = "btn btn-default" ng-show = "roleId == 4"
						data-trigger="hover" title = "Upload xlsx file"
						ng-click = "uploadEvents()">
			
						Upload Events
					</a>

					 <a class="btn btn-default btn-small" ng-disabled="!branchId" ng-hide= "roleId == 4"
						ng-click = "!branchId ? '' : downloadTemplate('template/download?excelFileName=eduqfix-upload-event-template.xlsx&branchId='+branchId)"
						title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading events'}}">
						Download Template
					</a>

					 <a class="btn btn-default btn-small" ng-show = "roleId == 4"
						ng-click = "downloadTemplate('template/download?excelFileName=eduqfix-upload-event-template.xlsx&branchId='+branchId)"
						title="Download excel template for uploading events">
						Download Template
					</a>

					<a class = "btn btn-default" ng-click = "branchId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!branchId" ng-show = "isSingleBranch != true && roleId != 4"
						title = "{{!branchId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
			
						Search
					</a>
				</div>
		   </div>
		</div>
	</div>

	<h4 ng-if = "title">{{title}}</h4>
	<font color = 'RED'>
		<h4 ng-show = "message">
			{{message}}
		</h4></font>
	<br ng-if = "roleId == 4">
	<div>
	<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
		class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Venue</th>
				<th>Start Date</th>
				<th>Start Time</th>
				<th>End Date</th>
				<th>End Time</th>
				<th>Recurring</th>
				<th>Reminder</th>
				<th>Reminder Time</th>
				<!-- <th>Selected Groups</th>
				<th>Selected Individuals</th> -->
				<th>For Student</th>
				<th>For Parent</th>
				<th>For Teacher</th>
				<th>For Vendor</th>
				<th>Frequency</th>
				<th ng-show = "!isAllEvent">Created By</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in events track by $index">
				<td>{{ event.title }}</td>
				<td>{{ event.description }}</td>
				<td>{{ event.venue }}</td>
				<td>{{ event.startDate | date : 'dd/MM/yyyy'}}</td>
				<td>{{ event.startTime | date : 'hh:mm a'}}</td>
				<td>{{ event.endDate | date : 'dd/MM/yyyy'}}</td>
				<td>{{ event.endTime | date : 'hh:mm a'}}</td>
				<td>{{ event.reccuring == 'Y' ? 'Yes' : 'No'}}</td>
				<td>{{ event.reminderSet == 'Y' ? 'Yes' : 'No'}}</td>
				<td>{{ event.reminderBefore }}</td>
				<!-- <td>{{ event.selectdGroups }}</td>
				<td>{{ event.selectedIndividuals }}</td> -->
				<td>{{ event.forStudent  == 'Y' ? 'Yes' : 'No'}}</td>
				<td>{{ event.forParent  == 'Y' ? 'Yes' : 'No'}}</td>
				<td>{{ event.forTeacher == 'Y' ? 'Yes' : 'No' }}</td>
				<td>{{ event.forVendor == 'Y' ? 'Yes' : 'No' }}</td>
				<td>{{ event.frequency}}</td>
				<td ng-show = "!isAllEvent">{{ event.sentByName}}</td>
				<td>
					<a href = "#" class="btn btn-xs btn-default" ng-show = "istecherSpecificEvents" title="View" ui-sref="event.view({id :event.id})">
						<i class="fa fa-eye"></i>
					</a> 
					<a href = "#"class="btn btn-xs btn-default" title="Edit" ng-hide = "istecherSpecificEvents" ui-sref="event.edit({id :event.id })"><i class="fa fa-pencil"></i></a> 
					<a href = "#"class="btn btn-xs btn-default" title="Delete" ng-hide = "istecherSpecificEvents" ui-sref="event.list" ng-click="deleteData(event.id)"><i class="fa fa-trash"></i></a>
					</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>