
<div>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
<!-- <div>
<h3 ng-show = "student.id == null">Student / Add Student</h3>
<h3 ng-show = "student.id != null">Student / Edit Student</h3>
</div> -->
<div class="panel panel-default">
	<div class="panel-heading">
		{{eventHeaderValue}}
	</div>
	<div class="panel-body">

<form name = "addEventForm" ng-controller="validateEventForm" class = "container-fluid"
autocomplete="off" enctype="multipart/form-data"> 
	<font color = 'RED'>
		<h4 ng-show = "status == 'fail' || status == 'success' ">
			{{message}}
		</h4>
	</font>
	
	<div class = "form-group col-md-12" ng-show = "roleId == 1">
      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "instituteId" ng-model = "event.instituteId" 
     	 		ng-selected = "event.instituteId" ng-change="changeBranchList()" title = "Please select institute"
     	 		ng-options="institute.id as institute.name for institute in instituteList" autofocus>
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
    </div>

 	<div class = "form-group col-md-12"  ng-hide = "roleId == 4">
      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "branchId" ng-model = "event.branchId" 
     	 	ng-selected = "event.branchId" ng-change="changeYearList()" title = "Please select branch"
     	 	ng-options="branch.id as branch.name for branch in branchList" ng-required = "roleId != 4 ? true : false">
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
    </div>
    
    <div class="form-group col-md-12"  ng-hide = "roleId == 4">
		<label class="col-md-2">Current Academic Year <span
			style="color: red">*</span></label>
		<div class="col-md-6">
			<select class="form-control" name="academicYearId" title = "Please select current academic year"
				ng-model="event.academicYearId" ng-disabled="true"
				ng-selected="event.academicYearId" 
				ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
				ng-required = "roleId != 4 ? true : false">
			</select>
			<p class="errorMessage"
				ng-show="addEventForm.academicyear.$invalid && !addEventForm.academicyear.$pristine">
				Please select year</p>
		</div>
		<div class="col-md-4"></div>
	</div>

    <div class = "form-group col-md-12">
      	<label class = "col-md-2">Name <span style = "color:red">*</span></label>
      	<div class = "col-md-6">
      		<input type="text" class="form-control col-md-6" maxlength = 45 ng-pattern="regExName"
      		title = "Please enter name" name="name" ng-model="event.title" required/>
   	  	<p class="errorMessage" ng-show="addEventForm.name.$invalid && !addEventForm.name.$pristine">
      		Please Add valid Event</p>
   	  	</div>
   	  	<div class = "col-md-4"></div>
    </div>
   

  	<div class = "form-group col-md-12">
      	<label class = "col-md-2">Recurring </label>
      	<div class="col-md-6">
	      	<div  class = "col-md-3">
	      		<input  type="checkbox" name="reccuring" id="isAllDay1" ng-click = "changeCheckboxValue(event.reccuring)"
	      		ng-required = "!event.endDate" value="Y" ng-model="event.reccuring" title="Check if you want recurring event">
	      	</div>
  		</div>
   	  	<div class = "col-md-4"></div>
   	</div>
  
    <div class = "form-group col-md-12" ng-show = "event.reccuring">
      <label class = "col-md-2">Reccuring For</label>
      <div class="col-sm-9">
         <div class="btn-group" data-toggle="buttons-checkbox">
	        <button type="button" class="btn btn-primary {{event.frequency == 'DAILY' ? 'focus' : ''}}" ng-required = "event.reccuring && !event.frequency" ng-model="event.frequency" btn-radio="'DAILY'">Daily</button>
	        <button type="button" class="btn btn-primary {{event.frequency == 'WEEKLY' ? 'focus' : ''}}" ng-required = "event.reccuring && !event.frequency" ng-model="event.frequency" btn-radio="'WEEKLY'">Weekly</button>
	        <button type="button" class="btn btn-primary {{event.frequency == 'MONTHLY' ? 'focus' : ''}}" ng-required = "event.reccuring && !event.frequency" ng-model="event.frequency" btn-radio="'MONTHLY'">Monthly</button>
	        <button type="button" class="btn btn-primary {{event.frequency == 'YEARLY' ? 'focus' : ''}}" ng-required = "event.reccuring && !event.frequency" ng-model="event.frequency" btn-radio="'YEARLY'">Yearly</button>
	    </div>
      </div>
   	  <div class = "col-md-4"></div>
   </div>
  <!--  Value for event.frequency == 'WEEKLY' : {{event.frequency == 'WEEKLY'}}
   Value for event.recurring  {{event.reccuring}}
   Value for event.frequency == 'WEEKLY' && event.recurring : {{event.reccuring && event.frequency == 'WEEKLY'}} -->

   <div class="form-group col-md-12" ng-show = "event.reccuring && event.frequency == 'MONTHLY'">
		<label class="col-md-2">Select Day <span
			style="color: red">*</span></label>
		<div class="col-md-6">
			<select class="form-control" name="academicYearId" title = "Please select monthly day for recurring"
				ng-model="event.byDate"
				ng-selected="event.byDate"
				ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
				ng-required = "event.frequency == 'MONTHLY' ">
				<!-- <option value = "" ng-selected = "true">Select Day of Month</option> -->
			</select>
			<p class="errorMessage" ng-show="!event.byDate">
				Select Day when monthly</p>
		</div>
		<div class="col-md-4"></div>
	</div>
   <div class = "form-group col-md-12" ng-show = "event.reccuring && event.frequency == 'WEEKLY'">
      <label class = "col-md-2">Event Days</label>
      <div class="col-sm-9">
	     <div class="btn-group" data-toggle="buttons-checkbox">
			<label ng-repeat="day in dayArray">
			 
	        <input type = "checkbox" ng-model = "event.eventWeekDays[day.value]"
	        	ng-checked = "event.eventWeekDays[day.value] == 'true'"
	        	ng-required = "event.frequency == 'WEEKLY' && !isDaySelected()" 
	        	 name = "Monday" value = "{{day.value}}" /> {{day.label}}
			</label>
    	</div>
      </div>
   	  <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Start Date (DD/MM/YYYY) <span style = "color:red">*</span></label>
      <div class="col-md-6">
	       <p class="input-group">
	      		<input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy" min-date = "acadmicStartDate"
	      			id = "startDate" name = "startDate" max-date = "acadmicEndDate" title = "Please select start date"
	      			ng-focus="isOpenStartDate = true" is-open = "isOpenStartDate" close-text="Close" 
	      			ng-model="event.startDate" ng-required="true"/>
	
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="isOpenStartDate = true"><i class="fa fa-calendar"></i></button>
	              </span>
			</p>
			<p class="errorMessage" ng-show="addEventForm.startDate.$error.startDateRequired == 'true'">
				Start date is mandatory.</p>
			<p class="errorMessage" ng-show="addEventForm.startDate.$error.beforeAcadmicYearStart == 'true'">
				Start date must be in between acadmic year</p>
			<p class="errorMessage" ng-show="addEventForm.startDate.$error.beforeToday == 'true'">
				Start date must be in future</p>
      </div>
      <div class = "col-md-4"></div>
   </div>

  <div class = "form-group col-md-12">
      <label class = "col-md-2">Start Time (HH:MM AM/PM) <span style = "color:red">*</span></label>
      <div class="col-md-6">
      		<!-- <input type="time" name="startTime" ng-model="event.startTime" required/> -->
      		<p class="input-group">
                <input type="text" class="form-control" valid-time
	                datetime-picker="hh:mm a" ng-model="event.startTime" enable-date="false" title = "Please select start time"
	                is-open = "isOpenStartTime" ng-required = "true" id = "startTime" name = "startTime"
	                timepicker-options="ctrl.timeOptions" close-on-selection="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="isOpenStartTime = true">
                    	<i class="fa fa-clock-o"></i>
                    </button>
                </span>
            </p>
      </div>
      <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">End Date (DD/MM/YYYY) <span style = "color:red">*</span></label>
      <div class="col-md-6">
      <p class="input-group">
      		<input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open = "isOpenEndDate" 
      			id = "endDate" name = "endDate" ng-change = "isEndDateChanged = true" title = "Please select end date"
      			ng-focus=" isOpenEndDate = event.startDate ? true : false" ng-readonly="!event.startDate" min-date = "event.startDate" 
      			max-date = "acadmicEndDate" ng-required = "!event.reccuring" close-text="Close" ng-model="event.endDate" />

           <span class="input-group-btn">
                <button type="button"  ng-disabled ="!event.startDate" class="btn btn-default" ng-click="isOpenEndDate = true"><i class="fa fa-calendar"></i></button>
           </span>
      </p>
      <p>
      	<span class="errorMessage" ng-show="addEventForm.endDate.$error.endBeforeStart">End date must be on or after start date.</span>
      </p>

      </div>
      <div class = "col-md-4"></div>
   </div>

  <div class = "form-group col-md-12">
      <label class = "col-md-2">End Time (HH:MM AM/PM) <span style = "color:red">*</span></label>
      <div class="col-md-6">
      		<p class="input-group">
                <input type="text" class="form-control" id = "endTime" name = "endTime" valid-time ng-change = 'isEndTimeChanged = true'
	                datetime-picker="hh:mm a" ng-model="event.endTime" enable-date="false" ng-disabled = "!event.startTime"
	                is-open = "isOpenEndTime" ng-required= "true" close-on-selection="true" title = "Please select end time" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="isOpenEndTime = true" ng-disabled = "!event.startTime">
                    	<i class="fa fa-clock-o"></i>
                    </button>
                </span>
            </p>
	 		<p>
	      		<span class="errorMessage" ng-show="addEventForm.endTime.$error.endBeforeStart">
	      			End time must be after start time.
	      		</span>
	      	</p>
      </div>
      <div class = "col-md-4"></div>
   </div>

  <div class = "form-group col-md-12">
      <label class = "col-md-2">Venue <span style = "color:red">*</span></label>
      <div class="col-md-6">
      		<input type="text" class="form-control" ng-pattern="regExVenue" maxlength = 100 name = "venue"
      		title = "Please enter venue" ng-model="event.venue" required>
     <p class="errorMessage" ng-show="addEventForm.venue.$invalid && !addEventForm.venue.$pristine">
      Please Add valid Venue</p>
      </div>
      <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Summary </label>
      <div class="col-md-6">
      		<input type="text" class="form-control" maxlength = 45 name = "summary"
      		title = "Please enter summary" ng-model="event.summary" >
      </div>
      <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Description </label>
      <div class="col-md-6">
      		<textarea class="form-control" rows="3" name = "description" maxlength = 255
      		title = "Please enter description" ng-model="event.description"></textarea>
      </div>
      <div class = "col-md-4"></div>
   </div>

<div class = "form-group col-md-12">
		<label class = "col-md-2">Groups And Communities </label>
		<div class="col-md-6">
			<a class = "btn btn-orange" ng-disabled="!event.branchId" name="addGroup" ng-click = "!event.branchId?'':groupPopup()" 
				title="Select Groups And Communities">Select Groups And Communities</a>
		
		</div>
   	  <div class = "col-md-4"></div>
   </div>

 	<div class = "form-group col-md-12" ng-show = "event.groupList.length > 0">
	    		<div class="col-md-10">
	    			<table class = "table table-striped table-condensed table-bordered table-hover table-bordered" ng-required = "!event.groupIdList" id="dataTables-example">
				<thead>
				<tr>
					<th class = "col-md-2">Name</th>
					<th class = "col-md-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="group in event.groupList track by group.id">
					<td class = "col-md-2">{{ group.name }}</td>
					<td class = "col-md-2"><a href = "#" ng-click="removeGroup(group.id)">Remove</a></td>
				</tr>
			</tbody>
			</table>
	    </div>
      	<div class = "col-md-4"></div>	
	</div>

   <div class = "form-group col-md-12">
		<label class = "col-md-2">Individual </label>
		<div class="col-md-6">
					<a class = "btn btn-orange" ng-disabled="!event.branchId" name="addIndivisual" ng-click = "!event.branchId?'':popup()" title="Select individuals">Select Individual</a>
				<!-- <a href= "#" name="addIndivisual" id="addIndivisual" ng-click = "popup()" ng-model="event.indivisual">Add Indivisual Student</a> -->
		
		</div>
   	  <div class = "col-md-4"></div>
   </div>

 	<div class = "form-group col-md-12" ng-show = "event.individuals.length > 0">
	    		<div class="col-md-10">
	    			<table class = "table table-striped table-condensed table-bordered table-hover table-bordered" ng-required = "!event.groupIdList" id="dataTables-example">
				<thead>
				<tr>
					<th class = "col-md-2">Name</th>
					<th class = "col-md-2">Role</th>
					<th class = "col-md-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="individual in event.individuals track by $index">
					<td class = "col-md-2">{{ individual.name }}</td>
					<td class = "col-md-2">{{ individual.role }}</td>
					<td class = "col-md-2"><a href = "#" ng-click="removeIndividual(individual.id)">Remove</a></td>
				</tr>
			</tbody>
			</table>
	    </div>
      	<div class = "col-md-4"></div>	
	</div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Reminder </label>
      <div class="col-md-6">
      <div  class = "col-md-3">
      	<input  type="checkbox" name="reminderSet" id="reminderSet1"  value="Y" ng-model="event.reminderSet" title="Do you want reminder?">
      </div>
  </div>
   	  <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Reminder Before(in Minutes) </label>
      <div class="col-md-6">
      		<input type="text" class="form-control" id ="name" name = "summary" 
      			ng-readonly="!event.reminderSet" ng-required="event.reminderSet" title="Enter minutes to remind you before event"
      			ng-pattern="regExReminder" maxlength = 10 ng-model="event.reminderBefore">
		 	<p class="errorMessage" ng-show="addEventForm.summary.$invalid && !addEventForm.summary.$pristine">
      			Please Add valid Reminder</p>
      </div>
      <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Event For</label>
      <div class="col-md-8">
      	<div class="col-md-2">
			<label >      
		      	<input  type="checkbox" name="forParent" id="forParent" ng-click = "eventForChanged('parent')"
		      		ng-required = "!event.forTeacher && !event.forStudent && !event.forVendor" ng-model="event.forParent" title=" Is this event for parents"> Parent
	      	</label>
      	</div>
      	<div class="col-md-2">
	      	<label >
		      	<input  type="checkbox" name="forStudent" id="forStudent" ng-click = "eventForChanged('student')"
		      		value="Y" ng-required = "!event.forTeacher && !event.forParent && !event.forVendor" ng-model="event.forStudent" title="Is this event for students"> Student
	      	</label>	
      	</div>
      	<div class="col-md-2">
	      	<label>
		      	<input  type="checkbox" name="forTeacher" id="forTeacher" value="Y"
		      		ng-required = "!event.forStudent && !event.forParent && !event.forVendor" ng-model="event.forTeacher" title="Is this event for teachers"> Teacher
	      	</label>
      	</div>
      	<div class="col-md-2">
	      	<label>
		      	<input  type="checkbox" name="forVendor" id="forVendor" value="Y"
		      		ng-required = "!event.forStudent && !event.forParent && !event.forTeacher" ng-model="event.forVendor" title=" Is this event for vendors"> Vendor
	      	</label>
      	</div>
      	<div class = "clearfix"></div>
	  <!-- <p class = "errorMessage" ng-show = 'parentRequiredWhenStudent'>Event will display to parent also when event for student.</p> -->
	  </div>
  </div>


<!--   <div class = "form-group col-md-12">
      <label class = "col-md-2">For Student </label>
      <div class="col-md-6">
      <div  class = "col-md-3">
      	
      </div>
  </div>
  </div>
  
    
  <div class = "form-group col-md-12">
      <label class = "col-md-2">For Teacher </label>
      <div class="col-md-6">
      <div  class = "col-md-3">
      	
      </div>
  </div>
  </div>
 -->
  <div class = "form-group col-md-12">
      <label class = "col-md-2">Attachment </label>
      <div class="col-md-6">
      		<input type="file" name="file" ngf-select ng-model="event.image" 
      			ng-change = "event.fileChanegd = true"/>
      		<img height="50" ngf-src="event.imageUrl" class="thumb" />
      </div>
      <div class = "col-md-4"></div>
   </div>

  <input type="hidden" ng-model="event.id"/>
  <div class = "form-group col-md-12">
 	<label class = "col-md-2"></label>
 	<div class="col-md-8">
	  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()" 
	  	ng-disabled="addEventForm.$invalid || isSaveDisabled || !isGroupOrIndividualSelected" title="Add event"/>
	
	  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" title="Exit this form"/>	
    </div>
 </div>
</form>
</div>
</div>
</div>