
<div>
	<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">
			{{standardHeaderValue}}
		</div>
		<div class="panel-body" ng-cloak>
			<form name = "addStandard" ng-controller="validateStandardForm" class = "container-fluid	"> 
				 <font color = 'RED'>
					<h4 ng-show = "status == 'fail' || status == 'success' ">
						{{message}}
					</h4>
				 </font>
				 <div class = "form-group col-md-12" ng-show = "roleId == 1">
				      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
				      <div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "standard.instituteId" 
				     	 		ng-selected = "standard.instituteId" ng-change="changeBranchList()"
				     	 		ng-options="institute.id as institute.name for institute in instituteList" autofocus>
				     	 </select>
				      </div>
					  <div class = "col-md-4"></div>	
			     </div>

				<div class = "form-group col-md-12">
				      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
				      <div class="col-md-6">
					      <select class="form-control" name = "branchId" ng-model = "standard.branchId" 
					      		ng-selected = "standard.branchId" ng-change = "changeDivisionList()"
					      		ng-options="branch.id as branch.name for branch in branchList" required>
					      </select>
					      <p class="errorMessage" 
					      		ng-show="addStandard.branch.$invalid && !addStandard.branch.$pristine">
				      			Please select branch
				      	  </p>
					  </div>
					  <div class = "col-md-4"></div>	
			    </div>
			    
			    <div class="form-group col-md-12">
					<label class="col-md-2">Current Academic Year <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							ng-model="standard.academicYearId" ng-disabled="true"
							ng-selected="standard.academicYearId" 
							ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addStandard.academicyear.$invalid && !addStandard.academicyear.$pristine">
							Please select year</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class = "form-group col-md-12">
					<label class = "col-md-2">Display Name <span style = "color:red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength = 40 
							name="displayName" ng-model="standard.displayName" ng-required = 'true'/>
						<p class="errorMessage" 
							ng-show="addStandard.displayName.$invalid && !addStandard.displayName.$pristine">
						 	Please insert Display Name.
						</p>
					</div>
					<div class = "col-md-4"></div>	
			   </div>

			   <div class = "form-group col-md-12">
					<label class = "col-md-2">Code </label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength = 10 
							name="code" ng-model="standard.code" />
						<p class="errorMessage" 
							ng-show="addStandard.code.$invalid && !addStandard.code.$pristine">
						 	Please insert Code.
						</p>
					</div>
					<div class = "col-md-4"></div>	
			   </div>

			   <div class = "form-group col-md-12">
				      <label class = "col-md-2">Division </label>
				      <div class="col-md-6">
					      <select class="form-control" name = "branchId" ng-model = "standard.divisionIdList" 
					      		ng-selected = "standard.divisionIdList" multiple = 'true'
					      		ng-options="division.id as division.displayName for division in divisionList">
					      </select>
					      <!-- <p class="errorMessage" 
					      		ng-show="addStandard.division.$invalid && !addStandard.division.$pristine">
				      			Please select Standard
				      	  </p> -->
					  </div>
					  <div class = "col-md-4"></div>	
			    </div>

			  <input type="hidden" name = 'id' ng-model="standard.id" />
			  <div class = "form-group col-md-12">
				      <label class = "col-md-2"></label>
				      <div class="col-md-6">
						  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()" 
						  		ng-disabled="addStandard.$invalid"/>
						  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
					  </div>
			 </div>
			</form>
		</div>
	</div>
</div>