
<div>
<div class="panel panel-default">
	<div class="panel-heading">
	Standard/Course List
	</div>
	<div class="panel-body" ng-cloak>
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
	      		<div class="col-md-6">
			     	<select class="form-control" name = "instituteId" ng-model = "instituteId" 
		     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
		     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
			     	</select>
	      		</div>
			   <div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" ng-show = '!isSingleBranch'>
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId" ng-change = "changeYearList()"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12">
		      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
		     	 		ng-init="academicYearId = academicYearList[0]['id']"
		     	 		ng-selected = "academicYearId" ng-disabled = true
		     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
		     	 		required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" ng-show = '!isSingleBranch'>
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-6">
					<a class = "btn btn-orange" ui-sref="standard.add" ng-click ="setSelectedData(instituteId, branchId)"
						title = "Add New Standard.">Add Standard/Course</a>
					<!-- 
					<a class = "btn btn-default" ng-disabled = "!branchId" 
						data-trigger="hover" title = "{{!branchId ? 'Please select Branch First !' : 'Upload Standard CSV.'}}"
						ng-click = "branchId ? openUploadStandardDialog() : ''">
						
						Upload Standard
					</a> -->

					<a class = "btn btn-default" ng-click = "academicYearId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!academicYearId" ng-show = "isSingleBranch != true"
						title = "{{!academicYearId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
						
						Search
					</a>
				</div>
			</div>
		</div>
	</div>
	<br>
		<font color = 'RED'>
			<h4 ng-show = "message">
				{{message}}
			</h4>
		</font>
		<br>
	<div>	
	<table dt-options="dtOptions" datatable="ng" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-2">Display Name</th>
				<th class = "col-md-1">Divisions</th>
				<th class = "col-md-1">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="standard in standardList">
				<td class = "col-md-2">{{ standard.displayName }}</td>
				<td class = "col-md-1">{{ standard.divisions }}</td>
				<td class = "col-md-2"><a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="standard.edit({id :standard.id})"><i class="fa fa-pencil"></i></a> 
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="standard.manage" ng-click="deleteData(standard.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>