<form name="studentParentProfileForm"
	ng-controller="validateStudentForm">
	<div class="modal-header">
		<h3 class="modal-title">Add Parent</h3>
	</div>

	<div class="form-group col-md-12">
		<label for="idfirstname" class="control-label"> First Name <span><font
				color="red"> * </font></span>
		</label> <input type="text" class="form-control" id="idfirstname"
			name="firstname" ng-model="studentParent.firstname"
			placeholder="First Name" required>
		<p class="errorMessage"
			ng-show="studentParentProfileForm.firstname.$invalid && !studentParentProfileForm.firstname.$pristine">
			Please enter first name</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idMidddleName" class="control-label"> Middle Name
		</label> <input type="text" class="form-control" id="idMidddleName"
			name="middlename" ng-model="studentParent.middlename"
			placeholder="Middle Name">
		<p class="errorMessage"
			ng-show="studentParentProfileForm.middlename.$invalid && !studentParentProfileForm.middlename.$pristine">
			Please enter middle name</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idLastName" class="control-label"> Last Name <span
			style="color: red">*</span>
		</label> <input type="text" class="form-control" id="idLastName"
			ng-model="studentParent.lastname" name="lastname"
			placeholder="Last Name" required>
		<p class="errorMessage"
			ng-show="studentParentProfileForm.middlename.$invalid && !studentParentProfileForm.middlename.$pristine">
			Please enter last name</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idParentDob" class="control-label"> Date Of Birth
			(DD/MM/YYYY) </label> <input type="text" class="form-control" name="dob"
			valid-date uib-datepicker-popup="dd/MM/yyyy" max-date="maxDate"
			title="Please enter birth date." ng-model="studentParent.dateOfBirth"
			is-open="isopenparentdob" close-text="Close" /> <span
			class="input-group-btn">
			<button type="button" class="btn btn-default" ng-disabled="isView"
				ng-click="isopenparentdob = true">
				<i class="fa fa-calendar"></i>
			</button>
		</span>
		<p class="errorMessage"
			ng-show="studentParentProfileForm.dob.$invalid && !studentParentProfileForm.dob.$pristine">
			Please enter valid birthdate.</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idRelation" class="control-label"> Relation <span><font
				color="red"> * </font></span>
		</label> <select id="idRelation" ng-model="studentParent.relationId"
			name="relation" class="form-control" ng-change="updateGender()"
			ng-required="true"
			ng-options="relation.value as relation.text for relation in relations">
		</select>
		<p class="errorMessage"
			ng-show="studentParentProfileForm.relation.$invalid && !studentParentProfileForm.relation.$pristine">
			Please enter relation</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idGender" class="control-label">Gender</label> <select
			id="idGender" ng-model="studentParent.gender" name="gender"
			class="form-control" ng-readonly="isGenderReadOnly"
			ng-options="gender.value as gender.text for gender in genders">
		</select>
		<p class="errorMessage"
			ng-show="studentParentProfileForm.gender.$invalid && !studentParentProfileForm.gender.$pristine">
			Please enter gender.</p>
	</div>

	<div class="form-group col-md-12">
		<label for="userId" class="control-label">User Id</label>

			<input type="text" class="form-control" ng-disabled="isView"
				maxlength=45 title="Please enter User Id." name="parentuserid" placeholder="User Id"
				ng-model="studentParent.parentUserId" />
			<p class="errorMessage"
				ng-show="studentParentProfileForm.parentuserid.$invalid && !addStudent.parentuserid.$pristine">
				Please enter the user id.</p>
		
	
	</div>

	<div class="form-group col-md-12">
		<label for="idEmail" class="control-label"> E-mail Address </label> <input
			type="text" class="form-control" id="idEmail" ng-pattern="regExEmail"
			name="emailAddress" ng-model="studentParent.email"
			placeholder="Email">
		<p class="errorMessage"
			ng-show="studentParentProfileForm.emailAddress.$invalid && !studentParentProfileForm.emailAddress.$pristine">
			Please enter email address</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idPrimaryContact" class="control-label"> Primary
			Mobile </label> <input type="text" class="form-control" id="idPrimaryContact"
			ng-pattern="regExMobile" maxlength=10 name="primaryContact"
			ng-model="studentParent.primaryContact" placeholder="Primary Mobile">

		<p class="errorMessage"
			ng-show="studentParentProfileForm.primaryContact.$invalid && !studentParentProfileForm.primaryContact.$pristine">
			Please enter 10 digit mobile number</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idSecondaryContact" class="control-label">
			Secondary Mobile </label> <input type="text" class="form-control"
			id="idSecondaryContact" maxlength=10 ng-pattern="regExMobile"
			ng-model="studentParent.secondaryContact" name="secondaryContact"
			placeholder="Secondary Mobile">
		<p class="errorMessage"
			ng-show="studentParentProfileForm.secondaryContact.$invalid && !studentParentProfileForm.secondaryContact.$pristine">
			Please enter 10 digit mobile number</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idAddress" class="control-label"> Address</label>

		<textarea class="form-control" id="idAddress"
			ng-model="studentParent.addressLine" placeholder="Address"
			name="addressLine1">
				<p class="errorMessage"
				ng-show="studentParentProfileForm.addressLine1.$invalid && !studentParentProfileForm.addressLine1.$pristine">
	      			Please enter address
	      		</p>
		</textarea>

	</div>

	<div class="form-group col-md-12">
		<label for="idArea" class="control-label"> Area </label> <input
			type="text" class="form-control" id="idArea" name="area"
			ng-pattern="regExArea" ng-model="studentParent.area"
			placeholder="Area">
		<p class="errorMessage"
			ng-show="studentParentProfileForm.area.$invalid && !studentParentProfileForm.area.$pristine">
			Please enter area</p>
	</div>

	<div class="form-group col-md-12">
		<label for="idCity" class="control-label"> City</label> <input
			type="text" class="form-control" id="idCity" name="city"
			ng-pattern="regExCity" ng-model="studentParent.city"
			placeholder="City">
		<p class="errorMessage"
			ng-show="studentParentProfileForm.city.$invalid && !studentParentProfileForm.city.$pristine">
			Please enter Town/Village</p>

	</div>

	<div class="form-group col-md-12">
		<label for="idPinCode" class="control-label"> Pin Code</label> <input
			type="text" class="form-control" id="idPinCode" name="pincode"
			ng-pattern="regExPinCode" ng-model="studentParent.pincode"
			maxlength=6 placeholder="Pin Code">
		<p class="errorMessage"
			ng-show="studentParentProfileForm.pincode.$invalid && !studentParentProfileForm.pincode.$pristine">
			Please enter pincode</p>
	</div>

	<div class="form-group col-md-12">
		<label class="control-label">Profession </label> <select
			class="form-control" name="instituteId"
			ng-model="studentParent.profession_id"
			ng-selected="student.instituteId" title="Please select institute."
			ng-options="profession.id as profession.name for profession in professionList">

			<option value="" selected>Select Profession</option>
		</select>
	</div>

	<div class="form-group col-md-12">
		<label class="control-label">Income Range </label> <select
			class="form-control" name="instituteId"
			ng-model="studentParent.income_id"
			title="Please select income range."
			ng-options="incomeRange.id as incomeRange.name for incomeRange in incomeRangeList">

			<option value="" selected>Select Profession</option>
		</select>
	</div>

	<div class="form-group col-md-12">
		<label class="control-label">Create Login</label> <select
			class="form-control" name="createLogin"
			ng-model="studentParent.createLogin"
			title="Please select to create login."
			ng-disabled="isParentCreateLoginAllowed">

			<option value="" selected>Select to create login</option>
			<option value="Y">Yes</option>
			<option value="N">No</option>
		</select>
	</div>

	<div class="form-group col-md-12">
		<font color='RED'>
			<h5 ng-show="isStudentParentExistMsg">
				{{isStudentParentExistMsg}}</h5>
		</font>
	</div>
	<div class="form-group col-md-12" ng-hide="isShowDetails">
		<div class="col-md-12">
			<button type="submit" ng-click="addParent()"
				ng-disabled="studentParentProfileForm.$invalid"
				class="btn btn-orange btn-small">Save</button>
			<button class="btn btn-default btn-small" ng-click="cancelPopup()">Cancel</button>
		</div>
	</div>
</form>
<div class="modal-footer">
	<br>
</div>

