<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			Student List
		</div>
		<div class="panel-body" ng-cloak>
			<div class="well">
				<div class="row">
					<div class = "form-group col-md-12" ng-show = "roleId == 1 || roleId == 8">
			      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
				      		<div class="col-md-6">
						     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
						     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
						     	 		title ="Select institute name"
						     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
						     	 </select>
				      		</div>
					   <div class = "col-md-4"></div>	
				    </div>
					<div class = "form-group col-md-12" ng-hide = "roleId == 4">
				      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
				      	<div class="col-md-6">
				     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
				     	 		ng-selected = "branchId" title ="Select branch name"
				     	 		ng-change = "changeStandardList()"
				     	 		ng-options="branch.id as branch.name for branch in branchList" required>
				     	 	</select>
				      	</div>
					   	<div class = "col-md-4"></div>	
				    </div>
					
					<div class = "form-group col-md-12">
				      	<label class = "col-md-2">Standard/Course </label>
				      	<div class="col-md-6">
					  		<select class="form-control" name = "standardId" ng-change="changeDivisionList()" ng-model = "standardId"
					     	 	title = "Please select standard." ng-options="standard.id as standard.displayName for standard in standardList" >
					     	 	<option ng-selected="true" value="">All</option>
					 	  	</select>
					  	</div>
					   	<div class = "col-md-4"></div>	
				   	</div>

				  	<div class = "form-group col-md-12">
				      	<label class = "col-md-2">Division </label>
				      	<div class="col-md-6">
					      <select class="form-control" name = "divisionId" ng-model = "divisionId" ng-selected = 'divisionId'
					     	 	title = "Please select division." ng-options="division.id as division.displayName for division in divisionList" >
					     	 	<option ng-selected="true" value="">All</option>
					 	  </select>
					  	</div>
					   	<div class = "col-md-4"></div>	
				   	</div>

					<div class = "form-group col-md-12">
				      	<label class = "col-md-2"></label>
				      	<div class="col-md-10">
							<a class = "btn btn-orange btn-small" ui-sref="student.add" ng-if = "roleId != 4" 
								ng-click ="setSelectedData(instituteId, branchId, standardId, divisionId)" 
								title = "Add New Student." ng-hide="roleId == 8">Add Student</a>
			
							<a class = "btn btn-default btn-small" ng-if = "roleId != 4"
								ng-click = "branchId ? uploadStudents() : ''"
								data-trigger="hover" ng-disabled = "!branchId" 
								title = "{{!branchId ? 'Please select Institute and Branch first!' : 'Upload student Excel'}}" ng-hide="roleId == 8">
								
								Upload Students
							</a>

							<a class = "btn btn-default btn-small" ng-if = "roleId != 4"
								ng-click = "branchId ? uploadUpdateStudents() : ''"
								data-trigger="hover" ng-disabled = "!branchId" 
								title = "{{!branchId ? 'Please select Institute and Branch first!' : 'Bulk Upload Update student Excel'}}" ng-hide="roleId == 8">

								Upload Update Students
							</a>
							
							<br/>
							<a class="btn btn-default btn-small" ng-disabled="!branchId" ng-if = "roleId != 4"
								ng-click = "!branchId ? '' : downloadTemplate('template/download?excelFileName=eduqfix-upload-student-template.xlsx&branchId='+branchId)"
								title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading students'}}" ng-hide="roleId == 8">
								Download Template
							</a>

							<a class="btn btn-default btn-small" ng-disabled="!branchId" ng-if = "roleId != 4"
								ng-click = "!branchId ? '' : downloadTemplateToUpdate('students/downloadStudentsToUpdate?excelFileName=eduqfix-upload-student-template.xlsx&branchId='+branchId)"
								title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading students'}}" ng-hide="roleId == 8">
								Download To Update
							</a>
							
							<a class = "btn btn-default btn-small"
								ng-click = "branchId ? batchUploadStudents() : ''"
								data-trigger="hover" ng-disabled = "!branchId" 
								title = "{{!branchId ? 'Please select Institute and Branch first!' : ' Upload student Excel'}}" ng-hide="roleId == 8">
								
								Batch Upload
							</a>

                           <a class = "btn btn-default btn-small" ng-if = "roleId != 4"
								ng-click = "branchId ? checkUploadStatus() : ''"
								data-trigger="hover" ng-disabled = "!branchId" 
								title = "{{!branchId ? 'Please select Institute and Branch first!' : ' Upload student Excel'}}" ng-hide="roleId == 8">

						         Check Upload Status
							</a>

							<a class = "btn btn-default" ng-click = "branchId ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled = "!branchId"
								ng-show = "isSingleBranch != true"
								title = "{{!branchId ? 'Please select Branch First !' : 'Click to filter table by branch.'}}">
								Search
							</a>

							<a class = "btn btn-orange btn-small"
								ng-click = "branchId ? exportToExcel() : ''"
								data-trigger="hover" ng-disabled = "!branchId" 
								title = "{{!branchId ? 'Please select Institute and Branch first!' : 'Export student in excel.'}}" ng-hide="roleId == 8">

								Export To Excel
							</a>

							 <a class = "btn btn-orange btn-small"
								ng-click = "branchId ? sendNotifications() : ''"
								data-trigger="hover" ng-disabled = "!branchId" 
								title = "{{!branchId ? 'Please select Institute and Branch first!' : 'Send notifications to all parents and students'}}" ng-hide="roleId == 8">

								Send Notifications
							</a>

						</div>
				  </div>
				</div>
			</div>

			<font color = 'RED'>
				<h4 ng-show = "status == 'fail' || status == 'success' ">
				{{message}}
				</h4>
			</font>
			<br>
			<div>
				<table datatable="" id = "students" dt-options="dtOptions" dt-columns="dtColumns"  
					class = "table table-striped table-condensed table-bordered table-hover">
					<!-- <thead>
						<tr>
							<th>First Name</th>
							<th >Surname</th>
							<th>Date of Birth</th>
							<th>Gender</th>
							<th>Mobile No</th>
							<th>Email</th>
							<th>Standard/Course</th>
							<th>Division</th>
							<th>Fees Code</th>
							<th>Roll Number</th>
							<th>Registration Code</th>
							<th>Address</th>
							<th>Area</th>
							<th>Town/Village</th>
							<th>Pin Code</th>
							<th>Religion</th>
							<th>Caste</th>
							<th>State</th>
							<th>District</th>
							<th>Taluka/City</th>
							<th>Status</th>
							<th ng-show = "!isUploadingFailed">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in students track by $index">
							<td>{{ student.firstname }}</td>
							<td>{{ student.surname }}</td>
							<td>{{ student.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
							<td>{{ student.gender == 'M' ? 'Male' : 'Female'}}</td>
							<td>{{ student.mobile }}</td>
							<td >{{ student.emailAddress }}</td>
							<td>{{ student.standardName }}</td>
							<td>{{ student.divisionName }}</td>
							<td>{{ student.feesCodeName }}</td>
							<td>{{ student.rollNumber }}</td>
							<td>{{ student.registrationCode }}</td>
							<td>{{ student.addressLine1 }}</td>
							<td>{{ student.area }}</td>
							<td>{{ student.city }}</td>
							<td>{{ student.pincode }}</td>
							<td>{{ student.religion }}</td>
							<td>{{ student.caste }}</td>
							<td>{{ student.state }}</td>
							<td>{{ student.district }}</td>
							<td>{{ student.taluka }}</td>
							<td>{{ student.active == "Y" ? "Active" : "Inactive" }}</td>
							<td ng-show = "!isUploadingFailed">
								<a href = "#" ng-if = "roleId != 4" class="btn btn-xs btn-default" title="Edit" ui-sref="student.edit({id :student.id })"><i class="fa fa-pencil"></i></a>  
								<a href = "#" ng-if = "roleId != 4" class="btn btn-xs btn-default" title="Delete" ui-sref="student.list" ng-click="deleteData(student.id)"><i class="fa fa-trash"></i></a>
								<a href = "#" ng-if = "roleId == 4" class="btn btn-xs btn-default" title="Delete" ui-sref="student.view({id :student.id })" ><i class="fa fa-eye"></i></a>
							</td>
						</tr>
					</tbody> -->
				</table>
			</div>
		</div>
	</div>
</div>