
<div style="margin-top:100px;margin-left:150px">
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
<!-- <div>
<h3 ng-show = "student.id == null">Student / Add Student</h3>
<h3 ng-show = "student.id != null">Student / Edit Student</h3>
</div> -->

<form name = "addStudent" class = "container-fluid	"> 

   <div class = "form-group col-md-12">
      <label class = "col-md-2" >Academic year<span style = "color:red">*</span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "State" ng-model = "student.state" required>
 		 	<option value = "2012-13">2012-13</option>
 		 	<option value = "2013-14">2013-14</option>
  			<option value = "2014-15">2014-15</option>
 		 	<option value = "2015-16">2015-16</option>
	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>

	<div class = "form-group col-md-12">
      <label class = "col-md-2" >Branch Name<span style = "color:red">*</span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "branchName" ng-model = "student.branchName" required>
 		 	<option value = "Computer">Computer</option>
 		 	<option value = "Mechanical">Mechanical</option>
 		 	<option value = "Civil">Civil</option>
	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2" >Level<span style = "color:red">*</span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "State" ng-model = "student.state" required>
 		 	<option value = "Computer">Computer</option>
 		 	<option value = "Mechanical">Mechanical</option>
 		 	<option value = "Civil">Civil</option>
	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>
   <div class = "form-group col-md-12">
      <label class = "col-md-2" >District<span style = "color:red">*</span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "District" ng-model = "student.district" required>
 		 	<option value = "Latur">Latur</option>
 		 	<option value = "Thane">Thane</option>
 		 	<option value = "Dhule">Dhule</option>
	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2" >Taluka<span style = "color:red">*</span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "Taluka" ng-model = "student.taluka" required>
 		 	<option value = "Nilanga">Nilanga</option>
 		 	<option value = "Kalyan">Kalyan</option>
	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">City<span style = "color:red">*</span></label>
      <div class="col-md-6">
      <select class="form-control" name = "City" ng-model = "student.city" required>
 		 <option value = "1">Mumbai</option>
 		 <option value = "2">Pune</option>
 		 <option value = "3">Nagpur</option>
	  </select>
	  </div>
	   <div class = "col-md-4"></div>	
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Pincode<span style = "color:red">*</span></label>
      <div class="col-md-6">
      		<input class="form-control" type="number" name="pincode" ng-model="student.pincode"  required/>
      </div>
	   <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Use My Address</label>
      <div class="col-md-6">
     		<input class="form-control" type="checkbox" name="isAddressUseMine" ng-model="student.isAddressUseMine" required/>
      </div>
	   <div class = "col-md-4"></div>
   </div>
   
    <div class = "form-group col-md-12">
      <label class = "col-md-2">Religion<span style = "color:red">*</span></label>
      <div class="col-md-6">
      <select class="form-control" name = "religion" ng-model = "student.religion" required>
 		 <option value = "Hindu">Hindu</option>
 		 <option value = "Muslim">Muslim</option>
 		 <option value = "Christion">Christion</option>
	  </select>
	  </div>
	   <div class = "col-md-4"></div>	
   </div>
   
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Caste</label>
      <div class="col-md-6">
      		<input class="form-control" type="text" name="caste" ng-model="student.caste"/>
      </div>
	   <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">School<span style = "color:red">*</span></label>
      <div class="col-md-6">
      <select class="form-control" name = "school" ng-model = "student.school" required>
 		 <option value = "sdv">SDV</option>
 		 <option value = "Saraswati Vidyalaya">Saraswati Vidyalaya</option>
 		 <option value = "Radhikabai Meghe Vidyalaya">Radhikabai Meghe Vidyalaya</option>
	  </select>
	  </div>
	   <div class = "col-md-4"></div>	
   </div>

 <div class = "form-group col-md-12">
      <label class = "col-md-2">Other School</label>
      <div class="col-md-6">
      		<input class="form-control" type="text" name="otherSchool" ng-model="student.otherSchool"/>
      </div>
	   <div class = "col-md-4"></div>
   </div>
   <!-- 
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Upload Photo<span style = "color:red">*</span></label>
      <div class="col-md-6">
     		 <input class="form-control" type="file" name="photo" ng-file-model="student.uploadPhoto" />
      </div>
	   <div class = "col-md-4"></div>
   </div>
    <div class = "form-group col-md-12">
      <a href = "#" ng-click = "attachParent">Attach Parent </a>
   	</div> -->

  <input type="hidden" ng-model="student.id" />
  <input type="button" class = "btn btn-primary" value="Save" ng-click="save()" ng-disabled="addStudent.$invalid"/>
  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
</form>
</div>