
<div>
	<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
	<div class="panel panel-default">
		<div class="panel-heading">
			{{studentHeaderValue}}
		</div>
		<div class="panel-body" ng-cloak>
			<form name = "addStudent" ng-controller="validateStudentForm" class = "container-fluid" 
				autocomplete="off" enctype="multipart/form-data"> 
				<font color = 'RED'>
					<h4 ng-show = "status == 'fail' || status == 'success' ">
						{{message}}
					</h4>
				</font>
				
				<div class = "form-group col-md-12" ng-show = "roleId == 1">
			      	<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
			      	<div class="col-md-6">
			     	 	<select class="form-control" name = "instituteId" ng-model = "student.instituteId" 
			     	 		ng-selected = "student.instituteId" ng-change="changeBranchList()"
			     	 		title = "Please select institute." ng-options="institute.id as institute.name for institute in instituteList" 
			     	 		 ng-required = "roleId == 1 ? true : false" autofocus>

			     	 </select>
			      </div>
				   <div class = "col-md-4"></div>	
			    </div>

				<div class = "form-group col-md-12" ng-hide = "roleId == 4">
			      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
			      	<div class="col-md-6">
			     	 	<select class="form-control" name = "branchId" ng-model = "student.branchId" 
			     	 		title = "Please select branch." ng-selected = "student.branchId" ng-change = "changeStandardList()"
			     	 		ng-options="branch.id as branch.name for branch in branchList" required>
			     	 	</select>
			      	</div>
				   	<div class = "col-md-4"></div>	
			    </div>

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">First Name <span style = "color:red">*</span></label>
			      	<div class = "col-md-6">
			      		<input type="text" class="form-control col-md-6" ng-disabled = "isView"
			      			maxlength = 45 title = "Please enter first name."
			      			name="firstname" ng-model="student.firstname" required/>
			   	  		<p class="errorMessage" ng-show="addStudent.firstname.$invalid && !addStudent.firstname.$pristine">
			      			Please enter first name
			      		</p>
			   	  	</div>
			   	  	<div class = "col-md-4"></div>
			   	</div>

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Surname <span style = "color:red">*</span></label>
			      	<div class = "col-md-6">
			      		<input type="text" class="form-control" ng-disabled = "isView" 
			      			maxlength = 45 name="surname" 
			      			title = "Please enter surname." ng-model="student.surname" required/>
			      		<p class="errorMessage" ng-show="addStudent.surname.$invalid && !addStudent.surname.$pristine">
			      			Please enter surname
			      		</p>
			      	</div>
			      	<div class = "col-md-4"></div>
			   	</div>

			   	<!--  div class = "form-group col-md-12">
			      	<label class = "col-md-2">Father Name </label>
			      	<div class = "col-md-6">
			      		<input type="text"  class="form-control col-md-6" ng-disabled = "isView"
			      		 	maxlength = 45 name="fatherName" ng-pattern="regExName" 
			      		 	title = "Please enter father name." ng-model="student.fatherName" />
			   	  		<p class="errorMessage" ng-show="addStudent.fatherName.$invalid && !addStudent.fatherName.$pristine">
			      			Please enter valid father name
			      		</p>
			   	  	</div>
			   	  	<div class = "col-md-4"></div>
			   	</div>

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Mother Name </label>
			      	<div class = "col-md-6">
			      		<input type="text" class="form-control col-md-6" ng-disabled = "isView" 
			      			maxlength = 45 name="motherName" ng-pattern="regExName" 
			      			title = "Please enter mother name." ng-model="student.motherName" />
			      		<p class="errorMessage" ng-show="addStudent.motherName.$invalid && !addStudent.motherName.$pristine">
			      			Please enter valid mother name
			      		</p>
			   	  	</div>
			   	  	<div class = "col-md-4"></div>
			   	</div -->

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Gender <span style = "color:red">*</span></label>
			      	<div class="col-md-6">
			      		
		      			<label class="radio-inline">
			      			<input type="radio" name="optionsRadios1" ng-disabled = "isView" 
			      				id="optionsRadios1" value="M" ng-model="student.gender" ng-required = "!student.gender" 
		      					checked >
		      					&nbsp;Male
	      				</label>

			      		<label class="radio-inline">
			      			<input type="radio" name="optionsRadios1" ng-disabled = "isView" 
			      				id="optionsRadios2" value="F" ng-required = "!student.gender" 
			      				ng-model="student.gender">
			      				Female
		      			</label>
			   	  	</div>
			   	  	<div class = "col-md-4"></div>
			   	</div>

			 	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Date of Birth (DD/MM/YYYY)</label>
			      	<div class="col-md-6">
			            <p class="input-group">
			              	<input type="text" class="form-control" ng-disabled = "isView" 
			              		name = "dateOfBirth" valid-date uib-datepicker-popup="dd/MM/yyyy" max-date="maxDate"
			              		title = "Please enter birth date."	ng-model="student.dateOfBirth" is-open = "isOpen" close-text="Close"/>

			              	<span class="input-group-btn">
			              		<button type="button" class="btn btn-default" ng-disabled = "isView" 
			              			ng-click="isOpen = true">
			              			<i class="fa fa-calendar"></i>
			              		</button>
			              	</span>
			            </p>
			            <p class="errorMessage" ng-show="addStudent.dateOfBirth.$invalid && !addStudent.dateOfBirth.$pristine">
			      			Please enter valid birthdate.
			      		</p>
			        </div>
			      	<div class = "col-md-4"></div>
			   	</div>

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">User Id</label>
			      	<div class = "col-md-6">
			      		<input type="text" class="form-control col-md-6" ng-disabled = "isView"
			      			maxlength = 45 title = "Please enter User Id."
			      			name="userid" ng-model="student.studentUserId"/>
			   	  		<p class="errorMessage" ng-show="addStudent.userid.$invalid && !addStudent.userid.$pristine">
			      			Please enter the user id.
			      		</p>
			   	  	</div>
			   	  	<div class = "col-md-4"></div>
			   	</div>
			   	

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">E-Mail Address</label>
			      	<div class="col-md-6">
			     		<input class="form-control" type="email" ng-disabled = "isView" 
			     			ng-pattern="regExEmail" maxlength = 45 name="emailAddress"
			     			title = "Please enter email address." ng-model="student.emailAddress"/>

			      		<p class="errorMessage" ng-show="addStudent.emailAddress.$invalid && !addStudent.emailAddress.$pristine">
			      			Please enter email address
			      		</p>
			      	</div>
				   	<div class = "col-md-4"></div>
			   	</div>

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Mobile Number</label>
			      	<div class="col-md-6">
			     		<input class="form-control" type="text" ng-disabled = "isView" 
			     			ng-pattern="regExMobile" maxlength = 10 name="mobile" 
			     			title = "Please enter mobile number." ng-model="student.mobile"/>

			     		<p class="errorMessage" ng-show="addStudent.mobile.$invalid && !addStudent.mobile.$pristine">
			      			Please enter 10 digit mobile number
			      		</p>
			      	</div>
				   	<div class = "col-md-4"></div>
			   	</div>

			  	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Address</label>
			      	<div class="col-md-6">
			      		<input class="form-control" type="text" ng-disabled = "isView" 
			      			name="addressLine1" maxlength =200 ng-model="student.addressLine1" 
			      			title = "Please enter student complete Address."/>
			     		<p class="errorMessage" ng-show="addStudent.addressLine1.$invalid && !addStudent.addressLine1.$pristine">
			      			Please enter address
			      		</p>
			      	</div>
			      	<div class = "col-md-4"></div>
			   	</div>
	   
			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Area</label>
			      	<div class="col-md-6">
			      		<input class="form-control" type="text" ng-disabled = "isView"
			      			ng-pattern="regExArea" maxlength = 45 name="area" ng-model="student.area"
			      			title = "Please enter area."/>
			      		<p class="errorMessage" ng-show="addStudent.area.$invalid && !addStudent.area.$pristine">
			      			Please enter area
			      		</p>
			      	</div>
			      	<div class = "col-md-4"></div>
			   	</div>

			   <div class = "form-group col-md-12">
			      <label class = "col-md-2" >State</label>
			      <div class="col-md-6">
			      	<select class="form-control" name = "stateId" ng-disabled = "isView" 
			      		ng-model = "student.stateId" ng-selected = "student.stateId" 
		      			ng-change="changeDistrictList()" title="Select State"
		      			ng-options="state.id as state.name for state in stateList" >
			 		 
						<option value = "" selected>Select State</option>
				  	</select>
				  </div>
				   <div class = "col-md-4"></div>	
			   </div>

			   <div class = "form-group col-md-12">
			      <label class = "col-md-2" >District</label>
			      <div class="col-md-6">
			      	<select class="form-control" name = "districtId" ng-disabled = "isView"  
			      		ng-model = "student.districtId" title="Select District" 
			      		ng-selected = "student.districtId"  ng-change="changeTalukaList()" 
			      		ng-options="district.id as district.name for district in districtList">
						
						<option value = "" selected>Select District</option>
				  	</select>
			      </div>
				   <div class = "col-md-4"></div>	
			   </div>
			   
			   <div class = "form-group col-md-12">
			      <label class = "col-md-2" >Taluka/City</label>
			      <div class="col-md-6">
			      	<select class="form-control" name = "talukaId" ng-model = "student.talukaId" 
			      		title="Select Taluka" ng-disabled = "isView" ng-selected = "student.talukaId"  
			      		ng-options="taluka.id as taluka.name for taluka in talukaList" >

			 	  	</select>
			      </div>
				   <div class = "col-md-4"></div>	
			   </div>			   	

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Town/Village</label>
			      	<div class="col-md-6">
				     	<input class="form-control" type="text" ng-disabled = "isView"
				     		ng-pattern="regExCity" maxlength = 45 name="city" ng-model="student.city" 
				     		title = "Please enter city."/>
						<p class="errorMessage" ng-show="addStudent.city.$invalid && !addStudent.city.$pristine">
				      		Please enter Town/Village
				      	</p>
				  	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>

			   	<div class = "form-group col-md-12">
			     	<label class = "col-md-2">Pincode</label>
			      	<div class="col-md-6">
			      		<input class="form-control" type="text" ng-disabled = "isView" 
			      			ng-pattern="regExPinCode" maxlength = 6 name="pincode" 
			      			title = "Please enter pincode." ng-model="student.pincode"/>
			    		<p class="errorMessage" ng-show="addStudent.pincode.$invalid && !addStudent.pincode.$pristine">
			      			Please enter 6 digit pincode
			      		</p>
			      	</div>
				   	<div class = "col-md-4"></div>
			   	</div>

			    <div class = "form-group col-md-12">
			      	<label class = "col-md-2">Religion</label>
			      	<div class="col-md-6">
			      		<select class="form-control" name = "religion" ng-disabled = "isView" 
			      			ng-model = "student.religion" ng-selected = "student.religion"  
			      			title = "Please select religion." ng-options="religion.name as religion.name for religion in religionList">
			      			<option value = "" selected>Select Religion</option>
				  		</select>
				  	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Caste</label>
			      	<div class="col-md-6">
			      		<select ng-model="student.casteId" ng-disabled = "isView"
			      		 	class="form-control" ng-selected = "student.casteId"  
			      			title = "Please select caste." ng-options="caste.id as caste.name for caste in casteList">
			      			<option value = "" selected>Select Caste</option>
						</select>
			      	</div>
				   	<div class = "col-md-4"></div>
			   	</div>

			  	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Standard/Course</label>
			      	<div class="col-md-6">
				  		<select class="form-control" name = "standardId" ng-disabled = "isView"
				  			ng-change="changeDivisionList()" ng-model = "student.standardId"
				     	 	title = "Please select standard." ng-options="standard.id as standard.displayName for standard in standardList" >
				     	 	<option value = "" selected>Select Standard/Course</option>
				 	  	</select>
				  	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>

			  	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Division</label>
			      	<div class="col-md-6">
				      <select class="form-control" name = "divisionId" ng-disabled = "isView" ng-model = "student.divisionId" 
				      		ng-selected = 'student.divisionId' title = "Please select division." 
				     	 	ng-options="division.id as division.displayName for division in divisionList" >
				     	 	
				     	 	<option value = "" selected>Select Division</option>
				 	  </select>
				  	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>

			   	<!-- <div class = "form-group col-md-12">
			      	<label class = "col-md-2" >Fees Code</label>
			      	<div class="col-md-6">
				      	<select class="form-control" name = "feesCodeId" ng-model = "student.feesCodeId" 
				      		ng-options="feesCode.id as feesCode.name for feesCode in feesCodes">
					      	<option value = "" selected> Select Fees Code</option>
					  	</select>
			      	</div>
				   	<div class = "col-md-4"></div>	
			   	</div> -->
			   	<!-- {{student.feesCodeId}} -->
			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2" >Fees Code</label>
			      	<div class="col-md-6">
				      	<select multiple="multiple" ng-style="height:10px;" class="form-control" name = "feesCodeId" ng-model = "student.feesCodeId" 
				      		ng-options="feesCode.id as feesCode.name for feesCode in feesCodes">
					      	<!-- <option value = "" ng-selected="student.feesCodeId">select fees code</option> -->

					  	</select>
			      	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Roll Number</label>
			      	<div class="col-md-6">
			      		<input class="form-control" type="text" ng-disabled = "isView"
			      			maxlength = 45 name="rollNumber" 
			      			title = "Please enter roll number." ng-model="student.rollNumber"/>
				      	<p class="errorMessage" ng-show="addStudent.rollNumber.$invalid && !addStudent.rollNumber.$pristine">
				      		Please enter roll number
				      	</p>
			      	</div>
				   	<div class = "col-md-4"></div>
			   	</div>

			   	<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Registration Code</label>
			      	<div class="col-md-6">
			      		<input class="form-control" type="text" ng-disabled = "isView"
			      			maxlength = 45 name="registrationCode"
			      			title = "Please enter registration code." ng-model="student.registrationCode"/>
			      		<p class="errorMessage" ng-show="addStudent.registrationCode.$invalid && !addStudent.registrationCode.$pristine">
			      			Please enter registration code
			      		</p>
			      	</div>
				  	<div class = "col-md-4"></div>
			   	</div>

			   	<div class = "form-group col-md-12">
			      <label class = "col-md-2">Status</label>
			      <div class="col-md-6">
			      	<select class="form-control" name = "status" ng-disabled = "isView"
			      		ng-model = "student.active" title = "Please select status.">
			 			 <option value = "Y" selected>Active</option>
			 		 	<option value = "N">Inactive</option>
			 	  	</select>
				 </div>
				 <div class = "col-md-4"></div>	
			   </div>

			   	<div class = "form-group col-md-12">
			      <label class = "col-md-2">Create Login</label>
			      <div class="col-md-6">
			      	<select class="form-control" name = "status" ng-disabled = "isCreateLoginAllowed"
			      		ng-model = "student.createStudentLogin" title = "Please select status.">

   			     		<option value = "" selected>Select to create login</option>
			 			<option value = "Y">Yes</option>
			 		 	<option value = "N">No</option>
			 	  	</select>
				 </div>
				 <div class = "col-md-4"></div>	
			   </div>

			   <div class = "form-group col-md-12">
			      <label class = "col-md-2">Upload Photo</label>
			      <div class="col-md-6">
		     		 <input class="form-control" type="file" ng-disabled = "isView" 
		     		 	ngf-select ng-model="student.photo" title = "Choose student photo." 
		     		 	ngf-accept="'image/*'" ngf-pattern="'image/*'" ng-change = "student.fileChanegd = true"/>
		     		 <img height="100" ngf-src="student.photo" class="thumb" />
			      </div>
				   <div class = "col-md-4"></div>
			   </div>

			  <div class="row">
			  		<div class="col-md-12">
			  			<h2 class="addStudent">Parent Details</h2>
			  		</div>
			  </div>

			  <div class = "form-group col-md-12" ng-hide = "isView" >
					<label class = "col-md-2">Manage Parents</label>
					<div class="col-md-6">
						<a class = "btn btn-orange" name="addParent" ng-click = "popup()" >Add New Parent</a>
					</div>
			   	  <div class = "col-md-4"></div>
			   </div>

			   <div class = "form-group col-md-12">
			    	<div class="col-md-10" ng-show = 'student.studentParentList.length > 0'>
			    		<table class = "table table-striped table-condensed table-hover table-bordered" id="dataTables-example">
						<thead>
						<tr>
							<th>Name</th>
							<th>email</th>
							<th>Mobile</th>
							<th ng-hide = "isView" >Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="studentParent in student.studentParentList track by $index">
							<td>{{ studentParent.firstname }} {{ studentParent.lastname }}</td>
							<td>{{ studentParent.email }}</td>
							<td>{{ studentParent.primaryContact }}</td>
							<td ng-hide = "isView">
								<button href = "#" class="fa fa-pencil" title="Edit" ng-click="editStudentParent(studentParent)">
								</button>  
								<button href = "#" class="fa fa-trash" title="Delete" ng-click="removeStudentParent(studentParent.email)">
								</button>
							</td>
						</tr>
					</tbody>
					</table>
			    </div>
			     	<div class = "col-md-4"></div>	
				</div>

			  <input type="hidden" ng-model="student.id" />
			   <div class = "form-group col-md-12">
			      <label class = "col-md-2"></label>
			      <div class="col-md-6" ng-if = "!isView">
					  <input type="button" class = "btn btn-primary" value="Save" ng-click="save()" ng-disabled="addStudent.$invalid"/>
					  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
				  </div>

				  <div class="col-md-6" ng-if = "isView">
					  <input type="button" class = "btn btn-default" value="Back" ng-click="cancel()" />
				  </div>
			  </div>
			</form>
		</div>
	</div>
</div>
