
<div>
<!-- <h4>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
</h4> -->
	<div class="panel panel-default">
		<div class="panel-heading">
			Student List
		</div>
		<div class="panel-body" ng-cloak>
			<div class="well">
				<div class="row">
					<div class = "form-group col-md-12" ng-show = "roleId == 1">
			      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
				      		<div class="col-md-6">
						     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
						     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
						     	 		title ="Select institute name"
						     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
						     	 		<option ng-selected="true" value="">Select Institute</option>
						     	 </select>
				      		</div>
					   <div class = "col-md-4"></div>	
				    </div>
					<div class = "form-group col-md-12" ng-hide = "roleId == 4">
				      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
				      	<div class="col-md-6">
				     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
				     	 		ng-selected = "branchId" title ="Select branch name" ng-change = "changeStandardList()"
				     	 		ng-options="branch.id as branch.name for branch in branchList" required>
				     	 		<option ng-selected="true" value="">Select Branch</option>
				     	 	</select>
				      	</div>
					   	<div class = "col-md-4"></div>	
				    </div>

				  	<div class = "form-group col-md-12">
				      	<label class = "col-md-2">Standard/Course </label>
				      	<div class="col-md-6">
					  		<select class="form-control" name = "standardId" ng-change="changeDivisionList()" ng-model = "standardId"
					     	 	title = "Please select standard." ng-options="standard.id as standard.displayName for standard in standardList" >
					     	 	<option ng-selected="true" value="">All</option>
					 	  	</select>
					  	</div>
					   	<div class = "col-md-4"></div>	
				   	</div>

				  	<div class = "form-group col-md-12">
				      	<label class = "col-md-2">Division </label>
				      	<div class="col-md-6">
					      <select class="form-control" name = "divisionId" ng-model = "divisionId" ng-selected = 'divisionId'
					     	 	title = "Please select division." ng-options="division.id as division.displayName for division in divisionList" >
					     	 	<option ng-selected="true" value="">All</option>
					 	  </select>
					  	</div>
					   	<div class = "col-md-4"></div>	
				   	</div>

					<div class = "form-group col-md-12">
				      	<label class = "col-md-2"></label>
				      	<div class="col-md-10">
							<a class = "btn btn-orange btn-small"
								ng-click = "branchId ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled = "!branchId" 
								title = "{{!branchId ? 'Please select Institute and Branch first!' : 'Search students by filter.'}}">

								Search
							</a>

							<a class = "btn btn-orange btn-small"
								ng-click = "branchId ? exportToExcel() : ''"
								data-trigger="hover" ng-disabled = "!branchId" 
								title = "{{!branchId ? 'Please select Institute and Branch first!' : 'Export student in excel.'}}">

								Export To Excel
							</a>
						</div>
				  </div>
				</div>
			</div>

			<font color = 'RED'>
				<h4 ng-show = "status == 'fail' || status == 'success' ">
				{{message}}
				</h4>
			</font>
			<br>
			<div>
				<table datatable="ng" dt-options="dtOptions" class = "table table-striped table-condensed table-bordered table-hover">
					<thead>
						<tr>
							<th>First Name</th>
							<th >Surname</th>
							<th>Date of Birth</th>
							<th>Gender</th>
							<th>Parent Mobile No</th>
							<th>Email</th>
							<th>Standard/Course</th>
							<th>Division</th>
							<th>Roll Number</th>
							<th>Registration Code</th>
							<th>Address</th>
							<th>Area</th>
							<th>City</th>
							<th>Pin Code</th>
							<th>Religion</th>
							<th>Caste</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="student in students track by $index">
							<th class = "col-md-2">{{ student.firstname }}</td>
							<td>{{ student.surname }}</td>
							<td>{{ student.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
							<td>{{ student.gender == 'M' ? 'Male' : 'Female'}}</td>
							<td>{{ student.mobile }}</td>
							<td >{{ student.emailAddress }}</td>
							<td>{{ student.standardName }}</td>
							<td>{{ student.divisionName }}</td>
							<td>{{ student.rollNumber }}</td>
							<td>{{ student.registrationCode }}</td>
							<td>{{ student.addressLine1 }}</td>
							<td>{{ student.area }}</td>
							<td>{{ student.city }}</td>
							<td>{{ student.pincode }}</td>
							<td>{{ student.religion }}</td>
							<td>{{ student.caste }}</td>
							<td>{{ student.active == "Y" ? "Active" : "Inactive" }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>