<div style = "width:900px;" ng-if = "!showLogView" class="col-xs-12">
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="modal-title">{{uploadPopupTitle}}</h3>
		</div>
		<div class="panel-body" ng-cloak>
			<font color='RED'>
				<h4>File Upload Data</h4>
			</font>
			<table class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
				<thead>
					<tr>
						<th>Uploaded By </th>
						<th>Uploaded On</th>
						<th>Status</th>
						<th>Total Records</th>
						<th>Invalid Records</th>
						<th>Show Logs</th>
						<th>Download File</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="job in uploadJobs">
						<td>{{ job.uploadedBy }}</td>
						<td>{{ job.uploadedAt }}</td>
						<td>{{ job.jobStatus }}</td>
						<td>{{ job.totalRecords }}</td>
						<td>{{ job.invalidRecords }}</td>
						<td> 
							<a class="btn btn-xs btn-default" title="Show Log" 
							 ng-click="showLog(job.id)"><i class="fa fa-file-text-o"></i></a>
						</td>
						<td > 
							<a ng-if = "job.invalidDataFilePath" class="btn btn-xs btn-default" title="Download" 
							 ng-click="downloadFile(job.id)"><i class="fa fa-download"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div ng-if = "showLogView">

	<div class="modal-header">
		<div class = "col-md-12">
			<a ng-click = "goBack()" title = "GO Back"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
		</div>
		<font color="red"><h3 class="modal-title">{{log.validationErrMsg}}</h3></font>
	</div>

	<div class="modal-body">
		<table class = "table table-striped table-condensed table-bordered table-hover" style= "text-align:left;">
			<tbody ng-repeat="record in log.errorRecords track by $index">
				<tr>
					<td class = "col-md-12">
						<label class = "col-md-6" style = "font-weight: bold;">{{ record.row }} </label>
						<label class = "col-md-6" style = "font-weight: bold;">{{ record.title}}</label>
					</td>
				</tr>
				<tr ng-repeat="(key, error) in record.errors track by $index">
					<td class = "col-md-12">
						<label class = "col-md-12">{{ error}}</label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Ok</button>
	</div>

</div>