<form name="lectureForm" ng-controller="validateLectureForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Entry Details</h3>
	</div>
	 <div class="modal-body">
	<div class="form-group row" style = "margin-top:10px;">
		<label class="col-md-3">Day <span style="color: red">*</span></label>
		<div class="col-md-6">
			<select  class="form-control" name="day" 
				ng-options="day.value as day.text for day in dayNamesForSelectBox" 
				ng-model="lecture.dayCode" required>
			</select>
		</div>

	</div>

	<div class="form-group row" style = "margin-top:10px;">
		<label class="col-md-3">Subject <span style="color: red">*</span></label>
		<div class="col-md-6">
			<select  class="form-control" name="subject" 
				ng-options="subject.name as subject.name for subject in subjectList" 
				ng-model="lecture.subjectId" required>
			</select>
		</div>
	 
	</div>
	
	<div class = "form-group row">
      <label class = "col-md-3">Start Time <span style = "color:red">*</span></label>
      <div class="col-md-6">
      		<p class="input-group">
                <input type="text" class="form-control" placeholder="HH:MM AM/PM" valid-time
	                datetime-picker="hh:mm a" readonly ng-model="lecture.startTime" enable-date="false" title = "Please select start time"
	                is-open = "isOpenStartTime" ng-required = "true" id = "startTime" name = "startTime"
	                timepicker-options="ctrl.timeOptions" close-on-selection="true" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="isOpenStartTime = true">
                    	<i class="fa fa-clock-o"></i>
                    </button>
                </span>
            </p>
            <p class="errorMessage" ng-show="lectureForm.startTime.$error.beforeMinTime">
	      		Start time must be after timetable start time.
	      	</p>
      </div>
   </div>

   <div class = "form-group row">
      <label class = "col-md-3">End Time <span style = "color:red">*</span></label>
      <div class="col-md-6">
      		<p class="input-group">
                <input type="text" class="form-control" placeholder="HH:MM AM/PM" id = "endTime" name = "endTime" valid-time ng-change = 'isEndTimeChanged = true'
	                datetime-picker="hh:mm a" ng-model="lecture.endTime" enable-date="false" ng-disabled = "!lecture.startTime"
	                is-open = "isOpenEndTime" ng-required= "true" close-on-selection="true" title = "Please select end time" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="isOpenEndTime = true" ng-disabled = "!lecture.startTime">
                    	<i class="fa fa-clock-o"></i>
                    </button>
                </span>
            </p>
	 		<p class="errorMessage" ng-show="lectureForm.endTime.$error.endBeforeStart">
	      		End time must be after start time.
	      	</p>
	      	<p class="errorMessage" ng-show="lectureForm.endTime.$error.afterMaxTime && ! lectureForm.endTime.$error.endBeforeStart">
	      		End time must be before timetable end time.
	      	</p>
      </div>

   </div>
	<!-- <pre>{{lectureForm.$error}}</pre> -->
	<input type="hidden" name = '_id' ng-model="timetable._id" />
	</div>
	<div class="clear"></div>
<div class="modal-footer">
	<button class="btn btn-orange btn-small" ng-disabled="lectureForm.$invalid" ng-click="saveLecture()">Save</button>
				<button class="btn btn-default btn-small" ng-click="cancelPopup()">Cancel</button>
				<button class="btn btn-default btn-small" ng-if="lecture.subjectId" ng-click="removeExistingLecture()">Delete</button>
</div>
</form>


