
<div>
	<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">
			{{timetableHeaderValue}}
		</div>
		<div class="panel-body" ng-cloak>
			<form name = "addTimetable" class = "container-fluid" ng-controller = "validateTimetableForm"> 
				 <font color = 'RED'>
					<h4 ng-show = "status == 'fail' || status == 'success' ">
						{{message}}
					</h4>
				 </font>
				 <div class = "form-group col-md-12" ng-show = "roleId == 1" >
				      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
				      <div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "timetable.instituteId" 
				     	 		ng-selected = "timetable.instituteId" ng-change="changeBranchList()" ng-disabled = "roleId == 4"
				     	 		ng-options="institute.id as institute.name for institute in instituteList" autofocus>
				     	 </select>
				      </div>
					  <div class = "col-md-4"></div>	
			     </div>

				<div class = "form-group col-md-12" ng-show = "roleId != 4" >
				      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
				      <div class="col-md-6">
					      <select class="form-control" name = "branchId" ng-model = "timetable.branchId" 
					      		ng-selected = "timetable.branchId"  ng-change = "changeStandardList()" ng-disabled = "roleId == 4"
					      		ng-options="branch.id as branch.name for branch in branchList" required>
					      </select>
					      <p class="errorMessage" 
					      		ng-show="addTimetable.branch.$invalid && !addTimetable.branch.$pristine">
				      			Please select branch
				      	  </p>
					  </div>
					  <div class = "col-md-4"></div>	
			    </div>

			    <div class="form-group col-md-12" ng-show = "roleId != 4" >
					<label class="col-md-2">Current Academic Year <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							ng-model="timetable.academicYearId" ng-disabled="true"
							ng-selected="timetable.academicYearId" 
							ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addTimetable.academicyear.$invalid && !addTimetable.academicyear.$pristine">
							Please select year</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Standard/Course <span style = "color:red">*</span></label>
			      	<div class="col-md-6">
				  		<select class="form-control" name = "standardId" ng-disabled = "isView" ng-disabled = "roleId == 4"
				  			ng-change="changeDivisionList()" ng-model = "timetable.standardId" required
				     	 	title = "Please select standard." ng-options="standard.id as standard.displayName for standard in standardList" >
				 	  	</select>
				  	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>				

			   <div class = "form-group col-md-12">
				      <label class = "col-md-2">Division <span style = "color:red">*</span></label>
				      <div class="col-md-6">
					      <select class="form-control" name = "branchId" ng-model = "timetable.divisionIdList" 
					      		ng-selected = "timetable.divisionIdList" multiple = 'true' ng-disabled = "roleId == 4"
					      		ng-options="division.id as division.displayName for division in divisionList" required>
					      </select>
					      <!-- <p class="errorMessage" 
					      		ng-show="addTimetable.division.$invalid && !addTimetable.division.$pristine">
				      			Please select Standard
				      	  </p> -->
					  </div>
					  <div class = "col-md-4"></div>	
			    </div>

		        <div class = "form-group col-md-12">
			      	<label class = "col-md-2">Start Date (DD/MM/YYYY) <span style = "color:red">*</span></label>
			      	<div class="col-md-6">
				       <p class="input-group">
				      		<input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy"
				      			id = "startDate" name = "startDate" max-date = "maxDate" min-date = "minDate"
				      			title = "{{!timetable.academicYearId ? 'Academic year not found.' :  'Please select start date'}}"
				      			ng-focus ="timetable.academicYearId ? isOpenStartDate = true : ''"
				      			ng-click ="timetable.academicYearId ? isOpenStartDate = true : ''" 
				      			is-open = "isOpenStartDate" close-text="Close" readonly
				      			ng-model ="timetable.startDate" ng-required="true"/>

				              <span class="input-group-btn">
				                <button type="button" class="btn btn-default" ng-disabled="!timetable.academicYearId" 
				                	ng-click="isOpenStartDate = true"><i class="fa fa-calendar"></i></button>
				              </span>
						</p>
						<p class="errorMessage" ng-show="addTimetable.startDate.$error.invalidDate">
							Start date is mandatory.</p>
						<p class="errorMessage" ng-show="addTimetable.startDate.$error.minMaxFailed">
					     	Start date must be in between academic year.
					     </p>
			      	</div>
			      	<div class = "col-md-4"></div>
			    </div>

				<div class = "form-group col-md-12">
			      	<label class = "col-md-2">End Date (DD/MM/YYYY) <span style = "color:red"> *</span> </label>
			      	<div class="col-md-6">
					     <p class="input-group">
				      		 <input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open = "isOpenEndDate" 
				      			id = "endDate" name = "endDate" ng-change = "isEndDateChanged = true" title = "Please select end date"
				      			ng-focus ="timetable.startDate ?  isOpenEndDate = timetable.startDate ? true : false : ''" 
				      			ng-click ="timetable.startDate ?  isOpenEndDate = timetable.startDate ? true : false : ''"
				      			readonly close-text="Close" ng-model="timetable.endDate"  
				      			max-date = "maxDate" min-date = "timetable.startDate" ng-required="true" />

				            <span class="input-group-btn">
				                <button type="button"  ng-disabled ="!timetable.startDate" class="btn btn-default" ng-click="isOpenEndDate = true"><i class="fa fa-calendar"></i></button>
				            </span>
					     </p>
					     <p class="errorMessage" ng-show="addTimetable.endDate.$error.minMaxFailed">
					     	End date must be in between start date and academic year end.
					     </p>
			      	</div>
			      	<div class = "col-md-4"></div>
			    </div>

				<div class = "form-group col-md-12">
			      <label class = "col-md-2">Start Time (HH:MM AM/PM) <span style = "color:red">*</span></label>
			      <div class="col-md-6">
			      		<p class="input-group">
			                <input type="text" class ="form-control" valid-time
				                datetime-picker ="hh:mm a" ng-model="timetable.startTime" enable-date="false" title = "Please select start time"
				                is-open = "isOpenStartTime" ng-required = "true" id = "startTime" name = "startTime"
				                readonly close-on-selection="true" />
			                <span class="input-group-btn">
			                    <button type="button" class="btn btn-default" ng-click="isOpenStartTime = true" ng-disabled = "!timetable.endDate" >
			                    	<i class="fa fa-clock-o"></i>
			                    </button>
			                </span>
			            </p>
			      </div>
			      <div class = "col-md-4"></div>
   				</div>

				<div class = "form-group col-md-12">
			      <label class = "col-md-2">End Time (HH:MM AM/PM) <span style = "color:red">*</span></label>
			      <div class="col-md-6">
			      		<p class="input-group">
			                <input type="text" class="form-control" id = "endTime" name = "endTime" valid-time ng-change = 'isEndTimeChanged = true'
				                datetime-picker="hh:mm a" ng-model="timetable.endTime" enable-date="false" readonly
				                is-open = "isOpenEndTime" ng-required= "true" close-on-selection="true" title = "Please select end time" />
			                <span class="input-group-btn">
			                    <button type="button" class="btn btn-default" ng-click="isOpenEndTime = true" ng-disabled = "!timetable.startTime">
			                    	<i class="fa fa-clock-o"></i>
			                    </button>
			                </span>
			            </p>
				 		<p class="errorMessage" ng-show="addTimetable.endTime.$error.endBeforeStart">
				      		End time must be after start time.
				      	</p>
			      </div>
			      <div class = "col-md-4"></div>
			   </div>

			    <div class = "form-group col-md-12">
				      <label class = "col-md-2">Timetable <span style = "color:red">*</span></label>
				      <div class="col-md-10">
				      	  <button ng-show = "roleId != 4"  type="button" class="btn btn-primary" style="margin-bottom:20px;" ng-click="addLecturePopup()" ng-disabled="!timetable.endTime" >
                          		Add Timetable Entry
                          </button>

				     <div ui-calendar="uiConfig.calendar" ng-model="lectureSources"></div>
			
				      </div>
					  
			    </div>

			  <input type="hidden" name = 'id' ng-model="timetable.id" />
			  <div class = "form-group col-md-12">
				      <label class = "col-md-2"></label>
				      <div class="col-md-6" ng-show = "roleId != 4">
						  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()" 
						  		ng-disabled="addTimetable.$invalid || lectures.length == 0"/>
						  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
					  </div>

					  <div class="col-md-6" ng-show = "roleId == 4">
						  <input type="button" class = "btn btn-default" value="Back" ng-click="cancel()" />
					  </div>
			 </div>
			</form>
		</div>
	</div>
</div>