
<div>
<div class="panel panel-default">
	<div class="panel-heading">
	Timetable List
	</div>
	<div class="panel-body" ng-cloak>
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
	      		<div class="col-md-6">
			     	<select class="form-control" name = "instituteId" ng-model = "instituteId" 
		     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
		     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
			     	</select>
	      		</div>
			   <div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" ng-show = "roleId != 4">
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId" ng-change = "changeYearList()"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" ng-show = "roleId != 4">
		      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
		     	 		ng-init="academicYearId = academicYearList[0]['id']"
		     	 		ng-selected = "academicYearId" ng-disabled = true
		     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
		     	 		required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>

		     <div class = "form-group col-md-12">
		      	<label class = "col-md-2">Standard/Course </label>
		      	<div class="col-md-6">
			  		<select class="form-control" name = "standardId" ng-model = "standardId"
			     	 	title = "Please select standard." ng-change="changeDivisionList()"
		     	 		ng-options="standard.id as standard.displayName for standard in standardList" >
			     	 	<option ng-selected="true" value="">All</option>
			 	  	</select>
			  	</div>
			   	<div class = "col-md-4"></div>	
		   	</div>

		   	<div class="form-group col-md-12">
				<label class="col-md-2">Division </label>
				<div class="col-md-6">
					<select class="form-control" name="divisionId"
						ng-model="divisionId" ng-selected='divisionId' required
						ng-options="division.id as division.displayName for division in divisionList">

						<option ng-selected="true" value="">All</option>
					</select>
				</div>
				<div class="col-md-4"></div>
			</div>

			<div class = "form-group col-md-12" ng-show = '!isSingleBranch'>
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-6">
					<a class = "btn btn-orange" ng-if = "roleId != 4" ui-sref="timetable.add" ng-click ="setSelectedData(instituteId, branchId)"
						title = "Add New Standard.">Add Timetable</a>

					<a class="btn btn-default" ng-disabled="!standardId" data-trigger="hover"
								title="{{!standardId ? 'Please select Standard !' : 'Upload timetable file in xlsx.'}}"
								ng-click="standardId ? openUploadTimetableDialog() : ''" ng-if = "roleId != 4">

								Upload Timetable </a> 
							<a class="btn btn-default btn-small" ng-disabled="!standardId" ng-if = "roleId != 4"
								ng-click = "!standardId ? '' : downloadTemplate('template/downloadTimetableTemplate?excelFileName=eduqfix-upload-timetable-template.xlsx&branchId='+branchId+'&standardId='+standardId)"
								title="{{!standardId ? 'Please select Standard' : 'Download excel template for uploading timetable.'}}">
								Download Template
							</a>

					<a class = "btn btn-default" ng-click = "academicYearId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!academicYearId" ng-show = "isSingleBranch != true"
						title = "{{!academicYearId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
						
						Search
					</a>
				</div>
			</div>
		</div>
	</div>
	<br>
		<font color = 'RED'>
			<h4 ng-show = "message">
				{{message}}
			</h4>
		</font>
		<br>
	<div>	
	<table dt-options="dtOptions" datatable="ng" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-2">Standard/Course</th>
				<th class = "col-md-1">Divisions</th>
				<th class = "col-md-1">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="timetable in timetableList">
				<td class = "col-md-2">{{ timetable.standardName }}</td>
				<td class = "col-md-1">{{ timetable.divisionNames }}</td>
				<td class = "col-md-2">
					<a href = "#" class="btn btn-xs btn-default"  ng-if = "roleId != 4" title="Edit" ui-sref="timetable.edit({id :timetable.id})">
						<i class="fa fa-pencil"></i>
					</a> 
					<a href = "#" class="btn btn-xs btn-default"  ng-if = "roleId != 4" title="Delete" ui-sref="timetable.manage" ng-click="deleteData(timetable.id)">
						<i class="fa fa-trash"></i>
					</a>
					
					<a href = "#" class="btn btn-xs btn-default"  ng-if = "roleId == 4" title="Delete" ui-sref="timetable.view({id :timetable.id})">
						<i class="fa fa-eye"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>
