<form name="form" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Upload Report Excel</h3>
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="col-md-3">
				Select File <span style="color: red">*</span>
			</div>
			<div class="col-md-8">
				<input type="file" name="file" ngf-select ng-model="file" required
					accept=".xls" />
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				Title <span style="color: red">*</span>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" maxlength=45 name="title"
					title="Please enter title" ng-model="title" required>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-orange" ng-disabled="form.$invalid"
			ng-click="uploadReport(file)">Upload</button>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
	<div ng-if="validationErrorMsg">
		<font color='RED' ng-if="validationStatus">
			<h4 style="text-align: left;">{{validationErrorMsg}}</h4>
		</font>
		<div id="validationErrorDiv">
			<table
				class="table table-striped table-condensed table-bordered table-hover"
				style="text-align: left;">
				<tbody ng-repeat="record in records track by $index">
					<tr>
						<td class="col-md-12"><label class="col-md-6"
							style="font-weight: bold;">{{ record.row }} </label> <label
							class="col-md-6" style="font-weight: bold;">{{
								record.title}}</label></td>
					</tr>
					<tr ng-repeat="(key, error) in record.errors track by $index">
						<td class="col-md-12"><label class="col-md-12">{{
								error}}</label></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
