
<div>
	<div class="panel panel-default">
		<div class="panel-heading">Performance Report List</div>
		<div class="panel-body">
			<div class="well">
				<div class="row">
					<form class="container-fluid" name="reportListForm">
						<div class="form-group col-md-12" ng-show="roleId == 1">
							<label class="col-md-2">Institute <span style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control" name="instituteId"
									ng-model="instituteId" ng-selected="instituteId"
									ng-change="changeBranchList()"
									ng-options="institute.id as institute.name for institute in instituteList"
									required>
								</select>
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group col-md-12" ng-hide = "roleId == 4">
							<label class="col-md-2">Branch <span style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control" name="branchId" ng-model="branchId"
									ng-selected="branchId" ng-change="changeYearList()"
									ng-options="branch.id as branch.name for branch in branchList"
									required>
								</select>
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class = "form-group col-md-12" ng-hide = "roleId == 4">
					      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
					      	<div class="col-md-6">
					     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
					     	 		ng-init="academicYearId = academicYearList[0]['id']"
					     	 		ng-selected = "academicYearId" ng-disabled = true ng-change="changeStandardList()"
					     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
					     	 		required>
					     	 	</select>
					      	</div>
						   	<div class = "col-md-4"></div>	
		   				</div>

						<div class="form-group col-md-12">
							<label class="col-md-2">Standard <span style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control" name="standardId"
									ng-change="changeDivisionList()" ng-model="standardId" required
									ng-options="standard.id as standard.displayName for standard in standardList">
								</select>
							</div>
							<div class="col-md-4"></div>
						</div>
	
						<div class="form-group col-md-12">
							<label class="col-md-2">Division <span style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control" name="divisionId"
									ng-model="divisionId" ng-selected='divisionId' required
									ng-options="division.id as division.displayName for division in divisionList">
									<!-- <option selected value = "">All</option> -->
								</select>
							</div>
							<div class="col-md-4"></div>
						</div>
						
						<div class="form-group col-md-12">
							<label class="col-md-2">Result Type <span style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control" name="resultTypeId"
									ng-model="resultTypeId" required
									ng-options="result.id as result.name for result in resultTypeList">
									<!-- <option selected value = "">All</option> -->
								</select>
							</div>
							<div class="col-md-4"></div>
						</div>
						
						<div class = "form-group col-md-12">
					      	<label class = "col-md-2">Roll Number </label>
					      	<div class="col-md-6">
					      		<input class="form-control" type="text" maxlength = 45 name="rollNumber" 
					      			placeholder = "Enter roll number"
					      			title = "Please enter roll number." ng-model="rollNumber"/>
					      	</div>
						   	<div class = "col-md-4"></div>
					   	</div>

						<div class="form-group col-md-12">
							<label class="col-md-2"></label>
							<div class="col-md-6">
								<a class="btn btn-default" data-trigger="hover" 
									title="{{!divisionId ? 'Please select Branch First !' : 'Upload Report Excel.'}}"
									ng-click="divisionId ? openUploadReportDialog() : ''" ng-disabled="reportListForm.$invalid"> 
									Upload Report 
								</a>

								<a class="btn btn-default" ng-disabled="reportListForm.$invalid" data-trigger="hover" 
									title="{{!divisionId ? 'Please feel All fields !' : 'Download report template with student entries.'}}"
									ng-click = "divisionId ? downloadReportTemplate() : ''">
									Download report Template
								</a>

								<a class="btn btn-orange" ng-click="divisionId ? filterTableByBranch() : ''"
									data-trigger="hover" ng-disabled="reportListForm.$invalid"
									title="{{!divisionId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
									Search 
								</a>

								<a class="btn btn-default" ng-disabled="idsToDelete.length == 0" 
									title="{{idsToDelete.length == 0 ? 'Please select report to delete.' : 'Delete selected reports.'}}"
									ng-click = "idsToDelete.length > 0 ? deleteData() : ''">
									Delete selected Reports
								</a>
							</div>
						</div>
				</form>
				</div>
			</div>
			<font color='RED'>
				<h4 ng-show="message">{{message}}</h4>
			</font>
			<div>
				<table datatable="ng" dt-options="dtOptions"
					class="table table-striped table-condensed table-bordered table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>Select</th>
							<th>Name</th>
							<th>Title</th>
							<th>Roll Number</th>
							<th>Gross Total/Final Grade</th>
							<th>Uploaded Date</th>
							<th>Result</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="report in reportList">
							<td>
								<input  type = "checkbox" name = "marklatePayment" ng-model = "report.checked" 
									ng-change = "selectToDelete(report)" />
							</td>
							<td>
								<a title="Download result" target = "_blank" href='{{downloadReportUrl+""+report.id}}'>
								{{ report.studentName }}
								</a>
							</td>
							<td>{{ report.title }}</td>
							<td>{{ report.roleNumber }}</td>
							<td>
								<span ng-if="report.grossTotal && report.grossTotal != 'null'" >{{ report.grossTotal }}</span>
								<span ng-if="report.finalGrade && report.finalGrade != 'null'" >{{ report.finalGrade }}</span>	
							</td>
							<td>{{report.createdDate | date : 'dd/MM/yyyy' }}</td>
							<td>
								<span  ng-if=" report.result &&  report.result != 'null'" >{{ report.result }}</span>
							</td>						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
