<form name="searchForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Add Standard and Division</h3>
	</div>

	<div class="form-group col-md-12">
		<div class="form-group col-md-4">
			<label class="col-md-11">Standard/Course</label>
			<div class="col-md-12">
				<select  class="form-control" name="standard" ng-change="changeDivisions()"
					ng-options="standardTemp.id as standardTemp.displayName for standardTemp in tempStandardList" 
					ng-model="standard">
				</select>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label class="col-md-2">Division </label>
			<div class="col-md-10">
				<select multiple class="form-control" name="division"
					ng-options="divisionTemp.id as divisionTemp.displayName for divisionTemp in tempDivisionList"
					ng-model="division">
				</select>
			</div>
		</div>		 
	</div>

	<div class="form-group col-md-12">
		<label class="col-md-1"> </label>
			<div class="col-md-10">
				<button class="btn btn-default" ng-click="addStandards()">Add</button>
				<button class="btn btn-default" ng-click="cancelPopup()">Cancel</button>
			</div>
	</div>

</form>
<div class="modal-footer">
	<br>
</div>

