
<div><!-- 
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
  -->
<div class="panel panel-default">
	<div class="panel-heading">
	Groups And Communities
	</div>
	<div class="panel-body">
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
		      		<div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
				     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
				     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
				     	 </select>
		      		</div>
			   <div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" ng-show = 'roleId != 4'>
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId"
		     	 		ng-selected = "branchId" ng-change = "changeYearList()"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>

		    <!-- <p ng-show = 'isSingleBranch == true'>
		      	<label ><h4 ng-show = 'isSingleBranch == true'>Branch : {{branchName}}</h4></label>
		    </p> -->

		    <div class = "form-group col-md-12" ng-show = 'roleId != 4'>
		      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
		     	 		ng-init="academicYearId = academicYearList[0]['id']"
		     	 		ng-selected = "academicYearId" ng-disabled = true
		     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
		     	 		required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
			
			<div class = "form-group col-md-12">
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-6">
					<a class = "btn btn-orange" ui-sref="group.add" ng-click ="setSelectedData(instituteId, branchId)"
					        title = "Add New Group.">Add Group</a>
			
					<a class = "btn btn-default" ng-click = "academicYearId ? filterTableByBranch() : ''" ng-show = 'roleId != 4'
						data-trigger="hover" ng-disabled = "!academicYearId" ng-show = "isSingleBranch != true"
						title = "{{!academicYearId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
						
						Search
					</a>
				</div>
		   </div>
		</div>
	</div>
	<br>
	<font color = 'RED'>
		<h4 ng-show = "message">
			{{message}}
		</h4>
	</font>
 <br>
	<div>
	<table datatable="ng" dt-options="dtOptions" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-3">Name</th>
				<th class = "col-md-4">Description</th>
				<th class = "col-md-2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="group in groups track by group.id">
				<td class = "col-md-3">{{ group.name }}</td>
				<td class = "col-md-4">{{ group.description }}</td>
				<td class = "col-md-2"><a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="group.edit({id :group.id })"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="group.list" ng-click="deleteData(group.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>