
<div>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
<!-- <div>
<h3 ng-if = "student.id == null">Student / Add Student</h3>
<h3 ng-if = "student.id != null">Student / Edit Student</h3>
</div> -->
<div class="panel panel-default">
	<div class="panel-heading">
	{{groupHeaderValue}}
	</div>
	<div class="panel-body">

<form name = "addGroup" ng-controller="validateGroupForm" class = "container-fluid"> 
	<font color = 'RED'>
		<h4 ng-if = "message">
			{{message}}
		</h4>
	</font>
  <div class = "form-group col-md-12" ng-if = "roleId == 1">
      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "instituteId" ng-model = "group.instituteId" 
     	 		ng-selected = "group.instituteId" ng-change="changeBranchList()"
     	 		ng-options="institute.id as institute.name for institute in instituteList" autofocus>
     	 </select>
      </div>
	   <div class = "col-md-4"></div>
    </div>

 	<div class = "form-group col-md-12" ng-if = "roleId != 4">
      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "branchId" ng-model = "group.branchId" ng-selected = "group.branchId" 
     	 	ng-change = 'branchChanged()'
     	 	ng-options="branch.id as branch.name for branch in branchList" required>
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
    </div>

    <div class="form-group col-md-12" ng-if = "roleId != 4">
		<label class="col-md-2" >Current Academic Year <span
			style="color: red">*</span></label>
		<div class="col-md-6">
			<select class="form-control" name="academicYearId"
				ng-model="group.academicYearId" ng-disabled="true"
				ng-selected="group.academicYearId" 
				ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
				required>
			</select>
			<p class="errorMessage"
				ng-if="addGroup.academicyear.$invalid && !addGroup.academicyear.$pristine">
				Please select year</p>
		</div>
		<div class="col-md-4"></div>
	</div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Group Name <span style = "color:red">*</span></label>
      <div class = "col-md-6">
      		<input type="text" class="form-control col-md-6" maxlength = 56 ng-pattern="regExGroup" name="name" ng-model="group.name" required/>
   	 <p class="errorMessage" ng-if="addGroup.name.$invalid && !addGroup.name.$pristine">
      Please enter group name</p>
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Description </label>
      <div class="col-md-6">
      		<textarea class="form-control" rows="3" name = "description" maxlength = 100 ng-model="group.description"></textarea>
      </div>
      <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-8">
      	<label class = "col-md-3">Is Public Group</label>
      	<div class="col-md-6">
	   			<input  type="checkbox" name="isPublicGroup" id="isPublicGroup" value="Y"
	      			ng-model="group.isPublicGroup" >
  		</div>
  	</div>

<div class="row"><div class="col-md-12"><h2 class="addStudent">Add Individual (Student/ Teacher)</h2></div></div>
<div class = "form-group col-md-12">
		<label class = "col-md-2">Add Individuals </label>
		<div class="col-md-6">
			<a class = "btn btn-orange" ng-disabled="!group.branchId"  name="addIndivisual"  ng-click = "!group.branchId?'':popup()">{{indivisualStudentButtonValue}}</a>			
		</div>
   	  <div class = "col-md-4"></div>
   </div>
 

		<div class = "form-group col-md-12" ng-show = "group.individuals.length > 0">
	    	<div class="col-md-10">
	    		<table class = "table table-striped table-condensed table-bordered table-hover table-bordered" id="dataTables-example">
					<thead>
					<tr>
						<th class = "col-md-2">Name</th>
						<th class = "col-md-2">Standard</th>
						<th class = "col-md-2">Division</th>
						<th class = "col-md-2">Role</th>
						<th class = "col-md-2">Action</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="individual in group.individuals track by $index">
							<td class = "col-md-2">{{ individual.name }}</td>
							<td class = "col-md-2">{{ individual.standard }}</td>
							<td class = "col-md-2">{{ individual.division }}</td>
							<td class = "col-md-2">{{ individual.role }}</td>
							<td class = "col-md-2"><a href = "#" ng-click="removeIndividual(individual.id)">Remove</a></td>
						</tr>
					</tbody>
				</table>
	    	</div>
      		<div class = "col-md-4"></div>	
      	</div>

		<div class="row"><div class="col-md-12"><h2 class="addStudent">Add Standard/Course And Division</h2></div></div>
			 <div class = "form-group col-md-12">
				<label class = "col-md-2">Standard/Course & Division </label>
				<div class="col-md-6"> 
					<a class = "btn btn-orange" ng-disabled="!group.branchId"  name="addStandardDivision" ng-click = "!group.branchId?'':popupStd()">{{standardDivisionButtonValue}}</a>
				</div>
		   	  <div class = "col-md-4"></div>
   		</div>

	<div class = "form-group col-md-12" ng-show = "group.standardDivisionArray.length > 0">
	 	<div class="col-md-10">
	    	<table class = "table table-striped table-condensed table-bordered table-hover table-bordered" id="dataTables-example">
				<thead>
					<tr>
						<th class = "col-md-2">Standard/Course</th>
						<th class = "col-md-2">Division</th>
						<th class = "col-md-2">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="standards in group.standardDivisionArray track by $index">
						<td class = "col-md-2">{{ standards.standardName}}</td>
						<td class = "col-md-2">{{ standards.divisionName}}</td>
						 <td class = "col-md-2"><a href = "#" ng-click="removeStandard(standards.standard,standards.division)">Remove</a></td>
					</tr>
				</tbody>
			</table>
	   </div>
       <div class = "col-md-4"></div>	
   </div>

  <div class = "form-group col-md-12">
     <label class = "col-md-2">Tags </label>
     <div class="col-md-6">
    	<tags-input ng-model="group.tags" ng-readonly="!group.isPublicGroup" ng-required="group.isPublicGroup" ></tags-input>
     </div>
	   <div class = "col-md-4"></div>	
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Status<span style = "color:red">*</span></label>
      <div class="col-md-6">
      <select class="form-control" name = "status" ng-model = "group.status" required>
 		 <option value = "Y">Active</option>
 		 <option value = "N">Inactive</option>
 	  </select>
	  </div>
	   <div class = "col-md-4"></div>	
   </div>

  <input type="hidden" ng-model="group.id" />
   <div class = "form-group col-md-12">
      <label class = "col-md-2"></label>
      <div class="col-md-6">
		  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()" 
		  		ng-disabled="addGroup.$invalid || !isIndividualOrStandardDivisionSelected"/>
		  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
	  </div>
	</div>
</form>
</div>
</div>
</div>