<form name="searchForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Search Individual</h3>
	</div>

		<div class = "form-group col-md-12">
		<br>
			<label class = "col-md-2">Name </label>
      		<div class="col-md-6">
      			<input type="text" class="form-control" name = "name" ng-model="searchData.name" ng-required = "true">
      		</div>
      		<div class = "col-md-4"></div>	
		</div>
		
	<div class = "form-group col-md-12">
		<label class = "col-md-2"> </label>
      		<div class="col-md-6">
				<button class = "btn btn-orange ng-binding"  ng-click="search()" ng-disabled="searchForm.$invalid">Search</button>
				<button class = "btn btn-default"  ng-click="cancelPopup()">Cancel</button>
			</div>
	</div>
	
	</form>
	<font color = "red"><h5 class = "form-group col-md-12" ng-show = 'clickedForSearch && !hasSearchRecords'>No records found for this search.</h5></font>
	<div class = "form-group col-md-12" ng-show = "hasSearchRecords">
	<form name = "addIndividual">
		<br><br>
		<!-- <label ng-show = '!hasSearchRecords'>No records found for this search</label> -->
<!-- 
			<table class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
				<thead>
					<tbody>
						<tr>
							<td class = "col-md-2">Select</td>
							<td class = "col-md-2">Name</td>
							<td class = "col-md-2">Standard</td>
							<td class = "col-md-2">Division</td>
							<td class = "col-md-2">Role</td>
						</tr>
					</tbody>
				</thead>
			</table>	 -->

			<div id = 'popupSearchDiv'>	
			<table class = "table table-striped table-condensed table-bordered table-hover">
				<thead>
						<tr>
							<th class = "col-md-2">Select</th>
							<th class = "col-md-2">Name</th>
							<th class = "col-md-2">Standard/Course</th>
							<th class = "col-md-2">Division</th>
							<th class = "col-md-2">Role</th>
						</tr>
				</thead>
					<tbody>
					<tr ng-repeat="searchIndividual in searchedIndividuals track by searchIndividual.id">
						<td class = "col-md-2"><input type="checkbox" ng-model="searchIndividual.isSelected"></td>
						<td class = "col-md-2">{{ searchIndividual.name }}</td>
						<td class = "col-md-2">{{ searchIndividual.standard }}</td>
						<td class = "col-md-2">{{ searchIndividual.division }}</td>
						<td class = "col-md-2">{{ searchIndividual.role }}</td>
					</tr>
				</tbody>
			</table>
		</div>
			<br><br>
		<button class = "btn btn-default"  ng-click="addIndividuals()">Add</button>
		</form>
	</div>
	
<div class="modal-footer"><br></div>	

