
<div><!--   -->
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
<!-- <div>
<h3 ng-show = "student.id == null">Student / Add Student</h3>
<h3 ng-show = "student.id != null">Student / Edit Student</h3>
</div> -->

<div class="panel panel-default" ng-cloak>
	<div class="panel-heading">
	{{instituteNameValue}}
	</div>
	<div class="panel-body">

<form name = "addInstitute" ng-controller="validateInstituteForm" class = "container-fluid	form-institute" autocomplete="off"> 
	<font color = 'RED'>
		<h4 ng-show = "status == 'fail' || status == 'success' ">
			{{message}}
		</h4>
	</font>
	<br>

   	<div class = "form-group col-md-12">
      	<label class = "col-md-2">Institute Name <span style = "color:red">*</span></label>
      	<div class = "col-md-6">
      		<input type="text" class="form-control col-md-6"  maxlength= 100 name="instituteName" 
      		title ="Please enter institute name" ng-model="institute.instituteName" required autofocus/>
   	  		<p class="errorMessage" ng-show="addInstitute.instituteName.$invalid && !addInstitute.instituteName.$pristine">
      			Please enter institute name
      		</p>
   	  	</div>
   	  	<div class = "col-md-4"></div>
   	</div>

	<div class = "form-group col-md-12">
	      <label class = "col-md-2">Code</label>
	      <div class = "col-md-6">
      			<input type="text" class="form-control col-md-6" ng-pattern="regExCode" maxlength= 16 minlength = 4 name="code" 
      				title ="Please enter institute code" ng-model="institute.code" />
	   			<p class="errorMessage" ng-show="addInstitute.code.$invalid && !addInstitute.code.$pristine">
			    	Please enter valid code<br>
			    	Code must be 4 to 16 letters and only alphabets and numbers are allowed.
			    </p>
	   	  </div>
	   	  <div class = "col-md-4"></div>
   	</div>

  	<div class = "form-group col-md-12">
      	<label class = "col-md-2 inst-logo">Logo </label>
      	<div class="col-md-6">
  			<input type="file" name="file" ngf-select ngf-accept="'image/*'" ngf-pattern="'image/*'"
  			title ="Please select logo for an institute" ng-model="institute.logoUrl"/>
  			
  			<img height="60" ngf-src="institute.logoUrl" class="thumb" />
      	</div>
      	<div class = "col-md-4"></div>
   	</div>

   	<h5> Admin Details</h5>
	<br>
   	<div class = "form-group col-md-12">
      	<label class = "col-md-2">First Name<span style = "color:red">*</span></label>
      	<div class="col-md-6">
     		<input class="form-control" type="text" name="firstName" maxlength = 45 
     		title ="Please enter first name" ng-model="institute.firstName" required/>
	      	<p class="errorMessage" ng-show="addInstitute.firstName.$invalid && !addInstitute.firstName.$pristine">
	      		Please enter first name
	      	</p>
      	</div>
	   	<div class = "col-md-4"></div>
   	</div>

   	<div class = "form-group col-md-12">
      	<label class = "col-md-2">Last Name<span style = "color:red">*</span></label>
      	<div class="col-md-6">
     		<input class="form-control" type="text" name="lastName" maxlength = 45
     		title ="Please enter last name" ng-model="institute.lastName" required/>
			<p class="errorMessage" ng-show="addInstitute.lastName.$invalid && !addInstitute.lastName.$pristine">
      			Please enter last name
      		</p>
      	</div>
	   	<div class = "col-md-4"></div>
   	</div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Admin Email<span style = "color:red">*</span></label>
      <div class="col-md-6">
     		 <input class="form-control" type="text" name="adminEmail" maxlength = 45 ng-pattern="regExEmailAdmin"
     		 title ="Please enter admin email" ng-model="institute.adminEmail" required/>
      <p class="errorMessage" ng-show="addInstitute.adminEmail.$invalid && !addInstitute.adminEmail.$pristine">
      Please enter admin email</p>
      </div>
	   <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Gender <span style = "color:red">*</span></label>
      <div class="col-md-6">
      <div  class = "col-md-3">
      	<input  type="radio" name="optionsRadios1" id="optionsRadios1" value="M" ng-model="institute.gender"
        title ="Please select gender" ng-required ="!institute.gender" checked > Male
      </div>
      <div  class = "col-md-3">
      	<input class = "col-md-3" type="radio" name="optionsRadios1" id="optionsRadios2" value="F" 
      	 title ="Please select gender" ng-model="institute.gender" ng-required ="!institute.gender">Female
      </div>
      <p class="errorMessage" ng-show="addInstitute.optionsRadios1.$invalid && !addInstitute.optionsRadios1.$pristine">
      Please select gender</p>
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Primary Contact<span style = "color:red">*</span></label>
      <div class="col-md-6">
     		 <input class="form-control" type="text" name="primaryContact"
     		 title ="Please enter admin's primary contact" ng-pattern="regExMobile" ng-model="institute.primaryContact" maxlength="10"/>
      <p class="errorMessage" ng-show="addInstitute.primaryContact.$invalid && !addInstitute.primaryContact.$pristine">
      Please enter 10 digit primary contact</p>
      </div>
	   <div class = "col-md-4"></div>
   </div>
   
     <div class = "form-group col-md-12">
      <label class = "col-md-2">City<span style = "color:red"></span></label>
      <div class="col-md-6">
     		 <input class="form-control" type="text" name="adminCity" maxlength = 45 ng-pattern = "regExCity" 
     		 title ="Please enter admin's city" ng-model="institute.adminCity"/>
     
		<p class="errorMessage" ng-show="addInstitute.adminCity.$invalid && !addInstitute.adminCity.$pristine">
      		Please enter city</p> 
      </div>
	   <div class = "col-md-4"></div>
   </div>
   
     <div class = "form-group col-md-12">
      <label class = "col-md-2">Pin Code<span style = "color:red"></span></label>
      <div class="col-md-6">
     	 <input class="form-control" type="text" name="adminPinCode" maxlength = 6 ng-pattern="regExPinCode"
     	 title ="Please enter pincode" ng-model="institute.adminPinCode"/>
      <p class="errorMessage" ng-show="addInstitute.adminPinCode.$invalid && !addInstitute.adminPinCode.$pristine">
      Please enter 6 digit pincode</p>
      </div>
	   <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Status<span style = "color:red"></span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "status" ng-change = "showPopupWhenInactive()" ng-model = "institute.active" 
      		title ="Please select status">
 			 <option value = "Y">Active</option>
 		 	<option value = "N">Inactive</option>
 	  	</select>
	 </div>
	 <div class = "col-md-4"></div>	
   </div>
   

  <input type="hidden" ng-model="institute.id" />
 <div class = "form-group col-md-12">
 	<label class = "col-md-2"></label>
 	<div class="col-md-8">
 	 	<input type="button" class = "btn btn-primary" value="Save" ng-click="save()" ng-disabled="addInstitute.$invalid"/>
  		<input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
  	</div>
 </div>
</form>
</div>
</div>
</div>