<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> -->

	<div class="panel panel-default">
		<div class="panel-heading">
			Institute List
		</div>	
		<div class="panel-body">
	<div  class="well" ng-cloak  ng-hide= "roleId==8">
		<a class = "btn btn-orange btn-small" ui-sref="institute.add" 
			ng-show = "showButtons('Add Institute')" title = "Add New Institute.">Add Institute</a>
		 <a class = "btn btn-default btn-small" ng-click = "uploadInstitutes()" 
		 	ng-show = "showButtons('Upload Institutes')" title = "Upload Institute Excel.">Upload Institutes</a>
		 <a class = "btn btn-default btn-small" 
		 	href = "template/download?excelFileName=eduqfix-upload-institute-template.xlsx" 
		 	title = "Download template XLSX for uploading institutes.">Download Template</a>

	</div>
	<font color = 'RED' ng-cloak>
		<h4 ng-show = "status == 'fail' || status == 'success' ">
			{{message}}
		</h4>
	</font>
	<div>
	<table ng-cloak class = "table table-striped table-condensed table-bordered table-hover" 
		datatable="ng" dt-options="dtOptions" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-2">Institute Name</th>
				<th class = "col-md-2">Code</th>
				<th class = "col-md-2">Admin Name</th>
				<th class = "col-md-2">Gender</th>
				<th class = "col-md-2">Contact Number</th>
				<th class = "col-md-2">Email</th>
				<th class = "col-md-2">City</th>
				<th class = "col-md-2">Pin Code</th>
				<th class = "col-md-2">Status</th>
				<th class = "col-md-2" ng-show="roleId ==1 && !isUploadingFailed">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="institute in institutes track by $index">
				<td class = "col-md-2">{{ institute.instituteName }}</td>
				<td class = "col-md-2">{{ institute.code }}</td>
				<td class = "col-md-2">{{ institute.firstName + " " + institute.lastName }}</td>
				<td class = "col-md-2">{{ institute.gender == 'M' ? 'Male' : 'Female'}}</td>
				<td class = "col-md-2">{{ institute.primaryContact }}</td>
				<td class = "col-md-2">{{ institute.adminEmail }}</td>
				<td class = "col-md-2">{{ institute.adminCity }}</td>
				<td class = "col-md-2">{{ institute.adminPinCode }}</td>
				<td class = "col-md-2">{{institute.active == "Y" ? "Active" : "Inactive" }}</td>
				<td class = "col-md-2" ng-show="roleId ==1 && !isUploadingFailed">
				<a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="institute.edit({id :institute.id})"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="institute.list" ng-click="deleteData(institute.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>

</div>