
<div>
	<h4></h4>
	<div class="panel panel-default">
		<div class="panel-heading">Change Password</div>
		<div class="panel-body">
			<form name="changePassword" ng-controller="PasswordValidationController" class="container-fluid" method="POST">
				<p>
					<font color='RED'>
						<h5>{{message}}</h5>
					</font>
				</p>
				<br />
				<div class="form-group col-md-8">
					<label for="otp" class="col-md-2">Current Password <span style="color: red">*</span></label>
					<div class="col-md-5">
						<input class="form-control" type="password" name="currentPassword"
							maxlength=15 ng-model="changePasswordObj.currentPassword" required/>
					</div>
				</div>

				<div class="form-group col-md-8">
					<label class="col-md-2" for = "password">New Password <span style="color: red">*</span></label>
					<div class="col-md-5">
						<input class="form-control" type="password" name="newPassword"
							maxlength=15 ng-pattern="regExPassword" ng-model="changePasswordObj.newPassword" required/>
							
							<p class="errorMessage" 
								ng-if="changePasswordObj.currentPassword==changePasswordObj.newPassword:">
			      				Please ensure current password and new password must not be same</p>
						<p class="errorMessage"
							ng-show="changePassword.newPassword.$invalid && !changePassword.newPassword.$pristine">
							Please enter valid password.<br>
      						Password must be between 8 to 15 charecters and must contain atleast one Uppercase letter, one lower case letter, and number.
						</p>
					</div>
				</div>

				<div class="form-group col-md-8">
					<label class="col-md-2">Confirm Password <span style="color: red">*</span></label>
					<div class="col-md-5" for = "confirmPassword">
						<input class="form-control" type="password" name="confirmPassword" required
							compare-to="changePasswordObj.newPassword" ng-model="changePasswordObj.confirmPassword" />

						<p class="errorMessage"
							ng-show="changePassword.confirmPassword.$invalid && !changePassword.confirmPassword.$pristine">
							Must match with new password.
						</p>
					</div>
				</div>

				<div class="form-group col-md-8">
					<label class="col-md-2"></label>
					<div class="col-md-5" for = "confirmPassword">
						<p class="submit">
							<input type="button" class="btn btn-orange pull-left" ng-click="changeMyPassword()"
								ng-disabled="changePassword.$invalid" value="Change Password"> 
						</p>
					</div>
				</div>
				
				
			</form>
		</div>
	</div>
</div>