
<div class="col-md-offset-2 col-md-5">
	<h4></h4>
		<div class="panel panel-default">
			<div class="panel-heading login-heading"><center>Forgot Password</center></div>
			<div class="panel-body">
				<form name="loginDetail" class="container-fluid" method="POST">
					<p>
						<font color='RED'>
							<h5>{{message}}</h5>
						</font>
					</p>
					<br />
					<div class="form-group">
						<label class="col-md-3">Email<span style="color: red">*</span></label>
						<div class="col-md-9">
							<input type="text" class="form-control col-md-6" name="username"
								ng-model="username" required autofocus />
						</div>
					</div>
					<br /><br />
					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
								<input type="button" class="btn btn-raised btn-orange" ng-click="save()"
									ng-disabled="loginDetail.$invalid" value="Send OTP"/>
								<input type="button" class="btn btn-raised btn-default"
									ng-click="cancel()" value="Cancel"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>