<form name="form" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Do you really want to log out ?</h3>
	</div>
	<div class="modal-footer">
		<input type="button" class = "btn btn-primary" name="commit" ng-click="logout()" value="Logout">
		<input type="button" class = "btn btn-primary" name="commit"  value="Cancel">
	</div>
</form>
