<div class="col-md-offset-2 col-md-5">
	<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title login-heading"><center>Reset Password</center></h3>
				</div>
				<div class="panel-body">
					<form name="forgotPasswordOTPForm"
						class="container-fluid" method="POST">
						<div class="form-group">
							<label class="control-label" for="otp"> OTP <span><font
									color="red"> * </font></span>
							</label> <input type="otp" name="otp" id="otp" ng-model="otp"
								placeholder="OTP" ng-maxlength="20" class="form-control"
								required />
						</div>

						<div class="form-group">
							<label class="control-label" for="newPassswordId"> New
								Password <span><font color="red"> * </font></span>
							</label> <input type="password" name="newPassword" class="form-control"
								id="newPassswordId" ng-model="newPassword"
								placeholder="New Password" ng-maxlength="50"
								ng-pattern="regExPassword" required />
							<p class="errorMessage"
								ng-show="forgotPasswordOTPForm.newPassword.$invalid && !forgotPasswordOTPForm.newPassword.$pristine">
								At least one number, one lowercase and one uppercase letter. at least six characters that are letters, numbers or the underscore
							</p>

						</div>

						<div class="form-group">
							<label class="control-label" for="confirmPassswordId">
								Confirm Password <span><font color="red"> * </font></span>
							</label> <input type="password" name="confirmPassword"
								ng-model="confirmPassword" class="form-control"
								placeholder="Confirm New Password" ng-required="true"
								compare-to="newPassword" id="confirmPassswordId" />

							<p class="errorMessage"
								ng-show="forgotPasswordOTPForm.confirmPassword.$invalid && !forgotPasswordOTPForm.confirmPassword.$pristine">
								Must match the New Password.</p>
						</div>

						<div class="form-group">
								<input type="button"
										ng-disabled="forgotPasswordOTPForm.$invalid"
										ng-click="submitforgotPasswordFormOTP()"
										class="btn btn-raised btn-orange" value="UPDATE">
								
						</div>
					</form>
				</div>
			</div>
	</div>
</div>