
<div>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

<div class="panel panel-default">
	<div class="panel-heading">
	Send Notice
	</div>
	<div class="panel-body">
<form name = "sendNotice" ng-controller="validateNoticeForm" class = "container-fluid	"> 
	
	<font color = 'RED'><h4>{{message}}</h4></font>
	<br>
	<div class = "form-group col-md-12" ng-show = "roleId == 1">
      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "instituteId" ng-model = "notice.instituteId" 
     	 		ng-selected = "notice.instituteId" ng-change="changeBranchList()"
     	 		ng-options="institute.id as institute.name for institute in instituteList" title="Select institute" autofocus>
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
    </div>
	
	<div class = "form-group col-md-12"  ng-hide = "roleId == 4" >
      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "branchId" ng-model = "notice.branchId" 
     	 	ng-selected = "notice.branchId" ng-options="branch.id as branch.name for branch in branchList" 
     	   ng-change="changeYearList()" title="Select branch" required>
     	 	
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>

   <div class="form-group col-md-12" ng-hide = "roleId == 4">
	 <label class="col-md-2">Current Academic Year <span
		style="color: red">*</span></label>
		<div class="col-md-6">
			<select class="form-control" name="academicYearId"
				ng-model="notice.academicYearId" ng-disabled="true"
				ng-selected="notice.academicYearId" title="Academic Year"
				ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
				required>
			</select>
			<p class="errorMessage"
				ng-show="sendNotice.academicyear.$invalid && !sendNotice.academicyear.$pristine">
				Please select year</p>
		</div>
		<div class="col-md-4"></div>
   </div>	
	
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Title <span style = "color:red">*</span></label>
      <div class = "col-md-6">
      		<input type="text" placeholder="Enter title" class="form-control col-md-6" maxlength = 100 name="name" ng-model="notice.title" title="Enter title" required/>
   	  <p class="errorMessage" ng-show="sendNotice.name.$invalid && !sendNotice.name.$pristine">
      Please enter valid Title</p>
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>

	<div class = "form-group col-md-12">
      <label class = "col-md-2">Description </label>
      <div class="col-md-6">
      		<textarea class="form-control" placeholder="Enter description" rows="3" name = "description" maxlength = 255 ng-model="notice.description" title="Enter description"></textarea>
      </div>
      <div class = "col-md-4"></div>
   </div>

  <div class = "form-group col-md-12">
      <label class = "col-md-2" >Category <span style = "color:red">*</span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "state" ng-model = "notice.category" title="Select category" required>
      	<option value="">Select category</option>option>
      	<option value = "News">News</option>
      	<option value = "Alert">Alert</option>
      	<!-- <option value = "Assignment">Assignment</option> -->
	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>

  <div class = "form-group col-md-12">
      <label class = "col-md-2" >Priority <span style = "color:red">*</span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "state" ng-model = "notice.priority" title="Select priority" required>
      	<option value="">Select priority</option>
      	<option value = "High">High</option>
      	<option value = "Low">Low</option>
	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>

	<!-- <div class = "form-group col-md-12">
      <label class = "col-md-2" >Groups </label>
      <div class="col-md-6">
      	<select multiple class="form-control" name = "groupCode" 
 		     ng-model="notice.groupList" ng-options="group.id as group.name for group in groupList" multiselect-dropdown >
 	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
    </div>   
   <pre>Group selected = {{notice.groupList}}<br>All groups = {{groupList}}</pre>
   	<div class = "form-group col-md-12">
      <label class = "col-md-2" >Groups </label>
      <div class="col-md-10">
	      <multi-select ng-model="notice.groupList" available="groupList" 
			    selected-label="Seleted Groups" 
			    available-label="Available Groups" 
			    ng-required = "!isGroupOrIndividualSelected"
			    display-attr="name">
	      </multi-select>
      </div>
    </div>  --> 

   <div class = "form-group col-md-12">
		<label class = "col-md-2">Groups And Communities </label>
		<div class="col-md-6">
					<a class = "btn btn-orange" ng-disabled="!notice.branchId" name="addIndivisual" ng-click = "!notice.branchId?'':groupPopup()" 
						title=" Select Groups And Communities">Select Groups And Communities</a>
			
		</div>
   	  <div class = "col-md-4"></div>
   </div>

  	<div class = "form-group col-md-12">
	    		<div class="col-md-10" ng-show = 'notice.groupList.length > 0'>
	    			<table class = "table table-striped table-condensed table-hover table-bordered" id="dataTables-example">
				<thead>
				<tr>
					<th class = "col-md-2">Name</th>
					<th class = "col-md-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="group in notice.groupList track by group.id">
					<td class = "col-md-2">{{ group.name }}</td>
					<td class = "col-md-2"><a href = "#" ng-click="removeGroup(group.id)">Remove</a></td>
				</tr>
			</tbody>
			</table>
	    </div>
      	<div class = "col-md-4"></div>	
	</div>

   <div class = "form-group col-md-12">
		<label class = "col-md-2">Individual </label>
		<div class="col-md-6">
					<a class = "btn btn-orange"  ng-disabled="!notice.branchId" name="addIndivisual" ng-click = "!notice.branchId?'':popup()" title="Select individual">Select Individual</a>
			
		</div>
   	  <div class = "col-md-4"></div>
   </div>

  	<div class = "form-group col-md-12">
	    		<div class="col-md-10" ng-show = 'notice.individuals.length > 0'>
	    			<table class = "table table-striped table-condensed table-hover table-bordered" id="dataTables-example">
				<thead>
				<tr>
					<th class = "col-md-2">Name</th>
					<th class = "col-md-2">Role</th>
					<th class = "col-md-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="individual in notice.individuals track by individual.id">
					<td class = "col-md-2">{{ individual.name }}</td>
					<td class = "col-md-2">{{ individual.role }}</td>
					<td class = "col-md-2"><a href = "#" ng-click="removeIndividual(individual.id)">Remove</a></td>
				</tr>
			</tbody>
			</table>
	    </div>
      	<div class = "col-md-4"></div>	
	</div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">File </label>
      <div class="col-md-6">
      	<!-- 
      		ngf-pattern="image/*, .pdf, text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      		ngf-accept="image/*, .pdf, text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      	 -->
      		<input type="file" name="file" ngf-select ng-model="notice.image" 
      			ng-change = "notice.fileChanegd = true" title="Select file."/>
      </div>
      <div class = "col-md-4"></div>
   </div>

  <input type="hidden" ng-model="notice.id" />
  <div class = "form-group col-md-12">
      <label class = "col-md-2"> </label>
      <div class="col-md-6">
		  <input type="button" class = "btn btn-orange" value=" Send " ng-click="send()"
		  	 ng-disabled="sendNotice.$invalid || isSaveDisabled || !isIndividualOrGroupSelected"/>
		  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
	  </div>
  </div>
</form>
</div>
</div>
