
<div>
	<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">
			{{divisionHeaderValue}}
		</div>
		<div class="panel-body" ng-cloak>
			<form name = "addDivision" ng-controller="validateDivisionForm" class = "container-fluid	">
				 <font color = 'RED'>
					<h4 ng-show = "status == 'fail' || status == 'success' ">
						{{message}}
					</h4>
				 </font>

				 <div class = "form-group col-md-12" ng-show = "roleId == 1">
				      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
				      <div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "division.instituteId" 
				     	 		ng-selected = "division.instituteId" ng-change="changeBranchList()"
				     	 		ng-options="institute.id as institute.name for institute in instituteList" autofocus>
				     	 </select>
				      </div>
					  <div class = "col-md-4"></div>	
			     </div>

				 <div class = "form-group col-md-12">
				      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
				      <div class="col-md-6">
					      <select class="form-control" name = "branchId" ng-model = "division.branchId" 
					      		ng-selected = "division.branchId" ng-change = "changeYearList()"
					      		ng-options="branch.id as branch.name for branch in branchList" required>
					      </select>
					      <p class="errorMessage" 
					      		ng-show="addDivision.branch.$invalid && !addDivision.branch.$pristine">
				      			Please select branch
				      	  </p>
					  </div>
					  <div class = "col-md-4"></div>	
			    </div>
			 	
			 	<div class="form-group col-md-12">
					<label class="col-md-2">Current Academic Year <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							ng-model="division.academicYearId" ng-disabled="true"
							ng-selected="division.academicYearId" 
							ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addDivision.academicYearId.$invalid && !addDivision.academicYearId.$pristine">
							Please select year</p>
					</div>
					<div class="col-md-4"></div>
				</div>
			 	
				<div class = "form-group col-md-12">
					<label class = "col-md-2">Display Name <span style = "color:red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength = 40 
							name="displayName" ng-model="division.displayName" ng-required = 'true'/>
						<p class="errorMessage" 
							ng-show="addDivision.displayName.$invalid && !addDivision.displayName.$pristine">
						 	Please insert Display Name.
						</p>
					</div>
					<div class = "col-md-4"></div>	
			   </div>
			   
			   <div class = "form-group col-md-12">
					<label class = "col-md-2">Code <span style = "color:red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength = 10 
							name="code" ng-model="division.code" ng-required = 'true'/>
						<p class="errorMessage" 
							ng-show="addDivision.code.$invalid && !addDivision.code.$pristine">
						 	Please insert Code.
						</p>
					</div>
					<div class = "col-md-4"></div>	
			   </div>
			   
			  <input type="hidden" name = 'id' ng-model="division.id" />
			  <div class = "form-group col-md-12">
			 	<label class = "col-md-2"></label>
			 	<div class="col-md-8">
				  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()" 
				  		ng-disabled="addDivision.$invalid"/>
				  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
			  </div>
			 </div>
			</form>
		</div>
	</div>
</div>