
<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
<div class="panel panel-default">
	<div class="panel-heading">
		Email Settings 
	</div>
	<div class="panel-body" ng-cloak>

	<form name = "emailSettingForm" ng-controller="validateEmailSettingForm" class = "container-fluid"  enctype="multipart/form-data"> 
		<font color = 'RED'>
			<h4 ng-show = "status == 'fail' || status == 'success' ">
				{{message}}
			</h4>
		</font>
	
	   	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Server Name <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="text" ng-pattern="regExServerName" maxlength = 100 name="serverName" 
	    		  	ng-model="emailSetting.serverName" required autofocus/>
		      	<p class="errorMessage" ng-show="emailSettingForm.serverName.$invalid && !emailSettingForm.serverName.$pristine">
		      		Please enter valid Server name.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>
	   
	   	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Port <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="text" ng-pattern="regExPort" maxlength = 10 name="port" 
	    		  	ng-model="emailSetting.port" required/>
		      	<p class="errorMessage" ng-show="emailSettingForm.port.$invalid && !emailSettingForm.port.$pristine">
		      		Please enter valid port.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>
	   	
	  	<div class = "form-group col-md-12">
	     	<label class = "col-md-2">Connection Type <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="text" ng-pattern="regExConnectionType" maxlength = 10 name="connectionType" 
	    		  	ng-model="emailSetting.connectionType" required/>
		      	<p class="errorMessage" ng-show="emailSettingForm.connectionType.$invalid && !emailSettingForm.connectionType.$pristine">
		      		Please enter valid port.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>
	   	
	   	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Security <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="text" ng-pattern="regExSecurity" maxlength = 10 name="security" 
	    		  	ng-model="emailSetting.security" required/>
		      	<p class="errorMessage" ng-show="emailSettingForm.security.$invalid && !emailSettingForm.security.$pristine">
		      		Please enter valid port.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>

	 	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Authentication Method <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="text" ng-pattern="regExAuthenticationMethod" maxlength = 10 name="authenticationMethod" 
	    		  	ng-model="emailSetting.authenticationMethod" required/>
		      	<p class="errorMessage" ng-show="emailSettingForm.authenticationMethod.$invalid && !emailSettingForm.authenticationMethod.$pristine">
		      		Please enter valid port.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div> 

	   	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Username <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="text" ng-pattern="regExUsername" maxlength = 40 name="username" 
	    		  	ng-model="emailSetting.username" required/>
		      	<p class="errorMessage" ng-show="emailSettingForm.username.$invalid && !emailSettingForm.username.$pristine">
		      		Please enter valid port.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>

	   	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Active <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    		<select class="form-control" name = "active" ng-model = "emailSetting.active" required>
		 			<option value = "Y">Active</option>
		 			<option value = "N">Inactive</option>
			 	</select>
		      	
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>
	   	
	   		<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Password <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="password" ng-pattern="regExPassword" maxlength = 40 name="password" 
	    		  	ng-model="emailSetting.password" required/>
		      	<p class="errorMessage" ng-show="emailSettingForm.password.$invalid && !emailSettingForm.password.$pristine">
		      		Please enter valid password.<br>
      				Password must be between 8 to 15 charecters and must contain atleast one Uppercase letter, one lower case letter, and number.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>
	   	
	  <input type="hidden" ng-model="emailSetting.id" />
	  <div class = "form-group col-md-12">
	      	<label class = "col-md-2"></label>
	      	<div class="col-md-6">
	  			<input type="button" class = "btn btn-primary" value="Save" ng-click="save()" ng-disabled="emailSettingForm.$invalid"/>
	  		</div>
	  </div>
	 
	</form>

</div>
</div>

</div>
