
<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
<div class="panel panel-default">
	<div class="panel-heading">
		SMS Settings 
	</div>
	<div class="panel-body" ng-cloak>

	<form name = "smsSettingForm" ng-controller="validateSmsSettingForm" class = "container-fluid"  enctype="multipart/form-data"> 
		<font color = 'RED'>
			<h4 ng-show = "status == 'fail' || status == 'success' ">
				{{message}}
			</h4>
		</font>

	   	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Vendor Url <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="text" ng-pattern="regExVendorUrl" maxlength = 100 name="vendorUrl" 
	    		  	ng-model="smsSetting.vendorUrl" required autofocus/>
		      	<p class="errorMessage" ng-show="smsSettingForm.vendorUrl.$invalid && !smsSettingForm.vendorUrl.$pristine">
		      		Please enter valid url.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>

	   	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Username <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    	  	<input class="form-control" type="text" ng-pattern="regExUsername" maxlength = 40 name="username" 
	    		  	ng-model="smsSetting.username" required/>
		      	<p class="errorMessage" ng-show="smsSettingForm.username.$invalid && !smsSettingForm.username.$pristine">
		      		Please enter valid username.
		      	</p>
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>

	  	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Password </label>
	      	<div class="col-md-6">
	      		<input class="form-control" type="password" name="password" maxlength = 15 ng-pattern="regExPassword"
	      			 ng-model="smsSetting.password"  />
	      		<p class="errorMessage" ng-show="smsSettingForm.password.$invalid && !smsSettingForm.password.$pristine">
	      			Please enter valid password.
	      		</p>
	      	</div>
		   	<div class = "col-md-4"></div>
	   	</div>

		<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Confirm Password </label>
	      	<div class="col-md-6">
	      		<input class="form-control" type="password" name="confirmPassword"  
	      			compare-to="smsSetting.password" ng-model="smsSetting.confirmPassword" />
	      			
	      		<p class="errorMessage" ng-show="smsSettingForm.confirmPassword.$invalid && !smsSettingForm.confirmPassword.$pristine">
	      			Must match the Password.
	      		</p>
	      	</div>
		   	<div class = "col-md-4"></div>
	   	</div>
		
		<div class = "form-group col-md-12">
	      	<label class = "col-md-2">From</label>
	      	<div class="col-md-6">
	      		<input class="form-control" type="tesxt" name="from" ng-model="smsSetting.from" />
	      	</div>
		   	<div class = "col-md-4"></div>
	   	</div>

	   	<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Active <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	    		<select class="form-control" name = "active" ng-model = "smsSetting.active" required>
		 			<option value = "Y">Active</option>
		 			<option value = "N">Inactive</option>
			 	</select>
		      	
	      	</div>
		  	<div class = "col-md-4"></div>
	   	</div>

	  <input type="hidden" ng-model="smsSetting.id" />
	  <div class = "form-group col-md-12">
	      	<label class = "col-md-2"></label>
	      	<div class="col-md-6">
	  			<input type="button" class = "btn btn-primary" value="Save" ng-click="save()" ng-disabled="smsSettingForm.$invalid"/>
	  		</div>
	  </div>
	</form>
</div>
</div>

</div>
