<div>
<div class="panel panel-default">
	<div class="panel-heading">
	Fees Head List
	</div>
	<div class="panel-body">
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
	      		<div class="col-md-6">
			     	<select class="form-control" name = "instituteId" ng-model = "instituteId" 
		     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
		     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
			     	</select>
	      		</div>
			   <div class = "col-md-4"></div>	
		    </div>
	
			<div class = "form-group col-md-12">
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12">
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-6">
		      		<a class = "btn btn-orange" ui-sref="head.add" ng-click= "setSelectedData(instituteId, branchId)" 
		      			title = "Add New Fees Head.">Add Fees Head</a>

					<a class = "btn btn-default" ng-click = "branchId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!branchId"
						title = "{{!branchId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
						Search
					</a>
				</div>
			</div>
		</div>
	</div>
	<br>
		<font color = 'RED'>
			<h4 ng-show = "message">
				{{message}}
			</h4>
		</font>
		<br>

	<div>	
	<table datatable="ng" dt-options="dtOptions" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-2">Fees Head Name</th>
				<th class = "col-md-1">Status</th>
				<th class = "col-md-1">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="head in headList">
				<td class = "col-md-2">{{ head.name }}</td>
				<td class = "col-md-1">{{ head.active == "Y" ? "Active" : "Inactive" }}</td>
				<td class = "col-md-2"><a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="head.edit({id :head.id})"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="head.list" ng-click="deleteData(head.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>
