
<div>
	<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">
			{{headHeaderValue}}
		</div>
		<div class="panel-body">
			<form name = "addHead" ng-controller="validateHeadForm" class = "container-fluid	">
				 <font color = 'RED'>
					<h4 ng-show = "status == 'fail' || status == 'success' ">
						{{message}}
					</h4>
				 </font>

				 <div class = "form-group col-md-12" ng-show = "roleId == 1">
				      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
				      <div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "head.instituteId" 
				     	 		ng-selected = "head.instituteId" ng-change="changeBranchList()"
				     	 		ng-options="institute.id as institute.name for institute in instituteList" autofocus>
				     	 </select>
				      </div>
					  <div class = "col-md-4"></div>	
			     </div>

				 <div class = "form-group col-md-12">
				      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
				      <div class="col-md-6">
					      <select class="form-control" name = "branchId" ng-model = "head.branchId" 
					      		ng-selected = "head.branchId"
					      		ng-options="branch.id as branch.name for branch in branchList" required>
					      </select>
					      <p class="errorMessage" 
					      		ng-show="addHead.branch.$invalid && !addHead.branch.$pristine">
				      			Please select branch
				      	  </p>
					  </div>
					  <div class = "col-md-4"></div>	
			    </div>

			 	<!-- <div class="form-group col-md-12">
					<label class="col-md-2">Current Academic Year <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							ng-model="head.academicYearId" ng-disabled="true"
							ng-selected="head.academicYearId" 
							ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addHead.academicyear.$invalid && !addHead.academicyear.$pristine">
							Please select year</p>
					</div>
					<div class="col-md-4"></div>
				</div> -->

				<div class = "form-group col-md-12">
					<label class = "col-md-2">Fees Head Name <span style = "color:red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength = 45 

							  name="name" ng-model="head.name" ng-required = 'true'/>

						<!-- <p class="errorMessage" 
							ng-show="addHead.name.$invalid && !addHead.name.$pristine">
						 	Please insert Fees Head Name.
						</p> --> 
					</div>
					<div class = "col-md-4"></div>	
			   </div>

			    <div class = "form-group col-md-12">
     			  <label class = "col-md-2">Status<span style = "color:red">*</span></label>
     			  <div class="col-md-6">
     				 <select class="form-control" name = "status" ng-model = "head.active" required>
				 		 <option value = "Y">Active</option>
				 		 <option value = "N">Inactive</option>
 					  </select>
				  </div>
	              <div class = "col-md-4"></div>	
  			    </div>
			   
			  <input type="hidden" name = 'id' ng-model="head.id" />
			  <div class = "form-group col-md-12">
     			  <label class = "col-md-2"></label>
     			  <div class="col-md-6">
					  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()" 
					  		ng-disabled="addHead.$invalid"/>
					  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
				  </div>
			  </div>
			</form>
		</div>
	</div>
</div>