<div class="modal-header">
            <h3 class="modal-title">Assign Permission</h3>
        </div>
        <div class="modal-body">
            <table  class = "table table-striped table-condensed table-bordered table-hover">
		<thead>
			<tr>
				<th class = "col-md-2">Actions</th>
				<th class = "col-md-2">Allow</th>
				<th class = "col-md-2">Deny</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat = "privilege in privileges">
				<td class = "col-md-2">{{privilege.permissionName}}</td>
				<td class = "col-md-2"><input name = "permission-{{$index}}" type="radio" ng-value = "true" ng-model="privilege.allow"></td>
				<td class = "col-md-2"><input name = "permission-{{$index}}" type="radio" ng-value = "false" ng-model="privilege.allow"></td>
			</tr>
		</tbody>
	</table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>