
  <div class="panel panel-default">
		<div class="panel-heading">
			<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> -->
			Assign Permission
		</div>
		<div class="panel-body">
			
			<div class="form-group col-md-12">
				<label class="col-md-2" for="singleSelect">Select Role :</label>
					<div class="col-md-4">
						 <select class="form-control" name="singleSelect" ng-change = "moduleList(role)" ng-model = "role" 
						 	ng-options = "roleObj.id as roleObj.name for roleObj in roles">

					    </select>
					</div>
			</div>
			<!-- <label for="singleSelect"> Select Role </label>
			    <select class="form-control" name="singleSelect" ng-change = "moduleList(role)" ng-model = "role">
			      <option ng-repeat = "role in roles" ng-value="{{role.id}}">{{role.name}}</option>
			    </select><br> -->

			<table  class = "table table-striped table-condensed table-bordered table-hover">
					<thead>
						<tr>
							<th class = "col-md-2">Module</th>
							<th class = "col-md-2">Allow</th>
							<th class = "col-md-2">Deny</th>
							<th class = "col-md-2">Access to action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "module in modules">
							<td class = "col-md-2">{{module.menuName}}</td>
							<td class = "col-md-2"><input name = "menu-{{$index}}" type="radio" ng-value = "true" ng-model="module.allow"></td>
							<td class = "col-md-2"><input name = "menu-{{$index}}" type="radio" ng-value = "false" ng-model="module.allow"></td>
							<td class = "col-md-2"><a href="" ng-click="assignPrivileges(module.menuId)"><span>Click to View Page Actions</span></a></td>
						</tr>
					</tbody>
			</table>
			
			  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()"/>
			  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
  
		</div>
		
  </div>


