<div class="modal-header">
	<h3 class="modal-title">Unauthorized access</h3>
</div>
<div class="modal-body">
	You do not have permissions to access the page.
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
</div>