<div>

<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> -->

<div class="panel panel-default">
		<div class="panel-heading">
		Assignments List
		</div>
		<div class="panel-body">
		<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
		      		<div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
				     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
				     	 		ng-options="institute.id as institute.name for institute in instituteList" title="Select institute" required>
				     	 </select>
		      		</div>
			   <div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" ng-hide = "roleId == 4" >
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId" ng-change = "changeYearList()"
		     	 		ng-options="branch.id as branch.name for branch in branchList" title="Select branch" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>

		    <div class = "form-group col-md-12" ng-hide = "roleId == 4">
		      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select title="Academic Year" class="form-control" name = "academicYearId" ng-model = "academicYearId" 
		     	 		ng-init="academicYearId = academicYearList[0]['id']"
		     	 		ng-selected = "academicYearId" ng-disabled = true
		     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
		     	 		required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
		    
			<div class = "form-group col-md-12">
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-6">
					<a class = "btn btn-orange btn-small" ui-sref="assignment.send" ng-click ="setSelectedData(instituteId, branchId)" 
					       title = "Send New Assignments.">Send Assignments</a>
					<a class = "btn btn-default" ng-click = "academicYearId ? filterTableByBranch() : ''" 
						ng-show = "roleId != 4 && isSingleBranch != true"
						data-trigger="hover" ng-disabled = "!academicYearId" 
						title = "{{!academicYearId ? 'Select institute and branch first' : 'Search the available assignments'}}">
						
						Search
					</a>
					<a title=" Show all assignments" class = "btn btn-orange btn-small" ng-show = "roleId == 4" 
						 ng-click = "showAllAssignments()">
						Sent Assignments
					</a>
					<a title="Show my notices" class = "btn btn-orange btn-small" ng-show = "roleId == 4" 
						ng-click = "showMyAssignments()">
						Received Assignments
					</a>
				</div>
			</div>	
		</div>	
	</div>

	<h4 ng-if = "title">{{title}}</h4>
	<font color = 'RED' ng-show = "message"><h4>{{message}}</h4></font>
	<br ng-if = "roleId == 4">
	
	<div>	
	<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
	 class = "table table-striped table-condensed table-bordered table-hover">
		<thead>
			<tr>
				<th class = "col-md-2">Title</th>
				<!-- <th class = "col-md-2">Category</th> -->
				<th class = "col-md-2">Priority</th>
				<th class = "col-md-2">Sent On</th>
				<th ng-show = "!isAllNotice || roleId == 2" class = "col-md-2">Sent By</th>
				<th class = "col-md-2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="assignments in assignmentsList">
				<td class = "col-md-2">{{ assignments.title}}</td>
				<td class = "col-md-2">{{ assignments.category}}</td>
				<td class = "col-md-2">{{ assignments.priority}}</td>
				<td class = "col-md-2">{{ assignments.date| date : 'dd/MM/yyyy' }}</td>
				<td ng-show = "!isAllassignments" class = "col-md-2">{{assignments.sentByName}}</td>
				<td class = "col-md-2">
					<a href = "#" class="btn btn-xs btn-default" title="View" ui-sref="assignments.view({id :assignments.id})">
						<i class="fa fa-eye"></i>
					</a> <span ng-show = "!istecherSpecificAssignments">  </span> 
					<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="assignments.list" ng-show = "!istecherSpecificAssignments" ng-click="deleteData(assignments.id)">
						<i class="fa fa-trash"></i>
					</a>
					</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>
