<div>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

<div class="panel panel-default">
	<div class="panel-heading">
		Assignments
	</div>
	<div class="panel-body">
		<form name = "sendassignments" ng-controller="validateassignmentsForm" class = "container-fluid	">
			<br>
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
		      <label class = "col-md-2">Institute </label>
		      <div class="col-md-8">
		     	 <label class = "col-md-8">{{assignments.instituteName}}</label>
		      </div>
			   <div class = "col-md-2"></div>	
		    </div>
			
			<div class = "form-group col-md-12"  ng-hide = "roleId == 4" >
		      <label class = "col-md-2">Branch </label>
		      <div class="col-md-8">
		     	 <label class = "col-md-8">{{assignments.branchName}}</label>
		      </div>
			   <div class = "col-md-2"></div>	
		   </div>
			
		   <div class = "form-group col-md-12">
		      <label class = "col-md-2">Title </label>
		      <div class="col-md-8">
		     	 <label class = "col-md-8">{{assignments.title}}</label>
		      </div>
		   	  <div class = "col-md-2"></div>
		   </div>
		
			<div class = "form-group col-md-12">
		      <label class = "col-md-2">Description </label>
		      <div class="col-md-8">
		     	 <label class = "col-md-8">{{assignments.description}}</label>
		      </div>
		   	  <div class = "col-md-2"></div>
		   </div>
		
		  <div class = "form-group col-md-12">
		      <label class = "col-md-2" >Category</label>
		      <div class="col-md-8">
		     	 <label class = "col-md-8">{{assignments.category}}</label>
		      </div>
		   	  <div class = "col-md-2"></div>	
		   </div>
		
		  <div class = "form-group col-md-12">
		      <label class = "col-md-2" >Priority</label>
		      <div class="col-md-8">
		     	 <label class = "col-md-8">{{assignments.priority}}</label>
		      </div>
		   	  <div class = "col-md-2"></div>	
		   </div>    
		
		   <div class = "form-group col-md-12">
				<label class = "col-md-2">Groups </label>
				<div class="col-md-10"></div>
		   </div>
		
		  	<div class = "form-group col-md-12">
		   		<div class="col-md-10" ng-show = 'assignments.groupList.length > 0'>
		   			<table class = "table table-striped table-condensed table-hover table-bordered" id="dataTables-example">
						<thead>
						<tr>
							<th class = "col-md-2">Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="group in assignments.groupList track by group.id">
							<td class = "col-md-2">{{ group.name }}</td>
						</tr>
					</tbody>
					</table>
			    </div>
		      	<div class = "col-md-4"></div>	
			</div>
		    
		   <div class = "form-group col-md-12">
				<label class = "col-md-2">Individuals </label>
				<div class="col-md-10"></div>
		   </div>
		
		  	<div class = "form-group col-md-12">
	    		<div class="col-md-10" ng-show = 'assignments.individuals.length > 0'>
	    			<table class = "table table-striped table-condensed table-hover table-bordered" id="dataTables-example">
						<thead>
						<tr>
							<th class = "col-md-2">Name</th>
							<th class = "col-md-2">Role</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="individual in assignments.individuals track by individual.id">
							<td class = "col-md-2">{{ individual.name }}</td>
							<td class = "col-md-2">{{ individual.role }}</td>
						</tr>
					</tbody>
					</table>
			    </div>
		      	<div class = "col-md-4"></div>	
			</div>
			
			<div class = "form-group col-md-12">
			      <label class = "col-md-2">Image </label>
			 	  <div class="col-md-8">
			     	 <label class = "col-md-8"><a href = "{{assignments.imageName}}" download = "{{assignments.imageUrl}}" target="_self">{{assignments.imageUrl}}</a></label>
			      </div>
			   	  <div class = "col-md-2"></div>
		   </div>
		   <input type="button" class = "btn btn-default" value="Back" ng-click="cancel()" />
		</form>
	</div>
</div>
</div>