<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">{{subjectHeaderValue}}</div>
		<div class="panel-body" ng-cloak>

			<form name="addSubject"
				class="container-fluid	">
				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="subject.instituteId" ng-selected="subject.instituteId"
							ng-change="changeBranchList()" autofocus
							ng-options="institute.id as institute.name for institute in instituteList">
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="subject.branchId" ng-change='changeStandardList()'
							ng-options="branch.id as branch.name for branch in branchList"
							ng-selected="subject.branchId" required>
						</select>
						<p class="errorMessage"
							ng-show="addSubject.branch.$invalid && !addSubject.branch.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Name <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=45
							ng-pattern="regExName" title="Please enter name" name="name"
							ng-model="subject.name" required />
						<p class="errorMessage"
							ng-show="addSubjectForm.name.$invalid && !addSubjectForm.name.$pristine">
							Please Add valid subject</p>
					</div>
					<div class="col-md-4"></div>
				</div>
				
				<div class="form-group col-md-12">
					<label class="col-md-2">Code </label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=45
							title="Please enter code" name="code"
							ng-model="subject.code" />
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Theory Marks</label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=10
							title="Please enter code" name="theoryMarks"
							ng-model="subject.theoryMarks" />
						<p class="errorMessage"
							ng-show="addSubjectForm.theoryMarks.$invalid && !addSubjectForm.theoryMarks.$pristine">
							Please Add valid theory marks</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Practical Marks</label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=10
							title="Please enter code" name="practicalMarks"
							ng-model="subject.practicalMarks" />
						<p class="errorMessage"
							ng-show="addSubjectForm.practicalMarks.$invalid && !addSubjectForm.practicalMarks.$pristine">
							Please Add valid practical marks</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<input type="hidden" name='id' ng-model="subject.id" />
				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-8">
						<input type="button" class="btn btn-orange" value="Save"
							ng-click="save()"
							ng-disabled="addSubject.$invalid || formValid == false" /> <input
							type="button" class="btn btn-default" value="Cancel"
							ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>