<div>
	<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
	<div class="panel panel-default">
		<div class="panel-heading">Subject List</div>
		<div class="panel-body" ng-cloak>
			<div class="well">
				<div class="row">
					<div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId"
								ng-change="changeBranchList()" required
								ng-options="institute.id as institute.name for institute in instituteList">
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12" ng-show='!isSingleBranch'>
						<label class="col-md-2">Branch <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId" ng-model="branchId"
								ng-selected="branchId"
								ng-change="changeYearList()" required
								ng-options="branch.id as branch.name for branch in branchList">
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-18">
						<label class="col-md-2"></label>
						<div class="col-md-6">
							<a class="btn btn-orange" ui-sref="subject.add"
								ng-click="setSelectedData(instituteId, branchId)"
								title="Add New Subject.">
								Add Subject</a> 

							<a class="btn btn-default" ng-disabled="!branchId" data-trigger="hover"
								title="{{!branchId ? 'Please select Institute and Branch !' : 'Upload Subject file in xlsx.'}}"
								ng-click="branchId ? openUploadSubjectDialog() : ''">

								Upload Subject </a> 
							<a class="btn btn-default btn-small" ng-disabled="!branchId"
								ng-click = "!branchId ? '' : downloadTemplate('template/download?excelFileName=eduqfix-upload-subject-template.xlsx&branchId='+branchId)"
								title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading subject.'}}">
								Download Template
							</a>
							<a class="btn btn-default" ng-click="branchId ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled="!branchId"
								title="{{!branchId ? 'Please select Institute and Branch !' : 'Search for Subject result.'}}">

								Search </a>
						</div>
					</div>
				</div>
			</div>

			<font ng-show="message" color='RED'>
				<h4 >{{message}}</h4>
			</font>

			<div>
				<table datatable="ng" dt-options="dtOptions"
					dt-column-defs="dtColumnDefs"
					class="table table-striped table-condensed table-bordered table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>Name</th>
							<th>Code</th>
							<th>Theory Marks</th>
							<th>Practical Marks</th>
							<th ng-show='!isUploadingFailed'>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="subject in subjectList">
							<td>{{ subject.name }}</td>
							<td>{{ subject.code }}</td>
							<td>{{ subject.theoryMarks }}</td>
							<td>{{ subject.practicalMarks }}</td>
							<td ng-show='!isUploadingFailed'>
								<a href="#" class="btn btn-xs btn-default" title="Edit"
								ui-sref="subject.edit({id :subject.id})">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="btn btn-xs btn-default" title="Delete"
								ui-sref="subject.manage" ng-click="deleteData(subject.id)">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
