<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">{{standardSubjectHeaderValue}}</div>
		<div class="panel-body" ng-cloak>

			<form name="addStandardSubject"
				class="container-fluid	">
				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="standardSubject.instituteId" ng-selected="standardSubject.instituteId"
							ng-change="changeBranchList()" autofocus
							ng-options="institute.id as institute.name for institute in instituteList">
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="standardSubject.branchId" ng-change='branchChanged()'
							ng-options="branch.id as branch.name for branch in branchList"
							ng-selected="standardSubject.branchId" required>
						</select>
						<p class="errorMessage"
							ng-show="addStandardSubject.branch.$invalid && !addStandardSubject.branch.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Standard/Course <span style="color: red">*</span></label>
			      	<div class="col-md-6">
				  		<select class="form-control" name = "standardId" ng-change="standardChanged()" 
				  			ng-model = "standardSubject.standardId" required title = "Please select standard." 
				     	 	ng-options="standard.id as standard.displayName for standard in standardList" >
				     	 	<option ng-selected="true" value="">Select Standard/Course</option>
				 	  	</select>

				 	  	<p class="errorMessage"
							ng-show="isStandardRequired == true">
							Standard is required.</p>
				  	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>

				<div class = "form-group col-md-12">
			      	<label class = "col-md-2">Subjects <span style="color: red">*</span></label>
			      	<div class="col-md-6">
			      		<div  isteven-multi-select
						    input-model="subjectList"
						    output-model="standardSubject.subjectIdList"
						    button-label="name"
						    item-label="name"
						    name = "subjectIdList"
						    tick-property="ticked">

						</div>
				  		<p class="errorMessage"
							ng-show="isSubjectRequired == true">
							At least one subject required.</p>
				  	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>

				<input type="hidden" name='id' ng-model="standardSubject.id" />
				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-8">
						<input type="button" class="btn btn-orange" value="Save"
							ng-click="save()"
							ng-disabled="addStandardSubject.$invalid || isSubjectRequired == true" /> <input
							type="button" class="btn btn-default" value="Cancel"
							ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>