
<div>
	<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
	<div class="panel panel-default">
		<div class="panel-heading">Payment Settings</div>
		<div class="panel-body">

			<div class="well">
				<div class="row">
				<h4>Default Payment Settings</h4>
					<form name="addPaymentSetting"
						ng-controller="DefaultPaymentSettingsController"
						class="container-fluid	">

						<div class="form-group col-md-12">
							<label class="col-md-2">Gateway <span style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control"
									ng-model="paymentSettings.gatewayId" name="gatewayId">
									<option value="1">Gateway 1</option>
									<option value="2">Gateway 2</option>
								</select>
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group col-md-12">
							<label class="col-md-2">Internet handling Charges <span
								style="color: red">*</span></label>
								
							  <div class="col-md-8">
			                          <div class="row">
											<div class="col-md-4">
												<input type="text" class="form-control"
													ng-pattern="regExAmount" placeholder="Amount" maxlength=45
													name="amount" ng-model="paymentSettings.amount" ng-required="!paymentSettings.percentage" />
												<p class="errorMessage"
													ng-show="addPaymentSetting.amount.$invalid && !addPaymentSetting.amount.$pristine">
													Please enter valid amount</p>
			                                </div>
			  							    <div class="col-md-1"><b>or</b></div>
			                                <div class="col-md-4">
											
												<input type="text" class="form-control"
													placeholder="Percentage" ng-pattern="regExPercentage"
													maxlength=6 name="percentage"
													ng-model="paymentSettings.percentage"
													ng-required="!paymentSettings.amount" />
												<p class="errorMessage"
													ng-show="addPaymentSetting.percentage.$invalid && !addPaymentSetting.percentage.$pristine">
													Please enter valid percentage</p>
			                               </div>
									 </div>
								</div>
					
							<!-- <div class="col-md-6">
								<div class=col-md-6>
									<input type="text" class="form-control"
										ng-pattern="regExAmount" placeholder="Amount" maxlength=45
										name="amount" ng-model="paymentSettings.amount" ng-required="!paymentSettings.percentage" />
									<p class="errorMessage"
										ng-show="addPaymentSetting.amount.$invalid && !addPaymentSetting.amount.$pristine">
										Please enter valid amount</p>

									<center>OR</center>
									</br> <input type="text" class="form-control"
										placeholder="Percentage" ng-pattern="regExPercentage"
										maxlength=6 name="percentage"
										ng-model="paymentSettings.percentage"
										ng-required="!paymentSettings.amount" />
									<p class="errorMessage"
										ng-show="addPaymentSetting.percentage.$invalid && !addPaymentSetting.percentage.$pristine">
										Please enter valid percentage</p>

								</div>
							</div>
							<div class="col-md-4"></div> -->
						</div>
						<div class="form-group col-md-12">
							<label class="col-md-2"></label>
							<div class="col-md-6">
								<font color='RED'>
									<h4 ng-show="defaultSettingMessage">{{defaultSettingMessage}}</h4>
								</font> 
								<input type="button" class="btn btn-orange" value="{{defaultPaymentSettingButtonVal}}"
									ng-click="save()" ng-disabled="addPaymentSetting.$invalid" />
							</div>
					   </div>
					</form>
				</div>
				</div>
				<div class="well">
					<div class="row">
					<div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId" required
								ng-options="institute.id as institute.name for institute in instituteList">
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>
					
					<div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-2"></label>
						<div class="col-md-6">
							<a class="btn btn-orange" ui-sref="payment-settings.add"
								title="Add New payment Setting.">Add Payment Setting</a> <a
								class="btn btn-default"
								ng-click="instituteId ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled="!instituteId"
								title="{{!instituteId ? 'Please select Institute First !' : 'Filter Table By Institute.'}}">
		
								Search </a>
						</div>
					</div>
					</div>
				</div>
				<br> <font color='RED'>
					<h4 ng-show="message">{{message}}</h4>
				</font> <br>
				<div>
					<table datatable="ng" dt-options="dtOptions"
						dt-column-defs="dtColumnDefs"
						class="table table-striped table-condensed table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th class="col-md-2">Gateway</th>
								<th class="col-md-1">Amount</th>
								<th class="col-md-1">Percentage</th>

								<th class="col-md-1" ng-show='!isUploadingFailed'>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="paymentSetting in paymentSettingList">
								<td class="col-md-2">{{ paymentSetting.gatewayId }}</td>
								<td class="col-md-1">{{ paymentSetting.amount }}</td>
								<td class="col-md-1">{{ paymentSetting.percentage }}</td>

								<td class="col-md-2" ng-show='!isUploadingFailed'><a
									href="#" class="btn btn-xs btn-default" title="Edit"
									ui-sref="payment-settings.edit({id :paymentSetting.id})"><i class="fa fa-pencil"></i></a>
									  <a href="#" class="btn btn-xs btn-default" title="Delete" ui-sref="payment-settings.list"
									ng-click="deleteData(paymentSetting.id)"><i class="fa fa-trash"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>