
<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">{{paymentSettingsHeaderValue}}</div>
		<div class="panel-body">

			<form name="addPaymentSetting" ng-controller="validatePaymentSettingsForm"
				class="container-fluid	">
				<div class="form-group col-md-12">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" ng-selected="paymentSettings.instituteId" 
							ng-model="paymentSettings.instituteId" name="instituteId"
							ng-options="institute.id as institute.name for institute in instituteList" autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Gateway <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" ng-model="paymentSettings.gatewayId" name="gatewayId">
							<option value = "1">Gateway 1</option>
							<option value = "2">Gateway 2</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Internet handling Charges <span
						style="color: red">*</span></label>
				<div class="col-md-8">
                          <div class="row">
								<div class="col-md-4">
									<input type="text" class="form-control ng-pristine ng-valid-pattern ng-valid-maxlength ng-valid ng-valid-required ng-touched" ng-pattern="/^[0-9]{2,45}$/" placeholder="Amount" maxlength="45" name="amount" ng-model="paymentSettings.amount" ng-required="!paymentSettings.percentage" style="">
									<p class="errorMessage ng-hide" ng-show="addPaymentSetting.amount.$invalid &amp;&amp; !addPaymentSetting.amount.$pristine">
										Please enter valid amount</p>
                                </div>
  							    <div class="col-md-1"><b>or</b></div>
                                <div class="col-md-4">
								
									<input type="text" class="form-control ng-pristine ng-valid-pattern ng-valid-maxlength ng-valid ng-valid-required ng-touched" placeholder="Percentage" ng-pattern="/^(100(\.0{1,2})?|([0-9]?[0-9](\.[0-9]{1,2})))$/" maxlength="6" name="percentage" ng-model="paymentSettings.percentage" ng-required="!paymentSettings.amount">
									<p class="errorMessage ng-hide" ng-show="addPaymentSetting.percentage.$invalid &amp;&amp; !addPaymentSetting.percentage.$pristine">
										Please enter valid percentage</p>
                               </div>
						 </div>
					</div>
					<!-- <div class="col-md-6">
						<div class=col-md-6>
							<input type="text" class="form-control" ng-pattern="regExAmount" placeholder = "Amount"
								maxlength=45 name="amount" ng-model="paymentSettings.amount" ng-required="!paymentSettings.percentage"  />
							<p class="errorMessage"
								ng-show="addPaymentSetting.amount.$invalid && !addPaymentSetting.amount.$pristine">
								Please enter valid amount</p>

							<center>OR</center>
							</br> <input type="text" class="form-control" placeholder = "Percentage"
								ng-pattern="regExPercentage" maxlength=6 name="percentage"
								ng-model="paymentSettings.percentage" ng-required="!paymentSettings.amount" />
							<p class="errorMessage"
								ng-show="addPaymentSetting.percentage.$invalid && !addPaymentSetting.percentage.$pristine">
								Please enter valid percentage</p>

						</div>
					</div>
					<div class="col-md-4"></div> -->
				</div>
				
				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-6">
						<input type="hidden" name='id' ng-model="paymentSettings.id" /> <input
						type="button" class="btn btn-orange" value="Save" ng-click="save()"
						ng-disabled="addPaymentSetting.$invalid" /> <input type="button"
						class="btn btn-default" value="Cancel" ng-click="cancelSave()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>