
<div>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

<div class="panel panel-default">
	<div class="panel-heading">
		View E-Diary
	</div>
	<div class="panel-body">
		<form name = "viewDiary" ng-controller="validateEdiaryForm" class = "container-fluid	">
			<br>
			<div class = "form-group col-md-12">
		      <label class = "col-md-2">Date </label>
		      <div class="col-md-8">
		     	 <label class = "col-md-8">{{ediary.date}}</label>
		      </div>
		   	  <div class = "col-md-2"></div>
		   </div>
			
			<div class = "form-group col-md-12">
		      <label class = "col-md-2">Description </label>
		      <div class="col-md-8">
		     	 <label class = "col-md-8">{{ediary.description}}</label>
		      </div>
		   	  <div class = "col-md-2"></div>
		   </div>
			
			<div class = "form-group col-md-12">
			      <label class = "col-md-2">Image </label>
			 	  <div class="col-md-8">
			     	 <label class = "col-md-8"><a href = "{{ediary.image_url}}" download = "{{ediary.image_url}}" target="_self">{{fileName}}</a></label>
			      </div>
			   	  <div class = "col-md-2"></div>
		   </div>
		   <input type="button" class = "btn btn-default" value="Back" ng-click="cancel()" />
		</form>
	</div>
</div>
</div>