
<div>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

<div class="panel panel-default">
	<div class="panel-heading">
	Add Entry
	</div>
	<div class="panel-body">
<form name = "addDiary" ng-controller="validateEdiaryForm" class = "container-fluid	"> 
	
	<font color = 'RED'><h4>{{message}}</h4></font>
	<br>
	<div class = "form-group col-md-12" ng-show = "roleId == 1">
      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "instituteId" ng-model = "ediary.instituteId" 
     	 		ng-selected = "ediary.instituteId" ng-change="changeBranchList()"
     	 		ng-options="institute.id as institute.name for institute in instituteList" autofocus>
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
    </div>
	
	<div class = "form-group col-md-12"  ng-hide = "roleId == 4" >
      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "branchId" ng-model = "ediary.branchId" ng-change = "changeYearList()"
     	 	ng-selected = "ediary.branchId" ng-options="branch.id as branch.name for branch in branchList" 
     	   ng-change="changeGroupList()" required>
     	 	
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>
   
   <div class="form-group col-md-12" ng-hide = "roleId == 4">
		<label class="col-md-2">Current Academic Year <span
			style="color: red">*</span></label>
		<div class="col-md-6">
			<select class="form-control" name="academicYearId"
				ng-model="ediary.academicYearId"
				ng-selected="ediary.academicYearId" 
				ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
				required>
			</select>
			<p class="errorMessage"
				ng-show="addDiary.academicYearId.$invalid && !addDiary.academicYearId.$pristine">
				Please select year</p>
		</div>
		<div class="col-md-4"></div>
	</div>
   
	
   <div class = "form-group col-md-12">
      	<label class = "col-md-2">Date <span style = "color:red">*</span></label>
      	<div class="col-md-6">
            <p class="input-group">
              	<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" 
              		ng-model="ediary.ediaryDate" name = "date" ng-required="true" is-open = "isOpen" close-text="Close"/>
              	<span class="input-group-btn">
              		<button type="button" class="btn btn-default" ng-click="isOpen = true">
              			<i class="fa fa-calendar"></i>
              		</button>
              	</span>
            </p>
        </div>
      	<div class = "col-md-4"></div>
   	</div>

	<div class = "form-group col-md-12">
      <label class = "col-md-2">Description<span style = "color:red">*</span> </label>
      <div class="col-md-6">
      		<textarea class="form-control" rows="3" name = "description" maxlength = 255 ng-model="ediary.description" ng-required="true"></textarea>
      </div>
      <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
		<label class = "col-md-2">Groups And Communities </label>
		<div class="col-md-6">
			<div  class = "col-md-3">
					<a class = "btn btn-orange" name="addIndivisual" ng-click = "groupPopup()">Select Groups And Communities</a>
			</div>
		</div>
   	  <div class = "col-md-4"></div>
   </div>

  	<div class = "form-group col-md-12">
	    		<div class="col-md-10" ng-show = 'ediary.groupList.length > 0'>
	    			<table class = "table table-striped table-condensed table-hover table-bordered" id="dataTables-example">
				<thead>
				<tr>
					<th class = "col-md-2">Name</th>
					<th class = "col-md-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="group in ediary.groupList track by group.id">
					<td class = "col-md-2">{{ group.name }}</td>
					<td class = "col-md-2"><a href = "#" ng-click="removeGroup(group.id)">Remove</a></td>
				</tr>
			</tbody>
			</table>
	    </div>
      	<div class = "col-md-4"></div>	
	</div>
    
   <div class = "form-group col-md-12">
		<label class = "col-md-2">Individual </label>
		<div class="col-md-6">
			<div  class = "col-md-3">
					<a class = "btn btn-orange" name="addIndivisual" ng-click = "popup()">Select Individual</a>
			</div>
		</div>
   	  <div class = "col-md-4"></div>
   </div>

  	<div class = "form-group col-md-12">
	    		<div class="col-md-10" ng-show = 'ediary.individuals.length > 0'>
	    			<table class = "table table-striped table-condensed table-hover table-bordered" id="dataTables-example">
				<thead>
				<tr>
					<th class = "col-md-2">Name</th>
					<th class = "col-md-2">Role</th>
					<th class = "col-md-2">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="individual in ediary.individuals track by individual.id">
					<td class = "col-md-2">{{ individual.name }}</td>
					<td class = "col-md-2">{{ individual.role }}</td>
					<td class = "col-md-2"><a href = "#" ng-click="removeIndividual(individual.id)">Remove</a></td>
				</tr>
			</tbody>
			</table>
	    </div>
      	<div class = "col-md-4"></div>	
	</div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Attachment </label>
      <div class="col-md-6">
      		<input type="file" name="file" base-sixty-four-input ngf-select ng-model="ediary.image" 
      			ng-change = "ediary.fileChanegd = true"/>
      </div>
      <div class = "col-md-4"></div>
   </div>
   
  <input type="hidden" ng-model="ediary.id" />
  <div class = "form-group col-md-12">
 	<label class = "col-md-2"></label>
 	<div class="col-md-8">
	  <input type="button" class = "btn btn-orange" value=" Save " ng-click="save()"
	  	 ng-disabled="addDiary.$invalid || isSaveDisabled || !isIndividualOrGroupSelected"/>
	  <input type="button" class = "btn btn-default" value="Cancel" ng-click="cancel()" />
  	</div>
 </div>
</form>
</div>
</div>
</div>