
<div>

<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> -->

<div class="panel panel-default">
		<div class="panel-heading">
		E-Diary List
		</div>
		<div class="panel-body">
	<div class="well">
		
		<div class = "form-group col-md-12" ng-show = "roleId == 1">
      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
	      		<div class="col-md-6">
			     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
			     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
			     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
			     	 </select>
	      		</div>
		   <div class = "col-md-4"></div>	
	    </div>

		<div class = "form-group col-md-12" ng-hide = "roleId == 4 || isSingleBranch" >
	      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
	     	 		ng-selected = "branchId" ng-change = "changeYearList()"
	     	 		ng-options="branch.id as branch.name for branch in branchList" required>
	     	 	</select>
	      	</div>
		   	<div class = "col-md-4"></div>	
	    </div>

	    <p ng-show = 'isSingleBranch == true'>
	      	<label ><h4 ng-show = 'isSingleBranch == true'>Branch : {{branchName}}</h4></label>
	    </p>

	    <div class = "form-group col-md-12" ng-hide = "roleId == 4">
	      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
	     	 		ng-init="academicYearId = academicYearList[0]['id']"
	     	 		ng-selected = "academicYearId" ng-disabled = true
	     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
	     	 		required>
	     	 	</select>
	      	</div>
		   	<div class = "col-md-4"></div>	
	    </div>

		<a class = "btn btn-orange btn-small" ui-sref="ediary.add" title = "Add New E-Diary Entry.">Add Entry</a>
		<a class = "btn btn-default" ng-click = "academicYearId ? filterTableByBranch() : ''" 
			ng-show = "roleId != 4 && isSingleBranch != true"
			data-trigger="hover" ng-disabled = "!academicYearId" 
			title = "{{!academicYearId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">

			Search
		</a>
		<!-- <a class = "btn btn-orange btn-small" ng-show = "roleId == 4" 
			 ng-click = "showAllEdiarys()">
			All E-Diary
		</a> -->
		<!-- <a class = "btn btn-orange btn-small" ng-show = "roleId == 4" 
			ng-click = "showMyEdiary()">
			My E-Diary
		</a>	 -->	
	</div>
	<h4>{{title}}</h4>
	<font color = 'RED' ng-show="message"><h4 >{{message}}</h4></font>
	<br>
	<div>
	<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
	 class = "table table-striped table-condensed table-bordered table-hover">
		<thead>
			<tr>
				<th class = "col-md-2">Date</th>
				<th class = "col-md-3">Description</th>
				<th class = "col-md-2">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ediary in ediaryList | orderBy:id:reverse">
				<td class = "col-md-2">{{ ediary.date | date : 'dd/MM/yyyy'}}</td>
				<td class = "col-md-3">{{ ediary.description}}</td>
				<td class = "col-md-2"><a href = "#"class="btn btn-xs btn-default" title="View" ng-click = "view(ediary)"><i class="fa fa-eye"></i></a>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>