
<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs> -->
	<div class="panel panel-default">
		<div class="panel-heading">
		Teacher List
		</div>
		<div class="panel-body" ng-cloak>
	
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
		      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
			      		<div class="col-md-6">
					     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
					     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
					     	 		ng-options="institute.id as institute.name for institute in instituteList" title="Select institute name" required>
					     	 </select>
			      		</div>
				   <div class = "col-md-4"></div>	
			    </div>
	
			<div class = "form-group col-md-12" >
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId" 
		     	 		ng-change = "changeStandardList()"
		     	 		ng-options="branch.id as branch.name for branch in branchList" title="Select branch name" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
		    
		    <div class = "form-group col-md-12">
		      	<label class = "col-md-2">Standard/Course </label>
		      	<div class="col-md-6">
			  		<select class="form-control" name = "standardId" ng-change="changeDivisionList()" ng-model = "standardId"
			     	 	title = "Please select standard." ng-options="standard.id as standard.displayName for standard in standardList" >
			     	 	<option ng-selected="true" value="">All</option>
			 	  	</select>
			  	</div>
			   	<div class = "col-md-4"></div>	
		   	</div>
		   	
		   	<div class = "form-group col-md-12">
		      	<label class = "col-md-2">Division </label>
		      	<div class="col-md-6">
			      <select class="form-control" name = "divisionId" ng-model = "divisionId" ng-selected = 'divisionId'
			     	 	title = "Please select division." ng-options="division.id as division.displayName for division in divisionList" >
			     	 	<option ng-selected="true" value="">All</option>
			 	  </select>
			  	</div>
			   	<div class = "col-md-4"></div>	
		   	</div>

			<div class = "form-group col-md-12">
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-8">
					<a class = "btn btn-orange" ui-sref="teacher.add"  ng-click ="setSelectedData(instituteId, branchId)"
					       title = "Add New Teacher.">Add Teacher</a>
					<a class = "btn btn-default" ng-disabled = "!branchId" 
						data-trigger="hover" title = "{{!branchId ? 'Select institute and branch first' : 'Upload .xlsx file'}}"
						ng-click = "branchId ? uploadTeachers() : ''">
						
						Upload Teachers
					</a>
			
					 <a class="btn btn-default btn-small" ng-disabled="!branchId"
						ng-click = "!branchId ? '' : downloadTemplate('template/download?excelFileName=eduqfix-upload-teacher-template.xlsx&branchId='+branchId)"
						title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading teachers.'}}">
						Download Teacher Template
					</a>

					<a class = "btn btn-default" ng-disabled = "!branchId" 
						data-trigger="hover" title = "{{!branchId ? 'Select institute and branch first' : 'Upload .xlsx file'}}"
						ng-click = "branchId ? uploadTeacherSubjects() : ''">
						
						Upload Teacher Subjects
					</a>
					 <a class="btn btn-default btn-small" ng-disabled="!branchId"
						ng-click = "!branchId ? '' : downloadTemplate('template/download?excelFileName=eduqfix-upload-teacher-subject-template.xlsx&branchId='+branchId)"
						title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading teachers subjects.'}}">
						Download Teacher Subject Template
					</a>
	
					<a class = "btn btn-default" ng-click = "branchId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!branchId"
						title = "{{!branchId ? 'Select institute and branch first' : 'Search teachers'}}">
			
						Search
					</a>
				</div>
		   </div>
		</div>
	</div>
	<br>
	<font color = 'RED'>
		<h4 ng-show = "message">
			{{message}}
		</h4>
	</font>
	<br>

	<div>	
	<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
	class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Date Of Birth</th>
				<th>Gender</th>
				<th>Mobile</th>
				<th>Email</th>
				<th>Address</th>
				<th>Area</th>
				<th>State</th>
				<th>District</th>
				<th>Taluka/City</th>				
				<th>Town/Village</th>
				<th>Pin Code</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="teacher in teachers track by $index">
				<td>{{ teacher.firstName }}</td>
				<td>{{ teacher.lastName }}</td>
				<td>{{ teacher.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
				<td>{{ teacher.gender }}</td>
				<td>{{ teacher.primaryContact }}</td>
				<td>{{ teacher.emailAddress }}</td>
				<td>{{ teacher.addressLine }}</td>
				<td>{{ teacher.area }}</td>
				<td>{{ teacher.state }}</td>
				<td>{{ teacher.district }}</td>
				<td>{{ teacher.taluka }}</td>				
				<td>{{ teacher.city }}</td>
				<td>{{ teacher.pinCode }}</td>
				<td>{{ teacher.active == "Y" ? "Active" : "Inactive"}}</td>
				<td class = "col-md-2"><a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="teacher.edit({id :teacher.id})"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="teacher.list" ng-click="deleteData(teacher.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

</div>
</div>

