<div>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
<div class="panel panel-default">
<div class="panel-heading">
{{teacherHeaderValue}}
</div>
<div class="panel-body" ng-cloak>

<form name = "addTeacher" ng-controller="validateTeacherForm" class = "container-fluid" 
	autocomplete="off" enctype="multipart/form-data"> 
	<font color = 'RED'>
		<h4 ng-show = "status == 'fail' || status == 'success' ">
			{{message}}
		</h4>
	</font>
	
	<div class = "form-group col-md-12" ng-show = "roleId == 1 ">
      <label class = "col-md-2">Institute <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "instituteId" ng-model = "teacher.instituteId" 
     	 		ng-selected = "teacher.instituteId" ng-change="changeBranchList()"
     	 		ng-options="institute.id as institute.name for institute in instituteList" title="Select institute" autofocus>
     	 </select>
      </div>
	   <div class = "col-md-4"></div>	
    </div>
    
    <div class = "form-group col-md-12" ng-show = "!isUpdateProfile">
      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <select class="form-control" name = "branchId" ng-model = "teacher.branchId" ng-change = "branchChanged()"
     	 	 ng-selected = "teacher.branchId" ng-options="branch.id as branch.name for branch in branchList" title="Select branch" required>
      	 </select>
     	 <p class="errorMessage" ng-show="addTeacher.branchId.$invalid && !addTeacher.branchId.$pristine">
     	 Please select branch</p>
	  </div>
	   <div class = "col-md-4"></div>	
    </div>


   <div class = "form-group col-md-12">
      <label class = "col-md-2">First Name <span style = "color:red">*</span></label>
      <div class = "col-md-6">
      		<input type="text" class="form-control col-md-6"  ng-disabled = "isUpdateProfile" maxlength = 45 ng-pattern="regExName" name="firstName" ng-model="teacher.firstName" title="Enter first name" required/>
   	  <p class="errorMessage" ng-show="addTeacher.firstName.$invalid && !addTeacher.firstName.$pristine">
      Please enter first name</p>
   	  </div>
   	  
   	  <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Middle Name </label>
      <div class = "col-md-6">
      		<input type="text" class="form-control col-md-6" ng-disabled = "isUpdateProfile" maxlength = 45 ng-pattern="regExMiddleName" name="middleName" ng-model="teacher.middleName" title="Enter middle name"/>
   	  <p class="errorMessage" ng-show="addTeacher.middleName.$invalid && !addTeacher.middleName.$pristine">
      Please enter valid middle name</p>
   	  </div>
   	  
   	  <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Last Name <span style = "color:red">*</span></label>
      <div class = "col-md-6">
      		<input type="text" class="form-control col-md-6" ng-disabled = "isUpdateProfile" maxlength = 45 ng-pattern="regExName" name="lastName" ng-model="teacher.lastName" title="Enter last name" required/>
   	  <p class="errorMessage" ng-show="addTeacher.lastName.$invalid && !addTeacher.lastName.$pristine">
      Please enter last name</p>
   	  </div>
   	  
   	  <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Date Of Birth (DD/MM/YYYY) <span style = "color:red"></span></label>
      <div class="col-md-6">
            <p class="input-group">
              <input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy"
               ng-model="teacher.dateOfBirth"  ng-disabled = "isUpdateProfile" is-open = "isOpenStartDate"
              id = "dob" name = "dob" ng-focus="isOpenStartDate = true" max-date="maxDate" close-text="Close" title=" Enter date of birth"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-disabled = "isUpdateProfile" ng-click="isOpenStartDate = true""><i class="fa fa-calendar"></i></button>
              </span>
            </p>
        </div>
      <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Gender <span style = "color:red">*</span></label>
      <div class="col-md-6">
      	<label class="radio-inline">
      	<input class = "col-md-3" type="radio" ng-disabled = "isUpdateProfile" name="optionsRadios1" id="optionsRadios1" 
      	value="M" checked ng-model="teacher.gender"  ng-required ="!teacher.gender" title="Select gender" checked >&nbsp;Male</label>
      
      	<label class="radio-inline">
      	<input class = "col-md-3" type="radio" ng-disabled = "isUpdateProfile" name="optionsRadios1" id="optionsRadios2" 
      	value="F" ng-model="teacher.gender" ng-required ="!teacher.gender" title="Select gender">Female</label>
      
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">E-Mail Address<span style = "color:red">*</span></label>
      <div class="col-md-6">
     		 <input class="form-control" type="email" ng-pattern="regExEmail" maxlength = 45 ng-disabled = "isUpdateProfile"
     		 	name="emailAddress" ng-model="teacher.emailAddress" title="Enter email address" required/>
      <p class="errorMessage" ng-show="addTeacher.emailAddress.$invalid && !addTeacher.emailAddress.$pristine">
      Please enter email address</p>
      </div>
       
	   <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Primary Mobile <span style = "color:red">*</span></label>
      <div class="col-md-6">
     	 <input class="form-control" type="text" ng-pattern="regExMobile" maxlength = 10 name="primaryContact" ng-model="teacher.primaryContact" title="Enter primary mobile number" />
      <p class="errorMessage" ng-show="addTeacher.primaryContact.$invalid && !addTeacher.primaryContact.$pristine" required>
      Please enter 10 digit primary mobile</p>
      </div>
       
	  <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Secondary Mobile</label>
      <div class="col-md-6"> 
     	 <input class="form-control" type="text" ng-pattern="regExMobile" maxlength = 10 name="secondaryContact" ng-model="teacher.secondaryContact" title="Enter secondary mobile number"/>
      <p class="errorMessage" ng-show="addTeacher.secondaryContact.$invalid && !addTeacher.secondaryContact.$pristine">
      Please enter 10 digit secondary mobile</p>
      </div>
      
	  <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Address <span style = "color:red"></span></label>
      <div class="col-md-6">
      		<input type = "text" class="form-control" name = "addressLine" maxlength = 45 ng-model="teacher.addressLine" title="Enter address" >
      <p class="errorMessage" ng-show="addTeacher.addressLine.$invalid && !addTeacher.addressLine.$pristine">
      Please enter address</p>
      </div>
      <div class = "col-md-4"></div>
   </div>
   
    <div class = "form-group col-md-12">
      <label class = "col-md-2">Area<span style = "color:red"></span></label>
      <div class="col-md-6">
     	 <input class="form-control" type="text" name="area" maxlength = 45 ng-pattern="regExArea" ng-model="teacher.area" title="Enter area" />
    <p class="errorMessage" ng-show="addTeacher.area.$invalid && !addTeacher.area.$pristine">
      Please enter area</p>
      </div>
	  <div class = "col-md-4"></div>
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2" >State <span style = "color:red"></span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "stateId" ng-model = "teacher.stateId" ng-selected = "teacher.stateId" ng-change="changeDistrictList()" ng-options="state.id as state.name for state in stateList" title="Select State" >
 		 <option>Please select</option>	
	  	</select>
	  </div>
	   <div class = "col-md-4"></div>	
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2" >District <span style = "color:red"></span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "districtId" ng-model = "teacher.districtId" title="Select District" 
      		ng-selected = "teacher.districtId"  ng-change="changeTalukaList()" ng-options="district.id as district.name for district in districtList" >
	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2" >Taluka/City <span style = "color:red"></span></label>
      <div class="col-md-6">
      	<select class="form-control" name = "talukaId" ng-model = "teacher.talukaId" title="Select Taluka" 
      		ng-selected = "teacher.talukaId"  ng-options="taluka.id as taluka.name for taluka in talukaList" >
 	  	</select>
      </div>
	   <div class = "col-md-4"></div>	
   </div>			   	
   
   
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Town/Village<span style = "color:red"></span></label>
      <div class="col-md-6">
      <input class="form-control" type="text" name="city" maxlength = 45 ng-pattern="regExName" ng-model="teacher.city" title="Enter city" />
     <p class="errorMessage" ng-show="addTeacher.city.$invalid && !addTeacher.city.$pristine">
      Please enter city</p>
      </div>
	   <div class = "col-md-4"></div>	
   </div>
   <div class = "form-group col-md-12">
      	<label class = "col-md-2">Pincode<span style = "color:red"></span></label>
      	<div class="col-md-6">
      		<input class="form-control" type="text" name="pinCode" maxlength = 6 ng-pattern="regExPinCode" ng-model="teacher.pinCode" title="Enter pin-code"  />
      		<p class="errorMessage" ng-show="addTeacher.pinCode.$invalid && !addTeacher.pinCode.$pristine">
      			Please enter 6 digit pincode
      		</p>
      	</div>
	   	<div class = "col-md-4"></div>
    </div>
   	<div class = "form-group col-md-12" ng-show = "isUpdateProfile">
      	<label class = "col-md-2">Password </label>
      	<div class="col-md-6">
      		<input class="form-control" type="password" name="password" maxlength = 15 ng-pattern="regExPassword" 
      			 ng-model="teacher.password"  title="Enter Password"/>
      		<p class="errorMessage" ng-show="addTeacher.password.$invalid && !addTeacher.password.$pristine">
      			Please enter valid password.<br>
      			Password must be between 8 to 15 charecters and must contain atleast one Uppercase letter, one lower case letter, and number.
      		</p>
      	</div>
	   	<div class = "col-md-4"></div>
   	</div>
	<div class = "form-group col-md-12" ng-show = "isUpdateProfile">
      	<label class = "col-md-2">Confirm Password </label>
      	<div class="col-md-6">
      		<input class="form-control" type="password" name="confirmPassword"
      			compare-to="teacher.password" ng-model="teacher.confirmPassword" title="Enter confirm password"/>
      			
      		<p class="errorMessage" ng-show="addTeacher.confirmPassword.$invalid && !addTeacher.confirmPassword.$pristine">
      			Must match the Password.
      		</p>
      	</div>
	   	<div class = "col-md-4"></div>
   	</div>
   <div class = "form-group col-md-12" ng-if = "!isUpdateProfile">
      <label class = "col-md-2">Status<span style = "color:red"></span></label>
      <div class="col-md-6">
      <select class="form-control" name = "status" ng-model = "teacher.active" title="Select status" >
 		 <option value = "Y">Active</option>
 		 <option value = "N">Inactive</option>
 	  </select>
	  </div>
	   <div class = "col-md-4"></div>	
   </div>
   <div class = "form-group col-md-12">
      <label class = "col-md-2">Upload Photo</label>
      <div class="col-md-6">
     		 <input type="file" ngf-select ng-model="teacher.photo"  title = "Select image file" ngf-accept="'image/*'" ngf-pattern="'image/*'" />
     		 <img height="100" ngf-src="teacher.photo ? teacher.photo : '/Qfix/documents/External/no-image.png'" class="thumb" />
      </div>
	   <div class = "col-md-4"></div>
   </div> 
	<div class = "form-group col-md-12" ng-if = "roleId != 4">
		<label class = "col-md-2">Standard/ Division/ Subjects</label>
		<div class="col-md-6">
			<a class = "btn btn-orange" name="addIndivisual" ng-click = "popup()" 
				title=" Select Groups And Communities">Select </a>
		</div>
   	  <div class = "col-md-4"></div>
   </div>
  	<div class = "form-group col-md-12" ng-if = "roleId != 4">
    	<div class="col-md-10" ng-show = 'teacher.teacherStandardList.length > 0'>
    		<table class = "table table-striped table-condensed table-hover table-bordered" id="dataTables-example">
			<thead>
			<tr>
				<th>Standard/Course</th>
				<th>Division</th>
				<th>Subjects</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="teacherStandard in teacher.teacherStandardList track by $index">
				<td>{{ teacherStandard.standard }}</td>
				<td>{{ teacherStandard.division }}</td>
				<td>{{ teacherStandard.subjects }}</td>
				<td>
				<button href = "#" class="fa fa-pencil" title="Edit" ng-click="editTeacherStandard(teacherStandard)">
				</button>  
				<button href = "#" class="fa fa-trash" title="Delete" ng-click="removeTeacherStandard(teacherStandard.standardId, teacherStandard.divisionId)">
				</button>
			</tr>
		</tbody>
		</table>
    </div>
     	<div class = "col-md-4"></div>	
	</div>
  <input type="hidden" name = 'id' ng-model="teacher.id" />
  <input type="hidden" name = 'userId' ng-model="teacher.userId" />
  <input type="hidden" name = 'roleId' ng-model="teacher.roleId" />
  <div class = "form-group col-md-12">
      <label class = "col-md-2"></label>
      <div class="col-md-6">
		  <input type="button" class = "btn btn-orange" value="Save" ng-click="save()" ng-disabled="addTeacher.$invalid"/>
		  <input type="button" class = "btn btn-default" value="Cancel" ng-show = "!isUpdateProfile" ng-click="cancel()" />
	  </div>
  </div>
</form>
</div>
</div>
</div>