<form name="searchForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Add Standard/Course and Division</h3>
	</div>

	<div class="form-group col-md-12" style = "margin-top:10px;">
		<br/>
		<label class="col-md-2" style = "width:18.666667%;">Standard/Course <span style="color: red">*</span></label>
		<div class="col-md-6">
			<select  class="form-control" name="standard" ng-change="changeDivisions()"
				ng-options="standardTemp.id as standardTemp.displayName for standardTemp in tempStandardList" 
				ng-model="teacherStandard.standardId" required>
			</select>
		</div>
	   	<div class = "col-md-4"></div>
	</div>

	<div class="form-group col-md-12">
		<label class="col-md-2" style = "width:17.666667%;">Division </label>
		<div class="col-md-6">
			<select class="form-control" name="division"
				ng-options="divisionTemp.id as divisionTemp.displayName for divisionTemp in tempDivisionList"
				ng-model="teacherStandard.divisionId">
			</select>
		</div>
		<div class = "col-md-4"></div>
	</div>

	<div class = "form-group col-md-12">
     	<label class = "col-md-2" style = "width:17.666667%;">Subjects </label>
	     	<div class="col-md-6">
	     		<div  isteven-multi-select
			    input-model="subjectList"
			    output-model="selectedSubjects"
			    button-label="name"
			    item-label="name"
			    name = "subjectIdList"
			    tick-property="ticked">
			</div>
  		</div>
	   	<div class = "col-md-4"></div>	
  	</div>

	<div class="form-group col-md-12">
		<p class = "errorMessage" ng-show = "selectionErrorMessage">
			{{selectionErrorMessage}}
		</p>
		<label class="col-md-1"> </label>
			<div class="col-md-10">
				<button class="btn btn-orange btn-small" ng-disabled="searchForm.$invalid" ng-click="addStandards()">Add</button>
				<button class="btn btn-default btn-small" ng-click="cancelPopup()">Cancel</button>
			</div>
	</div>

</form>
<div class="modal-footer">
	<br>
</div>

