
<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
<div class="panel panel-default">
	<iframe width="90%;" height="800" ng-src="{{currentProjectUrl}}"> </iframe>
</div>
</div>