
<div>
	<!--   -->
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<!-- <div>
<h3 ng-show = "student.id == null">Student / Add Student</h3>
<h3 ng-show = "student.id != null">Student / Edit Student</h3>
</div> -->

	<div class="panel panel-default" ng-cloak>
		<div class="panel-heading">{{displayTemplateHeaderValue}}</div>
		<div class="panel-body">

			 <form name="adddisplayTemplateForm" 
				class="container-fluid" autocomplete="off">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' ">{{message}}</h4>
				</font> <br>
 
				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="displayTemplate.instituteId" ng-selected="displayTemplate.instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList"
							title="Select Institute" autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				 <div class = "form-group col-md-12">
				      <label class = "col-md-2">Branch <span style = "color:red">*</span></label>
				      <div class="col-md-6">
					      <select class="form-control" name = "branchId" ng-model = "displayTemplate.branchId" 
					      		ng-selected = "displayTemplate.branchId" ng-change = "getDisplayHeadList()"
					      		ng-options="branch.id as branch.name for branch in branchList" required>
					      </select>
					      <p class="errorMessage" 
					      		ng-show="addDivision.branch.$invalid && !addDivision.branch.$pristine">
				      			Please select branch
				      	  </p>
					  </div>
					  <div class = "col-md-4"></div>	
			    </div>


				<div class="form-group col-md-12">
					<label class="col-md-2">Template Name<span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control"  name="templatename" placeholder="Name"
							ng-model="displayTemplate.name" title="Display Template Name" required />						
					</div>
					<div class="col-md-4">
						<a href="" ng-click="addExistingTemplate()">Create Using Existing Template </a>					
					</div>
			
					<div class="col-md-4"></div>
					
				</div>
				
				 <div class="form-group col-md-12">
					<label class="col-md-2">Description<span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control"  name="templatename" placeholder="Description"
							ng-model="displayTemplate.description" title="Display Template Description" required />						
					</div>
					<div class="col-md-4"></div>
				</div> 
				
					<div class="form-group col-md-12">
					<label class="col-md-2">Is Active<span style="color: red">*</span></label>
					<div class="col-md-2">
						<input type="checkbox"   name="active"
							ng-model="displayTemplate.active"  required />						
					</div>
					<div class="col-md-4"></div>
				</div>
				
				 <div class = "form-group col-md-12">
					<div class="col-md-6">
						<input type="text" class="form-control"  name="templatename" placeholder="Search Display Head"
							ng-model="searchDisplayHead" title="Search Display Head"  typeahead="state as state.name for state in AutocompletedisplayHeadList | filter:$viewValue"  />						
					</div>
						<div class="col-md-2">
							<a class = "btn btn-orange"  name="searchdisplayhead" ng-click = "!searchDisplayHead ? '' : addDisplayHead(searchDisplayHead)" title="Add Display Head" ng-disabled="!searchDisplayHead">Add Display Head</a>			
						</div> 
						<div class="col-md-4">
							<a class = "btn btn-orange"  name="addnewdisplayhead" ng-click = "addNewDislayHead()" title="Add New Display Head">Add New Display Head</a>			
						</div> 
   	  					<div class = "col-md-4"></div>
   				</div>

			<div class = "form-group col-md-12">

				<table class="table table-responsive">
					<thead>
						<th>Name</th>
						<th>Amount</th>
						<th>Action</th>
					</thead>
					<tr ng-repeat="head in displayTemplate.displayHeadList track by $index">
						<td>{{head.name}}</td>							
						<td><input type="text" class="form-control" ng-model="head.amount"/></td>
						<td>						
									<a class="move-up" ng-click="listItemUp($index)" style="cursor:pointer" ng-disabled="$first">Move Up</a> | 
					        		<a class="move-down" ng-click="listItemDown($index)" style="cursor:pointer" ng-disabled="$last">Move Down</a> |
					        		<a ng-click="removeDisplayHead(head)" style="cursor:pointer">Remove</a> 
						</td>
					</tr>
				</table>

                <input type="button" class="btn btn-primary" value="Save"
							ng-click="save()"
							ng-disabled="addBranchForm.$invalid && !isSaveDisabled" /> <input
							type="button" class="btn btn-default" value="Cancel"
							ng-click="cancel()" />
							 
					</div>
				</div>
			</form>
		</div>
	</div>
</div>