<form name="searchForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Search Display Template</h3>
	</div>

		<div class = "form-group col-md-12">
		<br>
			<label class = "col-md-2">Name </label>
      		<div class="col-md-6">
      			<input title="Enter Display Template Name" Placeholder="Enter Display Template Name" type="text" class="form-control" name = "name" ng-model="searchData.name" ng-required = "true">
      		</div>
      		<div class = "col-md-4"></div>	
		</div>
	
	<div class = "form-group col-md-12">
		<label class = "col-md-2">Name </label>
      		<div class="col-md-8">
				<button class = "btn btn-orange ng-binding"  ng-click="searchDisplayTemplate()" ng-disabled="searchForm.$invalid">Search</button>
				<button class = "btn btn-default"  ng-click="cancelPopup()">Cancel</button>
			</div>
	</div>
	
	</form>
	
	<font color = "red"><h5 class = "form-group col-md-12" ng-show = 'clickedForDisplayHeadSearch && !hasDisplayHeadSearchRecords'>No records found for this search.</h5></font>
	<div class = "form-group col-md-12" ng-show = "hasDisplayHeadSearchRecords">
		
		<br>
		<div id = 'popupSearchDiv' class = "form-group col-md-12">
			<table class = "table table-striped table-condensed table-hover" id="dataTables-example">
				<thead>
					<tr>
						<!-- <th class = "col-xs-1">Select</th> -->
						<th class = "col-xs-11">Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="template in searchedDisplayTemplate track by $index">
						<!-- <td class = "col-xs-1"><input type="checkbox" ng-model="head.isSelected"></td> -->
						<td class = "col-xs-11">{{ template.name }}</td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
		<button class = "btn btn-default"  ng-click="addGroups()">Add</button>
	</div>
	
<div class="modal-footer"><br></div>	


	

