<div>
	<div class="panel panel-default">
		<div class="panel-heading">
		Display Template List
		</div>
		<div class="panel-body" ng-cloak>
			<div class="well">
				<div class="row">
					<div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId"
								ng-change="changeBranchList()"
								ng-options="institute.id as institute.name for institute in instituteList"
								title="Select Institute" required>
								<option ng-selected="true" value="">Select Institute</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2">Branch <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId" ng-model="branchId"
								ng-change="branchChanged()"
								title="{{instituteId ? 'Select branch.' : 'Please select institute first'}}"
								ng-options="branch.id as branch.name for branch in branchList"
								required>

								<option ng-selected="true" value="">Select Branch</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2"></label>
						<div class="col-md-8">
							<a class="btn btn-orange btn-small" ui-sref="displayTemplate.add"
								ng-click="setSelectedData(instituteId, branchId)"
								title="Add New displayTemplate.">
									Add displayTemplate
							</a> 

							<a class="btn btn-default" ng-click="branchId ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled="!branchId"
								ng-click="'Filter Table By Branch'"
								title="{{!instituteId ? 'Please select Institute First !' : 'Filter Table By Institute.'}}">
									Search 
							</a> 

							<a class="btn btn-default" ng-disabled="!branchId" data-trigger="hover"
								title="{{!branchId ? 'Please select branch' : 'Upload xlsx file'}}"
								ng-click="branchId ? uploadTemplate() : ''"> 
									Upload Display Template
							</a> 
							<a class="btn btn-default btn-small"
								ng-disabled="!branchId" ng-click="!branchId  ? '' : downloadDisplayTemplate()"
								title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading template'}}">
									Download Template 
							</a>
						</div>
					</div>
				</div>
			</div>
			<br>
	<font color = 'RED'><h4 ng-show = "status == 'fail' || status == 'success' ">{{message}}</h4></font>
	<br>
	<div>
	<table class = "table table-striped table-condensed table-bordered table-hover responsive" datatable="ng" dt-options="dtOptions" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-2">Name</th>
				<th class = "col-md-2">Description</th>				
				<th class = "col-md-2">Active</th>
				<th class = "col-md-2" ng-show="!isUploadFailed">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="displayTemplate in displayTemplateList track by $index">
				<td class = "col-md-2">{{ displayTemplate.name }}</td>
				<td class = "col-md-2">{{ displayTemplate.description }}</td>			
				<td class = "col-md-2">{{ displayTemplate.active }}</td>
				<td class = "col-md-2" ng-show="!isUploadFailed">
				<a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="displayTemplate.edit({id :displayTemplate.id })"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="displayTemplate.list" ng-click="deleteData(displayTemplate.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>