<form name="searchForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Search Existing Template</h3>
	</div>

		<div class = "form-group col-md-12">
		<br>
			<label class = "col-md-2">Name </label>
      		<div class="col-md-6">
      			<input title="Enter template name" Placeholder="Enter template name" type="text" class="form-control" name = "name" ng-model="searchData.name" ng-required = "true">
      		</div>
      		<div class = "col-md-4"></div>	
		</div>
	
	<div class = "form-group col-md-12">
		<label class = "col-md-2"> </label>
      		<div class="col-md-8">
				<button class = "btn btn-orange ng-binding"  ng-click="searchTemplate(searchData.name)" ng-disabled="searchForm.$invalid">Search</button>
				<button class = "btn btn-default"  ng-click="cancelPopup()">Cancel</button>
			</div>
	</div>
	
	</form>
	
	<font color = "red"><h5 class = "form-group col-md-12" ng-show = 'noSearchRecord'>No records found for this search.</h5></font>
	<div class = "form-group col-md-12" ng-show="showSearchTemplateRecord">
		
		<br>
		<div id = 'popupSearchDiv' class = "form-group col-md-12">
			<table class = "table table-striped table-condensed table-hover" id="dataTables-example">
				<thead>
					<tr>
						<th class = "col-xs-4">Name</th>
						<th class = "col-xs-6">Description</th>
						<th class = "col-xs-2">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="searchTemplate in searchedTemplate track by searchTemplate.id">
						<td class = "col-xs-4">{{searchTemplate.name}}</td>
						<td class = "col-xs-6">{{ searchTemplate.description }}</td>
						<td class = "col-xs-2"><button class = "btn btn-default"  ng-click="addTemplate(searchTemplate.id)">Select</button></td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
	</div>
	
<div class="modal-footer"><br></div>	


	

