<form name="uploadForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Upload Template Details</h3>
	</div>

	<div class = "form-group col-md-12">
		<br>
		<label class = "col-md-3">Select File <font color = "red"> * </font></label>
     		<div class="col-md-6">
     			<input type="file" name="file" ngf-select ngf-accept="'.xlsx'" ngf-pattern="'.xlsx'"
				ng-model="file" ng-required = "true"/>
     		</div>
	</div>
	
	<div class="modal-footer">
		<button class = "btn btn-orange"  ng-disabled="uploadForm.$invalid" ng-click="upload(file)">Upload</button>
		<button class = "btn btn-default"  ng-click="cancel()">Cancel</button>
		<div ng-if = "validationErrorMsg">
			<font color = 'RED'  ng-if = "validationStatus">
				<h4 style= "text-align:left;">
					{{validationErrorMsg}}
				</h4>
			</font>
			<div id = "validationErrorDiv">
				<table class = "table table-striped table-condensed table-bordered table-hover" style= "text-align:left;">
					<tbody ng-repeat="record in records track by $index">
						<tr>
							<td class = "col-md-12">
								<label class = "col-md-6" style = "font-weight: bold;">{{ record.row }} </label>
								<label class = "col-md-6" style = "font-weight: bold;">{{ record.title}}</label>
							</td>
						</tr>
						<tr ng-repeat="(key, error) in record.errors track by $index">
							<td class = "col-md-12">
								<label class = "col-md-12">{{ error}}</label>
							</td>
						</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</form>