<form name="newDisplayHeadForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Add New Display Head</h3>
	</div>

		<div class = "form-group col-md-12">
		
		<br>
			<label class = "col-md-2">Name<span style="color: red">*</span> </label>
      		<div class="col-md-6">
      			<input title="Enter Display Head Name" Placeholder="Enter Display Head Name" type="text" class="form-control" name = "name" ng-model="newDisplayHeadObj.headName" ng-required = "true">
      			<p style="color: red" ng-show="errorNewHeadMessage">{{errorNewHeadMessage}}</p>
      		</div>
      		<div class = "col-md-4"></div>	
		</div>
		
		<div class = "form-group col-md-12">
			<label class = "col-md-2">Description<span style="color: red">*</span> </label>
      		<div class="col-md-6">
      			<textarea title="Enter Display Head Description" Placeholder="Enter Display Head Description" class="form-control" name = "name" ng-model="newDisplayHeadObj.discription" ng-required = "true"></textarea>
      		</div>
      		<div class = "col-md-4"></div>	
		</div>
	
	<div class = "form-group col-md-12">
		<label class = "col-md-2"> </label>
      		<div class="col-md-8">
				<button class = "btn btn-orange ng-binding"  ng-click="addNewDisplayHeadTemplate(newDisplayHeadObj)" ng-disabled="newDisplayHeadForm.$invalid">Save</button>
				<button class = "btn btn-default"  ng-click="cancelPopup()">Cancel</button>
			</div>
	</div>
	
	</form>
	
	<div class="modal-footer"><br></div>	