/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  //padding-top: 50px;
  background-color: #eceff4;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
    position: fixed;
    top: 54px;
    padding: 20px 0;
    /* overflow-x: hidden;
    overflow-y: auto;  *//* Scrollable contents if viewport is shorter than content. */
    background-color: #fff;
    border-right: 1px solid #eee;
    height:100%;
   /*  -webkit-box-shadow: 5px -1px 7px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px -1px 7px -3px rgba(0,0,0,0.75);
	box-shadow: 5px -1px 7px -3px rgba(0,0,0,0.75); */
}

@media (max-width: 980px) {
	.sidebar {
		top: 140px;
		z-index: 1000;
	}
	#menu{
		height: 400px !important;
	}
	.main-block{
		top: 140px !important;
	}
	
	.multilevelpushmenu_wrapper ul {
	    margin-bottom: 20px !important;
	    padding-bottom: 45px !important;
	}
	.multilevelpushmenu_wrapper ul {
	    height: 420px !important;
	    overflow: auto;
	     margin-bottom: 20px !important;
	    padding-bottom: 35px !important; 
	}
	
}

@media (max-width: 540px) {
	.sidebar {
		z-index: 0;
	}
}
#popupSearchDiv{
    height: 220px;
    overflow-y: scroll;
}

#validationErrorDiv{
	height: 290px;
    overflow-y: scroll;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.navidation-color{
color:white	
}

.addStdDiv{
	margin:0;
	padding:0;
}

.addStdDiv li{
	list-style-type: none;
}

h2.addStudent, h2.addBranchAdmin{
	font-size: 1.2em;
    padding:10px;
	background:#f5f5f5;
}

h2.addVendor{
	font-size: 1.2em;
    padding:10px;
	background:#f5f5f5;
}
.school-logo{
	height:55px;
}

.school-heading{
	font-size:1.5em;
	color:BLACK;
	display:inline-block;
	margin:20px 0 10px 10px;
}


/* Snehal edits start */
.navbar-inverse {
	background-color: #ffffff;
}
label {
	font-weight: normal;
}
.navbar-header h2{
	margin-top: 22px;
	padding-left: 27px;
	font-size: 1.8em;
	margin-bottom: 24px;
	font-family:'open sans';
	font-weight:600;
	
}
.navbar-header {
	width: 100%;
	border-bottom: 2px solid #e0e0e0;
}
.sidebar ul li {
    border-bottom: 1px solid rgba(245,245,245,0.2);
}
.nav .fa-arrow-circle-right, .nav a {
	color: #000;	
}
.breadcrumb, .breadcrumb ol {
	margin-bottom: 0;
}
.breadcrumb a{
	color: #2b8fcc;
}
.no-gutter {
	padding-left:0;
    padding-right:0;
}
.btn-orange {
	color: #FFF;
	background-color: #2b8fcc;
}

@media (max-width: 540px) {
	.btn-orange {
		margin: 5px;
	}
}
.btn-orange:hover {
	color: #FFF;
	background-color: #09579c;
}
.breadcrumb {
	background-color: transparent;
}
.main-block {
	top: 85px;
    /* padding-top: 15px; */
    padding-right: 1%;
    margin-left: 16%;
}
table.dataTable thead th, table.dataTable thead td {
	padding-left: 0;
}
table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #ddd;
}

a{
	color:#2b8fcc;
}
a:hover{
	color:#09579c;
}

.navbar-inverse .navbar-nav > li > a{
	color:#000;
}

.qfix{
	width: 120px;
    padding: 7px;
    margin-left: 10px;
	display:inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	color:#000 !important;
}

.loginModel{
	margin-top:10px;
}

.margintop10{
	margin-top:40px;
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
	background:#2b8fcc;
	boder:1px solid #2b8fcc!important;
}

.nav>li>a{
	padding: 2px 15px;
}


/* Snehal edits end */
/*17 June2016 Ashish*/
.nicescroll-cursors {
    background-color: #3d5afe !important;
    width:12px !important;
    border-radius:0 !important;
} 


.form-institute .form-group label {
    padding: 7px 5px;
}

.form-institute .form-group .inst-logo{
	padding: 0px  5px 7px 5px;
	
}

a.logout {
    margin: 5px;
    padding: 0px !important;
}

a.btn.btn-orange:focus {
    color: #fff;
}

.table.dataTable th {
    padding: 5px 5px 5px 9px;
}

/*21 June 2016 Ashish */

#attach_btn:focus,#attach_btn:active {
    border: 1px solid #337ab7 !important;
}

input[type=file]#load-img:focus, input[type=file]#load-img:active{
    border: 1px solid #337ab7 !important;
}

.sidebar .nav {   
    margin-bottom: 100px;   
}

.btn-orange:visited,.btn-orange:focus{
	color:#fff !important;
	
}


input.ng-pristine{
    cursor: pointer;
}

::-webkit-file-upload-button { cursor:pointer; }

::-moz-file-upload-button { cursor:pointer; }

.login-heading{
	font-size: 18px;
}

/*23 June Changes */
select[name="instituteId"], select[name="branchId"] {
    cursor: pointer;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #000 !important;
    background-color: #ffffff;
}

.sidebar::-webkit-scrollbar {
    width: 2px;
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color: #ddd !important;
  outline: 1px solid #ddd !important;
  color: #ddd !important;
}

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive{
	background: #f5f5f5 !important;
}

.multilevelpushmenu_wrapper .levelHolderClass {
	background: transparent !important;
}

.multilevelpushmenu_wrapper a {
    font-size: 15px !important;
    padding: 5px !important;
    color: #fff !important;
    font-weight: 400;
}

.multilevelpushmenu_wrapper a .fa{
	color: #fff;
	opacity: 0.4;
}
.multilevelpushmenu_wrapper li:hover {
  /*   background-color: #ecf2f5 !important; */
    color: #0d4d8e !important;
}

.multilevelpushmenu_wrapper li {
     border-top: none !important;
     padding: 5px !important;
}

.multilevelpushmenu_wrapper ul {
     max-height: 630px;
    /*overflow: auto; */
  /*   margin-bottom: 20px !important;
    padding-bottom: 35px !important; */
}

.multilevelpushmenu_wrapper ul::-webkit-scrollbar {
    width: 3px;
}

.multilevelpushmenu_wrapper li:last-child {
    border-bottom: none !important;
}

#pushobj {
   /*  position: absolute;
    top: 65px;
    left: 30px; */
   /*  float:right;
    padding-left: 70px; */
}

div#menu {
    height: 100% !important;
    background-color: #2b8fcc;
}

@media(min-width: 768px){
	.sidebar-toggle-btn{
		display: none;
	}
	
}

@media(max-width: 768px){
	#pushobj {
		float:right;
    	padding-left: 20px;
	}
	.main-block {
		padding-right: 10px;
	}
		
} 

.table thead tr th {
    white-space: nowrap;
}

.table tbody tr td.ellipse {
    width: 8%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel{
	border-radius: 0px !important;
}

.panel-default>.panel-heading{
	background-color: #969796 !important;
    border-color: #969796 !important;
    color: #fff !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

::-webkit-scrollbar {
    height: 6px;
}
 
 .well{
 	border-radius: 0px !important;
 }
 
 .btn{
 	border-radius: 0px !important;
 }
 
 .form-control{
 	border-radius: 0px !important;
 }
 
 .modal-content{
 	border-radius: 0px !important;
 }
 
 .hdfc-logo {
    margin-top: 6px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.menuItem{
	list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
.menuItemList{
	 display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
 a.active {
    background-color: #4CAF50;
    color: white;
}
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    /*background-color: #f9f9f9*/;
    min-width: 200px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
	background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*start rnd class*/

#wrapper {
    /*padding-top: 50px;*/
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#sidebar-wrapper {
     z-index: 1000;
     position: fixed; 
    /* left: 225px; */
     width: 200px; 
    height: 100%;
    /* margin-left: -225px; */
    /*overflow-y: auto;*/
    /* background: #f8f8f8; */
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#sidebar-wrapper .sidebar-nav {
    position: relative;
    top: 2px;
    /* width: 225px; */
    /* font-size: 14px; */
    margin: 2px;
    padding: 0px;
    /* list-style: none; */
}
#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}
#sidebar-wrapper .sidebar-nav li:hover {
     background-color: transparent;
}
#sidebar-wrapper .sidebar-nav li a:hover {
     text-decoration: underline;
}
   
   
#sidebar-wrapper .sidebar-nav li ul.panel-collapse {
    list-style: none;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}
#sidebar-wrapper .sidebar-nav li ul.panel-collapse li i {
    margin-right: 10px;
}



