<div style = "width:900px;" ng-if = "!showLogView" class="col-xs-12">
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
	<div class="panel panel-default" style="width: 1050px; margin-left: -196px;">
		<div class="panel-heading">
			<h3 class="modal-title"></h3>
		</div>
		<div class="panel-body" ng-cloak ng-if="entityType =='students' ">
			<div class="col-md-6">
				<font color='RED'>
					<h4>Updated Value </h4>
				</font>
				<div class="col-md-12">
				
					<div class="row">
						<div class="col-md-12" >
							<label class="col-md-4 exiting_label" for="inputLarge" >Student Name:</label>{{newData.firstname}} {{newData.middleName}} {{newData.surname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Fees Code: </label> {{newData.feesCodeName}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Registration No.: </label> {{newData.registrationCode}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >UserId: </label> {{newData.studentUserId}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Email: </label> {{newData.emailAddress}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mobile Number: </label> {{newData.mobile}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Standard: </label> {{newData.standardName}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Division: </label> {{newData.divisionName}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Father's Name: </label> {{newData.fatherFirstname}} {{newData.fatherMiddlename}} {{newData.fatherSurname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Father's Contact: </label> {{newData.fatherPrimaryMobileNumber}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Father's Email: </label> {{newData.fatherEmailAddress}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mother's Name: </label> {{newData.motherFirstname}} {{newData.motherMiddlename}} {{newData.motherSurname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mother's Contact: </label> {{newData.motherPrimaryMobileNumber}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mother's Email: </label> {{newData.motherEmailAddress}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Guardian's Name: </label> {{newData.parentFirstname}} {{newData.parentMiddlename}} {{newData.parentSurname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Guardian's Contact: </label> {{newData.parentPrimaryMobileNumber}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Guardian's Email: </label> {{newData.parentEmailAddress}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<font color='RED'>
					<h4>Old Value </h4>
				</font>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12" >
							<label class="col-md-4 exiting_label" for="inputLarge" >Student Name:</label>{{oldData.firstname}} {{oldData.middleName}} {{oldData.surname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Fees Code: </label> {{oldData.feesCodeName}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Registration No.: </label> {{oldData.registrationCode}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >UserId: </label> {{oldData.studentUserId}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Email: </label> {{oldData.emailAddress}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mobile Number: </label> {{oldData.mobile}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Standard: </label> {{oldData.standardName}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Division: </label> {{oldData.divisionName}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Father's Name: </label> {{oldData.fatherFirstname}} {{oldData.fatherMiddlename}} {{oldData.fatherSurname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Father's Contact: </label> {{oldData.fatherPrimaryMobileNumber}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Father's Email: </label> {{oldData.fatherEmailAddress}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mother's Name: </label> {{oldData.motherFirstname}} {{oldData.motherMiddlename}} {{oldData.motherSurname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mother's Contact: </label> {{oldData.motherPrimaryMobileNumber}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Mother's Email: </label> {{oldData.motherEmailAddress}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Guardian's Name: </label> {{oldData.parentFirstname}} {{oldData.parentMiddlename}} {{oldData.parentSurname}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Guardian's Contact: </label> {{oldData.parentPrimaryMobileNumber}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Guardian's Email: </label> {{oldData.parentEmailAddress}}
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Fees Report -->
		<div class="panel-body" ng-cloak ng-if="entityType =='fees' ">
			<div class="col-md-6">
				<font color='RED'>
					<h4>Updated Value </h4>
				</font>
				<div class="col-md-12">
				
					<div class="row">
						<div class="col-md-12" >
							<label class="col-md-4 exiting_label" for="inputLarge" >Head:</label>{{newData.head}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Amount: </label> {{newData.amount}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Branch : </label> {{newData.branch}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Scheme Code : </label> {{newData.schemeCode}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Due Date : </label> {{newData.dueDate}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >End Date : </label> {{newData.toDate}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Late Fees : </label> {{newData.latePaymentCharges}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Standard : </label> {{newData.standard}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Division : </label> {{newData.division}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Fees Code : </label> {{newData.feesCodeName}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<font color='RED'>
					<h4>Old Value </h4>
				</font>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12" >
							<label class="col-md-4 exiting_label" for="inputLarge" >Head:</label>{{oldData.head}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Amount: </label> {{oldData.amount}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Branch : </label> {{oldData.branch}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Scheme Code : </label> {{oldData.schemeCode}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Due Date : </label> {{oldData.dueDate}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >End Date : </label> {{oldData.toDate}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Late Fees : </label> {{oldData.latePaymentCharges}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Standard : </label> {{oldData.standard}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Division : </label> {{oldData.division}}
						</div>
						<div class="col-md-12">
							<label class="col-md-4 exiting_label" for="inputLarge" >Fees Code : </label> {{oldData.feesCodeName}}
						</div>
						
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="col-md-6">
			<div class="panel-body" ng-cloak>
				
			</div>
		</div>
	</div>
</div>

