
<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
<div class="panel panel-default">
<div class="panel-heading">Audit Log</div>
<div class="panel-body" ng-cloak>
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" >
	      		<!-- <label class = "col-md-2">Dropdown <span style = "color:red">*</span></label> -->
	      		<div class="col-md-6" ng-show="roleId == 1 || roleId == 8">
			      		<label class = "col-md-3" style="margin-left: -13px;">Institute <span style = "color:red">*</span></label>
				      	<select class="form-control" name = "instituteId" ng-model = "instituteId" 
				     	 		ng-selected = "instituteId"  ng-change = "changeBranchList(instituteId)"
				     	 		title ="Select institute name" 
				     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
				     	 </select>
				    </div>
				    <div class="col-md-3" ng-show="roleId != 1 || roleId != 8">
			      		
				    </div>
				    <div class="col-md-6">
				      	<label class = "col-md-3" style="margin-left: -13px;">Branch <span style = "color:red">*</span></label>
				      		<select class="form-control" name = "branchId" ng-model = "branchId" 
				     	 		ng-selected = "branchId" title ="Select branch name"
				     	 		ng-change = "changeStandardList(branchId)"
				     	 		ng-options="branch.id as branch.name for branch in branchList" required>
				     	 	</select>
				    </div>
				   
		      		<div class="col-md-4">
		      		 <br><br>
				     	 <select class="form-control" name = "enityId" ng-model = "enityId" title = "Please select institute"
				     	 		ng-selected = "enityId"  ng-change = "changeEntityList(enityId)"
				     	 		ng-options="list.entityLabel as list.entityType for list in auditEntityList" required>
				     	 </select>
				    </div>
				    <div class="col-md-4">
				    <br><br>
				     	<select class="form-control" name = "instituteId" ng-model = "operationId" title = "Please select institute"
				     	 		ng-selected = "operationId"  ng-change = "changeOperationList(operationId)"
				     	 		ng-options="lists.operationLabel as lists.operationType for lists in auditOperationList" required>
				     	 </select>
				     	 
				     </div>
				     <a class = "btn btn-default btn-small" 
							ng-click="downloadReport()" 
							 title = "Download template XLSX for uploading multiple branches" style="margin-top: 40px;" ng-show="roleId == 1 || roleId == 8">Download Report
					</a>
					<a class = "btn btn-default btn-small" 
							ng-click="downloadReport()" 
							 title = "Download template XLSX for uploading multiple branches" style="margin-top: 98px;margin-left: -49px;"  ng-hide="roleId == 1 || roleId == 8">Download Report
					</a>
			   	<div class = "col-md-4"></div>	
		    </div>
		</div>
	</div>
	<!--  tabale started -->
	<div>	
	<table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" dt-column-defs="dtColumnDefs" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				
				<th class = "col-md-2">Entity Type {{myData.newData.surname}}</th>
				<th class = "col-md-1">UserName</th>
				<th class = "col-md-1">Operation Type</th>
				<th class = "col-md-1">Operation Date</th>
				<th class = "col-md-1">IP Address</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="data in auditData"> 
				
				<td class = "col-md-2">
				<a href = "#" class="btn btn-xs btn-default" data-toggle="collapse" data-target="#demo1" title="Action" ng-click="checkData(data)"> <i class="more-less glyphicon glyphicon-plus"></i></a>
				  	
				  	
				  	<!-- <div id="demo1" class="collapse">
				   		<div class="col-md-4">
				   			<h4> Updated Value</h4>
				   		</div>
				   		<div class="col-md-4">
				   			<h4> Old Value</h4>				   		
				   		</div>
					</div> -->
				  {{ data.entityType }}
				</td>
				<td class = "col-md-2">{{ data.username }}</td>
				<td class = "col-md-2">{{ data.operationType }}</td>
				<td class = "col-md-2">{{ data.operationDate | date : 'dd/MM/yyyy'  }}</td>
				<td class = "col-md-2">{{ data.ipAddress }}</td>
			</tr>
		</tbody>
	</table>
	 
	</div>
</div>
</div>
</div>
