<div class="panel panel-default">
	<div class="panel-heading">
		Add Custom {{customLabel}}
	</div>
	<div class="panel-body">
		<div class="form-group col-md-12">
			<div class = "form-group col-md-12">
				<label class = "col-md-2">Display Name <span style = "color:red">*</span></label>
				<div class="col-md-6">
					<input type="text" class="form-control col-md-6" maxlength = '45' 
						name="displayName" ng-model="displayName" ng-required = 'true'/>
				</div>
				<div class = "col-md-4"></div>	
		   </div>

			<font color='RED'>
				<h4 ng-show="errorMessage">{{errorMessage}}</h4>
			</font>
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-disabled = "!displayName" ng-click="add()">Save</button>
		</div>
	</div>
</div>