<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
	<!-- <div>
<h3 ng-show = "student.id == null">Student / Add Student</h3>
<h3 ng-show = "student.id != null">Student / Edit Student</h3>
</div> -->
	<div class="panel panel-default">
		<div class="panel-heading">{{lateFeesDetailHeaderValue}}</div>
		<div class="panel-body">

			<form name="addLateFeeForm" ng-controller="validatelateFeeForm"
				class="container-fluid" autocomplete="off"
				enctype="multipart/form-data">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' ">
						{{message}}</h4>
				</font>
				<div class="form-group col-md-12">
					<label class="col-md-2">Name<span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=45
							title="Please enter description" name="description"
							ng-model="lateFeesDetail.description" required />

					</div>
					<div class="col-md-4"></div>
				</div>
				<div class="form-group col-md-12">
					<label class="col-md-2">Type</label>
					<div class="col-md-6">
						<select class="form-control" name="type"
							ng-model="lateFeesDetail.type" ng-selected="late payment charges"
							ng-required="true">
							<option ng-selected="true" value="">Select Fees Type</option>
							<option value="RECURRING">Recurring</option>
							<option value="ONE TIME">One Time</option>
							<option value="COMBINATION">Combination</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'RECURRING'">
					<label class="col-md-2">Reccuring For</label>
					<div class="col-sm-9">
						<div class="btn-group" data-toggle="buttons-checkbox">
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'DAILY' ? 'focus' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'DAILY'">Daily</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'WEEKLY' ? 'focus' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'WEEKLY'">Weekly</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'MONTHLY' ? 'focus' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'MONTHLY'">Monthly</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'QUARTERLY' ? 'focus' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'QUARTERLY'">Quarterly</button>

						</div>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'RECURRING' && lateFeesDetail.frequency == 'DAILY'">
					<label class="col-md-2">LateFeesDetails Days</label>
					<div class="col-sm-9">
						<div class="btn-group" data-toggle="buttons-checkbox">
							<label ng-repeat="day in dayArray"> <input
								type="checkbox" ng-model="lateFeesDetail.weekDays[day.value]"
								ng-checked="lateFeesDetail.weekDays[day.value] == 'true'"
								ng-required="lateFeesDetail.frequency == 'DAILY' && !isDaySelected()"
								name="Monday" value="{{day.value}}" /> {{day.label}}
							</label>
						</div>
					</div>
				</div>

				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'RECURRING' && lateFeesDetail.frequency == 'MONTHLY'">
					<label class="col-md-2">Select Day <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							title="Please select monthly day for recurring"
							ng-model="lateFeesDetail.byDate"
							ng-selected="lateFeesDetail.byDate"
							ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
							ng-required="lateFeesDetail.frequency == 'MONTHLY' ">
							<!-- <option value = "" ng-selected = "true">Select Day of Month</option> -->
						</select>
						<p class="errorMessage" ng-show="!lateFeesDetail.byDate">
							Select Day when monthly</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<!-- <div class="form-group col-md-12" ng-show="lateFeesDetail.type == 'RECURRING' && lateFeesDetail.frequency == 'QUARTERLY'">
		<label class="col-md-2">Select Day <span
			style="color: red">*</span></label>
		<div class="col-md-6">
			<select class="form-control" name="academicYearId" title = "Please select quarterly day for recurring"
				ng-model="lateFeesDetail.byDate"
				ng-selected="lateFeesDetail.byDate"
				ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
				ng-required = "lateFeesDetail.frequency == 'QUARTERLY' ">
				<option value = "" ng-selected = "true">Select Day of Month</option>
			</select>
			<p class="errorMessage" ng-show="!lateFeesDetail.byDate">
				Select Day when Quarterly</p>
		</div>
		<div class="col-md-4"></div>
	</div>  -->


<!-- 
>>>>>>> b80dfe5a4565ccf3ddae015094db65384d8c3dc3 -->
				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'COMBINATION'">
					<label class="col-md-2">Reccuring For</label>
					<div class="col-sm-9">
						<div class="btn-group" data-toggle="buttons-checkbox">
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'DAILY' ? 'focus' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'DAILY'">Daily</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'WEEKLY' ? 'focus' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'WEEKLY'">Weekly</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'MONTHLY' ? 'focus' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'MONTHLY'">Monthly</button>
							<button type="button"
								class="btn btn-primary {{lateFeesDetail.frequency == 'QUARTERLY' ? 'focus' : ''}}"
								ng-required="lateFeesDetail.reccuring && !lateFeesDetail.frequency"
								ng-model="lateFeesDetail.frequency" btn-radio="'QUARTERLY'">Quarterly</button>


						</div>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'COMBINATION' && lateFeesDetail.frequency == 'DAILY'">
					<label class="col-md-2">Late Fees Details Days</label>
					<div class="col-sm-9">
						<div class="btn-group" data-toggle="buttons-checkbox">
							<label ng-repeat="day in dayArray"> <input
								type="checkbox" ng-model="lateFeesDetail.weekDays[day.value]"
								ng-checked="lateFeesDetail.weekDays[day.value] == 'true'"
								ng-required="lateFeesDetail.frequency == 'DAILY' && !isDaySelected()"
								name="Monday" value="{{day.value}}" /> {{day.label}}
							</label>
						</div>
					</div>
				</div>

			<!-- 	<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'COMBINATION' && lateFeesDetail.frequency == 'QUARTERLY'">
					<label class="col-md-2">Select Day <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							title="Please select quarterly day for recurring"
							ng-model="lateFeesDetail.byDate"
							ng-selected="lateFeesDetail.byDate"
							ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
							ng-required="lateFeesDetail.frequency == 'QUARTERLY' ">
							<option value = "" ng-selected = "true">Select Day of Month</option>
						</select>
						<p class="errorMessage" ng-show="!lateFeesDetail.byDate">
							Select Day when quarterly</p>
					</div>
					<div class="col-md-4"></div>
				</div> -->
				<div class="form-group col-md-12"
					ng-show="lateFeesDetail.type == 'COMBINATION' && lateFeesDetail.frequency == 'MONTHLY'">
					<label class="col-md-2">Select Day <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							title="Please select monthly day for recurring"
							ng-model="lateFeesDetail.byDate"
							ng-selected="lateFeesDetail.byDate"
							ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
							ng-required="lateFeesDetail.frequency == 'MONTHLY' ">
							<!-- <option value = "" ng-selected = "true">Select Day of Month</option> -->
						</select>
						<p class="errorMessage" ng-show="!lateFeesDetail.byDate">
							Select Day when monthly</p>
					</div>
					<div class="col-md-4"></div>
				</div>



				<!-- <div class="form-group col-md-12">
					<label class="col-md-2">Amount </label>
					<div class="col-md-6">
						<textarea class="form-control" name="amount" maxlength=255
							ng-model="lateFeesDetail.amount"></textarea>
					</div>
					<div class="col-md-4"></div>
				</div>
 -->
				<div class="form-group col-md-12">
					<label class="col-md-2">Amount<span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" ng-pattern="regExName"
							class="form-control col-md-6" maxlength=12
							title="Please enter amount" name="amount"
							ng-model="lateFeesDetail.amount" required />

					</div>
					<div class="col-md-4"></div>
				</div>
				<div class="form-group col-md-12">
					<input type="button" class="btn btn-primary" value="Save"
						ng-click="saveLateFees(lateFeesDetail)" ng-disabled="addLateFeeForm.$invalid" /> 
					<input
					type="button" class="btn btn-default" value="Cancel"
					ng-click="cancelPopUp()" />
				</div>
			</form>
		</div>
	</div>
</div>