<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<h2 class="navidation-color">Parent Portal</h2>
	</div>
	<ul class="nav navbar-nav">

	</ul>
</nav>
<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-stacked">
		<li class="active"><a href="#">Institutes</a></li>
		<li><a href="#" ui-sref="student.list">Students</a></li>
		<li><a href="#">Parents</a></li>
		<li><a href="#">Standards</a></li>
		<li><a href="#">Divisions</a></li>
		<li><a href="#">Teachers</a></li>
		<li><a href="#">Vendors</a></li>
	</ul>
</div>