<div>
	<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
	<div class="panel panel-default">
		<div class="panel-heading">Configure Reciept</div>
		<div class="panel-body" ng-cloak>
			<form name="receiptForm" class="container-fluid" autocomplete="off"
				enctype="multipart/form-data">

				<p>
					<font color='RED'>
						<h5 ng-model="message" ng-show = "message">{{message}}</h5>
					</font>
				</p>
				<div class="well">
					<div class="row">
						<div class="form-group col-md-12" ng-show="roleId == 1"
							enctype="multipart/form-data">
							<label class="col-md-2">Institute <span
								style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control" name="instituteId"
									ng-model="instituteId" title="Please select institute"
									ng-selected="instituteId" ng-change="changeBranchList()"
									ng-options="institute.id as institute.name for institute in instituteList"
									required>
								</select>
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group col-md-12" ng-show='!isSingleBranch'>
							<label class="col-md-2">Branch <span style="color: red">*</span></label>
							<div class="col-md-6">
								<select class="form-control" name="branchId" ng-model="branchId"
									title="Please select branch" ng-selected="branchId" ng-change="getBranchReceiptConfigration()"
									ng-options="branch.id as branch.name for branch in branchList"
									required>
								</select>
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group col-md-12">
							<label class="col-md-2">Hide Qfix logo </label>
							<div class="col-md-6">
								<div class="col-md-3">
									<input type="checkbox" name="hideLogo" id="hideLogo"
										ng-model="hideLogo" title="Check if you want show logo">
								</div>
							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group col-md-12">
							<label class="col-md-2">Use school log as watermark image</label>
							<div class="col-md-6">
								<div class="col-md-3">
									<input type="checkbox" name="useSchoolLogAsWatermarkImage" id="useSchoolLogAsWatermarkImage"
										ng-model="useSchoolLogAsWatermarkImage"
										title="Check if you want show watermark image">
								</div>
							</div>
							
						</div>


						<div class="form-group col-md-12">
							<label class="col-md-2">Trailer record</label>
							<div class="col-md-6">
								<textarea ng-model="trailerRecord" rows="4" cols="65"></textarea>

							</div>
							<div class="col-md-4"></div>
						</div>

						<div class="form-group col-md-12">
							<label class="col-md-2"></label>
							<div class="col-md-8">
								<a class="btn btn-orange" ui-sref="receipt.add"
									ng-click="save()" title="configure Receipt" ng-disabled="!branchId">save</a>
							</div>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
