
<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">{{feesCodeHeaderValue}}</div>
		<div class="panel-body" ng-cloak>
			<form name="addFeesCode" 
				class="container-fluid	">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' ">
						{{message}}</h4>
				</font>

				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="feesCode.instituteId"
							ng-selected="feesCode.instituteId" ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList"
							autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="feesCode.branchId" ng-selected="feesCode.branchId"
							ng-change="changeYearList()"
							ng-options="branch.id as branch.name for branch in branchList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addFeesCode.branch.$invalid && !addFeesCode.branch.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Display Name <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=40
							name="displayName" ng-model="feesCode.name" ng-required='true' />
						<p class="errorMessage"
							ng-show="addFeesCode.displayName.$invalid && !addFeesCode.displayName.$pristine">
							Please insert Display Name.</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Description <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=10
							name="code" ng-model="feesCode.description"  />
					</div>
					<div class="col-md-4"></div>
				</div>

				<input type="hidden" name='id' ng-model="feesCode.id" />
				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-8">
						<input type="button" class="btn btn-orange" value="Save"
							ng-click="save()" ng-disabled="addFeesCode.$invalid" />
						<input type="button" class="btn btn-default" value="Cancel"
							ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>