
<div>
<div class="panel panel-default">
	<div class="panel-heading">
	Fees Code List
	</div>
	<div class="panel-body" ng-cloak>
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
	      		<div class="col-md-6">
			     	<select class="form-control" name = "instituteId" ng-model = "instituteId" 
		     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
		     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
			     	</select>
	      		</div>
			   <div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" ng-show = '!isSingleBranch'>
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" ng-selected = "branchId" 
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>

		    <div class = "form-group col-md-12">
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-6">

					<a class = "btn btn-orange" ui-sref="fees-code.add" ng-click ="setSelectedData(instituteId, branchId)"
						title = "Add New Fees Code.">Add Fees Code</a>

					<a class = "btn btn-default" ng-click = "branchId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!branchId" ng-show = "isSingleBranch != true"
						title = "{{!academicYearId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">

						Search
					</a>
				</div>
			</div>
		</div>
	</div>

	<br>
		<font color = 'RED'>
			<h4 ng-show = "message">
				{{message}}
			</h4>
		</font>
		<br>

	<div>	
	<table datatable="ng" dt-options="dtOptions" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th>Name</th>
				<!-- <th>Academic Year</th> -->
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="feesCode in feesCodeList">
				<td>{{ feesCode.name }}</td>
				<!-- <td>{{ feesCode.academicYear }}</td> -->
				<td>{{ feesCode.description }}</td>
				<td><a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="fees-code.edit({id :feesCode.id})"><i class="fa fa-pencil"></i></a> 
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="fees-code.list" ng-click="deleteData(feesCode.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>
