
<div style="margin-top:100px;margin-left:150px">
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>


<form name = "viewGoal" class = "container-fluid	"> 

   <div class = "form-group col-md-12">
      <label class = "col-md-2">Title </label>
      <div class = "col-md-6">
      		<label class="col-md-6" >{{goal.title}}</label>
   	  </div>
   	  <div class = "col-md-4"></div>
   </div>

	<div class = "form-group col-md-12">
      <label class = "col-md-2">Description </label>
      <div class="col-md-6">
      		<label class="col-md-6" >{{goal.description}}</label>
      </div>
      <div class = "col-md-4"></div>
   </div>

    <div class = "form-group col-md-12">
      <label class = "col-md-2">Start Date </label>
      <div class="col-md-6">
            <p class="input-group">
              <label class="col-md-12" >{{goal.start_date | date : 'dd/MM/yyyy'}}</label>
            </p>
        </div>
      <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12">
      <label class = "col-md-2">End Date </label>
      <div class="col-md-6">
            <p class="input-group">
              <label class="col-md-12" >{{goal.end_date | date : 'dd/MM/yyyy'}}</label>
            </p>
        </div>
      <div class = "col-md-4"></div>
   </div>

	<div class = "form-group col-md-12">
      <label class = "col-md-2">Reward Type </label>
      <div class="col-md-6">
      		<label class="col-md-6" >{{goal.rewardType}}</label>
      </div>
      <div class = "col-md-4"></div>
   </div>

   <div class = "form-group col-md-12" ng-show = "goal.rewardType == 'AMOUNT'">
      <label class = "col-md-2">Amount </label>
      <div class="col-md-6">
      		<label class="col-md-6" >{{goal.amount}}</label>
      </div>
      <div class = "col-md-4"></div>
   </div>

   	<div class = "form-group col-md-12">
      <label class = "col-md-2">Reward Description </label>
      <div class="col-md-6">
      		<label class="col-md-6" >{{goal.reward_description}}</label>
      </div>
      <div class = "col-md-4"></div>
   </div>
   
   	<div class = "form-group col-md-12">
      <label class = "col-md-2">Goal Status </label>
      <div class="col-md-6">
      		<label class="col-md-6" >{{goal.status}}</label>
      </div>
      <div class = "col-md-4"></div>
   </div>

   	<div class = "form-group col-md-12">
      <label class = "col-md-2">Feedback </label>
      <div class="col-md-6">
      		<label class="col-md-6" >{{goal.feedback}}</label>
      </div>
      <div class = "col-md-4"></div>
   </div>

	<div ng-if  = "goal.status == 'ASSIGNED' || goal.status == 'REJECTED'">
	   	<div class = "form-group col-md-12">
	      <label class = "col-md-2">Status <span><font color = 'red'> *</font></span></label>
	      <div class="col-md-6">
	      		<label>
			      	<input  type="checkbox" name="status" id="status" value = "COMPLETED"
			      		ng-required = "true" ng-model="updateStatus" > Completed
		      	</label>
	      </div>
	      <div class = "col-md-4"></div>
	   </div>

	   	<div class = "form-group col-md-12" ng-show = "goal.status == 'ASSIGNED' || goal.status == 'REJECTED'">
	      <label class = "col-md-2">Comment <span><font color = 'red'> *</font></span></label>
	      <div class="col-md-6">
	      		<textarea class="col-md-6" ng-disabled = "!updateStatus" ng-model = "goal.comment" ng-required = "true"></textarea>
	      </div>
	      <div class = "col-md-4"></div>
	   </div>
	     <input type="hidden" ng-model="goal.id" />
	</div>
	
	<td><a ng-click="getFeesInfo(feesreport)"><i
	class="fa fa-info-circle" aria-hidden="true"></i></a></td>
	

	<span ng-if  = "goal.status == 'ASSIGNED' || goal.status == 'REJECTED'">
		<input type="button" class = "btn btn-default" ng-disabled = "viewGoal.$invalid" 
			value="Submit" ng-click="updateGoal()" />
	</span>

  <input type="button" class = "btn btn-default" value="Back" ng-click="cancel()" />

</form>
</div>