
<form name="form" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Update Payment Details</h3>
	</div>
	<div class="modal-body">
		<div class="form-group col-md-12">
			<label class="control-label">{{feesDescription}}</label>
		</div>

		<div style="width: 570px; overflow-x: auto;">
			<table id="feesReport"
				class="table table-striped table-condensed table-bordered table-hover">
				<thead>
					<tr>
						<th>Select</th>
						<th>Qfix Reference Number</th>
						<th>Offline Reference Number</th>
						<th>Payment Mode</th>
						<th>Amount</th>
						<th>Paid Date</th>
						<th>Paid By</th>
						<th ng-if="feesToUnpaid.partialPaymentAllowed">New Amount to
							update</th>
						<th>Download Receipt</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="feesDesc in feesDescriptions track by $index">
						<td><input type="checkbox" ng-if="!feesDesc.pgEntry"
							name="marklatePayment" ng-model="feesDesc.checked"
							ng-change="setChecked(feesDesc)" /></td>

						<td>{{ feesDesc.qfixReferenceNumber}}</td>
						<td>{{ feesDesc.ofLineReferenceNo}}</td>
						<td>{{ feesDesc.paymentMode}}</td>
						<td>{{ feesDesc.amount}}</td>
						<td>{{ feesDesc.paidDate}}</td>
						<td>{{ feesDesc.createdByName}}</td>

						<td ng-if="feesToUnpaid.partialPaymentAllowed"><input
							ng-if="!feesDesc.pgEntry" type="number"
							ng-model="feesDesc.newAmount" name="newAmount" /> <span
							ng-if="feesDesc.pgEntry" class="errorMessage">Paid using
								payment gateway.</span></td>
						<td>
							<button class="btn btn-orange"
								ng-click="downloadReceipt(feesDesc.feeScheduleId)">Download</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<font color='RED' ng-show="unpaidErrorMessage">
		<h4>{{unpaidErrorMessage}}</h4>
	</font>

	<div class="modal-footer">
		<button class="btn btn-orange" ng-click="deletePaidFees()"
			ng-disabled="feesPaymentIdsToDelete.length == 0">Reverse
			Payment</button>

		<button class="btn btn-orange"
			ng-if="feesToUnpaid.partialPaymentAllowed"
			ng-click="updatePaidFees()">Change Paid Amount</button>

		<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</form>

