<form name="markLateForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Change Fee Charge</h3>
	</div>
	<div class="modal-body">
		<div class="form-group col-md-12">
			<label class="control-label">{{latePayment.feesDescription}}</label>
		</div>
		<div class="form-group col-md-12">
			<div class="form-group col-md-12">
				<label class="col-md-3">Late Fee Charge </label>
				<div class="col-md-8">
					<input class="form-control" type="number" ng-pattern="amountRegEXP"
						name="lateFeesCharges" ng-model="latePayment.lateFeesCharges"
						ng-required="!latePayment.discountAmount" />

					<p class="errorMessage"
						ng-show="markLateForm.lateFeesCharges.$invalid && !markLateForm.lateFeesCharges.$pristine">
						Please enter valid amount</p>
					<p class="errorMessage" ng-if="lateFeeAmountError">
						{{lateFeeAmountError}}</p>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>

		<div class="form-group col-md-12">
			<div class="form-group col-md-12">
				<label class="col-md-3">Discount Amount </label>
				<div class="col-md-8">
					<input class="form-control" type="number" name="discountAmount"
						ng-pattern="amountRegEXP" ng-model="latePayment.discountAmount"
						ng-required="!latePayment.lateFeesCharges" />

					<p class="errorMessage"
						ng-show="markLateForm.discountAmount.$invalid && !markLateForm.discountAmount.$pristine">
						Please enter valid amount</p>
					<p class="errorMessage" ng-if="discountAmountError">
						{{discountAmountError}}</p>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>

		<div class="form-group col-md-12">
			<div class="form-group col-md-12">
				<a ng-click="setFeeCharge(true)"><label class="col-md-12">Reuse late fee engine </label></a>
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-orange" ng-click="setFeeCharge(false)"
				ng-disabled="markLateForm.$invalid">Save</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</form>
