
<div>
	<div class="panel panel-default">
		<div class="panel-heading">Offline Payments</div>
		<div class="panel-body">
			<div class="well">
				<div class="row">
					<!-- <div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-4">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId"
								ng-change="changeBranchList()" title="Select institute"
								autofocus="autofocus"
								ng-options="institute.id as institute.name for institute in instituteList"
								required>
								<option ng-selected="true" value="">Select Institute</option>
							</select>
						</div>
						<div class="col-md-2"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-4">Branch <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId" ng-model="branchId"
								ng-init="branchId = branchList[0]['id']"
								ng-change="branchChanged()"
								title="{{instituteId ? 'Select branch.' : 'Please select institute first'}}"
								ng-options="branch.id as branch.name for branch in branchList"
								required>

								<option ng-selected="true" value="">Select Branch</option>
							</select>
						</div>
						<div class="col-md-2"></div>
					</div> -->

					<div class="form-group col-md-12">
						<label class="col-md-2">Qfix Reference Number </label>
						<div class="col-md-6">
							<input class="form-control" type="text" maxlength=45
								name="qfixRefNumber" placeholder="Enter qfix reference number"
								title="Please enter qfix reference number."
								ng-model="qfixRefNumber" />
						</div>
						<div class="col-md-4"></div>
					</div>

<!-- 					<div class="form-group col-md-12">
						<label class="col-md-4">From Date (DD/MM/YYYY) </label>
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" valid-date class="form-control"
									uib-datepicker-popup="dd/MM/yyyy" id="fromDate" name="fromDate"
									title="Please select from date"
									ng-focus="isOpenFromDate = true" is-open="isOpenFromDate"
									close-text="Close" ng-model="fromDate" ng-disabled="status==0" />

								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="isOpenFromDate = true" ng-disabled="status==0">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</p>
						</div>
						<div class="col-md-2"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-4">To Date (DD/MM/YYYY) </label>
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" valid-date class="form-control"
									uib-datepicker-popup="dd/MM/yyyy" id="toDate" name="toDate"
									title="Please select to date" min-date="fromDate"
									ng-focus="isOpenToDate = true" is-open="isOpenToDate"
									close-text="Close" ng-model="toDate" ng-disabled="!fromDate" />

								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="isOpenToDate = true" ng-disabled="status==0">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</p>
						</div>
						<div class="col-md-2"></div>
					</div> 

					<div class="form-group col-md-12" ng-if="dateErrorMessgae">
						<span style="color: red">{{dateErrorMessgae}}</span>
					</div> -->

					<div class="form-group col-md-12">
						<label class="col-md-2"> </label>
						<div class="col-md-6">
							<a class="btn btn-default"
								ng-click="qfixRefNumber ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled="!qfixRefNumber">

								Search </a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<font color='RED'>
					<h4 ng-show="message">{{message}}</h4>
				</font> <br>

				<table datatable="" id="feesReport" dt-options="dtOptions"
					dt-columns="dtColumns"
					class="table table-striped table-condensed table-bordered table-hover">
				</table>

			</div>
		</div>
	</div>

</div>