
<div class="panel">
	<div class="modal-header">
		<h3 class="modal-title">Fee Info</h3>
	</div>
	<div class="modal-body">
		Fees : {{feesInfo.description}} <br/>
		Base Amount : {{feesInfo.base_fee_amount}}<br/>
		Payment Status : {{feesInfo.payment_status}}<br/>
		<div ng-if = "feesInfo.paid_date">
			<!-- Amount Paid : {{feesInfo.amount_paid}}<br/> -->
			Paid Date : {{feesInfo.paid_date | date : 'dd/MM/yyyy' }}<br/>
		</div>
		Payment For : {{feesInfo.payment_for}}<br/>
		Total late fee added : {{feesInfo.total_late_fee_added}}<br/>
		Discount amount : {{feesInfo.discount_amount}}<br/>
		<h4 ng-if = "feesInfo.displayLayouts && feesInfo.displayLayouts.length > 0">Display Layouts</h4>
		<table id="DisplayLayouts"
			ng-if = "feesInfo.displayLayouts && feesInfo.displayLayouts.length > 0"
			class="table table-striped table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th>Fees Description</th>
					<th>Fees Amount</th>
					<th>Other Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="layout in feesInfo.displayLayouts">
					<td>{{ layout.feeDescription }}</td>
					<td style="text-align: right;">{{ layout.feeAmount }}</td>
					<td>{{ layout.otherDescription }}</td>
				</tr>
			</tbody>
		</table>
		<br />

		<div ng-if = "feesInfo.feeSchedules && feesInfo.feeSchedules.length > 0">
			<h4 >Late Payment Charges</h4>
			<table id="LATE PAYMENT CHARGES"
				class="table table-striped table-condensed table-bordered table-hover">
				<thead>
					<tr>
						<th>Amount added</th>
						<th>Added On</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="schedule in feesInfo.feeSchedules">
						<td>{{ schedule.amount_added}}</td>
						<td>{{ schedule.added_on}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="closePopup()">OK</button>
	</div>
</div>



