
<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default" ng-cloak>
		<div class="panel-heading">{{workingDayHeaderValue}}</div>
		<div class="panel-body">
			<form name="addWorkingDayForm" ng-controller="validateWorkDaysForm"
				class="container-fluid	">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' "> {{message}}</h4>
				</font>

				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="workingday.instituteId"
							ng-selected="workingday.instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList" autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="workingday.branchId" ng-selected="workingday.branchId"
							ng-change="changeYearList()"
							ng-options="branch.id as branch.name for branch in branchList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addWorkingDayForm.branch.$invalid && !addWorkingDayForm.branch.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Current Academic Year <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="currentAcademicYearId"
							ng-model="workingday.currentAcademicYearId" ng-disabled="true"
							ng-selected="workingday.currentAcademicYearId"
							ng-options="academicyear.id as (academicyear.fromDate + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addWorkingDayForm.academicyear.$invalid && !addWorkingDayForm.academicyear.$pristine">
							Please select year</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<h2 class="addStudent">
							Select Days<span style="color: red">*</span>
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-3">
						<div class="checkbox">
							<label> <input type="checkbox" name="monday" id="monday"
								ng-required="isDayRequired" ng-model="workingday.monday">
								Monday
							</label>
						</div>
					</div>

					<div class="form-group col-md-3">
						<div class="checkbox">
							<label> <input type="checkbox" name="tuesday"
								id="tuesday" ng-required="isDayRequired"
								ng-model="workingday.tuesday"> Tuesday
							</label>
						</div>
					</div>

					<div class="form-group col-md-6">
						<div class="checkbox">
							<label> <input type="checkbox" name="wednesday"
								id="wednesday" ng-required="isDayRequired"
								ng-model="workingday.wednesday">Wednesday
							</label>
						</div>
					</div>

					<div class="form-group col-md-3">
						<div class="checkbox">
							<label> <input type="checkbox" name="thursday"
								id="thursday" ng-required="isDayRequired"
								ng-model="workingday.thursday">Thursday
							</label>
						</div>
					</div>

					<div class="form-group col-md-3">
						<div class="checkbox">
							<label> <input type="checkbox" name="friday" id="friday"
								ng-required="isDayRequired" ng-model="workingday.friday">Friday
							</label>
						</div>
					</div>

					<div class="form-group col-md-6">
						<div class="checkbox">
							<label> <input type="checkbox" name="saturday"
								id="saturday" ng-required="isDayRequired"
								ng-model="workingday.saturday">Saturday
							</label>
						</div>
					</div>

					<div class="form-group col-md-6">
						<div class="checkbox">
							<label> <input type="checkbox" name="sunday" id="sunday"
								ng-required="isDayRequired" ng-model="workingday.sunday">Sunday
							</label>
						</div>
					</div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-6">
						<div class="checkbox">
							<label> 
								<input type="checkbox" name="skipTimetableOnHoliday"
									ng-model="workingday.skipTimetableOnHoliday">Round-robin timetable
							</label>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>

				<input type="hidden" name='id' ng-model="workingday.id" /> <input
					type="button" class="btn btn-orange" value="Save" ng-click="save()"
					ng-disabled="addWorkingDayForm.$invalid" /> <input type="button"
					class="btn btn-default" value="Cancel" ng-click="cancel()" />
			</form>
		</div>
	</div>
</div>