
<div>
<div class="panel panel-default">
	<div class="panel-heading">
	Working Days List
	</div>
	<div class="panel-body">
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
	      		<div class="col-md-6">
			     	<select title="Please select institute" class="form-control" name = "instituteId" ng-model = "instituteId" 
		     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
		     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
			     	</select>
	      		</div>
			   <div class = "col-md-4"></div>	
		    </div>
	
			<div class = "form-group col-md-12" ng-show = '!isSingleBranch'>
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select title="Please select branch" class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId" ng-change = "changeYearList()"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
	
			<div class = "form-group col-md-12">
		      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
		     	 		ng-init="academicYearId = academicYearList[0]['id']"
		     	 		ng-selected = "academicYearId" ng-disabled = true
		     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
		     	 		required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
		    
		    <div class = "form-group col-md-12">
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-6">
	
					<a class = "btn btn-orange" ui-sref="workingday.add" ng-click ="setSelectedData(instituteId, branchId)"
						title = "Add Working Days.">Add Working Days</a>

					<a class = "btn btn-default" ng-click = "academicYearId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!academicYearId" ng-show = "isSingleBranch != true"
						title = "{{!academicYearId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
					
						Search
					</a>
				</div>
		  </div>
		</div>
	</div>
	<br>
		<font color = 'RED'>
			<h4 ng-show = "message">
				{{message}}
			</h4>
		</font>
		<br>
	<div>	
	<table datatable="ng" dt-options="dtOptions" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th>Academic Year</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
				<th>Skip timetable on holiday</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="workingDay in workingDayList">
				<td>{{ workingDay.currentAcademicYearStr}}</td>
				<td>{{ workingDay.monday == "Y" ? "Yes" : "NA"}}</td>
				<td>{{ workingDay.tuesday == "Y" ? "Yes" : "NA"}}</td>
				<td>{{ workingDay.wednesday == "Y" ? "Yes" : "NA"}}</td>
				<td>{{ workingDay.thursday == "Y" ? "Yes" : "NA"}}</td>
				<td>{{ workingDay.friday == "Y" ? "Yes" : "NA"}}</td>
				<td>{{ workingDay.saturday == "Y" ? "Yes" : "NA"}}</td>
				<td>{{ workingDay.sunday == "Y" ? "Yes" : "NA" }}</td>
				<td>{{ workingDay.skipTimetableOnHoliday == "Y" ? "Yes" : "NA" }}</td>
				<td><a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="workingday.edit({id :workingDay.id})"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="workingday.list" ng-click="deleteData(workingDay.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>
