
<div class="modal-header">
	<h3 class="modal-title">Select Display Template</h3>
</div>
<div class="modal-body" style="padding: 0px;">
	<div class="col-md-12"
		ng-if="displayTemplateList && displayTemplateList.length > 0">
		<br />
		<table
			class="table table-striped table-condensed table-bordered table-hover"
			id="dataTables-example">
			<thead>
				<tr>
					<th>Select</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="template in displayTemplateList">
					<td><input type="radio" value="{{template.id}}" id=""
						ng-model="selectedTemplate.id" name="stuff" /></td>
					<!-- <td><input type="checkbox" ng-model="template.checked"></td> -->
					<td>{{ template.name }}</td>
					<td>{{ template.description }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<span ng-if="!displayTemplateList || displayTemplateList.length == 0"
		class="errorMessage"> Display templates not available for this
		branch. </span>
</div>
<div class="modal-footer">
	<button class="btn btn-orange" ng-click="addLayout()"
		ng-disabled="form.$invalid">Add</button>
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>