
<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">{{feesHeaderValue}}</div>
		<div class="panel-body" ng-cloak>

			<form name="addFees" ng-controller="validateFeesForm"
				class="container-fluid	">
				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="fees.instituteId" ng-selected="fees.instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList"
							autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="fees.branchId" ng-change='changeStandardList()'
							ng-selected="fees.branchId"
							ng-options="branch.id as branch.name for branch in branchList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addFees.branch.$invalid && !addFees.branch.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Current Academic Year <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId"
							ng-model="fees.academicYearId" ng-disabled="true"
							ng-selected="fees.academicYearId"
							ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addFees.academicyear.$invalid && !addFees.academicyear.$pristine">
							Please select year</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Fee Head <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="headId" ng-model="fees.headId"
							ng-selected="fees.headId"
							ng-options="head.id as head.name for head in headList" required>
						</select>
						<p class="errorMessage"
							ng-show="addFees.headId.$invalid && !addFees.headId.$pristine">
							Please select fee category</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Description </label>
					<div class="col-md-6">
						<textarea class="form-control" rows="3" maxlength=255
							name="description" ng-model="fees.description"></textarea>
						<p class="errorMessage"
							ng-show="addFees.description.$invalid && !addFees.description.$pristine">
							Please add description</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Caste </label>
					<div class="col-md-6">
						<select class="form-control" name="casteId"
							ng-model="fees.casteId" ng-selected="fees.casteId"
							ng-options="caste.id as caste.name for caste in casteList"
							ng-change="filterStudents()">

							<option value="" selected>ALL</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>


				<div class="form-group col-md-12">
					<label class="col-md-2">Start Date (DD/MM/YYYY) <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<p class="input-group">
							<input type="text" valid-date class="form-control"
								uib-datepicker-popup="dd/MM/yyyy" ng-model="fees.fromDate"
								ng-required="true" min-date="acadmicStartDate"
								max-date="acadmicEndDate" is-open="isOpenStartDate"
								id="fromDate" name="fromDate" ng-change="validateDates()"
								ng-focus="isOpenStartDate = fees.id ? false : true " ng-readonly = "fees.id"
								ng-click="isOpenStartDate = fees.id ? false : true " close-text="Close" /> <span
								class="input-group-btn">
								<button type="button" class="btn btn-default" ng-disabled="fees.id"
									ng-click="isOpenStartDate = true">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</p>
						<p>
							<span class="errorMessage"
								ng-show="addFees.fromDate.$error.fromDateRequired">Start
								date is mandatory.</span>
						</p>
						<!-- <input type="date" name="startDate" ng-model="fees.startDate" required/> -->
					</div>
					<div class="col-md-4"></div>
				</div>


				<div class="form-group col-md-12">
					<label class="col-md-2">End Date (DD/MM/YYYY) <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<p class="input-group">
							<input type="text" valid-date class="form-control"
								ng-readonly="!fees.fromDate"
								ng-focus="isOpenEndDate = fees.fromDate ? true : false"
								uib-datepicker-popup="dd/MM/yyyy" ng-model="fees.toDate"
								ng-required="true" id="toDate" name="toDate"
								min-date="fees.id ? minEndDate : fees.fromDate" max-date="acadmicEndDate"
								ng-click="isOpenEndDate = fees.fromDate ? true : false"
								is-open="isOpenEndDate" close-text="Close"
								ng-change="validateDates()" /> <span class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-disabled="!fees.fromDate" ng-click="isOpenEndDate = true">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</p>
						<p>
							<span class="errorMessage"
								ng-show="addFees.toDate.$error.toDateRequired">End date
								is mandatory.</span> <span class="errorMessage"
								ng-show="addFees.toDate.$error.endBeforeStart">End date
								must be after from date.</span>
						</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Due Date (DD/MM/YYYY) <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<p class="input-group">
							<input type="text" valid-date class="form-control"
								ng-readonly="!fees.toDate || fees.editDueDateAllowed == 'N'" uib-datepicker-popup="dd/MM/yyyy"
								ng-model="fees.dueDate" ng-required="true" id="dueDate"
								name="dueDate" is-open="isOpenDueDate"
								ng-change="validateDates()" max-date="fees.toDate"
								close-text="Close" min-date = "fees.id ? minDueDate : ''"
								ng-focus="isOpenDueDate = fees.toDate && fees.editDueDateAllowed == 'Y' ? true : false"
								ng-click="isOpenDueDate = fees.toDate && fees.editDueDateAllowed == 'Y' ? true : false" /> <span
								class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-disabled="!fees.toDate || fees.editDueDateAllowed == 'N'" ng-click="isOpenDueDate = true">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</p>
						<p>
							<span class="errorMessage"
								ng-show="addFees.dueDate.$error.dueDateRequired">Due date
								is mandatory.</span> <span class="errorMessage"
								ng-show="addFees.dueDate.$error.dueBeforeEnd">Due date
								must be in between start date and end date.</span>
						</p>
						<!-- <input type="date" name="dueDate" ng-model="fees.dueDate" required/> -->
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Currency </label>
					<div class="col-md-6">
						<select class="form-control" name="casteId"
							ng-model="fees.currency" ng-selected="fees.currency"
							ng-options="currency.code as currency.description for currency in currencyList">
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Total Amount <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control"
							ng-change="validateSplitPayment()" ng-pattern="regExAmount"
							maxlength=45 name="amount" ng-model="fees.amount" required />
						<p class="errorMessage"
							ng-show="addFees.amount.$invalid && !addFees.amount.$pristine">
							Please enter valid amount</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12" ng-if = "fees.amount == 0">
					<label class="col-md-2">Repeat this fees </label>
					<div class="col-md-6">
						<select class="form-control" name="casteId"
							ng-model="fees.allowRepeatEntries" ng-selected="fees.allowRepeatEntries">
							<option value="Y"> Yes</option>
							<option value="N"> No</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12" ng-if = "fees.amount != 0">
					<label class="col-md-2" for="idReccuring">Recurring </label>
					<div class="col-md-6">
						<div class="col-md-3">
							<input type="checkbox" name="reccuring" id="idReccuring"
								ng-model="fees.recurring"
								title="Check if you want recurring event">
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12" ng-show="fees.recurring">
					<label class="col-md-2">Reccuring Frequency</label>
					<div class="col-sm-9">
						<div class="btn-group" data-toggle="buttons-checkbox">
							<button type="button"
								class="btn btn-primary {{fees.recurringDetail.frequency == 'DAILY' ? 'focus' : ''}}"
								ng-required="fees.recurring && !fees.recurringDetail.frequency"
								ng-model="fees.recurringDetail.frequency" btn-radio="'DAILY'">Daily</button>

							<button type="button"
								class="btn btn-primary {{fees.recurringDetail.frequency == 'WEEKLY' ? 'focus' : ''}}"
								ng-required="fees.recurring && !fees.recurringDetail.frequency"
								ng-model="fees.recurringDetail.frequency" btn-radio="'WEEKLY'">Weekly</button>

							<button type="button"
								class="btn btn-primary {{fees.recurringDetail.frequency == 'MONTHLY' ? 'focus' : ''}}"
								ng-required="fees.recurring && !fees.recurringDetail.frequency"
								ng-model="fees.recurringDetail.frequency" btn-radio="'MONTHLY'">Monthly</button>

							<button type="button"
								class="btn btn-primary {{fees.recurringDetail.frequency == 'QUARTERLY' ? 'focus' : ''}}"
								ng-required="fees.recurring && !fees.recurringDetail.frequency"
								ng-model="fees.recurringDetail.frequency" btn-radio="'QUARTERLY'">Quaterly</button>

							<button type="button"
								class="btn btn-primary {{fees.recurringDetail.frequency == 'HALF_YEARLY' ? 'focus' : ''}}"
								ng-required="fees.recurring && !fees.recurringDetail.frequency"
								ng-model="fees.recurringDetail.frequency"
								btn-radio="'HALF_YEARLY'">Half Yearly</button>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-show="fees.recurring && fees.recurringDetail.frequency == 'DAILY'">
					<label class="col-md-2">Fees Days</label>
					<div class="col-sm-9">
						<div class="btn-group" data-toggle="buttons-checkbox">
							<label ng-repeat="day in dayArray"> <input
								type="checkbox"
								ng-model="fees.recurringDetail.byDays[day.value]"
								ng-checked="fees.recurringDetail.byDays[day.value] == 'true'"
								name="byDays" value="{{day.value}}" /> {{day.label}}
							</label>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
				 <!-- <div class="form-group col-md-12" ng-show = "fees.recurring && fees.recurringDetail.frequency == 'MONTHLY'">
					<label class="col-md-2">Select Day <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="academicYearId" title = "Please select monthly day for recurring"
							ng-model="fees.recurringDetail.byDate"
							ng-selected="fees.recurringDetail.byDate"
							ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
							ng-required = "fees.recurringDetail.frequency == 'MONTHLY' ">
							<option value = "" ng-selected = "true">Select Day of Month</option>
						</select>
						<p class="errorMessage" ng-show="!fees.recurringDetail.byDate">
							Select Day when monthly</p>
					</div>
					<div class="col-md-4"></div>
				</div> --> 
				<!-- <div class="form-group col-md-12" ng-show = "event.reccuring && event.frequency == 'MONTHLY'">
		<label class="col-md-2">Select Day <span
			style="color: red">*</span></label>
		<div class="col-md-6">
			<select class="form-control" name="academicYearId" title = "Please select monthly day for recurring"
				ng-model="event.byDate"
				ng-selected="event.byDate"
				ng-options="monthDay.value as monthDay.label for monthDay in monthDayArray"
				ng-required = "event.frequency == 'MONTHLY' ">
				<option value = "" ng-selected = "true">Select Day of Month</option>
			</select>
			<p class="errorMessage" ng-show="!event.byDate">
				Select Day when monthly</p>
		</div>
		<div class="col-md-4"></div>
	</div> -->

				<div class="form-group col-md-12">
					<label class="col-md-2">Fees Type <span style="color: red">*</span></label>
					<div class="col-md-6">

						<label class="radio-inline"> <input type="radio"
							id="optionsRadios1" name="feeType" value="SINGLE FEE"
							ng-model="fees.feeType" ng-required="!fees.feeType">
							&nbsp;Single Fee
						</label> <label class="radio-inline"> <input type="radio"
							name="feeType" id="optionsRadios2" value="GROUP FEE"
							ng-required="!fees.feeType" ng-model="fees.feeType">
							Group Fee
						</label>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12"
					ng-if="fees.feeType == 'GROUP FEE'">
					<label class="col-md-2">Display Template <span
						style="color: red">*</span></label>
					<div class="col-md-10">
						<button ng-show="roleId != 4" type="button"
							ng-disabled="!fees.branchId" class="btn btn-primary"
							ng-click="openSelectLayoutPopup()"> Select Display Template</button>
					</div>

				</div>

				<div class="form-group col-md-12"
					ng-if="fees.displayTemplates && fees.displayTemplates.length > 0 && fees.feeType == 'GROUP FEE'">
					<table
						class="table table-striped table-condensed table-bordered table-hover"
						id="dataTables-example">
						<thead>
							<tr>
								<th>Template Name</th>
								<th class= 'col-md-3'>Total Breakdown Amount</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="template in fees.displayTemplates">
								<td>{{ template.name }}</td>
								<td>{{ template.totalAmount }}</td>
								<td><a class="btn btn-xs btn-default" ng-click="removeLayout(template.id)"> 
									<i class="fa fa-trash"></i>
								</a>
								<a class="btn btn-xs btn-default" ng-click="viewTemplate(template.id)"> 
									<i class="fa fa-eye"></i>
								</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class = "form-group col-md-12">
			      	<label class = "col-md-2" >Fees Code</label>
			      	<div class="col-md-6">
				      	<select class="form-control" name = "feesCodeId" ng-model = "fees.feesCodeId" 
				      		ng-options="feesCode.id as feesCode.name for feesCode in feesCodes">
					      	<option value = "" selected> Select Fees Code</option>
					  	</select>
			      	</div>
				   	<div class = "col-md-4"></div>	
			   	</div>

<!-- 				<div class="form-group col-md-12">
					<label class="col-md-2">Fees Code</label>
					<div class="col-md-6">
						<input type="text" class="form-control" name="feesCodeName"
							ng-model="fees.feesCodeName"/>					
					</div>
					<div class="col-md-4"></div>
				</div>
 -->
				<div class="form-group col-md-12">
					<label class="col-md-2">Fees Scheme Code<span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="schemeCodeId"
							ng-model="fees.schemeCodeId" ng-change="validateSplitPayment()"
							ng-options="schemeCode.id as schemeCode.name for schemeCode in schemeCodes"
							ng-required="true">
							<option value="" selected>Select Scheme Code</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>
				
				<div class="form-group col-md-12">
				<!-- <span style="color: red" ng-show="fees.amount==0" ng-hide="fees.isAllowUser">*</span></label> -->
					<label class="col-md-2">Allow User Enter Amount &nbsp;&nbsp;<input
						type="checkbox" name="isAllowUser"  id="isAllowUser"
						ng-model="fees.isAllowUser">
					</label>
					<!-- <p class="errorMessage" ng-if="fees.amount==0" ng-hide="fees.isAllowUser">required in case Zero amount.</p> -->
					
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Is Split Payment &nbsp;&nbsp;<input
						type="checkbox" name="isSplitPayment"
						ng-change='splitPaymentChanged()' id="isSplitPayment"
						ng-model="fees.isSplitPayment" ng-disabled="fees.id">
					</label>
				</div>

				<div ng-if="fees.isSplitPayment">
					<div class="form-group col-md-12">
						<label class="col-md-2">Fees Seed Scheme Code <span
							style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="seedSchemeCodeId"
								ng-model="fees.seedSchemeCodeId" ng-change="validateSplitPayment()"
								ng-options="schemeCode.id as schemeCode.name for schemeCode in schemeCodes"
								required>
								<option value="" selected>Select Seed Scheme Code</option>
							</select>
							<p class="errorMessage" ng-show="isSchemeCodeError">Scheme
								code and seed scheme code must be different.</p>
							<p class="errorMessage" ng-show="seedSchemeCodeErrMsg">{{seedSchemeCodeErrMsg}}</p>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div ng-if="fees.isSplitPayment">
						<div class="form-group col-md-12">
							<label class="col-md-2">Fees Seed Split Amount <span
								style="color: red">*</span></label>
							<div class="col-md-6">
								<input type="text" class="form-control" ng-pattern="regExAmount"
									ng-change="validateSplitPayment()" maxlength=45
									name="seedSplitAmount" ng-model="fees.seedSplitAmount" required />
								<p class="errorMessage"
									ng-show="addFees.seedSplitAmount.$invalid && !addFees.seedSplitAmount.$error.notEqualTOAmount 
	   	 							&& !addFees.seedSplitAmount.$pristine">
									Please enter valid amount</p>

								<p class="errorMessage" ng-if="isSplitPaymentError">Fees
									Seed Split Amount must be less than total amount.</p>
							</div>
							<div class="col-md-4"></div>
						</div>
					</div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Is Partial Payment Allowed
						&nbsp;&nbsp;<input type="checkbox" name="isPartialPaymentAllowed"
						id="isPartialPaymentAllowed"
						ng-model="fees.isPartialPaymentAllowed" >
					</label>
					<p class="errorMessage"
						ng-show="isSplitPaymentNotAllowwedWithPartial">Split payment
						not allowed with partial payment.</p>
				</div>

				<div class="form-group col-md-12" ng-if = "fees.amount != 0">
					<label class="col-md-2">Late Payment Charges</label>
					<div class="col-md-6">
						<select class="form-control" name="late payment charges"
							ng-model="fees.lateFeeDetailId"
							ng-selected="late payment charges"
							ng-options="lateFees.id as lateFees.description for lateFees in lateFeesList">

							<option ng-selected="true" value="">Select Late Fee Type</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Standard/Course </label>
					<div class="col-md-6">
						<select class="form-control" name="standardId"
							ng-model="fees.standardId" ng-selected='fees.standardId'
							ng-change="changeDivisionList()" title="Please select division."
							ng-options="standard.id as standard.displayName for standard in standardList">
							<option value="" selected>Select Standard/Course</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Division</label>
					<div class="col-md-6">
						<select class="form-control" name="divisionId"
							ng-model="fees.divisionId" ng-selected='fees.divisionId'
							ng-change="filterStudents()" title="Please select division."
							ng-options="division.id as division.displayName for division in divisionList">
							<option value="" selected>Select Division</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-6">Is Student Specific
						&nbsp;&nbsp;&nbsp;<input type="checkbox" name="isSms" id="isSms"
						ng-model="isStudentSpecific">
					</label>
					<div class="col-md-2">
						<div class="col-md-2"></div>
					</div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Student </label>
					<div class="col-md-6">
						<angucomplete-alt id="ex2"
							placeholder="Search Student/ Roll number/ Registration number"
							pause="300" selected-object="selectedStudent"
							local-data="studentList" local-search="searchStudentByStr"
							title-field="description" minlength="1"
							initial-value="initialStudent" field-required="isBranchSelected"
							input-class="form-control form-control-small"
							match-class="highlight" disable-input="!fees.branchId" />

						<!-- <select class="form-control" name = "studentId" 
      			ng-model = "fees.studentId" ng-selected = 'fees.studentId' 
	     	 	title = "Please select st" ng-options="division.id as division.displayName for division in divisionList" >
	 	  </select> -->
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="row" ng-if = "!hideReminder && fees.amount != 0">
					<div class="col-md-12">
						<h2 class="addStudent">Select Reminder Type &nbsp;&nbsp;&nbsp;
							<input type="checkbox" name="isReminder" ng-checked = "fees.isReminder" ng-model="fees.isReminder"></h2>
					</div>
				</div>

				<div class="form-group col-md-12" ng-if="!hideReminder && fees.isReminder && fees.amount != 0">
					<label class="col-md-2">Reminder Start Date (DD/MM/YYYY)<span ng-if="fees.isReminder"
								style="color: red">*</span></label>
					<div class="col-md-6">
						<p class="input-group">
							<input type="text"  class="form-control"
								uib-datepicker-popup="dd/MM/yyyy"
								ng-model="fees.reminderStartDate" 
								is-open="isOpenReminderStartDate" id="reminderStartDate"
								name="reminderStartDate" ng-change="validateDates()"
								ng-focus="isOpenReminderStartDate = true"
								ng-required="fees.isReminder"
								ng-click="isOpenReminderStartDate = true" close-text="Close" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="isOpenReminderStartDate = true">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</p>
						<!-- <p>
							<span class="errorMessage"
								ng-show="addFees.fromDate.$error.fromDateRequired">Start
<!-- 								date is mandatory.</span>
						</p> -->
						<!-- <input type="date" name="startDate" ng-model="fees.startDate" required/> -->
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-3" ng-if="fees.isReminder && fees.amount != 0">
					<label class="col-md-2">Email </label>
					<div class="col-md-6">
						<div class="col-md-3 noticeType">
							<input type="checkbox" name="isEmail" id="isEmail"
							ng-required="fees.isReminder && !fees.isNotification && !fees.isSms"
								ng-model="fees.isEmail">
						</div>
					</div>
				</div>

				<div class="form-group col-md-3" ng-if="fees.isReminder && fees.amount != 0">
					<label class="col-md-2">SMS </label>
					<div class="col-md-6">
						<div class="col-md-3 noticeType">
							<input type="checkbox" name="isSms" id="isSms"
								ng-required="fees.isReminder && !fees.isNotification && !fees.isEmail"
								ng-model="fees.isSms">
						</div>
					</div>
				</div>

				<div class="form-group col-md-6" ng-if="fees.isReminder && fees.amount != 0">
					<label class="col-md-2">Notification </label>
					<div class="col-md-6">
						<div class="col-md-3 noticeType">
							<input type="checkbox" name="isNotification" id="isNotification" 
							ng-required="fees.isReminder && !fees.isEmail && !fees.isSms"
							ng-model="fees.isNotification">
						</div>
					</div>
				</div>

				<div class="form-group col-md-12" ng-if="fees.isReminder && fees.amount != 0">
					<label class="col-md-2">Frequency<span ng-if="fees.isReminder"
								style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="frequency" ng-required="fees.isReminder"
							ng-model="fees.frequency">	
							<option value="" selected>Select frequency</option>
							<option value="Daily">Daily</option>
							<option value="Weekly">Weekly</option>
							<option value="Monthly">Monthly</option>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<input type="hidden" name='id' ng-model="fees.id" />
				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-8">
						<input type="button" class="btn btn-orange" value="Save"
							ng-click="save()"
							ng-disabled="addFees.$invalid || formValid == false" /> <input
							type="button" class="btn btn-default" value="Cancel"
							ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>