
<div class="modal-header">
	<h3 class="modal-title">Display Template Heads</h3>
</div>
<div class="modal-body" style="padding: 0px;">
	<div class="col-md-12"
		ng-if="template.displayHeadList && template.displayHeadList.length > 0">
		<br />
		<table
			class="table table-striped table-condensed table-bordered table-hover"
			id="dataTables-example">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="head in template.displayHeadList">
					<td>{{ head.name }}</td>
					<td>{{ head.description }}</td>
					<td>{{ head.amount }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-orange" ng-disabled="form.$invalid" ng-click="cancel()">Ok</button>
</div>