

<div>
<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
<div class="panel panel-default">
	<div class="panel-heading">
	Fees List
	</div>
	<div class="panel-body" ng-cloak>
	<div class="well">
		<div class="row">
			<div class = "form-group col-md-12" ng-show = "roleId == 1 || roleId == 8">
	      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
		      		<div class="col-md-6">
				     	 <select class="form-control" name = "instituteId" ng-model = "instituteId" 
				     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
				     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
				     	 </select>
		      		</div>
			   <div class = "col-md-4"></div>	
		    </div>

			<div class = "form-group col-md-12" >
		      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
		     	 		ng-selected = "branchId" ng-change = "changeYearList()"
		     	 		ng-options="branch.id as branch.name for branch in branchList" required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
		    
<!-- 		    <p ng-show = 'isSingleBranch == true'>
		      	<label ><h4 ng-show = 'isSingleBranch == true'>Branch : {{branchName}}</h4></label>
		    </p> -->
	
			<div class = "form-group col-md-12">
		      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
		      	<div class="col-md-6">
		     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
		     	 		ng-init="academicYearId = academicYearList[0]['id']"
		     	 		ng-selected = "academicYearId" ng-disabled = true
		     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
		     	 		required>
		     	 	</select>
		      	</div>
			   	<div class = "col-md-4"></div>	
		    </div>
			<div class = "form-group col-md-12">
		      	<label class = "col-md-2"></label>
		      	<div class="col-md-6">
					<a class = "btn btn-orange" ui-sref="fees.add" ng-click ="setSelectedData(instituteId, branchId)" 
						title = "Add New Fees." ng-hide="roleId == 8">Add Fees</a>
			
					<a class = "btn btn-default" ng-disabled = "!academicYearId" 
						data-trigger="hover" title = "{{!academicYearId ? 'Please select Institute and Branch !' : 'Upload Fees file in Excel.'}}"
						ng-click = "academicYearId ? openUploadFeesDialog() : ''" ng-hide="roleId == 8">

						Upload Fees
					</a>

					<a class = "btn btn-default btn-small"
						ng-click = "branchId ? uploadUpdateFees() : ''"
						data-trigger="hover" ng-disabled = "!branchId" 
						title = "{{!branchId ? 'Please select Institute and Branch first!' : 'Bulk Upload Update student Excel'}}" ng-hide="roleId == 8">

						Upload Update Fees
					</a>

					<a class="btn btn-default btn-small" ng-disabled="!branchId" 
						ng-click = "!branchId ? '' : downloadTemplateToUpdate('fees/downloadFeesToUpdate?branchId='+branchId)"
						title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading students'}}" ng-hide="roleId == 8">
						Download To Update
					</a>

					<a class="btn btn-default btn-small" ng-disabled="!branchId"
						ng-click = "!branchId ? '' : downloadTemplate('template/download?excelFileName=eduqfix-upload-fees-template.xlsx&branchId='+branchId)"
						title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading fees.'}}" ng-hide="roleId == 8">
						Download Template
					</a>

					<a class = "btn btn-default" ng-click = "academicYearId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!academicYearId" ng-show = "isSingleBranch != true"
						title = "{{!academicYearId ? 'Please select Institute and Branch !' : 'Search for Fees result.'}}">

						Search
					</a>
				</div>
			</div>
		</div>
	</div>
		<font color = 'RED'>
			<h4 ng-show = "message">
				{{message}}
			</h4>
		</font>

	<div>	
	<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"
	class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th>Head</th>
				<th>Description</th>
				<th>Amount</th>
				<th>Late Fee Payment</th>
				<th>Due Date</th>
				<th>From Date</th>
				<th>To Date</th>				
				<th>Caste</th>
				<th>Student Name</th>
				<th>Standard/Course</th>
				<th>Division</th>
				<th>Fees Code</th>
				<th>Split Payment</th>
				<th>Partial Payment</th>
				<th>Frequency</th>
				<th ng-show = '!isUploadingFailed && roleId != 8'>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="fees in feesList">
				<td>{{ fees.head }}</td>
				<td>{{ fees.description }}</td>
				<td>{{ fees.amount }}</td>
				<td>{{ fees.lateFeeDetailName ? fees.lateFeeDetailName : 'N/A' }}</td>
				<td>{{ fees.dueDate | date : 'dd/MM/yyyy' }}</td>
				<td>{{ fees.fromDate | date : 'dd/MM/yyyy' }}</td>
				<td>{{ fees.toDate | date : 'dd/MM/yyyy' }}</td>
				<td>{{ fees.caste ? fees.caste : ALL }}</td>
				<td>{{ fees.studentName ? fees.studentName : 'N/A'}}</td>
				<td>{{ fees.standard }}</td>
				<td>{{ fees.division ? fees.division : 'N/A' }}</td>
				<td>{{ fees.feesCodeName ? fees.feesCodeName : 'N/A'}}</td>
				<td>{{ fees.isSplitPayment == 'Y' ? 'YES' : 'NO'}}</td>
				<td>{{ fees.isPartialPaymentAllowed == 'Y' ? 'YES' : 'NO'}}</td>
				<td>{{ fees.frequency }}</td>
				<td ng-show = '!isUploadingFailed && roleId != 8'><a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="fees.edit({id :fees.id})"><i class="fa fa-pencil"></i></a>  
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="fees.manage" ng-click="deleteData(fees.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>
