
<div>
<div class="panel panel-default">
	<div class="panel-heading">
	Holiday List
	</div>
	<div class="panel-body" ng-cloak>
	<div class="well">
		<div class="row"> 
		<div class = "form-group col-md-12" ng-show = "roleId == 1">
      		<label class = "col-md-2">Institute <span style = "color:red">*</span></label>
      		<div class="col-md-6">
		     	<select class="form-control" name = "instituteId" ng-model = "instituteId" 
	     	 		ng-selected = "instituteId"  ng-change = "changeBranchList()"
	     	 		ng-options="institute.id as institute.name for institute in instituteList" required>
		     	</select>
      		</div>
		   <div class = "col-md-4"></div>	
	    </div>

		<div class = "form-group col-md-12" ng-show = '!isSingleBranch'>
	      	<label class = "col-md-2">Branch <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	     	 	<select class="form-control" name = "branchId" ng-model = "branchId" 
	     	 		ng-selected = "branchId" ng-change = "changeYearList()"
	     	 		ng-options="branch.id as branch.name for branch in branchList" required>
	     	 	</select>
	      	</div>
		   	<div class = "col-md-4"></div>	
	    </div>

		<div class = "form-group col-md-12">
	      	<label class = "col-md-2">Academic Year <span style = "color:red">*</span></label>
	      	<div class="col-md-6">
	     	 	<select class="form-control" name = "academicYearId" ng-model = "academicYearId" 
	     	 		ng-init="academicYearId = academicYearList[0]['id']"
	     	 		ng-selected = "academicYearId" ng-disabled = true
	     	 		ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
	     	 		required>
	     	 	</select>
	      	</div>
		   	<div class = "col-md-4"></div>	
	    </div>
	    <div class="form-group col-md-12">
	    	<label class = "col-md-2"></label>
			<div class = "col-md-8">
				
					<a class = "btn btn-orange" ui-sref="holiday.add" ng-click ="setSelectedData(instituteId, branchId)" 
						title = "Add New Holiday.">Add Holiday</a>
			
					<a class = "btn btn-default" ng-disabled = "!academicYearId" 
						data-trigger="hover" title = "{{!academicYearId ? 'Please select Institute and Branch !' : 'Upload Holidays file in Excel'}}"
						ng-click = "academicYearId ? openUploadHolidayDialog() : ''">
			
						Upload Holiday
					</a>
					<a class="btn btn-default btn-small" ng-disabled="!branchId"
								ng-click = "!branchId ? '' : downloadTemplate('template/download?excelFileName=eduqfix-upload-holiday-template.xlsx&branchId='+branchId)"
								title="{{!branchId ? 'Please select Branch' : 'Download excel template for uploading holidays'}}">
								Download Template
							</a>
					
					<a class = "btn btn-default" ng-click = "academicYearId ? filterTableByBranch() : ''"
						data-trigger="hover" ng-disabled = "!academicYearId" ng-show = "isSingleBranch != true"
						title = "{{!academicYearId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
						
						Search
					</a>
				</div>
			</div>
		</div>
	</div>
	<br>
		<font color = 'RED'>
			<h4 ng-show = "message">
				{{message}}
			</h4>
		</font>
		<br>
	<div>	
	<table datatable="ng" dt-options="dtOptions" class = "table table-striped table-condensed table-bordered table-hover" id="dataTables-example">
		<thead>
			<tr>
				<th class = "col-md-2">Title</th>
				<th class = "col-md-1">From Date</th>
				<th class = "col-md-1">To Date</th>
				<th class = "col-md-1">Description</th>
				<th class = "col-md-1">Academic Year</th>
				<th class = "col-md-1">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="holiday in holidayList track by $index">
				<td class = "col-md-2">{{ holiday.title }}</td>
				<td class = "col-md-1">{{ holiday.fromDate | date : 'dd/MM/yyyy'}}</td>
				<td class = "col-md-1">{{ holiday.toDate | date : 'dd/MM/yyyy'}}</td>
				<td class = "col-md-2">{{ holiday.description }}</td>
				<td class = "col-md-2">{{ holiday.academicYear }}</td>
				<td class = "col-md-2"><a href = "#" class="btn btn-xs btn-default" title="Edit" ui-sref="holiday.edit({id :holiday.id})"><i class="fa fa-pencil"></i></a> 
				<a href = "#" class="btn btn-xs btn-default" title="Delete" ui-sref="holiday.list" ng-click="deleteData(holiday.id)"><i class="fa fa-trash"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</div>
</div>
