<style>
.holiday-table-container {
	max-height: 200px;
	overflow: auto;
}
</style>
<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default" ng-cloak>
		<div class="panel-heading">{{holidayHeaderValue}}</div>
		<div class="panel-body">
			<form name="addHoliday" ng-controller="validateHolidayForm"
				class="container-fluid	">
				<font color='RED'>
					<h4 ng-show="status == 'fail' || status == 'success' ">
						{{message}}</h4>
				</font>

				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="holiday.instituteId" ng-selected="holiday.instituteId"
							ng-change="changeBranchList()"
							ng-options="institute.id as institute.name for institute in instituteList" autofocus>
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="holiday.branchId" ng-selected="holiday.branchId"
							ng-change="changeYearList()"
							ng-options="branch.id as branch.name for branch in branchList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addHoliday.branch.$invalid && !addHoliday.branch.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Current Academic Year <span
						style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="currentAcademicYearId"
							ng-model="holiday.currentAcademicYearId" ng-disabled="true"
							ng-selected="holiday.currentAcademicYearId"
							ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
							required>
						</select>
						<p class="errorMessage"
							ng-show="addHoliday.academicyear.$invalid && !addHoliday.academicyear.$pristine">
							Please select year</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Title <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=100
							name="title" ng-model="holiday.title" ng-required='true' />
						<p class="errorMessage"
							ng-show="addHoliday.title.$invalid && !addHoliday.title.$pristine">
							Please insert Title.</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Description</label>
					<div class="col-md-6">
						<textarea class="form-control" rows="3" maxlength=255
							name="description" ng-model="holiday.description"></textarea>
						<!-- <p class="errorMessage" ng-show="addHoliday.description.$invalid && 
     					!addHoliday.description.$pristine">
    					  Please add description</p> -->
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">From Date (DD/MM/YYYY) <span style="color: red">*</span></label>
					<div class="col-md-6">
						<p class="input-group">
							<input type="text" valid-date  class="form-control"
								uib-datepicker-popup="dd/MM/yyyy" ng-model="holiday.fromDate"
								ng-required="true" min-date="acadmicStartDate" max-date = "acadmicEndDate" 
								is-open="isOpenStartDate" id="fromDate" name="fromDate" 
								ng-focus="isOpenStartDate = true" close-text="Close" /> 
							
							<span class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="isOpenStartDate = true">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">To Date (DD/MM/YYYY) <span style="color: red">*</span></label>
					<div class="col-md-6">
						<p class="input-group">
							<input type="text" valid-date class="form-control"
								ng-readonly="!holiday.fromDate"
								ng-focus="isOpenEndDate = holiday.fromDate ? true : false"
								uib-datepicker-popup="dd/MM/yyyy" ng-model="holiday.toDate"
								ng-required="true" id="toDate" name="toDate" close-text="Close" 
								min-date="holiday.fromDate"  max-date = "acadmicEndDate" is-open="isOpenEndDate" /> 

							<span class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-disabled="!holiday.fromDate" ng-click="isOpenEndDate = true">
									<i class="fa fa-calendar"></i>
								</button>
							</span>
						</p>
						<p>
							<span class="errorMessage"
								ng-show="addHoliday.fromDate.$error.endBeforeStart">To
								date must be on or after start date.</span>
						</p>
					</div>
					<div class="col-md-4"></div>
				</div>
				
				<div class="col-md-12">
								<form name="addAcademicYearForm" class="container-fluid"
									autocomplete="off">
									<div class="row">
										<div class="col-md-12">
											<h2 class="addStudent">Public holidays</h2>
										</div>
									</div>
								</form>
							</div>

							<div class="col-md-12">
								<div class="holiday-table-container">
									<table dt-options="dtOptions"
										class="table table-striped table-condensed table-bordered table-hover"
										id="dataTables-example">
										<thead>
											<tr>
												<th>Select</th>
												<th>Title</th>
												<!-- <th>Academic Year</th> -->
												<!-- <th>Description</th> -->
												<th>Date</th>
												<!-- <th>From Date</th> -->
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="holiday in holidayList">
												<td><input ng-change="selectHoliday(holiday)"
													ng-model="holiday.checked" type="checkbox" id={{ holiday.id}}/></td>
												<td>{{ holiday.title }}</td>
												<!-- <td>{{ division.academicYear }}</td> -->
												<!-- <td>{{ holiday.description }}</td> -->
												<td>{{ holiday.fromDate }}</td>
												<!-- <td>{{ holiday.toDate}}</td> -->
											</tr>
										</tbody>
									</table>
								</div>
				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-6">
						<span
						ng-show="form.fromDate.$error.invalidDate || form.toDate.$error.invalidDate">Check
						dates for validity</span> <span
						ng-show="form.fromDate.$error.required || form.toDate.$error.required">
						required date is missing</span> <input type="hidden" name='id'
						ng-model="holiday.id" /> <input type="button"
						class="btn btn-orange" value="Save" ng-click="save()"
						ng-disabled="addHoliday.$invalid" /> <input type="button"
						class="btn btn-default" value="Cancel" ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>