
<div >
	<!-- <h4>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
</h4> -->

	<div class="panel panel-default">
		<div class="panel-heading">Admission Report</div>
		<div class="panel-body">
			<div class="well">
				<div class="row">
					<div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId"
								ng-change="changeBranchList()" title="Select institute"
								autofocus="autofocus"
								ng-options="institute.id as institute.name for institute in instituteList"
								required>
								<option ng-selected="true" value="">Select Institute</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Branch <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId" ng-model="branchId"
								ng-init="branchId = branchList[0]['id']"
								ng-change="branchChanged()"
								title="{{instituteId ? 'Select branch.' : 'Please select institute first'}}"
								ng-options="branch.id as branch.name for branch in branchList"
								required>

								<option ng-selected="true" value="">Select Branch</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2">Course </label>
						<div class="col-md-6">
							<select class="form-control" name="courseId"
								ng-selected='courseId' ng-model="courseId" title="Select course"
								ng-options="course.id as course.name for course in courseList"
								required>
								<option ng-selected="true" value="">Select Course</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2">Academic Year</label>
						<div class="col-md-6">
							<select class="form-control" name="academicYearId"
								ng-selected='academicYearId' ng-model="academicYearId"
								title="Select Academic Year"
								ng-options="academicyear.id as (academicyear.fromDate  + '&nbsp - &nbsp' + academicyear.toDate ) for academicyear in academicYearList"
								required>
								<option ng-selected="true" value="">Select Academic
									Year</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2"> </label>
						<div class="col-md-6">
							<a class="btn btn-default"
								ng-click="(courseId && academicYearId) ? searchApplicantReports() : ''"
								data-trigger="hover" ng-disabled="!(courseId && academicYearId)"
								title="{{!(courseId && academicYearId) ? 'Please select Course and Academic Year First !' : 'Search Admission Reports.'}}">
								Search </a> <a class="btn btn-default"
								ng-click="(courseId && academicYearId) ? exportApplicantReport() : ''"
								data-trigger="hover" ng-disabled="!(courseId && academicYearId)"
								title="{{!(courseId && academicYearId) ? 'Please select Course and Academic Year First !' : 'Export Admission Reports to Excel.'}}">
								Export Applicant Report </a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<font color='RED'>
					<h4 ng-show="message">{{markVerifyMsg}}</h4>
				</font> <br>
			</div>
			<div ng-show = "!isEditMode">
				<table class="table table-striped table-condensed table-bordered table-hover responsive"
					datatable="ng" dt-options="dtOptions" id="dataTables-example" >
					<thead>
						<tr>
							<th class="col-md-2">Application ID</th>
							<th class="col-md-2">Student Name</th>
							<th class="col-md-2">Application Form No</th>
							<th class="col-md-2">Physcial Form No</th>
							<th class="col-md-2">Aadhar Card No</th>
							<th class="col-md-2">Mobile No</th>
							<th class="col-md-2">Parents Contact Number</th>
							<th class="col-md-2">Email Id</th>
							<th class="col-md-2">Qualifying Exam Seat Number</th>
							<th class="col-md-2">In-House or Outsider</th>
							<th class="col-md-2">School Verified</th>
							<th class="col-md-2">Verified At</th>
							<th class="col-md-3">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="admission in admissionReportList track by $index" >
							<td class="col-md-2">{{ admission.application_id }}</td>
							<td class="col-md-2">{{ admission.candidate_details.name.firstname + ' ' 
								+ (admission.candidate_details.name.middlename ? admission.candidate_details.name.middlename + ' ' : '' ) 
								+ admission.candidate_details.name.surname}}</td>
							<td class="col-md-2">{{ admission.candidate_details.form_details.application_form_no }}</td>
							<td class="col-md-2">{{ (admission.candidate_details.form_details.physical_form_no ? 
								admission.candidate_details.form_details.physical_form_no : 
								admission.candidate_details.form_details.mkcl_registration_no)  }}</td>
							<td class="col-md-2">{{ admission.candidate_details.aadhaaar_card }}</td>
							<td class="col-md-2">{{ admission.contact_details.personal_mobile_number }}</td>
							<td class="col-md-2">{{ admission.contact_details.parent_contact_number }}</td>
							<td class="col-md-2">{{ admission.contact_details.personal_email }}</td>
							<td class="col-md-2">{{ admission.qualifying_exam__details.exam_seat_no }}</td>
							<td class="col-md-2">{{ admission.qualifying_exam__details.applicantfrom}}</td>
							<td class="col-md-2">{{ admission.schoolVerified == 'Y' ? 'Verified' : 'Pending'}}</td>
							<td class="col-md-2">{{ admission.verifiedAt}}</td>
							<td class="col-md-3" >
								<a class="btn btn-xs btn-default" title="Edit"
									ng-click="editAdmissionForm(admission.application_id)">
									<i class="fa fa-pencil"></i>
								</a> 

								<a class="btn btn-xs btn-default" title="Edit"
									ng-click="downloadAttachment(admission.admission_id, admission.applicatant_id)">
									Download Attachments
								</a>

								<a class="btn btn-xs btn-default" title="Edit" ng-show = "admission.schoolVerified != 'Y'"
									ng-click="markVerifiedUnVerified(admission, true)">
									Mark Verified
								</a>

								<a class="btn btn-xs btn-default" title="Edit" ng-show = "admission.schoolVerified == 'Y'"
									ng-click="markVerifiedUnVerified(admission, false)">
									Mark UnVerified
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-show = "isEditMode" class="panel panel-default">
				<iframe ng-src="{{editFormUrl}}" style = "width:970px;height:550px;"></iframe>
			</div>
		</div>
	</div>
</div>
