<div>
	<ui-breadcrumbs displayname-property="data.displayName"
		abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>

	<div class="panel panel-default">
		<div class="panel-heading">{{subjectCategoryHeaderValue}}</div>
		<div class="panel-body" ng-cloak>

			<form name="addSubjectCategory"
				class="container-fluid	">
				<div class="form-group col-md-12" ng-show="roleId == 1">
					<label class="col-md-2">Institute <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="instituteId"
							ng-model="subjectCategory.instituteId" ng-selected="subjectCategory.instituteId"
							ng-change="changeBranchList()" autofocus
							ng-options="institute.id as institute.name for institute in instituteList">
						</select>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Branch <span style="color: red">*</span></label>
					<div class="col-md-6">
						<select class="form-control" name="branchId"
							ng-model="subjectCategory.branchId" ng-change='changeStandardList()'
							ng-options="branch.id as branch.name for branch in branchList"
							ng-selected="subjectCategory.branchId" required>
						</select>
						<p class="errorMessage"
							ng-show="addSubjectCategory.branch.$invalid && !addSubjectCategory.branch.$pristine">
							Please select branch</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<div class="form-group col-md-12">
					<label class="col-md-2">Name <span style="color: red">*</span></label>
					<div class="col-md-6">
						<input type="text" class="form-control col-md-6" maxlength=45
							ng-pattern="regExName" title="Please enter name" name="name"
							ng-model="subjectCategory.title" required />
						<p class="errorMessage"
							ng-show="addSubjectCategoryForm.name.$invalid && !addSubjectCategoryForm.name.$pristine">
							Please Add valid subjectCategory</p>
					</div>
					<div class="col-md-4"></div>
				</div>

				<input type="hidden" name='id' ng-model="subjectCategory.id" />
				<div class="form-group col-md-12">
					<label class="col-md-2"></label>
					<div class="col-md-8">
						<input type="button" class="btn btn-orange" value="Save"
							ng-click="save()"
							ng-disabled="addSubjectCategory.$invalid || formValid == false" /> <input
							type="button" class="btn btn-default" value="Cancel"
							ng-click="cancel()" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>