<div>
	<!-- <ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
 -->
	<div class="panel panel-default">
		<div class="panel-heading">SubjectCategory List</div>
		<div class="panel-body" ng-cloak>
			<div class="well">
				<div class="row">
					<div class="form-group col-md-12" ng-show="roleId == 1">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId"
								ng-change="changeBranchList()" required
								ng-options="institute.id as institute.name for institute in instituteList">
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12" ng-show='!isSingleBranch'>
						<label class="col-md-2">Branch <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId" ng-model="branchId"
								ng-selected="branchId"
								ng-change="changeYearList()" required
								ng-options="branch.id as branch.name for branch in branchList">
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2"></label>
						<div class="col-md-6">
							<a class="btn btn-orange" ui-sref="subjectCategory.add"
								ng-click="setSelectedData(instituteId, branchId)"
								title="Add New SubjectCategory.">
								Add SubjectCategory</a> 
							
							<a class="btn btn-default" ng-disabled="!branchId" data-trigger="hover"
								title="{{!branchId ? 'Please select Institute and Branch !' : 'Upload SubjectCategory file in CSV.'}}"
								ng-click="branchId ? openUploadSubjectCategoryDialog() : ''">

								Upload SubjectCategory </a> 
							<a class="btn btn-default btn-small"
								href="template/download?csvFileName=eduqfix-upload-subjectCategory-template.csv"
								title="Download template CSV for uploading subjectCategory.">
								Download Template
							</a> 
							<a class="btn btn-default" ng-click="branchId ? filterTableByBranch() : ''"
								data-trigger="hover" ng-disabled="!branchId"
								title="{{!branchId ? 'Please select Institute and Branch !' : 'Search for SubjectCategory result.'}}">

								Search </a>
						</div>
					</div>
				</div>
			</div>

			<font ng-show="message" color='RED'>
				<h4 >{{message}}</h4>
			</font>

			<div>
				<table datatable="ng" dt-options="dtOptions"
					dt-column-defs="dtColumnDefs"
					class="table table-striped table-condensed table-bordered table-hover"
					id="dataTables-example">
					<thead>
						<tr>
							<th>Name</th>
							<th ng-show='!isUploadingFailed'>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="subjectCategory in subjectCategoryList">
							<td>{{ subjectCategory.subjectCategory }}</td>
							<td ng-show='!isUploadingFailed'>
								<a href="#" class="btn btn-xs btn-default" title="Edit"
								ui-sref="subjectCategory.edit({id :subjectCategory.id})">
									<i class="fa fa-pencil"></i>
								</a>
								<a href="#" class="btn btn-xs btn-default" title="Delete"
								ui-sref="subjectCategory.manage" ng-click="deleteData(subjectCategory.id)">
									<i class="fa fa-trash"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
