
<form name="form" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Update Payment Details</h3>
	</div>
	<div class="modal-body">
		<div class="form-group col-md-12">
			<label class="control-label">{{feesDescription}}</label>
		</div>

		<div style="width: 570px; overflow-x: auto;">
			<table id="feesReport"
				class="table table-striped table-condensed table-bordered table-hover">
				<thead>
					<tr>
						<!-- <th>Select</th> -->
						<th>Qfix Reference Number</th>
						<th>Offline Reference Number</th>
						<th>Payment Mode</th>
						<th>Amount</th>
						<th> Status </th>
						<th>Paid/Refund Date</th>
						<th>Paid/Refund By</th>
						<th>Amount to Partial Refund or Update</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="feesDesc in temp.feesDescriptions track by $index">
<!-- 						<td><input type="checkbox" ng-if="!feesDesc.pgEntry"
							name="marklatePayment" ng-model="feesDesc.checked"
							ng-change="setChecked(feesDesc)" /></td>

 -->					<td>{{ feesDesc.qfixReferenceNumber}}</td>
						<td>{{ feesDesc.ofLineReferenceNo}}</td>
						<td>{{ feesDesc.paymentMode}}</td>
						<td>{{ feesDesc.amount}}</td>
						<td>{{ feesDesc.transactionType + ' ' + (feesDesc.refundStatus ? feesDesc.refundStatus : '') }}</td>
						<td>{{ feesDesc.paidDate}}</td>
						<td>{{ feesDesc.createdByName}}</td>

						<td>
							<input ng-if="feesDesc.partialRefundAllowed == 'Y' || (!feesDesc.pgEntry && feesToUnpaid.partialPaymentAllowed)" type="number" 
								ng-model="feesDesc.newAmount" name="newAmount" />
							<br/>
							<span class = "errorMessage" ng-if = "feesDesc.errorMessage">{{feesDesc.errorMessage}}</span>
							<span ng-if = "feesDesc.transactionType == 'REFUND'">N/A</span>
							<span ng-if="feesDesc.pgEntry && feesDesc.partialRefundAllowed != 'Y' && feesDesc.transactionType != 'REFUND'" class="errorMessage"> Partial Refund is not allowed.</span>
							<span ng-if="(!feesDesc.pgEntry && !feesToUnpaid.partialPaymentAllowed)" class="errorMessage"> Partial mark unpaid is not allowed.</span></td>
						<td>
							<button class="btn btn-orange" ng-click="downloadReceipt(feesDesc.feeScheduleId)">Download Receipt</button>

							<button style = "margin-top: 2px;" ng-if="!feesDesc.pgEntry && (feesDesc.partialRefundAllowed == 'Y' || feesDesc.refundAllowed == 'Y')"  
								class="btn btn-raised btn-orange" ng-click="updatePaidFees(feesDesc.feeScheduleId)">Mark Unpaid</button>

							<button style = "margin-top: 2px;" ng-if="feesDesc.pgEntry && (feesDesc.partialRefundAllowed == 'Y' || feesDesc.refundAllowed == 'Y')"  
								class="btn btn-raised btn-orange" ng-click="refundFees(feesDesc.id)">Refund</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<font color='RED' ng-show="unpaidErrorMessage">
		<h4 style = "margin-left:10px;">{{unpaidErrorMessage}}</h4>
	</font>

	<div class="modal-footer">
<!-- 		<button class="btn btn-orange" ng-click="deletePaidFees()"
			ng-disabled="feesPaymentIdsToDelete.length == 0">Reverse
			Payment</button>

		<button class="btn btn-orange"
			ng-if="feesToUnpaid.partialPaymentAllowed"
			ng-click="updatePaidFees()">Change Paid Amount</button>
 -->
		<button type="button" class="btn btn-default" ng-click="cancel()">Ok</button>
	</div>
</form>

