<form name="markPaidForm" enctype="multipart/form-data">
	<div class="modal-header">
		<h3 class="modal-title">Mark Fee as Paid</h3>
	</div>
	<div class="modal-body">
		<div class = "form-group col-md-12">
			<label class = "control-label">{{feesDescription}}</label>
		</div>
  		<div class = "form-group col-md-12">
      		<label class = "col-md-3" for = "paymentDate">Paid Date <span style = "color:red">*</span></label>
     		<div class="col-md-8">
     			<p class = "input-group">
     				<input type="text" valid-date class="form-control" uib-datepicker-popup="dd/MM/yyyy" 
						title = "Please select from date" ng-model="objToMarkPaid.paymentDate" ng-required="true" 
						max-date = "maxDate" is-open = "isOpenStartDate" id = "paymentDate" 
						name = "fromDate" ng-click="isOpenStartDate = true" close-text="Close"/>

					<span class="input-group-btn">
                		<button type="button" class="btn btn-default" ng-click="isOpenStartDate = true"><i class="fa fa-calendar"></i></button>
              		</span>
              	</p>
     		</div>
   	   	    <div class = "col-md-1"></div>
  		</div>

		<div class = "form-group col-md-12" ng-if="partialPaymentAllowed" ng-init = "feeAmountToMarkPaid = 90">
      		<label class = "col-md-3">Paid Amount<span style = "color:red">*</span></label>
     		<div class="col-md-8">
     			<input class="form-control" type="number" name="feeAmountToMarkPaid" ng-model="objToMarkPaid.feeAmountToMarkPaid"  ng-required ="true"/>
     		</div>
   	   	    <div class = "col-md-1"></div>
   	   	    <p class = "errorMessage" ng-if="objToMarkPaid.remainingAmountError">{{objToMarkPaid.remainingAmountError}}</p>
  		</div>
	</div>
	<!-- <div class = "form-group col-md-12" >ng-if="partialPaymentAllowed" ng-init = "feeAmountToMarkPaid = 90"
      		<label class = "col-md-3">Payment Method<span style = "color:red">*</span></label>
     		<div class="col-md-8">
     			<input class="form-control" type="number" name="feeAmountPaidMethod" ng-model="objToMarkPaid.feeAmountPaidMethod"  ng-required ="true"/>
     		</div>
   	   	    <div class = "col-md-1"></div>
   	   	    <p class = "errorMessage" ng-if="objToMarkPaid.remainingAmountError">{{objToMarkPaid.remainingAmountError}}</p>
   	   	    <div class="row">
					<div class="form-group col-md-3">
						<div class="form-group col-md-3">
						<div class="checkbox">
							<label> <input type="checkbox" name="check" id="check"
								ng-required="isfeeRequired" ng-model="fees.check">
								Check
							</label>
						</div>
					</div>
					<div class="form-group col-md-3">
						<div class="checkbox">
							<label> <input type="checkbox" name="cash" id="cash"
								ng-required="isfeeRequired" ng-model="cash.no">
								Cash
							</label>
						</div>
					</div>
					</div>
  		</div>
	</div> -->
	<div class = "form-group col-md-12">
      	<label class = "col-md-2">Payment Detail </label>
      	 <label class="radio-inline">
      <input type="radio" name="optradio" value="Cash" ng-model="fees.paymentDetail">Cash
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio" value="Cheque" ng-model="fees.paymentDetail">Cheque
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio" value="DD" ng-model="fees.paymentDetail">DD
    </label>
 <!--  </form> -->
</div>
</div>


  		<div class = "form-group col-md-12">
     	<label class = "col-md-2">Payment Reference Detail</label>
      	<div class="col-md-6">
      	<input type="text" class="form-control" ng-pattern="regExAmount" maxlength = 45 
      			name="paymentreferencedetail" ng-model="fees.paymentReferenceDetail" /> 
   	 		<p class="errorMessage" ng-show="addFees.latePaymentCharges.$invalid && !addFees.latePaymentCharges.$pristine">
      			Please enter valid late payment charges
      		</p>
      		
   	  	</div>
   	   	<div class = "col-md-4"></div>
   	</div>
   	
   	 <div class = "form-group col-md-12" ng-if="fees.paymentDetail == 'Cheque' || fees.paymentDetail == 'DD'">
     	<label class = "col-md-2">Bank Name</label>
      	<div class="col-md-6">
      	<input type="text" class="form-control" ng-pattern="regExAmount" maxlength = 45 
      			name="bankname" ng-model="fees.bankName" /> 
   	 		<p class="errorMessage" ng-show="addFees.latePaymentCharges.$invalid && !addFees.latePaymentCharges.$pristine">
      			Please enter valid late payment charges
      		</p>
      		
   	  	</div>
   	   	<div class = "col-md-4"></div>
   	</div>
   	<div class = "form-group col-md-12" ng-if="fees.paymentDetail == 'Cheque' || fees.paymentDetail == 'DD'">
     	<label class = "col-md-2">Branch Name</label>
      	<div class="col-md-6">
      	<input type="text" class="form-control" ng-pattern="regExAmount" maxlength = 45 
      			name="branchname" ng-model="fees.branchName" /> 
   	 		<p class="errorMessage" ng-show="addFees.latePaymentCharges.$invalid && !addFees.latePaymentCharges.$pristine">
      			Please enter valid late payment charges
      		</p>
      		
   	  	</div>
   	   	<div class = "col-md-4"></div>
   	</div>
   	<div class = "form-group col-md-12" ng-if="fees.paymentDetail == 'Cheque' || fees.paymentDetail == 'DD'">
     	<label class = "col-md-2">IFSC Code</label>
      	<div class="col-md-6">
      	<input type="text" class="form-control" ng-pattern="regExAmount" maxlength = 45 
      			name="ifsccode" ng-model="fees.ifscCode" /> 
   	 		<p class="errorMessage" ng-show="addFees.latePaymentCharges.$invalid && !addFees.latePaymentCharges.$pristine">
      			Please enter valid late payment charges
      		</p>
      		
   	  	</div>
   	   	<div class = "col-md-4"></div>
   	</div>
   	<div class = "form-group col-md-12" ng-if="fees.paymentDetail == 'Cheque' || fees.paymentDetail == 'DD'">
     	<label class = "col-md-2">Check/DD No</label>
      	<div class="col-md-6">
      	<input type="text" class="form-control" ng-pattern="regExAmount" maxlength = 45 
      			name="checkno" ng-model="fees.checkNo" /> 
   	 		<p class="errorMessage" ng-show="addFees.latePaymentCharges.$invalid && !addFees.latePaymentCharges.$pristine">
      			Please enter valid late payment charges
      		</p>
      		
   	  	</div>
   	   	<div class = "col-md-4"></div>
   	</div>
   	
  			
	<div class="modal-footer">
		<button class = "btn btn-orange"  
			ng-click="markAsPaidSubmit()" ng-disabled="markPaidForm.$invalid">Save</button>
		<button type = "button" class = "btn btn-default"  ng-click="cancel()">Cancel</button>
	</div>
</form>
