
<div>
	<!-- <h4>
<ui-breadcrumbs displayname-property="data.displayName" abstract-proxy-property="data.breadcrumbProxy"></ui-breadcrumbs>
</h4> -->

	<div class="panel panel-default">
		<div class="panel-heading">Fees Report</div>
		<div class="panel-body">
			<div class="well">
				<div class="row">
					<div class="form-group col-md-12" ng-show="roleId == 1 || roleId == 8">
						<label class="col-md-2">Institute <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="instituteId"
								ng-model="instituteId" ng-selected="instituteId"
								ng-change="changeBranchList()" title="Select institute"
								autofocus="autofocus"
								ng-options="institute.id as institute.name for institute in instituteList"
								required>
								<option ng-selected="true" value="">Select Institute</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Branch <span style="color: red">*</span></label>
						<div class="col-md-6">
							<select class="form-control" name="branchId" ng-model="branchId"
								ng-init="branchId = branchList[0]['id']"
								ng-change="branchChanged()"
								title="{{instituteId ? 'Select branch.' : 'Please select institute first'}}"
								ng-options="branch.id as branch.name for branch in branchList"
								required>

								<option ng-selected="true" value="">Select Branch</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2">Caste </label>
						<div class="col-md-6">
							<select class="form-control" name="casteId" ng-selected='casteId'
								ng-model="casteId" title="Select caste."
								ng-options="caste.id as caste.name for caste in casteList">
								<option ng-selected="true" value="">All</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Standard/Course </label>
						<div class="col-md-6">
							<select class="form-control" name="standard"
								ng-change="changeDivisionList()" ng-selected='standardId'
								ng-model="standardId"
								title="{{branchId ? 'Select standard.' : 'Please select branch first'}}"
								ng-options="standard.id as standard.displayName for standard in standardList">
								<option ng-selected="true" value="">All</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Division </label>
						<div class="col-md-6">
							<select class="form-control" name="divisionId"
								ng-model="divisionId" ng-selected='divisionId'
								title="{{standardId ? 'Select division.' : 'Please select standard first'}}"
								ng-options="division.id as division.displayName for division in divisionList">
								<option ng-selected="true" value="">All</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Roll Number </label>
						<div class="col-md-6">
							<input class="form-control" type="text" maxlength=45
								name="rollNumber" placeholder="Enter roll number"
								title="Please enter roll number." ng-model="rollNumber" />
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Registration Code</label>
						<div class="col-md-6">
							<input class="form-control" type="text" maxlength=45
								name="registrationCode" placeholder="Enter registration code"
								title="Please enter registration code."
								ng-model="registrationCode" />
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Status </label>
						<div class="col-md-6">
							<select class="form-control" name="status" ng-model="status"
								ng-selected="status">
								<option ng-selected="true" value="">All</option>
								<option value=1>Paid</option>
								<option value=0>UnPaid</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Fees Head </label>
						<div class="col-md-6">
							<select class="form-control" name="headId" ng-model="headId"
								ng-change="changeFeeslist()" ng-selected="headId"
								ng-options="head.id as head.name for head in headList"
								title="{{branchId ? 'Select fees head.' : 'Please select branch first'}}">
								<option ng-selected="true" value="">All</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">Fees </label>
						<div class="col-md-6">
							<select class="form-control" name="feesId" ng-model="feesId"
								ng-options="fees.id as fees.name for fees in feesList"
								title="{{headId ? 'Select fees.' : 'Please select fees head first'}}">
								<option ng-selected="true" value="">All</option>
							</select>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">From Date (DD/MM/YYYY) </label>
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" valid-date class="form-control"
									uib-datepicker-popup="dd/MM/yyyy" id="fromDate" name="fromDate"
									title="Please select from date"
									ng-focus="isOpenFromDate = true" is-open="isOpenFromDate"
									close-text="Close" ng-model="fromDate" ng-disabled="status==0" />

								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="isOpenFromDate = true" ng-disabled="status==0">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</p>
						</div>
						<div class="col-md-4"></div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2">To Date (DD/MM/YYYY) </label>
						<div class="col-md-6">
							<p class="input-group">
								<input type="text" valid-date class="form-control"
									uib-datepicker-popup="dd/MM/yyyy" id="toDate" name="toDate"
									title="Please select to date" min-date="fromDate"
									ng-focus="isOpenToDate = true" is-open="isOpenToDate"
									close-text="Close" ng-model="toDate" ng-disabled="!fromDate" />

								<span class="input-group-btn">
									<button type="button" class="btn btn-default"
										ng-click="isOpenToDate = true" ng-disabled="status==0">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</p>
						</div>
						<div class="col-md-4"></div>
					</div>
					<div class="form-group col-md-12">
						<span ng-show="status==0" style="margin-left: 200px;"><font
							size="2" color="red">Only applicable for Paid Fees</font></span>
					</div>
					<div class="form-group col-md-12" ng-if="dateErrorMessgae">
						<span style="color: red">{{dateErrorMessgae}}</span>
					</div>
					<div class="form-group col-md-12">
						<label class="col-md-2"> </label>
						<div class="col-md-6">
								<a class="btn btn-default"
									ng-click="branchId ? filterTableByBranch() : ''"
									data-trigger="hover" ng-disabled="!branchId"
									title="{{!branchId ? 'Please select Branch First !' : 'Filter Table By Branch.'}}">
									Search
								</a> 
								
								<a class="btn btn-default"
									ng-click="branchId ? exportSummaryReport() : ''"
									data-trigger="hover" ng-disabled="!branchId"
									title="{{!branchId ? 'Please select Branch First !' : 'Export this table to Excel.'}}">
									Export Summary Report 
								</a> 
								
								<a class="btn btn-default"
									ng-click="branchId ? exportDetailReport() : ''"
									data-trigger="hover" ng-disabled="!branchId"
									title="{{!branchId ? 'Please select Branch First !' : 'Export this table to Excel.'}}">
									Export Detail Report 
								</a> 
								
								<br/>
								<br/>
								
								<a class="btn btn-default"
									ng-click="branchId ? exprotFailedTransactionReport() : ''"
									data-trigger="hover" ng-disabled="!branchId"
									title="{{!branchId ? 'Please select Branch First !' : 'Export this table to Excel.'}}">
								
									Export Failed Transaction Report 
								</a> 
								
								<a class="btn btn-default"
									ng-click="latePayment.studentFeesArray.length > 0 ? markMultipleLatePayment() : ''"
									data-trigger="hover"
									ng-disabled="latePayment.studentFeesArray.length == 0"
									ng-hide="roleId == 8"
									title="{{latePayment.studentFeesArray.length == 0 ? 'Please select student fees to add late fees charges !' : 'Add late fees charges.'}}">

									Change Fee Charges 
								</a>
								
								<br/>
								<br/>
								
								<a class = "btn btn-default btn-small" 
								ng-click = "uploadPaymentReport()"
								data-trigger="hover" 
								ng-show="roleId == 1"
								title = "">
								Payment Report Upload 
								</a>
								
								<a class="btn btn-default btn-small"
									ng-click="incorrectTransactionIdReport()"
									data-trigger="hover"
									ng-show="roleId == 1" 
									>
								
									Awaiting Settlement Date Report 
								</a>
								
								<a class = "btn btn-default btn-small" 
								ng-click = "uploadAwatingSettlementDateReport()"
								data-trigger="hover" 
								ng-show="roleId == 1"
								title = "">
								Awaiting Settlement Date Upload 
								</a>
								
								<a class="btn btn-default btn-small"
									ng-click="branchId ? emptySettlementDateReport() : ''"
									data-trigger="hover"
									ng-disabled="!branchId" 
									>
								
									Empty Settlement Date Report 
								</a>
								
						</div>
					</div>
				</div>
			</div>
			<div > {{messages}}</div>
			<div>
				<font color='RED'>
					<h4 ng-show="message">{{message}}</h4>
				</font> <br>





				<table datatable="" id="feesReport" dt-options="dtOptions" 
					dt-columns="dtColumns" 
					class="table table-striped table-condensed table-bordered table-hover">
					<!-- <thead>
						<tr>

							<th>Select</th>
							<th>Institute</th>
				<th>Branch</th>
							<th>Standard</th>
							<th>Division</th>
							<th>Student Name</th>
							<th>Roll Number</th>
							<th>Registration Code</th>
							<th>Fees Type</th>
							<th>Fee Paid Date</th>
							<th>Fee Due Date</th>
							<th>Fee Amount</th>
							<th>Discount Amount</th>
							<th>Late Fee Charges</th>
							<th>Total Fee Amount</th>
							<th>Paid Amount</th>
							<th>Remaining Amount</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>


						<tr ng-repeat="feesreport in feesreports track by $index"
							ng-if="feesreport">
							<td><input type="checkbox" name="marklatePayment"
								ng-model="feesreport.markLatepayment"
								ng-if="(feesreport.status == 'PARTIALPAID' || feesreport.status == 'UNPAID') && !feesreport.recordDeleted"
								ng-change="selectToMark(feesreport.feeScheduleId, feesreport.feesId, feesreport.studentId, feesreport.markLatepayment, feesreport.feeAmount, feesreport.latePaymentCharges, feesreport.discountAmount)" />
								<span
								ng-if="feesreport.status == 'PAID' || feesreport.recordDeleted">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;&nbsp;<a
								ng-click="getFeesInfo(feesreport)"><i
									class="fa fa-info-circle" aria-hidden="true"></i></a></td>

							<td>{{ feesreport.instituteName}}</td>
				<td>{{ feesreport.branchName}}</td>
							<td>{{ feesreport.standard}}</td>
							<td>{{ feesreport.division}}</td>
							<td>{{ feesreport.studentName}}</td>
							<td>{{ feesreport.rollNumber}}</td>
							<td>{{feesreport.registrationCode}}</td>
							<td>{{ feesreport.head}}</td>
							<td>{{ feesreport.paidDate ? feesreport.paidDate : 'NA'}}</td>
							<td>{{ feesreport.dueDate}}</td>
							<td>{{ feesreport.feeAmount}}</td>
							<td>{{feesreport.discountAmount}}</td>
							<td>{{feesreport.latePaymentCharges}}</td>
							<td>{{ feesreport.totalAmount}}</td>
							<td>{{ feesreport.paidAmount}}</td>
							<td>{{ feesreport.remainingAmount}}</td>
							<td>{{ feesreport.status}}</td>


							<td><span
								ng-if="(feesreport.status != 'PAID') && !feesreport.recordDeleted">
									<input type="button" value="Mark As Paid" ng-if = "feesreport.canPay"
									ng-click="markAsPaid(feesreport.feeScheduleId, feesreport.feesId, feesreport.studentId, feesreport.feesDescription, feesreport.partialPaymentAllowed, feesreport.remainingAmount)" />

									<input type="button" value="Change Fee Charge"
									ng-click="markLatePayment(feesreport.feeScheduleId, feesreport.feesId, feesreport.studentId, feesreport.feesDescription, feesreport.feeAmount, feesreport.latePaymentCharges, feesreport.discountAmount)" />
							</span> <span
								ng-if="!feesreport.recordDeleted && feesreport.paymentCount > 0">
									<input type="button" value="Payment Details"
									ng-click="markAsUnpaid(feesreport.feeScheduleId, feesreport.feesId, feesreport.studentId, feesreport.studentName, feesreport.feesDescription, feesreport.partialPaymentAllowed)" />
							</span></td>
						</tr>
					</tbody> -->
				</table>

			</div>
		</div>
	</div>

</div>